[2018-11-06 21:45] gkasprow commented on #599
@marmeladapk Yes, this is what I did already. You can import existing design with AD18 and treat AD as a viewer :) Full synchronisation takes some time. For single-sheet design it is one hour of work. For complex designs one have to replace all buses with harnesses and this takes a lot of time.

[2018-11-06 22:18] gkasprow commented on #599
On the other hand, every AD user can do the same - import the Xpedition design and continue development with AD tool.

[2018-11-06 22:20] gkasprow commented on #598
88E1512 has one interesting feature - it can shift the clock itself to meet setup and hold time. It's just one bit in MDIO register. A few days ago we had issues with non-working Ethernet PHY and we figured out that ZynQ US+ requires additional delay on PCB on clock lines. Marvell took it into account and implemented this feature in some of its PHY chips.

[2018-11-06 23:50] jbqubit commented on #598
If FPGA can stand-in for dedicated Ethernet IC that does seem to have some plusses.
- One fewer item on BOM
- Only hidden demons are those inside Kintex Ultrascale (which we can't really avoid); no more worry about Marvell/Max demons
- SFP-based Ethernet or DRTIO
- If this SFP were tied to uTCA Port 0 pins then 1000BASE-X could use either SFP or backplane.

Why did we ever bother with an Ethernet

[2018-11-07 00:17] jbqubit commented on #599
I can see how using AD for this project has many plusses. However, given present need for low risk, quick turn around in Sayma v2 I don't think now is the right time to tackling porting to a new tool chain.

[2018-11-07 00:50] sbourdeauducq commented on #598
All this does is move one PLL/MMCM from the FPGA into the PHY chip, and reduce its resolution drastically (reading the datasheet, there are only two possible delays!).
Does this feature even work correctly or is it more like something that HMC would have designed?

This is one of the many reasons I don't like Xilinx IP. With open fabric logic it is quite straightforward to add clock shifting capab

[2018-11-07 00:56] sbourdeauducq commented on #598
Sounds like a reasonable risk mitigation plan.

[2018-11-07 00:56] jbqubit commented on #598
@sbourdeauducq In net, how do you feel about using Kasli approach on Sayma v2? Is this a day of work or more?

[2018-11-07 00:58] sbourdeauducq commented on #598
It's more. It would be easy if Xilinx made transceivers compatible across FPGA families, but they definitely did not.

[2018-11-07 01:02] jbqubit commented on #598
OK. Sounds like we have a satisfactory plan to move forward with for Sayma v2.

Closing Issue.

[2018-11-07 07:56] hartytp commented on #598
Exactly. What concerns me about the current ethernet implementation (and, indeed, what actually caused problems and lead to huge amounts of wasted time) was the complex stack involved here. We have a somewhat fussy ethernet phy with a lot of features we don't need and a data sheet that runs to hundreds of pages. It needs to be configured by MMC firmware that's not maintained by M-Labs (and, despit

[2018-11-07 09:36] gkasprow commented on #598
we can also use identical PHY as KC705 uses. It does not cause any issues and also supports 1000base-X.
M88E1111 has documentation available.

[2018-11-07 17:02] jbqubit commented on #598
Good point @hartytp. Putting Ethernet into the hands of a single developer is quite desirable. I'd prefer that the Software and Gateware Developer do it. M-Labs prefers M88E1111. And using same IC as KC705 (M88E1111 ) means the firmware should be more or less identical.

New proposed wording for Ethernet part of contract.

- Replace MAX24287 by M88E1111. This is same IC as KC705 which is already s

[2018-11-07 17:20] gkasprow commented on #598
the same applies here https://github.com/sinara-hw/Metlino/issues/3

[2018-11-08 02:03] sbourdeauducq commented on #598
NB: On the KC705 we are not doing any configuration of the PHY. It is already set up (probably via pin-strapping) to establish automatically a 100M or 1G link on the RJ45, and present a MII (if the link was 100M) or GMII (if the link was 1G) interface to the FPGA. The FPGA determines which interface it is by measuring the frequency of the clock sent by the PHY. We never touch the PHY registers.

[2018-11-08 02:08] sbourdeauducq commented on #598
As Greg pointed out in the RFSoC issue, the regular Ultrascale I/O pins can in theory be used for 1000BASE-X directly; however GTH is preferable for those reasons:
* silicon design and wizard code are less bad
* past experience with Kasli (parts of GTH and GTP are similar)
* compatibility with SFP ports that are also usable for DRTIO

[2018-11-08 11:13] gkasprow commented on #386
The stackup is screwed by the PCB company. The impedance is 27Ohm. I will post TDR scan in a moment.

[2018-11-08 11:40] gkasprow commented on #386
I designed such stackup:
![obraz](https://user-images.githubusercontent.com/4325054/48196666-7c2e4d00-e353-11e8-8b97-92c8dfc1d524.png)

[2018-11-08 11:46] gkasprow commented on #386
50Ohm trace width I use is 23.583mil which gives 51Ohm.
![obraz](https://user-images.githubusercontent.com/4325054/48196870-2312e900-e354-11e8-84e1-bf92eed25bdd.png)
So it looks like they used 0.15mm prepreg instead of 0.36mm.

[2018-11-08 11:51] hartytp commented on #386
ouch. How does that happen??

Anyway, that's going to stop us from doing any meaningful SI tests with these boards. So we either respin and test or just assume it's fine and move on with Sayma. I'd vote for the latter to avoid long delays.

[2018-11-08 11:56] gkasprow commented on #386
well, it's not our fault. They should produce PCBs on their cost.

[2018-11-08 11:59] gkasprow commented on #386
The measurements:

SMA - trace - SMA
![tdr_sma sma](https://user-images.githubusercontent.com/4325054/48197422-fe1f7580-e355-11e8-87e4-e9c0f26f60e5.PNG)

SMA - BAL - DIFF - BAL - SMA
![tdr_sma bal diff bal sma](https://user-images.githubusercontent.com/4325054/48197454-1099af00-e356-11e8-8640-5a8a9d39d135.PNG)

SMA - BAL - DIFF - FMC CON - DIFF - BAL - SMA
![tdr_sma bal diff con bal sma](https://u

[2018-11-08 12:46] hartytp commented on #386
Good. Let's get it done then.

If we're going to do that then let's take a moment to rethink the layout for cross-talk measurements...
- in the current design our cross-talk seems to be limited by the PCB layout due to trace and balun proximity.
- that's a good reminder about how careful we need to be on the layout for {Base,Mix,etc}Mod, but not what we want to know right now. What we need to know

[2018-11-08 16:57] dhslichter commented on #386
Brutal!  Well, if you specified a stackup and they didn't use it, I agree that they are responsible for fixing it.  I agree with @hartytp's suggestions about modifications, but it may be that the boardhouse will just say "we will make your original design, just with the right stackup" and not allow design changes.

[2018-11-14 12:38] gkasprow commented on #386
the PCB shop agreeded to produce version with original stackup.

[2018-11-16 00:23] jbqubit commented on #597
OK. I got this to work. Plastic crimp on ribbon cable from NXP programmer to Sayma was bad and one pin was flaky. With this fixed I can flash MMC using NXP programmer.

[2018-11-16 00:23] #597 closed, assigned to nobody

[2018-11-16 00:32] jbqubit commented on #571
I updated MMC firmware to [version](https://github.com/sinara-hw/sinara/issues/571#issuecomment-426252827) recommended by @wizath. Now I see the following.
- can boot AMC+RTM in NATIVE-R9 with two PSU in crate
- can /not/ boot AMC+RTM in NATIVE-R9 with only one PSU in crate
- Ethernet over uTCA backplane: can pin AMC using NAT MCH as Ethernet switch
- can generate sinusoidal output from RTM

[code

[2018-11-16 05:41] hartytp commented on #571
Okay, good, we're getting there...

@gkasprow any ideas what the cause of this should be?

Am I right in thinning that @sbourdeauducq only has one PSU in his crate, so this is consistent with the issues he was having?

[2018-11-16 06:19] sbourdeauducq commented on #571
That is correct.

[2018-11-16 09:58] gkasprow commented on #571
@jbqubit can you connect terminal to the MMC and see what it says?
Did you try to run Natview software and connect with MCH via Ethernet? We have identical configuration and it works, so it looks like some PSU or backplane settings

[2018-11-16 17:11] gkasprow commented on #571
@jbqubit can you make a video showing behaviour of Sayma front panel LEDs while booting? Do they blink in any way?

[2018-11-20 16:11] gkasprow commented on #598
@sbourdeauducq 88E1111 is hard to get from regular sources. It's very old chip. People use 88E1512 instead. I used it already without issues. It is the one installed on [FMC-Ethernet](https://ethernetfmc.com/) board. Any objection ?

[2018-11-20 16:12] gkasprow commented on #598
88E1512 has documentation available without NDA. We will use it also on new simple SAMC-FMC which we design with Kicad.

[2018-11-20 16:37] gkasprow opened #600 "Sayma v1 rework documentation"
In this issue I will document all rework that was done in rev1 and how they were applied in rev2. I will also document other changes to the design.

[2018-11-20 16:42] gkasprow commented on #600
Slow start circuit for FMC 12V
new schematics - gray symbols were added
![obraz](https://user-images.githubusercontent.com/4325054/48788673-98cf6b00-eceb-11e8-9188-f751bdab74f0.png)

![sayma_amc_fmc_slow_start](https://user-images.githubusercontent.com/4325054/48788681-9ec54c00-eceb-11e8-9db8-a7d6a92adce5.jpg)

[2018-11-20 16:44] gkasprow commented on #600
RTM slow start
![obraz](https://user-images.githubusercontent.com/4325054/48788771-d0d6ae00-eceb-11e8-8f37-7e87de5bace0.png)
![amc_rtm_slow_start](https://user-images.githubusercontent.com/4325054/48788823-eba92280-eceb-11e8-80e4-32ce363d70cf.jpg)

[2018-11-20 16:45] gkasprow commented on #600
similar slow start circuit was added to RTM P3V3_MP switch

![obraz](https://user-images.githubusercontent.com/4325054/48790937-c4088900-ecf0-11e8-805b-ca83c2de2f87.png)

[2018-11-20 17:57] gkasprow commented on #600
Main Payload power current limit was added. Before it was just 0.02R resistor
![obraz](https://user-images.githubusercontent.com/4325054/48793066-2021dc00-ecf6-11e8-897f-7e0ff5134638.png)

![amc_payload_i_lim](https://user-images.githubusercontent.com/4325054/48792964-e2bd4e80-ecf5-11e8-89fb-310052b136a4.jpg)

[2018-11-20 18:12] gkasprow commented on #600
Exar chip GPIO0 and PSIO2 pins were swapped. GPIO pins are push-pull while PSIO pins are open drain. So PSIO is better suited as input and GPIO as output.
![obraz](https://user-images.githubusercontent.com/4325054/48793694-1305ec80-ecf8-11e8-986d-dbdb2d31e255.png)

![amc_exar_gpio0_psio2](https://user-images.githubusercontent.com/4325054/48793948-e0a8bf00-ecf8-11e8-93eb-e924472bc4f0.jpg)

[2018-11-20 18:17] gkasprow commented on #600
Missing pulldown resistors for LVPECL outputs were added. LVDS version can be used as well but its availability is worse.
![obraz](https://user-images.githubusercontent.com/4325054/48793883-a6d7b880-ecf8-11e8-853a-d839d247b0d7.png)

![osc_pulldowns](https://user-images.githubusercontent.com/4325054/48793990-f74f1600-ecf8-11e8-85e5-1d6614b02df3.jpg)

[2018-11-20 18:20] gkasprow commented on #600
swapped IO direction control was fixed
![obraz](https://user-images.githubusercontent.com/4325054/48794114-472ddd00-ecf9-11e8-8d1d-5004200ab2ef.png)

![io_dir_ctrl](https://user-images.githubusercontent.com/4325054/48794134-544acc00-ecf9-11e8-8c88-4c3f7c0deab1.jpg)

[2018-11-20 19:12] gkasprow commented on #600
Too low VCCINT voltage, drop during high current consumption. Rfb selected to give 0.95V. R508 installed to compensate voltage drop.
![obraz](https://user-images.githubusercontent.com/4325054/48796655-7ac03580-ed00-11e8-9b83-66ed78fcc87d.png)
![vccint_rrb](https://user-images.githubusercontent.com/4325054/48796688-8ca1d880-ed00-11e8-996d-14a113da676f.jpg)

R508
![vccin_r315](https://user-images.gi

[2018-11-20 19:45] gkasprow commented on #600
Ethernet issues:

Ethernet PHY RX clock
![2018-01-25 16 56 20](https://user-images.githubusercontent.com/4325054/49117471-13c2f380-f2a1-11e8-8a74-baadf9c97523.jpg)

![2018-08-09 13 19 37](https://user-images.githubusercontent.com/4325054/48797743-531e9c80-ed03-11e8-9218-3e4be4a9a79d.jpg)
![2018-08-09 13 01 17](https://user-images.githubusercontent.com/4325054/48797773-6467a900-ed03-11e8-9416-bd27c

[2018-11-20 20:28] gkasprow commented on #600
PHY configuration is copied from [Lattice devkit](https://www.mouser.com/pdfdocs/Lattice_EB98.PDF).

[2018-11-20 21:26] sbourdeauducq commented on #600
Just connect to FPGA.

[2018-11-20 21:29] sbourdeauducq commented on #598
It's RGMII again. Why not keep the MAX chip then, since it's already debugged?

[2018-11-20 21:42] gkasprow commented on #598
I don't trust this MAX chip. I never saw anybody using it. There can be another issues.

[2018-11-20 22:11] gkasprow commented on #598
The new PHY is much simpler, simple supply, no external oscillator and I used it already.
![obraz](https://user-images.githubusercontent.com/4325054/48806108-9f74d700-ed19-11e8-9546-5dff7bbbdeb7.png)

[2018-11-20 22:14] gkasprow commented on #600
The new PHY is much simpler, simple supply, no external oscillator and I used it already.
![obraz](https://user-images.githubusercontent.com/4325054/48806108-9f74d700-ed19-11e8-9546-5dff7bbbdeb7.png)

[2018-11-20 22:35] gkasprow commented on #600
MMC reset during USB plugging was fixed by adding RCD circuit. It was verified on AFCZ board.
![obraz](https://user-images.githubusercontent.com/4325054/48806622-2b3b3300-ed1b-11e8-9a3d-72f597a27073.png)
Flashmagic bootloader mode can be disabled using DIP switch
![obraz](https://user-images.githubusercontent.com/4325054/48807140-e912f100-ed1c-11e8-9fb4-635f2e7a0fd5.png)

It was tested on AFCZ

be

[2018-11-20 22:38] gkasprow commented on #600
MMC JTAG wac blocked by SCANSTA. RCT circuit was added to disable SCANSTA chip when the MMC programmer plug is inserted.

![mmc jtag scansta disable](https://user-images.githubusercontent.com/4325054/48807221-27101500-ed1d-11e8-999c-3c3a4e49e313.jpg)

![amc scansta disable](https://user-images.githubusercontent.com/4325054/48807242-38592180-ed1d-11e8-8000-fd8d47fe89d2.jpg)

Analog switch was added

[2018-11-20 22:41] gkasprow commented on #600
LTC6957 had SD pins tied to VCC instead of GND
![20180807_170743](https://user-images.githubusercontent.com/4325054/48807322-7f471700-ed1d-11e8-982a-bd40a5c3a161.jpg)
![obraz](https://user-images.githubusercontent.com/4325054/48807349-9554d780-ed1d-11e8-9bd1-70504eb25213.png)

SMA clock output was connected to LTC6957 output and recovered clocks delivered to FPGA had phase shift. IT was fixed by c

[2018-11-20 23:50] gkasprow commented on #572
For future reference - it was broken cap.
![2018-08-09 14 32 51](https://user-images.githubusercontent.com/4325054/48810032-617eaf80-ed27-11e8-8c0f-5e32922ec622.jpg)

[2018-11-21 00:25] gkasprow commented on #600
SCANSTA did not change master port when USB was plugged after power on. Jumper had to be placed on JTAG connector pins to keep it in permanent USB mode.

[2018-11-21 05:20] sbourdeauducq commented on #600
This SCANSTA caused a relatively low number of problems (by Sayma standards), but do we really need it?

[2018-11-21 07:15] hartytp commented on #600
@gkasprow which change fixes USB JTAG so that no jumper is needed?

[2018-11-21 10:39] gkasprow commented on #600
Instead of SCANSTA we would have to use discrete JTAG muses and potentially add issues. @hartytp This was fixed by another line routed to MMC so it knows state of the USB JTAG and resets SCANSTA. I will explain it later on.

[2018-11-21 13:24] sbourdeauducq commented on #600
On the KC705, there is just a switch that closes to connect TDI and TDO when the FMC is unplugged. It does cause pesky issues with improperly designed FMCs that leave TDI/TDO open (as the leakage through the switch is enough for some data to go through, but with some random corruption). However, this is a simple and low-cost design that is easy to understand - the only difficulty is you need to wa

[2018-11-21 13:46] gkasprow commented on #600
If we are going to support remote update over RTIO, I can remove the SCANSTA entirely. The switches can be also controlled via MMC as it does with SCANSTA.

[2018-11-21 13:53] sbourdeauducq commented on #600
Currently there is no funding for DRTIO firmware updates, but there is also no funding for µTCA firmware updates. The former is much easier and lower-cost to implement, and would also support Kasli.

[2018-11-21 14:02] gkasprow commented on #600
uTC firmware update is performed by NAT MCH + Jtag Switch Module. At least my coleagues in DESY use it in such way. Personally I never tested it. I used Vadatech JSM so far and that's why implemented switches.
But we can keep access to the AMC JTAG using muxes, without using SCANSTA chip.
On AFCZ board I added SCANSTA in both BGA and TQFP package because had issues with availability.
It can be don

[2018-11-21 20:51] gkasprow commented on #599
btw, I split the Xpedition project to 3 different pojects. WIth new release of Xpdedition the GUI became very unresponsive - the database is simply too big and I had to wait 10s after each edit. After I split to Metlino, Sayma AMC and Sayma RTM the schematic editor resonds much better, i wait only 2s :D

[2018-11-21 20:51] #599 closed, assigned to nobody

[2018-11-23 23:14] gkasprow commented on #571
@sbourdeauducq I have some idea what could go wrong in your crate. Please do one thing  - short pin 1 and pin 8 of T3 and short pin 1 and pin 8 of T14. I marked it with blue line on PCB drawing. The transistors reside close to the RTM connector.
![obraz](https://user-images.githubusercontent.com/4325054/48962352-1bbc2400-ef7f-11e8-8fb3-68836709094f.png)

And check if AMC and RTM gets power. Do not

[2018-11-24 10:19] sbourdeauducq commented on #571
OK, will do when I come back from travels (in 3/4 weeks)

[2018-11-26 22:44] gkasprow commented on #600
The RTM FPGA config pins were connected 0 0 1, it should be 1 1 1.
![2018-07-19 15 47 29](https://user-images.githubusercontent.com/4325054/49046650-1bb56180-f1d5-11e8-9774-102426abd39a.jpg)
Now we have
![obraz](https://user-images.githubusercontent.com/4325054/49046668-2c65d780-f1d5-11e8-9b0a-4fdd4f80d194.png)

[2018-11-26 22:51] gkasprow commented on #600
RTM FPGA config pins were swapped. DIN is not data in but D00_MOSI.
HW fix:
![rtm_fpga_swapped config pins](https://user-images.githubusercontent.com/4325054/49046903-00972180-f1d6-11e8-9ee9-b53bee1b5cbc.jpg)
![rtm_fpga_cfg_pins_dac](https://user-images.githubusercontent.com/4325054/49046942-1efd1d00-f1d6-11e8-9375-0cb9c7c1995d.jpg)

Schematic fix:
![obraz](https://user-images.githubusercontent.co

[2018-11-26 22:56] gkasprow commented on #600
Missing connection of VTT with SVDD12
![vtt_1 2v1](https://user-images.githubusercontent.com/4325054/49047137-c5e1b900-f1d6-11e8-9ade-aaf2d1209339.jpg)
![vtt_1 2v2](https://user-images.githubusercontent.com/4325054/49047140-c712e600-f1d6-11e8-88b1-eb23120c6237.jpg)

fix:
![obraz](https://user-images.githubusercontent.com/4325054/49047180-e447b480-f1d6-11e8-8865-486a9cbd6576.png)

[2018-11-26 23:04] gkasprow commented on #600
Broken feedback loop for DC/DC converters
![2018-08-09 14 37 56](https://user-images.githubusercontent.com/4325054/49047373-8e274100-f1d7-11e8-805d-c43dd513e2a9.jpg)

The VFB resistors must go to GND.

![obraz](https://user-images.githubusercontent.com/4325054/49047545-0ee63d00-f1d8-11e8-818b-11c92040d757.png)

[2018-11-26 23:07] gkasprow commented on #600
IC34 SD pins should be grounded.
![rtm_ic34_sdpins](https://user-images.githubusercontent.com/4325054/49047641-5f5d9a80-f1d8-11e8-890d-db2f7cffbca8.jpg)
![obraz](https://user-images.githubusercontent.com/4325054/49047667-73a19780-f1d8-11e8-8d03-7f69408afaf4.png)

[2018-11-26 23:18] gkasprow commented on #600
not enouth current for SVDD12
![rtm_1 2v dac2](https://user-images.githubusercontent.com/4325054/49047954-63d68300-f1d9-11e8-8e02-2845030ba455.jpg)
![rtm_1 2v dac1](https://user-images.githubusercontent.com/4325054/49047955-63d68300-f1d9-11e8-9d73-878889eee9af.jpg)

fix - bridge 2 LDOs together with 20mOhm resistors
![obraz](https://user-images.githubusercontent.com/4325054/49048137-05f66b00-f1da-

[2018-11-26 23:28] gkasprow commented on #600
HMC7043 not connected RSV lines, reset line should be tied to VCC to keep it in reset state until FPGA initialises it.
![rtm_7044_rsv and reset](https://user-images.githubusercontent.com/4325054/49048544-6a65fa00-f1db-11e8-86ae-a90c699b6fd9.jpg)

fix
![obraz](https://user-images.githubusercontent.com/4325054/49048519-515d4900-f1db-11e8-90bc-5e4ab6d4b696.png)

[2018-11-26 23:36] gkasprow commented on #600
Fix power sequencing of negative SEPIC converter -  by addin 1uF cap to SS to make sure negative converter starts after positive one.
![rtm n6v slow start](https://user-images.githubusercontent.com/4325054/49048801-6f777900-f1dc-11e8-80a9-cac8ca56dc8c.jpg)
fix
![obraz](https://user-images.githubusercontent.com/4325054/49048808-7a320e00-f1dc-11e8-997c-e702fe4c66b9.png)

[2018-11-27 00:00] gkasprow commented on #600
Missing DAC output termination and input clock termination
![2017-07-13 12 30 06](https://user-images.githubusercontent.com/4325054/49048879-cda45c00-f1dc-11e8-8165-89eda1837c18.jpg)

Added 100R terminators to SYSREF and CLK and 49R9 to outputs.
![obraz](https://user-images.githubusercontent.com/4325054/49049573-d3e80780-f1df-11e8-8725-f620adbcc93a.png)

[2018-11-27 00:12] gkasprow commented on #600
add 10k pulldown on PLL chip CLK and SEN lines to make sure that logic state is well defined and FPGA can setup correct SPI protocol.
![rtm_hmc830_sclk_10k gnd](https://user-images.githubusercontent.com/4325054/49049929-663cdb00-f1e1-11e8-98d7-63e5b4f761b5.jpg)
fix
![obraz](https://user-images.githubusercontent.com/4325054/49049939-73f26080-f1e1-11e8-98f5-400c6868c52d.png)

[2018-11-27 00:37] gkasprow commented on #600
Wrong schematic symbol of interdigitated capacitors
![2017-10-09 14 55 54](https://user-images.githubusercontent.com/4325054/49050422-a3a26800-f1e3-11e8-9feb-0d25ed0c9e2f.jpg)

Caps had to be soldered one side only.
Pins 5-8 were connected in reversed order
fix:

![obraz](https://user-images.githubusercontent.com/4325054/49116034-a6ad5f00-f29c-11e8-94fb-3022faf4510c.png)

[2018-11-27 07:31] sbourdeauducq commented on #600
Thankfully, we're not using this chip anymore.

[2018-11-27 10:05] gkasprow commented on #600
So, will we switch to HMC7044?

[2018-11-27 11:04] hartytp commented on #600
No, we will remove the HMC7043 entirely and replace it with a fanout + DFF + delay line.

See here: https://github.com/sinara-hw/sinara/issues/594

[2018-11-27 11:04] hartytp commented on #600
NB there is a list of changes for Sayma v2.0 here https://github.com/sinara-hw/sinara/milestone/22

[2018-11-27 11:06] hartytp commented on #595
@jbqubit any updates on the uTCA power issues?

[2018-11-27 11:27] gkasprow commented on #600
ACK

[2018-11-27 11:38] hartytp commented on #593
@gkasprow Before we start implementing this on the hardware, I need to double check that the ADF4371 is definitely the PLL we want to use as an alternative to the HMC830...

[2018-11-27 11:39] #585 closed

[2018-11-27 11:46] gkasprow commented on #593
We cal always leave clock mezzanine and make adf chip board

wt., 27 lis 2018, 12:38: hartytp <notifications@github.com> napisał(a):

[2018-11-27 12:57] gkasprow commented on #594
@hartytp any preference in selection of the fanout chip?

[2018-11-27 17:57] sbourdeauducq commented on #593
If not, we should definitely look for a non-HMC alternative...

[2018-11-27 17:59] hartytp commented on #593
Yes. FWIW, I think the ADF4371 is the one we want, I just haven't done sufficient due diligence yet.

[2018-11-27 18:02] hartytp commented on #593
As discussed before, I'd really prefer not to do that. Putting the PLL on a mezzanine has a lot of overhead in terms of connectors etc and just isn't worth it. Let's just use solder jumpers to select between the HMC830 and the ADF...

[2018-11-27 18:06] hartytp commented on #594
Which fanout? The fanout for the reference that feeds the main PLL?

As a rule, any fanout that is in the critical path that provides the DAC clock should be a low noise one like an ADCLK. Anything that is only involved in the SYSREF path can be a LVDS one (jitter must be much lower than 100ps).

[2018-11-27 20:45] gkasprow commented on #594
I mean the one that splits HMC830 to DACs. I assume we can leave theADCLK948 as it is now.

[2018-11-27 20:49] gkasprow commented on #593
Btw, the  ADF4371 is not available yet. And as a new product it may have a lot of features :)

[2018-11-27 20:52] hartytp commented on #594
@gkasprow let's double check that the DACs can actually handle LVPECL clock signals. I don't think we need a mux here, and we only need two outputs, so an ADCLK925 is probably more appropriate than an ADCLK948.

[2018-11-27 20:53] hartytp commented on #593
@gkasprow ack. As I said, give me a little time to survey the available options. I'll post back with some options in the next few days.

[2018-11-27 22:19] gkasprow commented on #556
we won't be using HMC7043 any more, so closing.

[2018-11-27 22:59] gkasprow commented on #600
Daisychain FPGA configuration did not work for unknown reason, so we switched to direct config of RTM FPGA by AMC FPGA. Resistors must replaced:
![2018-08-09 13 07 28](https://user-images.githubusercontent.com/4325054/49116745-deb5a180-f29e-11e8-8520-b1ab7d34505a.jpg)
![2018-08-09 13 07 43](https://user-images.githubusercontent.com/4325054/49116754-e5441900-f29e-11e8-8fef-531eedd538d5.jpg)

So we

[2018-11-27 23:11] gkasprow commented on #600
SCANSTA chip blocks MMC JTAG even when port is inactive. The simplest way was to disable the SCANSTA chip entirely when MMC JTAG plug was detected. 2x 10k resistors, 100nF capacitor + MOSFET are needed.
![2017-07-13 13 48 38](https://user-images.githubusercontent.com/4325054/49117783-3f92a900-f2a2-11e8-9b44-e599df590ea4.jpg)

![obraz](https://user-images.githubusercontent.com/4325054/49117733-08bc

[2018-11-27 23:14] gkasprow commented on #600
SCANSTA fails to switch to internal mode when USB is plugged after board was powered on. Simple solution is jumper on cable detect line.
![2018-08-09 13 06 03](https://user-images.githubusercontent.com/4325054/49117850-749efb80-f2a2-11e8-8190-d8dc23e86e36.jpg)

On rev 2 new JTAG switching scheme will be used.

[2018-11-27 23:28] gkasprow commented on #590
![obraz](https://user-images.githubusercontent.com/4325054/49118445-808bbd00-f2a4-11e8-94d2-e8e0b6adba1b.png)

[2018-11-27 23:42] gkasprow commented on #481
fixed
![obraz](https://user-images.githubusercontent.com/4325054/49118901-7bc80880-f2a6-11e8-8ca6-04cdfbe31018.png)

[2018-11-27 23:44] gkasprow commented on #566
fixed
![obraz](https://user-images.githubusercontent.com/4325054/49118947-b2058800-f2a6-11e8-82f8-0810178d27e0.png)

[2018-11-27 23:44] #566 closed

[2018-11-27 23:47] gkasprow commented on #584
removed.

[2018-11-27 23:47] #584 closed

[2018-11-27 23:47] #598 closed, assigned to nobody

[2018-11-27 23:58] gkasprow commented on #582
removed, together with mux.
@hartytp what we do with LO signal routing to all mezzanines?

[2018-11-28 07:20] hartytp commented on #582
@gkasprow On Sayma v2.0 there will not be a LO generated on the RTM because there will not be a clock mezzanine.

The plan is to route the reference to each AFE. The AFEs can then have a PLL if required.

[2018-11-28 10:15] hartytp commented on #595
Closing this issue, since there is nothing here apart from https://github.com/sinara-hw/sinara/issues/386 which is currently waiting for @jbqubit to post a video of Sayma booting in his rack.

[2018-11-28 10:15] #595 closed

[2018-11-28 10:36] gkasprow commented on #582
you mean 100MHz reference we get from SMA input?

[2018-11-28 11:01] hartytp commented on #582
@gkasprow it will usually be 125MHz in v2.0 to make the synchronisation easier, but yes, that's what I mean.

[2018-11-28 21:50] jbqubit commented on #386
@gkasprow What's the status of the board with the correct stack up?

[2018-11-28 22:02] jbqubit commented on #580
I inquired with AD a while back about AD9154 temperature response. Here's the response from an AD engineer.

[2018-11-28 22:37] gkasprow commented on #386
They ordered new PCB and will assemble that. It should be ready in a few days.

[2018-11-28 22:53] gkasprow commented on #386
I've just got the update. The new PCBs are in place, Mini circuit components are on a way and will arrive on Friday or on Monday so I will get these boards next week.

[2018-11-28 23:04] gkasprow commented on #565
We will use [TPSM84824MOLR](https://pl.mouser.com/ProductDetail/Texas-Instruments/TPSM84824MOLR?qs=W0yvOO0ixfEo%2FgpT5Em6eQ%3D%3D)
it is much smaller and cheaper than LTM4619

[2018-11-28 23:06] gkasprow commented on #564
Since we want to support LVDS on analog mezzanines, what about using 2.5V signalling for mezzanines IOs as well? They could be single ended or differential depending on need. And 2.5V signalling works well with TTL levels. In this way we would solve RTM-AMC communication issue as well.

[2018-11-28 23:07] gkasprow commented on #571
@jbqubit could you do such test as well? Just short transistors and let me know if it boots from single supply.

[2018-11-28 23:12] gkasprow commented on #498
@hartytp so what is the conclusion? Do we definitely get rid of RF backplane support? Since I will move to RFSOCs + WR-like sync in my applications, I don't care at all about Sayma ADCs or  RF backplane.
I'd favor for simplicity. I got funding for RFSOC version of Sayma so we have straight upgrade path up to 10GHz DAC.

[2018-11-28 23:18] gkasprow commented on #413
Let's get rid of ADCs. We don't have them characterised. Guys at Creotech did some code to do basic tests but have some issues with synchronisation. So if there are some bugs, they will propagate. If someone wants to have 125MS/s ADCs, can use low cost AFC or AFCK board with FMC ADC boards. There are several open source and proprietary ones available. Let's use space to attach better cooling for D

[2018-11-28 23:19] gkasprow commented on #413
We can also route Rx JESD204B lanes to the analogue mezzanines if someone wants to play with fast ADCs on them.

[2018-11-29 02:05] dhslichter commented on #498
I think we should go ahead and get rid of the rf backplane.  AFAICT we will use WR with cleanup oscillator to generate synchronous distributed clocks with good phase noise, and the rf backplane has always been an expensive and complex feature to have to deal with.

[2018-11-29 02:24] dhslichter commented on #413
I say strip the ADCs and the Rx JESD204B.  Just one more thing that needs testing, could go wrong, etc.

[2018-11-29 07:30] hartytp commented on #413
Yes, let's do that.

I'm not bothered about this. I wouldn't bother with this. I don't see anyone putting a fast JESD ADC on the AFE mezzanines. Routing multi-gigabit lanes from the AMC FPGA to the AFE mezzanine with acceptable SI seems like a lot of work.

[2018-11-29 07:32] hartytp commented on #498
@gkasprow let's just get rid of the LLRFBP. The only DAC clock options should be: RTM SMA; WR. The LLRFBP is a nice idea but has too many problems with it and is not worth it in our case.

[2018-11-29 07:35] hartytp commented on #564
@gkasprow Switching to 2V5 logic on the RTM FPGA sounds like a good idea. When we come to the design review stage, we must make sure to do a thorough audit of everything hooked up to the RTM to ensure that 2V5 LVCMOS won't cause any issues, or add level translators where required.

[2018-11-29 09:04] gkasprow commented on #564
I meant to switch only AFE-related banks. Some logic will still need 1.8 or 3.3V

[2018-11-29 09:09] hartytp commented on #564
Sounds good. We'll still need to double check all the components on the AFE mezzanines to check they work with 2V5, but I don't expect issues...

[2018-11-29 17:41] dhslichter commented on #564
Although 3.3V LVCMOS still works, 2.5V LVCMOS might be pushing it a little for the components currently on BaseMod.  These are mainly relatively slow signals, though, so putting level translators on the AFEs seems like a reasonable solution to me.  The range pins A0 and A1 on the AD8253, for example, require 2.8V to register a logic high, and the HMC542 wants +3V to register a logic high.  The HMC

[2018-11-29 18:48] jbqubit opened #601 "Sayma v2 Project Plan"
Here's a coherent project plan for Sayma v2. It is informed by extensive discussion on github Issue system over the past year and recent offline discussion with the Sayma v1 developers. This is posted here so everyone knows what the contracts call for in development of Sayma v2. This plan will be updated if contracts differ from the present plan. Please use existing or new Issues for further discu

[2018-11-29 18:57] jbqubit commented on #498
Agreed. No RF backplane. #601 "Reduce complexity of Sayma v2"

[2018-11-29 19:41] hartytp commented on #498
@jbqubit Let's keep this open until the change has been made to the design files.

[2018-11-29 19:49] marmeladapk commented on #571
@bradbqc shorted those transistors earlier and now his Sayma is restarting every ~60 seconds as he wrote in https://github.com/m-labs/artiq/issues/1064#issuecomment-442926743 . This doesn't depend on those shorts as they're removed right now. He's using latest mmc firmware.

[2018-11-29 20:35] hartytp commented on #601
In the first instance, the fix should be to not use the HMC830 output dividers, and just run the DAC at > 1.5GSPs using interpolation.

Using the FPGA to synchronise the PLL output dividers is mainly a risk mitigation strategy in case there is some issue with interpolation (e.g. DAC synchronisation doesn't work at max clock rate due to a silicon bug).

[2018-11-29 20:41] gkasprow commented on #571
did he measure current consumed by RTM from 3V3MP?
Is the same problem with RTM plugged?

[2018-11-30 08:10] hartytp commented on #601
Typo, should be 2x.

[2018-11-30 08:15] hartytp commented on #601
We should aim to distribute test AFEs as well which just run the DAC outputs to SMAs via baluns. This gives a path to testing DAC issues without having to configure RF switches, attenuators etc, which might be helpful in initial debugging.

[2018-11-30 08:28] hartytp commented on #601
What's this one about? The SI549 isn't a replacement for Si5324 without WR.

[2018-11-30 09:34] sbourdeauducq commented on #601
I would prioritize getting the alternative chip to work over this.

[2018-11-30 10:24] hartytp commented on #601
TBH I'm with you on that. I'm not the one paying the bill however, so that's of limited importance...

[2018-11-30 11:21] hartytp opened #602 "Sayma new PLL IC"
Now that LTC/ADI/HMC are a single mega RF entity I'm limiting my initial search to them.

Crude filtering of candidate ICs: https://www.analog.com/en/parametricsearch/11322#/p4466=1|400000000&p4467=3000000000|32000000000&p4781=|PLL%20with%20Integrated%20VCO|PLO&d=sel|4240|4467|4466|5129|5130|5149|4781|4862|s8|s7|s2|s5|2835|2836|4730&ps7=|Not%20Recommended%20for%20New%20Designs|Production|Recommend

[2018-11-30 11:27] hartytp commented on #601
@jbqubit I'm confident that with, say, 1-1.5days of time I could write and test the firmware required to use the ADF4356 on Sayma. If it works off the bat then it has the potential to save a significant amount of time spent mucking around with the HMC830. If after that amount of time it's still not working then we stick with the HMC830.

I don't know how SB feels about this, but I'd suggest that f

[2018-11-30 12:49] hartytp commented on #602
Phase noise comparison between the HMC830 and ADF4356:

Open loop VCO noise scaled to 100MHz:

|offset freq | HMC830 (-dBc/Hz) | ADF4356 (-dBc/Hz) | AD9154 (-dBc/Hz read from graph)|
|----|----|----|---|
|100kHz | 142 | 146 | 145|
|1MHz | 167 | 168 | 158 |
|10MHz | 188 | 186 | 160 |
|100MHz | 191 | - | -|

[2018-11-30 14:00] hartytp commented on #602
- White phase noise floor calculated by: `Pn = FOM + 10*log10(f_pfd) + 20*log10(N)` where `N` is the PLL multiplication factor
   - ADF4356 FOM:  -227dBc/Hz
   - HMC830 FOM: -230dBc/Hz
- Flicker phase noise floor calculated by `Pn(f_offset) = FOM_1_f - 10*log10(f_offset) + 20*log10(f_rf)`
  - HMC830 flicker FOM: -268dBc/Hz
  - ADF4356 flicker FOM: -261dBc/Hz

So, the ADF4356 is a bit worse than th

[2018-11-30 14:05] hartytp commented on #602
General comments:
- [ ] Let's route mux out to the RTM FPGA
- [ ] Let's route a pin from the RTM FPGA to a red LED on the FP for a PLL locked indicator
- @gkasprow are you worried about noise coupling from the FPGA to the PLL (as you were with Stabilizer's ADCs)? Should we have isolation buffers between the FPGA and PLL?
- [ ] Connect the output buffer enable to the FPGA with suitable resistor to

[2018-11-30 15:22] hartytp commented on #602
@gkasprow just follow the reference design (data sheet fig 43) which is teh same as the eval board.
- [ ] This PLL has two outputs so we can drive each DAC from an output
- [ ] please use a 500R + 100nF capacitor resistor to pick off a bit of RF from each output and send that to a UFL for debugging (we can DNP this later)

[2018-11-30 15:26] hartytp commented on #602
Okay, I'm happy with that as a design (modulo loop filter optimization). Let me know when you've got it on the schematic and I'll do a design review.

[2018-11-30 17:15] marmeladapk commented on #571
Without RTM connected Sayma doesn't reboot. @bradbqc, could you post your measurements?

[2018-12-12 12:45] gkasprow commented on #209
@sbourdeauducq what PUDC level do you want to have on Sayma AMC?
By default pullups were enabled but I noted down that R183 that pulls this line down should be DNP.

[2018-12-12 12:45] gkasprow commented on #209
The same with POR_override.

[2018-12-12 12:47] sbourdeauducq commented on #209
I'm traveling at the moment without access to boards, @hartytp or @jbqubit can you have a look?

[2018-12-12 12:49] gkasprow commented on #209
On RTM you wanted to have pullups enabled.

[2018-12-12 21:36] jbqubit commented on #601
@hartytp Project Plan addition: added to __HT3__ ```TestMod v2: print 6 PCBs, stuff 6 (DAC outputs to SMAs via baluns)```

@hartytp Project Plan addition: __O18__ Integration and Timing Developer responsible for writing and testing ADF4356 driver.

Project Plan modification: M32 is now crossed off since WR support is not covered by the plan.

[2018-12-12 22:14] jbqubit commented on #601
Project plan modifications:

M12 design study to support 1 GSPS data rate on Sayma v2 ---> M12 design study to support 1 GSPS data rate on Sayma v2 (SAWG v1)

M13 design study to investigate SAWG v2 ---> M13 design study to investigate SAWG v2 (eg limit f_f0 resolution, reduce RTIO channel number, Moninj)

 __M15__ lead HT1 design review ---> __M15__ participate in HT1 design review

__M24__ test

[2018-12-12 22:18] jbqubit commented on #601
Minutes for last two discussions:
- https://github.com/sinara-hw/sinara/wiki/Minutes20181204
- https://github.com/sinara-hw/sinara/wiki/Minutes20181211-Sayma-v2

[2018-12-12 22:52] jbqubit commented on #601
Modifications to Project Plan in light of email from Creotech.

__TS-MTCA__ modifications
- 1 NAT NATIVE-R5 or -R9 ---> 1 NAT NATIVE-R9
- 1 NAT AC 600D  ---> 2 NAT AC 600D

__HT3__ modification
- thermal test in TS7, Maximum temperature of any IC 65 C ---> thermal test in TS7, Maximum temperature of any IC 65 C, monitor temperature of several representative ICs using MMC IPMI

__HT4__ modification

[2018-12-12 23:10] jbqubit commented on #601
@hartytp asked

Creotech will manage the design review. As a starting point @marmeladapk and @jbqubit are taking a list of v1 to v2 diffs supplied by @gkasprow and generating a list of specific areas that need review. We are also making an explicit list of checks based on CERN checklist. Will be sent out as RFQ tomorrow. I'll add @hartytp to the list of editors now.

[2018-12-13 09:51] marmeladapk commented on #581
@gkasprow Should this be implemented on AFE or on RTM?

[2018-12-13 10:02] marmeladapk commented on #602
@hartytp in #601 ADF4351 is mentioned as a backup option. Is this issue outdated and we should close it or should we add it to Sayma v2.0 milestone and change #601?

[2018-12-13 10:16] marmeladapk commented on #579
@sbourdeauducq @gkasprow is this still applicable, or can we close it? Or postpone it to later version?

[2018-12-13 10:21] hartytp commented on #602
@marmeladapk good catch! The ADF4351 was an early suggestion before I'd had a careful look into PLL options. As I mention in the post at the top of this issue, it's essentially an older version of the ADF4356  with poorer performance (lower PFD frequency).

The ADF4356 should be used in Sayma v2.0 and https://github.com/sinara-hw/sinara/issues/601 should be updated (that plan pre-dates me doing pr

[2018-12-13 10:22] marmeladapk commented on #577
@sbourdeauducq @gkasprow Is this meant to be implemented in Sayma v2.0?

[2018-12-13 10:23] gkasprow commented on #577
Yes, I implemented it already.

[2018-12-13 10:25] hartytp commented on #601
@gkasprow thanks for posting the new Sayma schematics! Great work.

@marmeladapk apologies if you're already doing this, but just to be clear: before we start doing individual design reviews, someone should check that all the open Sayma issues have been resolved. Do you want to do this or should I?

[2018-12-13 10:28] hartytp commented on #577
@marmeladapk how do you want to handle these issues? Do you want to leave them open until someone has done an independent design review and signed off that the changes were correctly implemented? If so, someone should also do the thankless job of checking that all the closed issues really have been implemented.

[2018-12-13 10:50] marmeladapk commented on #601
@hartytp If you check design changes table, which Joe shared with you, you should see that all open issues from milestone are added there. I'm going now through all open issues with no milestone and adding them if necessary. Then I guess I should also check closed issues, though we could share the workload if you'd be willing to.

I think that person that has been assigned to check an issue should

[2018-12-13 10:55] marmeladapk commented on #593
@hartytp AFAIK this is duplicate of #602 with no additional info over #602. Closing.

[2018-12-13 10:55] #593 closed

[2018-12-13 10:57] gkasprow commented on #579
It depends if we want to keep compatibility of v1 and v2 of Sayma AMC and RTM.

[2018-12-13 11:26] marmeladapk commented on #574
@gkasprow @hartytp This should be now obsolete, since we're removing HMC7043, right?

[2018-12-13 12:31] hartytp commented on #574
Yes.

[2018-12-13 12:33] hartytp commented on #574
But, there does need to be a general issue about verifying signal levels generally. e.g. in the old design we were overdriving several inputs with LVPECL levels.

[2018-12-13 12:35] hartytp commented on #579
I would argue strongly that we should **not** prioritize maintaining backward compatibility. The v1.0 boards are quite fragile and mainly don't work anyway and, on top of that, there will not by any ARTIQ support for the v1.0 boards going forwards.

If maintaining backwards compatibility is "free" then go for it, otherwise prioritize optimal performance of the new hardware over backwards compatibi

[2018-12-13 12:49] marmeladapk commented on #579
I'd say, that there's no point in maintaining backward compatibility. Each AMC has a corresponding RTM, there are 10 of them and no more will be produced.

Should I add this to Sayma v2.0 milestone then?

[2018-12-13 13:02] marmeladapk commented on #561
@hartytp Is this still something you'd like to see in v2.0?

[2018-12-13 13:24] hartytp commented on #561
No, I'm not so fussed about this any more since the HMC830 will almost certainly be dropped anyway. Let's just make sure someone does a careful layout review for the next revision, and pays close attention to things like loop filters.

[2018-12-13 13:30] marmeladapk commented on #561
Then I'm closing this, but including in review list as an example of things to check.

[2018-12-13 14:57] marmeladapk commented on #538
@hartytp Shouldn't it be 0R || 10 pF?

[2018-12-13 15:56] hartytp commented on #538
@marmeladapk Yes.

In the original version we used 100k, to help break ground loops. However, we had some bad experiences with Sayma that made us to decide to replace the 100k with 0R.

The thinking is that the default configuration should be to have all grounds tied together. So long as we keep the pads, users can replace 0R with a higher resistance to remove ground currents, however they do that

[2018-12-13 16:19] marmeladapk commented on #538
@gkasprow So default configuration is grounded with a note on schematics, that you can unground it.

[2018-12-13 16:21] marmeladapk commented on #380
@jbqubit Should this remain in milestone? @gkasprow does it require modifications to the AMC?

[2018-12-13 16:57] marmeladapk commented on #601
I went through:
- closed milestone issues,
- open and closed issues with no label,
- open and closed issues with sayma amc or sayma rtm label,
- AMC and RTM errata issues.

[2018-12-13 17:09] hartytp commented on #538
:+1:

[2018-12-13 19:10] gkasprow commented on #380
no, just implementation in MMC

[2018-12-13 19:46] jbqubit commented on #380
I'd like to leave the button on the layout and connected to the MMC. Let's make the default behavior fully resetting Sayma. AFAICT this would consist of the following steps.
- soft power off of AMC+RTM LDOs
- reset MMC
- reconfigure MMC from flash
- trigger power-on of AMC+RTM LDOs

[2018-12-13 20:27] jbqubit commented on #601
Thanks @marmeladapk !!

[2018-12-13 20:58] jbqubit commented on #579
No need for backward compatibility. There will be no Sayma v1 support after Sayma v2 goes into production.

[2018-12-13 21:02] jbqubit commented on #577
Leave open. Whoever is assigned design review for this item will respond to the Issue. @gkasprow will close the Issue once he confirms that design review changes are implemented.

[2018-12-13 21:06] jbqubit commented on #601
From https://github.com/sinara-hw/sinara/issues/602#issuecomment-446916631 I've changed the following.

ADF4351 --- > ADF4356

[2018-12-13 21:31] jbqubit commented on #386
@gkasprow Can somebody at WUT other than you check these new PCBs? I expect your hands a full cranking out Metlino, Sayma_RTM and BaseMod schematics. Time to make tweaks to Sayma_RTM is now limited...

[2018-12-13 22:37] gkasprow commented on #581
I wouldn't change AFE since it already exists.

[2018-12-13 22:40] gkasprow commented on #577
I already implemented it in schematics. Also, I found and fixed wrong polarity issue.

[2018-12-14 22:52] jbqubit opened #604 "Sayma v2 Design Review"
@marmeladapk and @jbqubit put together a spreadsheet that details the design review process for Sayma v2. It includes the HT1 and HT2 review stages. It calls out detailed topics to review, a detailed checklist, assignments and deadlines. Named reviewers will be provided with write access using their google credentials. Please read instructions. Note that the layout design questions are still being

[2018-12-14 22:55] jordens commented on #604
I get access denied.

[2018-12-14 22:55] dnadlinger commented on #604
(That link seems to require credentials as well.)

[2018-12-14 22:58] marmeladapk commented on #604
Link updated. @jordens @klickverbot

Works in private browser session.

[2018-12-15 12:02] jordens commented on #604
It's going to be inefficient and error-prone to split tasks like the "all unused inputs terminated" and "diode polarity" checking among 4-6 different groups and people. If you want to split the review, I'd e.g. rather have someone do schematic reviews at the fundamental level (diodes and inputs) and someone else with expertise in different conceptual areas cover bus logic, transcievers lanes and c

[2018-12-15 17:51] gkasprow commented on #498
done

[2018-12-15 17:51] #498 closed

[2018-12-15 17:51] gkasprow commented on #407
removed

[2018-12-15 17:51] #407 closed

[2018-12-15 17:53] gkasprow commented on #565
done

[2018-12-16 21:59] gkasprow commented on #564
We can keep 3V3 for mezzanine IOs. We already have 12 LVDS lines from Sayma AMC FPGA. The plan is to route 10 of them directly and 2 to RTM FPGA (LTC2324 needs 5 f them). I will connect 2.5V instead of 1.8V. DAC IOVDD can handle this.
But if we want to have more LVDS IOs also on mezzanine, we have to switch to 2.5V and add translators.
I sketched schematics of BaseMod and we would need translators

[2018-12-17 12:20] hartytp commented on #564
That only works with a lot of level translators/LVDS->LVCMOS drivers, right? I'd prefer to avoid that unless we really have to.

It would be helpful if someone could do an audit of the components on BaseMod and count the number of signals that need 3V3 logic levels.

Also, don't forget that other mezzanines may need more 3V3 IO (e.g. MixMod will have a PLL).

[2018-12-17 13:15] marmeladapk commented on #604
@jordens The idea was, that each person has only too look at and check as few pages of schematics and data sheets as possible. If someone is checking if issues are properly fixed he can also look at N/C pins, inputs etc.

[2018-12-17 14:04] marmeladapk commented on #506
It's now J15 (v2.0rc1)

[2018-12-17 17:16] jbqubit commented on #604
@jordens The document that @marmeladapk and I put together is structured to make sure to ensure that the review is comprehensive across the Sayma v1 to v2 diffs.  Indeed there are many ways to scale this fish. Given the time available I'd like you and @sbourdeauducq to divvy up the design review tasks assigned to M-Labs. If you prefer to conduct a lateral review of a particular aspect (eg diodes a

[2018-12-17 17:52] jordens commented on #604
Let's have M-Labs focus on the areas and aspects that we are most qualified to review to the best use of the available funding.

[2018-12-17 20:08] gkasprow commented on #564
No, The second scenario uses both 16x 3V3 signals and 16x 2V5 signals assigned as LVDS. With 16x 3.3V signals we will support 99% of use cases including complex PLL chips. For remaining signals like LEDs, 2.5V logic would be fine. In remaining 1% of cases we will add some translators. LVDS are valuable signals.

[2018-12-18 15:51] marmeladapk commented on #566
VCCINT is set to ~0,95 V + feedback is from under FPGA. @sbourdeauducq is that fine?

[2018-12-18 17:07] jbqubit commented on #604
@jordens I appreciate your comment but it doesn't help move the design review forward. Working from the current state of the HT1.5 and HT2 spreadsheet, do you agree that the roles assigned to M-Labs are within the qualifications of M-Labs to review?

[2018-12-18 18:43] sbourdeauducq commented on #566
Assuming we use the -1 speed grade, 0.95V is the nominal value from the datasheet.
The PCB layout should be carefully simulated and reviewed, perhaps by at least two independent people. On Sayma v1, Greg's simulation results were wrong (Xilinx tech support ran the simulation again and found issues), the load-dependent voltage drop was excessive, and this contributed to the "SAWG crashes/HMC7043 no

[2018-12-18 19:27] gkasprow opened #605 "newly created components"
New components added to Sayma boards:
Metlino, Sayma:
88E1512-XX-NNP2I000
LMK61E07-SIAT
549CBAC000112ABG

BaseMod
LTC2324CUKG-16#PBF

[2018-12-18 20:19] jbqubit commented on #604
@sbourdeauducq Raised a question in [Issue](https://github.com/sinara-hw/sinara/issues/566#issuecomment-448326177). He is recalling the following outcome of a discussion with Xilinx tech support related to Sayma v2 (April 2018).

Does the Creotech secondary design review include repeat of signal integrity and power analysis simulations? Do we want this?

[2018-12-18 20:41] jbqubit commented on #604
https://github.com/sinara-hw/Sayma_AMC/issues/6#issuecomment-448186699

@jordens @sbourdeauducq Funds are on hand now at M-Labs that can be used to start the design review. I've asked several times for a quote to provide additional funding. We all really value your participation in this process. Please don't imply that lack of funding is an obstacle to your participation in the design review.

[2018-12-18 20:46] hartytp commented on #604
@jbqubit I think the comment about funding there replied to funding for servo gateware/software development, not to general funding for Sayma v2.0 design reviews. AFAICT there is no plan to fund servo development, so that comment is valid.

[2018-12-18 20:56] jbqubit commented on #604
Indeed, there is presently no formal support in place for Sayma v2 servo development. As I understand https://github.com/sinara-hw/Sayma_AMC/issues/6 is to equip the hardware with sufficient IO to support a possible future servo. Apologies if I misunderstood the scope of @jordens comment.

[2018-12-18 20:59] hartytp commented on #604
That's correct. However, without first discussing detailed requirements and then designing the servo, it's hard to guarantee that this will actually work as intended. With the funding and time available, we've done the best we can, and checked the obvious things. It will probably work fine.

[2018-12-19 12:54] sbourdeauducq commented on #604
You kept asking during the course of about a week; sorry, but we need more time, especially with all the things that can go wrong.

[2018-12-19 20:56] dhslichter commented on #581
@gkasprow aren't we going to redo the connectors for AFE mezzanine and make new ones without power detectors, etc?  This seems to me like an important bug to fix on the RTM itself, because it would be very subtle and potentially frustrating for people who are trying to make in-phase signals (granted I know that people will be calibrating out cable lengths too, so it's not the end of the world).

[2018-12-19 21:32] gkasprow opened #606 "Sayma+Metlino power budget"
[power consumption.xlsx](https://github.com/sinara-hw/sinara/files/2696566/power.consumption.xlsx)

[2018-12-19 21:41] jbqubit commented on #601
@hartytp pointed out that his synchronization patch O11 only relates to ST4. Software and Gateware Developer are best situated to handle ST1 and ST2 which depend on DRTIO. So some changes...

--> M23 implement, test and document ST1 and ST2  which depend on DRTIO; add to continuous integration

--> O11 implement DAC-FPGA synchronization with 2 GHz DAC clock
(1 GSPS data rate).

-->
O14  Based on O

[2018-12-19 21:56] gkasprow commented on #581
I mean that I don't want to change existing FMC-like TestMod .

[2018-12-19 21:59] jbqubit commented on #601
O15 and O16 moved out of Project Plan and assigned to individuals in github.
https://github.com/sinara-hw/Sayma_RTM/issues/1
https://github.com/sinara-hw/Sayma_RTM/issues/2

[2018-12-19 23:40] jbqubit commented on #606
Is there enough headroom for these supplies?
- On RTM P6V0 there's 218 mA headroom (3%).
- On AMC P1V0 there's 160 mA headroom (5%).
- On AMC P1V5 there's 100 mA headroom (3%).
- On Metlino P1V0 there's 160 mA headroom (5%).

[2018-12-19 23:53] marmeladapk commented on #606
@jbqubit This is probably maximum current value, that could be found in data sheets, real consumption will be always lower than that. I'll check it tommorow.

[2018-12-20 11:01] sbourdeauducq commented on #571
@gkasprow AFAICT this is still not resolved and will continue to be a problem with Sayma v2. Do you have a crate to reproduce it?

[2018-12-20 12:46] gkasprow commented on #571
Did you try to short these transistors?

[2018-12-20 13:33] sbourdeauducq commented on #571
No. Should I expect a different result than https://github.com/sinara-hw/sinara/issues/571#issuecomment-442969236 ?

[2018-12-20 13:47] gkasprow commented on #571
It's quite possible that the board is damaged in some way. THe boards suffered a lot during transport.

[2018-12-20 14:34] gkasprow commented on #571
It's quite possible that the board is damaged in some way. THe boards suffered a lot during transport.

[2018-12-20 18:40] gkasprow commented on #571
The same board was working correctly before and got power from uTCA.

[2018-12-21 11:31] sbourdeauducq commented on #571
RTM now gets power, AMC front panel LEDs are on but not power LEDs.

[2018-12-21 11:41] sbourdeauducq commented on #571
No effect.

[2018-12-21 11:56] sbourdeauducq commented on #571
Well, those results probably don't mean much, because I can't get any AMC to power up anymore, even without the shorts and without the RTM, and on two different AMCs. This µTCA stuff is really obnoxious.

[2018-12-21 17:17] atcher0 commented on #605
Verified components (schematic symbol only):
- [x] 88E1512-XX-NNP2I000
- [x] LMK61E07-SIAT
- [x] 549CBAC000112ABG

[2018-12-22 07:20] sbourdeauducq commented on #571
Okay, it turns out that I had ``amc_pwr_on`` lines forgotten in the MCH configuration, and those interfere with Sayma power (It's another prime example of µTCA design that a feature supposed to force board power on actually turns them off...)

With T14 shorted both AMC and RTM now turn on! Now trying to short both T14 and T3...

[2018-12-22 07:30] sbourdeauducq commented on #571
Also works (AMC+RTM) with both T14 and T3 transistors shorted.

[2018-12-22 07:43] sbourdeauducq commented on #571
Tried another AMC. Also working with both transistors shorted.

[2018-12-22 08:48] sbourdeauducq commented on #571
@gkasprow Are there further tests that you want me to do, or is this sufficient for you to determine what the problem is and ensure that Sayma v2 power will work properly without any reworks?

[2018-12-22 20:00] gkasprow commented on #571
That's all. Thanks

[2018-12-22 20:02] hartytp commented on #571
Nice! Great work all.

Will someone take care of documenting this all so that it's easy for people to set the racks up in future?

[2018-12-22 23:27] gkasprow commented on #594
@hartytp ADCLK948 costs nearly the same as ADCLK925, but it has mux and we can route both HMC830 and ADF4356 and have ability to choose which one to use by software. And we already use ADCLK948 in the design.

[2018-12-23 02:54] sbourdeauducq commented on #571
@gkasprow Also, I suppose hotplug should be carefully tested if we claim it is supported.

[2018-12-23 13:45] hartytp commented on #594
Okay. I don't really like using the ADCLK948 as a 2-output fanout by my objections are mainly cosmetic (to much board area, looks odd on the schematic to have so many unused outputs). Agreed, it's worth saving a BOM line, so let's use the ADCLK948.

True.
- [x] Please can you add a pair of MMCX/UFL connectors that can be swapped in (solder jumpers) for the HMC830 to inject an external DAC clock fo

[2018-12-26 14:59] jbqubit commented on #601
Edit to make explicit a change that will prevent https://github.com/sinara-hw/sinara/issues/571. Heads up @marmeladapk.

Add to HT3:
- For TS-MTCA with NATIVE-R5, publish MCH configuration configuration file used for these tests.

[2018-12-26 15:03] jbqubit commented on #571
HT3 calls for extensive power system testing related to uTCA, MCH, AMC and RTM cards. I added a new item to call explicitly for publishing the MCH configuration file.

https://github.com/sinara-hw/sinara/issues/601#issuecomment-449977797

[2018-12-26 15:05] jbqubit commented on #571
For comparison this is the configuration file I'm using.

https://github.com/jbqubit/sinara-testing/blob/master/sayma/tools/nat_mch_startup_cfg_sinara.txt

@sbourdeauducq If your boards are now working in the crate please close.

[2018-12-26 15:16] jbqubit commented on #605
Thanks @atcher0! Remains for @marmeladapk to check BaseMod symbol for this HT1.5 item.

[2018-12-26 16:31] jbqubit commented on #601
Modification to MT1 based on email with @sbourdeauducq.
* M17 Replace serwb with pure DRTIO.
* RTM DRTIO -- already funded, can be prototyped on Sayma v1 or Kasli
* distributed DMA -- already funded, can be prototyped on Sayma v1 or Kasli

[2018-12-26 16:40] hartytp commented on #601
What does prototyping this involve? IIRC, it's already prototyped in the sense that DRTIO between Sayma AMC and Kasli already works, but we can't directly prototype DRTIO with the RTM FPGA on v1.0 HW since there are no AMC<->RTM transceiver links...

[2018-12-27 02:58] sbourdeauducq commented on #601
Use a SATA cable. I'll work on that after I get back from Xmas holidays.

[2018-12-27 03:00] hartytp commented on #601
Ace, thanks!

[2018-12-27 03:30] sbourdeauducq commented on #571
With those lines removed, it's just the default MCH configuration file. This is good, since we don't want to have a different configuration file for every MCH model - hopefully we can work with the default settings for most MCHs.

@jbqubit What is more relevant is asking for the hotplugging to be tested.

[2018-12-29 03:26] hartytp commented on #602
FWIW the ADF[45]356 PLLs have a three wire serial port with no MISO, so there is no register read back at all (i.e. worse than the HMC830). Moreover, they have no software reset at all. The init sequence seems a bit fussy as well. I also don't see anywhere on the data sheet where power-on register values are specified.

Given all that, it will be interesting to see how well we are able to configur

[2018-12-29 03:42] hartytp commented on #602
NB also: from the data sheet, for references below 250MHz, it's best to use a single-ended reference. This applies to Mirny too.

[2018-12-30 17:15] gkasprow commented on #564
I connected 2 banks to 2.5V so the issue is solved. The same bank is also used for mezzanine LVDS lines.

[2018-12-30 17:15] #564 closed

[2018-12-30 17:17] gkasprow commented on #605
Sayma RTM
HMC1060LP3E
ADF4356BCPZ
MC100EP31DTG
NB6L295MNG
ADCLK948BCPZ
XC7A35T-1CSG325
LTC6957IDD-1#PBF
W2L16C473MAT1S
TPSM84824MOLR

[2018-12-30 17:24] gkasprow commented on #591
not valid anymore

[2018-12-30 17:32] gkasprow commented on #582
We will use ADCLK948 for reception of SMA ref signal and distribution of it to mezzanines (LO signal) so we can leave Si5324 connection to ADCLK948 with no cost.

[2018-12-30 17:47] gkasprow commented on #413
I removed the ADCs. Optionally one can install such ADC on mezzanine, together with clock distribution IC. JESD204 lanes are shared with LVDS ones and can be routed by changing capacitor assignment.

[2018-12-30 17:47] #413 closed

[2018-12-30 17:49] gkasprow commented on #414
I added fixed 6 LVDS lines to each mezzanine + 3 LVDS lines to RTM FPGA.
Plus another 6 shared LVDS/MGT lines to each mezzanine.

[2018-12-30 17:49] #414 closed

[2018-12-30 17:52] gkasprow commented on #405
Most of the discussion here is not relevant. RTM backplane was removed.

[2018-12-30 17:52] #405 closed

[2018-12-31 02:57] sbourdeauducq commented on #602
Yes, it seems to be as low-level as it can get - it's just a shift register and a few latches, and internal functioning of the analog part is exposed e.g. through the register write order specifications. Hopefully that also means that there is no internal state other than the exposed one, and that is the reason for the absence of a reset pin. Note that the initialization sequence specifies writing

[2018-12-31 09:38] gkasprow commented on #602
OK, so I need to connect the MUXOUT  to FPGA as well. For the moment it is driving LED.

[2019-01-01 03:50] sbourdeauducq commented on #602
In general, please try not to connect LEDs to anything other than the FPGA (unless there are I/O voltage issues or a lack of I/O pins, we can always route LED signals through the FPGA if needed).
The FPGA also needs to see MUXOUT to check PLL lock status.

[2019-01-01 11:01] gkasprow commented on #602
OK, good idea.

[2019-01-03 17:34] hartytp opened #607 "AFE FMC layout"
@gkasprow are you happy that the pinout for the AFE FMC connectors is close to optimal? Crucially, are the DAC channels all spaced out from each other and from digital lines as much as possible?

[2019-01-03 23:39] gkasprow commented on #607
I did my best. We removed ADC channels so the distance increased slightly itself. We already have TestMod produced, so I wouldn't change them.

[2019-01-04 07:30] #607 closed, assigned to nobody

[2019-01-07 14:13] marmeladapk commented on #606
@gkasprow This power budget for Sayma AMC and Metlino is outdated, it doesn't list new components and lists those that were removed.

[2019-01-08 10:10] sbourdeauducq commented on #567
This is happening in the µTCA crate (of course).
@gkasprow @hartytp  please reopen this issue.

[2019-01-08 10:13] sbourdeauducq commented on #567
And with the new MMC firmware (required to get µTCA to work at all) I cannot get an Exar dump...

[2019-01-08 10:21] sbourdeauducq commented on #567
And now the board just won't power up at all.

[2019-01-08 11:23] sbourdeauducq commented on #567
The faulty board powers up from the ATX connector.
I swapped another AMC board into the µTCA crate, and it powers up, so this does not seem to be a problem with the crate.

[2019-01-08 19:34] gkasprow commented on #567
what MMC says on debug port when U plug it to the crate?

[2019-01-09 03:47] sbourdeauducq commented on #567
The other board failed as well, so this doesn't seem to be an isolated problem...

[2019-01-09 03:55] sbourdeauducq opened #608 "most NATview functions are broken with Sayma"
e.g. when double-clicking on "Sayma" in the device list
![image](https://user-images.githubusercontent.com/720864/50875849-246c9a80-1405-11e9-89ab-6a14fc032590.png)

Cannot guess if those are NAT bugs or Sayma MMC bugs...

[2019-01-09 08:29] marmeladapk commented on #608
Holy smokes, @sbourdeauducq you have errors and problems I've never seen before in our lab.

I (and Brad) used NATView 2.26 without any errors to dump FRU. Is this the same that you use?

[2019-01-09 09:06] gkasprow commented on #567
only 3.3V is missing or another board doesn't simply boot?
Please place here MMC log

[2019-01-09 09:09] sbourdeauducq commented on #567
The other board also has 3.3V failures.
And I found the reason for the full shutdowns - I was using an old version of flterm that caused the MMC to enter the bootloader after I had looked at the MMC log and power-cycled the board.
So, the only issue remaining here is why 3.3V fails after the board has been running for some time.

[2019-01-09 09:29] marmeladapk commented on #481
@gkasprow pins 18-20, connect through jumper (just in case, if we want to connect them to 3V3 as could be done in eval board)?

HMC830 rfout has unplaced caps, instead ufl input is connected - project plan states that hmc830 should be primary clock source. Is this correct?

[2019-01-09 09:42] hartytp commented on #481
Could we leave this until the end of the design review, please? I'd like to finish testing the ADF PLL before we make a final call on this (working atm, but have some other strict deadlines to meet this week as well, so can't spend as much time as I'd like).

Ideally we'd have finished doing design studies with existing hardware before drawing up the project plan, allowing us to treat the project

[2019-01-09 09:44] hartytp commented on #481
If we're going to stick to the plan in all cases regardless of any results of the tests we're doing atm then I won't bother doing the tests.

[2019-01-09 09:49] marmeladapk commented on #481
@hartytp It was not a call to stick to the plan, just to see which one is right and modify schematics or the plan accordingly. Plan can, and has been revised  few times during the review.

Anyway, that's not the point of my comment, with the way caps are now positioned you can either have ufl or adf clock source, where instead it should be hmc or adf, right? See C423 and C424, C432 and C433 below.

[2019-01-09 09:59] hartytp commented on #481
@marmeladapk I know. Not a response to you, but rather to anticipated feedback from other quarters.

Anyway, agreed about your point (although, this will all need a bit of tweaking in light of the discussion about ADF PLL connections).

[2019-01-09 12:37] marmeladapk commented on #588
@gkasprow @hartytp What is the conclusion here? In schematics SYSREF is AC coupled, has 100R differential termination and 200R to ground at source.

Source:
![obraz](https://user-images.githubusercontent.com/24512604/50899820-8df3a580-1413-11e9-92e2-9c40df28ff53.png)
DAC:
![obraz](https://user-images.githubusercontent.com/24512604/50899842-9ba92b00-1413-11e9-920b-63887d87088f.png)

[2019-01-09 12:58] hartytp commented on #588
Closing in favour of https://github.com/sinara-hw/Sayma_RTM/issues/13

[2019-01-09 12:58] #588 closed

[2019-01-09 20:01] gkasprow commented on #588
200R is pulldown for open emitter outputs. 100R is differential termination. Such a solution consumes far less power than Thevenin termination.

[2019-01-11 13:01] marmeladapk commented on #582
I guess this issue can be closed. Added benefit of keeping this connection is that we can use WR clock if we decide to implement it on RTM.

[2019-01-11 13:01] #582 closed

[2019-01-13 05:02] sbourdeauducq commented on #567
@gkasprow What MMC log do you want exactly? At what time? Note that I cannot get Exar debug info with the new OpenMMC-based firmware.
The boards now exhibit the 3.3V bug after a few minutes now, very annoying.

[2019-01-13 09:38] sbourdeauducq opened #609 "intermittent JTAG bug in µTCA crate"
[code]

Only recoverable with a full power-cycle of the crate, rebooting the MCH or deactivating/reactivating Sayma do not help.

Reproduced on two different boards and never seen outside µTCA so I suspect this has to do with it.

[2019-01-13 12:22] sbourdeauducq commented on #601
Working fine except for https://github.com/m-labs/artiq/issues/1230

[2019-01-13 12:24] sbourdeauducq commented on #601
That's a misunderstanding of the major issue behind #571 and what is required to prevent it. I am running with the default configuration files. The minor MCH configuration issue **did not** cause the initial loss of power with the RTM.

[2019-01-13 13:43] gkasprow commented on #609
This is a known issue related with SCANSTA chip.
This is one of the reasons I decided to kick it away. For some reason, long uTCA backplane JTAG lines connected to SCANSTA chip break the communication.

[2019-01-13 17:07] gkasprow commented on #567
OK, @wizath can you check if Exar register dump works with newest MMC firmware?
@sbourdeauducq do you use FMC-LVDS ?

[2019-01-14 00:50] sbourdeauducq commented on #567
No.

[2019-01-14 09:08] marmeladapk commented on #410
- [ ] On RTM_IPMI sheet there's overlapping text on I2C port
- [ ] Si5324 sheet cdr_clk_clean3, rst  port has overlapping text,
- [ ] date out of bounds on most sheets
- [ ] Sheet numbering is weird
- [ ] "Matching between (...)" text goes beyond sheet

Otherwise all other text is readable and not obstructed by anything.

[2019-01-14 11:03] marmeladapk commented on #406
I feel that this is no longer applicable:
- Clk distribution has separate LDOs for HMC830, ADF4356 and ADCLK948, which is fine by me,
- @hartytp said that DACs should (or at least can) their own regulators
- There are no other "duplicate" regulators and CLK distribution was vastly simplified

[2019-01-14 11:03] #406 closed

[2019-01-14 11:35] marmeladapk commented on #565
Shouldn't TT resistor be around 70kOhm? After using equation from datasheet with approximated values resistor should be much larger than it is now.

[2019-01-14 12:23] atcher0 commented on #605
Sayma RTM verified components (schematic symbol only):
- [x] HMC1060LP3E
- [x] ADF4356BCPZ
- [x] MC100EP31DTG
- [x] NB6L295MNG
- [x] ADCLK948BCPZ
- [x] XC7A35T-1CSG325
- [x] LTC6957IDD-1#PBF
- [ ] W2L16C473MAT1S -> lack of pin assigment information in datasheet (?)
- [x] TPSM84824MOLR

[2019-01-14 13:32] marmeladapk commented on #605
W2L16C473MAT1S should be fine since + and - pins are alternately (which wasn't the case in v1.0 schematics). It's also connected this way on devkit (altough pin 1 is - in their schematics).

[2019-01-14 14:47] sbourdeauducq commented on #567
@gkasprow Can you set up a µTCA crate and leave it running for a few days until Sayma breaks?

[2019-01-14 17:55] gkasprow commented on #567
@marmeladapk Can we do this?

[2019-01-14 17:57] gkasprow commented on #605
v1.0 schematics had bug in pin assignment of W2L16C473MAT1S

[2019-01-14 18:23] marmeladapk commented on #567
@gkasprow I'm not sure if we have a set that boots, we have this one AMC with broken SDRAM.

[2019-01-14 18:31] gkasprow commented on #567
@sbourdeauducq can U add 47uF ceramic to the 3V3 converter output? It's quite possible that capacitances lost their value with time and this can be quick fix.

[2019-01-15 02:06] sbourdeauducq commented on #567
There is at least one "broken SDRAM" issue that might be fixed by upgrading to Vivado 2018.3. Anyway you do not need SDRAM to test power supplies.

[2019-01-15 05:54] sbourdeauducq commented on #567
I don't know if this is related or not, but it seems the Exar power supply broke completely on a board that I was using in the µTCA crate. I had used the "activate/deactivate FRU" command in NATview to restart the board many times to work around the 3.3V failures. Now only the 0.9V LED is on, both in the µTCA crate and when powered from ATX.

[2019-01-15 10:44] marmeladapk commented on #567
It won't fix dead chip. And I wanted to put higher load on this Sayma.

[2019-01-18 21:16] jbqubit commented on #601
Everyone, please review a draft update to the project plan at the following URL.

https://github.com/jbqubit/saymapp

The number of changes has gotten numerous enough that git is useful for tracking. The present revision reflects feedback from all prospective Developers. The jbqubit repository is temporary; once everyone agrees upon changes I'll update this Issue.

[2019-01-22 15:59] marmeladapk commented on #581
This is fixed. I checked chain from DAC to output stage on AFE and lines are not swapped.

[2019-01-22 15:59] #581 closed

[2019-01-22 16:02] marmeladapk commented on #605
All components listed here were checked.

[2019-01-22 16:02] #605 closed, assigned to marmeladapk

[2019-01-22 16:18] marmeladapk commented on #517
Seems to be done: https://github.com/sinara-hw/sinara/wiki/Sayma#mmc-related

[2019-01-22 17:49] #517 closed

[2019-01-25 10:40] marmeladapk commented on #577
@gkasprow Can this be closed then?

[2019-01-25 10:45] marmeladapk commented on #475
Another board we had was constantly resetting when plugged into crate (with one PM) with RTM (lights on FP blinking rapidly). After implementing slow start for 3V3 MP the issue dissapeared.

[2019-01-27 14:29] sbourdeauducq commented on #567
The board has been powered up for over 24 hours without a failure, which is unusual.
Things that have changed:
* µTCA fan speed increased from 70% to 100%
* DACs clocked at 2.4GHz and running most of the time (which is why I had increased the fan speed)
* weather has been relatively cold

Could this be temperature-dependent?

[2019-01-27 15:26] gkasprow commented on #567
Yes, capacitors have high tempco. And this influences converter stability.

[2019-01-27 20:46] hartytp commented on #567
Turn down the fans and see if it craps out?

@gkasprow clearly there have been some issues with these converters. What will we do to ensure that this does not happen in Sayma v2.0? Higher quality capacitors? More careful tuning of the SMPS control loops? @marmeladapk can you add this to the list of things to discuss in the next call please?

[2019-01-28 09:35] gkasprow commented on #567
I use Exar chips in several designs and never had such issues before. The configuration we use in the AFCZ is identical as in Sayma. Only MOSFETs are different because original ones were EOL. Good thing is that it is fully programmable so we can update the settings. There is certainly something I overlooked.

[2019-01-28 15:14] jbqubit commented on #567
https://github.com/sinara-hw/Urukul/issues/20#issuecomment-458026113

[2019-01-29 07:40] sbourdeauducq commented on #567
Board has still been running continuously without issue, so there is definitely something here.

After I'm done using the board for more productive work. It's good that there is at least a workaround so I'm not wasting my time power-cycling the board in the middle of something else and starting over again. And I'd prefer @gkasprow et. al. to reproduce the issue and investigate it.

[2019-02-07 13:33] hartytp commented on #567
Great, thanks for the update. What was the issue?

Are you confident that this will fix the problems with Sayma going forwards? Why do you think this problem didn't show up immediately? Was it due to component ageing? If so, are we sure that further component tolerances/ageing won't cause similar issues later on. Is it worth using higher quality caps with better stability to prevent such issues fr

[2019-02-07 14:15] gkasprow commented on #567
One problem was with too steep v/t coefficient so it triggered overcurrent during power on cycle. That's why one channel didn't start from time to time.
Another issue was overvoltage protection caused by too low phase margin and sudden current load changes
Yet another issue was a too low current limit of 1.2V which was triggered by 3 SDRAM controllers that from time to time consumed higher current

[2019-02-13 17:22] jbqubit commented on #567
@gkasprow Did you apply your AFCZ insights to Sayma v1 and confirm that it works without dropouts or shutdowns?

[2019-02-18 15:51] marmeladapk commented on #556
Turns out, we will so reopening. :)

Ping @gkasprow

[2019-02-18 16:07] marmeladapk commented on #574
Ping @gkasprow

[2019-02-18 22:22] gkasprow commented on #556
True, now I have to revert schematics and layout to some state between v1 and v2...

[2019-02-18 22:23] gkasprow commented on #574
We can simply add 50R series resistors to not override LVDS levels with LVPECL outputs...

[2019-02-20 11:34] vmsch opened #610 "Sayma rtm intermittent start-up"
Our Sayma RTM (the one previously used by @jbqubit 20171201a) is only intermittently starting up correctly, about 1 in 4 power cycles, the other times the red bottom LED is red.

It is powered by a microTCA crate.
Originally we had the same problems as issue 571,
i.e. the AMC would only start up if the RTM wasn't plugged in,
and following
https://github.com/sinara-hw/sinara/issues/571#issuecomment

[2019-02-20 11:35] vmsch commented on #562
I see the same error on the Sayma board (.1.91) @jbqubit sent us, even after soldering together pins 11&13 on the JTAG socket in case the jumper wasn't tight enough.
I also tried different USB cables, but none worked.

This might be (un)related, but we also see problems with the RTM only starting up correctly intermittently, see issue https://github.com/sinara-hw/sinara/issues/610 .

Error message

[2019-02-20 11:37] sbourdeauducq commented on #562
Check all power LEDs on the AMC.

[2019-02-20 11:46] gkasprow commented on #562
looks like missing RTM power.

[2019-02-20 12:00] vmsch commented on #562
On the AMC the bottom LED is blinking green, and on the board LD1 is continuously green, all other LEDs are off from what I can see.

On the RTM no LEDs on the back are on, but on the board LD9, LD8 and LD6, LD5, LD12, LD3 and LD14 on the back are continuously green.

[2019-02-20 12:07] vmsch commented on #562
Actually there is also at least one LED on the LD10-LD22 block on the AMC on, but it is hard to see which.

[2019-02-20 12:29] vmsch commented on #562
The 12V and 0V9 LEDs are the only AMC power LEDs that are on, independently of the RTM red LED being on or off.

[2019-02-20 14:04] sbourdeauducq commented on #562
I sent @gkasprow a board with the same symptom, hopefully that's the same bug.

[2019-02-20 14:24] vmsch commented on #562
Okay, thank you.
This is independent of the RTM btw: if only the AMC is plugged in, these two power LEDs are also the only ones switched on on that AMC board.

[2019-02-20 19:06] vmsch commented on #610
@gkasprow
Is there somewhere a summary of which LEDs should be on in which colour/blinking/off-on mode for correct operation of the RTM and AMC?
For example I can't find in the manual what colour LD2/U2 on RTM should be in for proper operation.
I thought red would be bad, but now when I power it externally I could flash the gateware with the LED being red.

If there isn't a summary yet, would you

[2019-02-20 20:45] gkasprow commented on #610
AMC LEDs:
AMC requires all LEDS: LD7, LD8, LD9, LD10, LD22, LD11 to be on. It means all supplies are correct. These LEDS are placed close to the DC/DC converters.
When MMC is running, you should observe alternately blinking LEDs on the front panel.
When RTM is plugged, AMC detects it and enables P3V3MP and P12V0_RTM which is signalized by LD17, installed close to the RTM connector on AMC.
LD6 mean

[2019-02-21 19:08] vmsch commented on #610
Thank you.
In the RTM manual latex files it says on the back panel LED
( https://github.com/sinara-hw/sinara/blob/cdcb3936a60ff7027d9586707261f99b03656148/ARTIQ_EE/PCB_Sayma_RTM/Manual/tex/panel.tex )

Callout 18: U2 is
 off if RTM is ok
 red if RTM is in an error state

What kind of error is this?
And what could be possible reasons/ how can I fix this?

[2019-02-21 21:03] gkasprow commented on #610
I'm not sure what the function of the U2 LED is. According to MTCA specification, it should indicate an error.
@wizath what functionality does the RTM panel red led have? It is connected to the P2 output of the I2C extender.
Anyway, if the RTM does not start when plugged to AMC, it could be related with missing or broken HW fix applied to the 3V3 MP inrush current limiter.
Please check if the boar

[2019-02-22 13:24] wizath commented on #610
@gkasprow No idea, it's managed by openMMC internals

[2019-02-22 18:33] jbqubit commented on #567
In offline discussion @sbourdeauducq asked...

[code]

In offline discussion 2/21 @gkasprow responded

```I will publish simulation sources and results so it would take a moment for Xilinx team to review it.```

[2019-02-22 18:51] jbqubit commented on #567
In offline discussion 2/21 @gkasprow noted

[code]

[2019-02-23 02:33] sbourdeauducq commented on #567
@jbqubit This is not related to this 3.3V problem but to VCCINT dropping when the FPGA was loaded (with SAWG), causing all sorts of crazy issues. https://github.com/sinara-hw/sinara/issues/566

[2019-02-23 02:35] sbourdeauducq commented on #566
"
In offline discussion @sbourdeauducq asked...

[code]

In offline discussion 2/21 @gkasprow responded

`I will publish simulation sources and results so it would take a moment for Xilinx team to review it.`

In offline discussion 2/21 @gkasprow noted

[code]
"

[2019-02-25 13:21] gkasprow commented on #556
added FET to the lines routed to the FPGAs
![obraz](https://user-images.githubusercontent.com/4325054/53340176-a1e26080-3908-11e9-89e8-94bb5414fee1.png)

[2019-02-25 13:21] #556 closed

[2019-02-25 13:26] gkasprow commented on #591
fixed

[2019-02-25 13:26] #591 closed

[2019-02-25 13:27] gkasprow commented on #602
done

[2019-02-25 13:27] #602 closed, assigned to nobody

[2019-02-25 13:31] gkasprow commented on #574
@sbourdeauducq do we still need SYSREF from HMC7043 to the AMC FPGA?
What about HMC7043 REFSYNCIN? Connect it to the AMC FPGA or RTM FPGA?

[2019-02-25 13:34] sbourdeauducq commented on #574
Yes. We don't *strictly* need it but it makes things easier and allows for more experimentation.

RFSYNCIN (not spelled REFSYNCIN) is not used and not planned to be used.

[2019-02-25 13:35] sbourdeauducq commented on #574
You can put RFSYNCIN on uFL, if that's easy, just in case.

[2019-02-25 13:39] sbourdeauducq commented on #574
Workable SYSREF routing options, from best to worst:
1) Two SYSREF to AMC, two SYSREF to RTM
2) Two SYSREF to AMC, one SYSREF to RTM
3) One SYSREF to AMC, two SYSREF to RTM
4) One SYSREF to AMC, one SYSREF to RTM
5) One SYSREF to RTM

Option 5 requires significant gateware changes and should be avoided.

[2019-02-25 13:42] sbourdeauducq commented on #574
Also try to use the HMC7043 dedicated "SYSREF" channels (odd channels) for SYSREFs, though that's not strictly a requirement.

[2019-02-27 13:07] gkasprow commented on #574
OK, so I connected HMC7043 outputs to:
AMC LVDS21, same bank as SYNCOUT and LVDS link between FPGAs
 I also changed names on RTM sheet so LVDS and GT lines from AMC are called AMC_GT.xx and AMC_LVDS.xx
Another 2 SYSREF lines are routed to the RTM FPGA, the same bank as clocks. One of them is routed to MRCC
![obraz](https://user-images.githubusercontent.com/4325054/53492367-f87ea480-3a98-11e9-83d5-

[2019-02-27 13:07] #574 closed

[2019-02-27 14:17] sbourdeauducq commented on #574
what is SYNCOUT? The CDR output? OK.

[2019-02-27 14:21] sbourdeauducq commented on #574
So we get option 3.

[2019-02-27 14:27] gkasprow commented on #574
I mean the SYNCOUT of DAC is in the same FPGA bank as HMC7043 SYSREF.

[2019-02-27 14:29] gkasprow commented on #574
but it is in a different bank as AMC CDR output.

[2019-02-27 14:30] sbourdeauducq commented on #574
OK that shouldn't matter, on the AMC the normal plan is to sample that signal with a clock derived from the GTH.
On the RTM it should be the same bank though.

[2019-02-27 14:31] gkasprow commented on #574
Let's summarize. Which of the signals below need to be in same AMC FPGA bank:
CDR REC clock
SYSREF IN from HMC7043
WR clocks
DAC SYNCOUT 10/10

[2019-02-27 14:39] sbourdeauducq commented on #574
SYSREF (on the AMC) and SYNCOUT are only sampled at 125/150MHz and have no particular bank requirements.
CDR clock to the fabric is a debug signal - normal plan is to use the clock through the GTH. It probably makes sense to put it and the WR clocks in the same bank though.
In general I didn't find pin assignment issues, other than what I reported, with the assignments that are in the Dec 13, 2018

[2019-03-05 14:14] gkasprow commented on #565
Good catch. Replaced with 30k according to table 8 in Datasheet.
![obraz](https://user-images.githubusercontent.com/4325054/53811291-4db72c00-3f59-11e9-837a-40e683d05845.png)

[2019-03-05 14:14] #565 closed

[2019-03-05 14:16] #594 closed

[2019-03-06 20:27] #386 closed

[2019-03-06 20:28] hartytp commented on #209
@gkasprow I've lost track, are these issues resolved now?

[2019-03-06 20:28] #400 closed

[2019-03-06 20:29] #401 closed

[2019-03-06 20:29] hartytp commented on #432
@jbqubit are all these documentation issues still relevant or can we close?

[2019-03-06 20:30] hartytp commented on #410
I think this is no longer relevant now we've moved to AD, so closing

[2019-03-06 20:30] #410 closed

[2019-03-06 20:31] hartytp commented on #600
Closing as I don't think there will be any new rework for Sayma v1.0

[2019-03-06 20:31] #600 closed, assigned to nobody

[2019-03-06 20:33] hartytp commented on #567
We're using a different regulator for v2.0 so hopefully this will no loner occur

[2019-03-06 20:33] #567 closed

[2019-03-06 21:40] gkasprow commented on #209
mechanical issues are still not resolved.

[2019-03-07 14:30] hartytp commented on #604
@gkasprow I'll have some time this evening to review schematics. Do you think they'll be ready by then.

Also, there are a few outstanding Sayma issues in this repo. Can they be closed now?

[2019-03-07 21:49] hartytp commented on #609
Closing this issue since (1) it shouldn't be present in v2.0 since we're removing the SCANSTA chip (2) I don't think anyone is going to fix this for the v1.0 boards.

[2019-03-07 21:49] #609 closed, assigned to nobody

[2019-03-07 21:50] #610 closed, assigned to nobody

[2019-03-11 21:08] hartytp commented on #209
@gkasprow where are we with these issues?

[2019-03-11 21:11] gkasprow commented on #209
There are only mechanical and PCB left

[2019-03-11 21:11] gkasprow commented on #209
I'll move it to Sayma_AMC repo

[2019-03-11 21:13] gkasprow commented on #481
I think we can close it now. HMC pins are connected as on a devkit.

[2019-03-11 21:13] #481 closed

[2019-03-11 21:14] gkasprow commented on #561
we will do new HMC layout so we can close it now.

[2019-03-11 21:18] hartytp commented on #601
@jbqubit do we still need to keep this issue open, or can we close it?

[2019-03-11 21:19] hartytp commented on #608
I didn't have a very positive experience with NatView either when I played with it.

However, I'm not sure what the action point of this issue is. If we want to complain about the quality of NatView then we should talk to NAT. Ideally though, I guess we should aim for Sayma to work out of the box without a user having to touch NAT View.

[2019-03-11 21:21] hartytp commented on #606
@gkasprow I guess we won't want a power budget for Sayma on the schematic as we did with the EEMs, since it's too complicated. Will this go in the documentation or just in a spreadsheet in the repo? Either way, I guess it's a natural thing to do as part of the design review?

[2019-03-11 21:22] #579 closed

[2019-03-11 21:22] gkasprow commented on #568
added diodes on BaseMod and MixMod

[2019-03-11 21:22] #568 closed

[2019-03-11 21:23] #561 closed

[2019-03-11 21:23] hartytp commented on #604
@jbqubit can we close this issue?

[2019-03-11 21:23] #604 closed, assigned to nobody

[2019-03-11 21:24] #538 closed

[2019-03-11 21:25] gkasprow commented on #512
Since some time all this info is automatically included in the output documentation as a stack-up report

[2019-03-11 21:25] #512 closed

[2019-03-11 21:27] gkasprow commented on #606
Yes, this needs to be done for design review. We got rid of plenty of components so we won't exceed any current limits :)

[2019-03-11 21:29] hartytp commented on #587
@gkasprow I'm closing this as I think it's now resolved. AFAICT no hw changes are needed, just tweaks to the MMC firmware. Please reopen if any hardware changes are required here

[2019-03-11 21:29] #587 closed

[2019-03-12 00:45] sbourdeauducq commented on #608
I'm not sure if this is a NATview problem or a Sayma problem - those functions work correctly when applied to other modules, which suggests the latter.
NATview is useful to power-cycle Sayma remotely when it's in the crate.

[2019-03-12 06:56] hartytp commented on #562
@gkasprow did you get a chance to look at the board @sbourdeauducq sent you? Is there anything we can do about this before for finalising v2.0?

[2019-03-12 06:58] hartytp commented on #589
@gkasprow is this done? Can we close? Or should we move to the new repos?

[2019-03-12 06:59] hartytp commented on #475
@glasprow again, is there anything to do here before freezing v2.0 schematics?

[2019-03-12 07:02] hartytp commented on #608
Ack @marmeladapk @gkasprow is there anything we should do to look into this before freezing v2.0? Or do we wait for the next revision?

[2019-03-12 07:03] hartytp commented on #601
@gkasprow can you let me know when the amc and rtm schematics are ready for review?

[2019-03-12 11:41] gkasprow commented on #601
Yesterday I published a new release for both of them.

[2019-03-12 12:27] marmeladapk commented on #608
@hartytp @sbourdeauducq As I said before in our lab (and in Duke) we didn't have any problems with NATview. @sbourdeauducq could send us an exact version that he used and we could try that in our lab. If it works correctly, then perhaps there are some patches that are not applied correctly or broke off?

@gkasprow are there any patches in v1 that change smth related to MMC or communication with MC

[2019-03-12 13:21] hartytp commented on #601
Okay, thanks.

I didn't start reviewing yet as there are still some outstanding issues. If you confirm that all schematic issues (apart from finalizing the HMC830 loop filter OpAmp) are resolved then I will begin my review.

[2019-03-12 13:21] hartytp commented on #601
@jbqubit @marmeladapk can you confirm how you want us to structure the review/who is responsible for what?

[2019-03-12 14:59] gkasprow commented on #601
Yes, I confirm.

[2019-03-13 19:46] hartytp commented on #601
Thanks Greg.

@jbqubit please can you confirm how you want us to do the review. AFAICT the google spreadsheet you circulated before is now out of date. Is there anything in particular you need me to do? Otherwise I'll review the bits I feel qualified to look at and leave the rest.

[2019-03-13 21:53] hartytp commented on #601
I've completed my review of Sayma AMC. I didn't find anything major. I'll aim to finish the RTM tomorrow.

[2019-03-13 22:43] gkasprow commented on #589
I

[2019-03-13 22:43] #589 closed

[2019-03-14 07:53] hartytp commented on #448
What’s the outcome of this? Can we close or is there anything else to do before v2.0?

[2019-03-14 07:54] hartytp commented on #475
Ping @gkasprow

[2019-03-14 07:55] hartytp commented on #562
Ping

[2019-03-14 07:57] sbourdeauducq commented on #448
No. There are manual ways to flash, and no funding to automate it with artiq_flash.

[2019-03-14 07:57] #448 closed

[2019-03-15 17:18] jbqubit commented on #475
@gkasprow We'd like to know if there any further changes before freezing RTM schematics.

[2019-03-15 18:47] jbqubit commented on #601
@hartytp Thanks for doing the review of AMC. It will help others to know exactly what you reviewed. Please update the spreadsheet to reflect what you checked. Make modifications to the columns if there's something that warranted review but wasn't forseen in the review structure.

@sbourdeauducq Is your AMC stub port complete? Can you articulate what aspects were covered by that port using the goog

[2019-03-15 19:20] gkasprow commented on #475
No, all issues with NAT MCH and supplies were caused by missing soft start circuits or excessive management power. We did not experience it before because we're using Vadatech stuff which does not care about inrush current.

[2019-03-15 19:20] #475 closed

[2019-03-15 20:40] gkasprow commented on #562
I didn't have time to play with it. I only connected it to bench supply and all supplies are OK.

[2019-03-15 21:29] hartytp commented on #601
Yes, but it would have helped me if you'd responded to any of the times when I asked you to confirm what you actually wanted me to do *before* I completed the review...

[2019-05-28 20:52] #432 closed

[2019-05-28 20:52] #518 closed

[2019-05-28 20:53] #477 closed

[2019-05-28 20:53] #476 closed

[2019-05-28 20:53] #435 closed

[2019-05-28 20:54] #433 closed

[2019-05-28 20:54] #431 closed

[2022-10-14 15:45] kkumarumeshsharma278 commented on #156
If I want to connect this grabber to an FPGA via LVDS, do I need only a receiver, or just a transmitter and a receiver?

Is this grabber cameralink supported for Ultrascale plus FPGA ?

[2022-10-14 16:38] gkasprow commented on #156
This board is a camera link receiver only. It has some transmitters but only for UART control lines.
The only support that I'm aware of is for 7-series FPGAs

[2022-10-24 10:02] kkumarumeshsharma278 commented on #156
what is the time duration from camera (Andor)  exposure camera-internal image processing,  transmission (LVDS)  via Camera Link connection to ARTIQ Camera Grabber card (7-series FPGAs)