[2017-12-16 00:04] hartytp commented on #377
Genuine issues welcome. But, the signal to noise ratio on your posts is not very high at the moment and it wastes time. e.g. look at capacitor datasheets before deciding that they're not good enough; etc.

In most cases I'd agree with you. But:
- The signals you posted look fine for this kind of thing.
- if there is genuinely a noise issue from these digital lines then it will show up repeatably o

[2017-12-16 01:53] hartytp commented on #377
@a-shafir One final comment about all of this: in any of these communities there is an expectation that people will do some basic legwork before posting issues.

For example, before posting issues about strange behaviour in the inputs, one is expected to look at the signals one is applying with a scope and verify that they meet the requirements of the input driver (that would have saved quite a bi

[2017-12-16 01:53] a-shafir commented on #377
OK, I see the way to redefine my concerns more precisely. It is still on empirical level but more to the point:
- we are talking about the signals like the reference clock that planned to be around 120mhz.
- the sew rate and the phase noise is critical and there are already efforts to handle it by skipping the protection components etc.
- there are some DDS synchronization signals that need precis

[2017-12-16 01:56] hartytp commented on #377
Did you bother to look up the capacitors we are using and see their S-paraeters? The manufacturer specifies them up to 6GHz. Just look at the parts we're actually using and do the maths.

[2017-12-16 01:59] hartytp commented on #377
Don't give general comments like this when you can have data. e.g. you can calculate the VSWR introduced by these capacitors easily. Will that be enough to degrade the performance noticeably?

Moreover, you can compare this to the VSWR due, for example, to the capacitance of the relevant input pin. What limits the overall VSWR of this line? If the coupling capacitor isn't close to being the proble

[2017-12-16 02:06] hartytp commented on #377
The sync signal just needs to meet timing with respect to the clock. You can see that with a scope. If you're worried, give us a measured eye diagram. If that's got plenty of margin, very low-level EMI won't be an issue -- and again, you can test that by measuring the effects of the various components. If we're not marginal then this just won't be an issue.

The clock does need to be very good. Bu

[2017-12-16 02:25] hartytp commented on #377
Sometimes the simplest design is the best one. Adding more/fancier components that do not create a noticeable performance difference is bad design.

For things like the sync signal, the question is what the eye diagram looks like and how much margin we have. This *is* digital, and if it comfortably meets timing then there is no concern. Weird intermittent issues only show up when timing is margina

[2017-12-16 02:26] a-shafir commented on #377
OK, I got your point for the capacitor specs. Replacing capacitor is easy. My major concern is the cpld outputs. When many of them are driven from the same clock domain and the outputs are switching simultaneously skipping tbe source termination resisors will lead to too sharp edges of the signals and a lot of noise across the board. I would like to be wrong indeed and don't like at all to show a

[2017-12-16 02:35] hartytp commented on #377
Not as easy as not replacing a capacitor.

These boards are designed to be price optimised (cf #347). Needlessly adding extra BOM lines and specialist capacitors inflates the price. *If you can provide any data that suggests that different capacitors will improve the board performance noticeably then we will do it. Otherwise, it's just a bad idea.*

For the last time, just do the **** maths and ju

[2017-12-16 03:55] hartytp commented on #377
And, hey, if you don't want/know how to do the maths then just replace the caps with fancier ones and post scope "before" and "after" scope traces which show the difference. If there is a noticeable improvement in signal integrity then we can change things. Just give us **something** to justify using fancier components.

[2017-12-16 12:52] a-shafir commented on #377
Ok. Let's forget the 100nf capacitor.
- We have on the board 4x 1 GSPS, 14-bits DACs as the signal source (integrated in the DDSs). There is >85dBc narrow band SFDR. If we would like to pass the signal of this quality to the target this alone will be a major challenge to the PCB designer.
- we have digital signals on the board. In worst (and target) case (NU-mode) there will be 66MHz QSPI bus cons

[2017-12-16 15:43] gkasprow commented on #377
@a-shafir please do some measurements and then prove that there is something to fix.
I asked you to post the probe calibration waveform, frequency does not matter, scope calibration output has usually very sharp edges. Zoom it to see how the signal looks like with your probe.
Do it please, then we can discuss. Otherwise further discussion is pointless.
Indeed, common ground island can be added to

[2017-12-16 16:19] a-shafir commented on #377
@gkasprow after better checking the RF of the board mu main concern now is the potential distortion in the parts after the DDS DAC. Mostly the amplifier IC and the other parts as well. I am not sure about the target application - how sensitive it for the signal quality and the noises. For a general use of the DDS with the best (limited by the DDS IC) specs approach similar to the AD reference desi

[2017-12-16 17:54] hartytp commented on #377
Right Greg, this is the key point that applies to many of these issues. We have prototypes and until/unless we find actual performance issues with them, we shouldn't mess with things like ground islands, differential RF amplifiers, etc.

Do it please, then we can discuss. Otherwise further discussion is pointless.

You're talking about those scope traces he posted? They looked fine to me. There is

[2017-12-16 17:54] hartytp commented on #377
Anyway, I'm done with this conversation until some data showing an actual issue is posted.

However, I'll leave you with my specialised RF balloon, which I think should be added to the design to reduce noise. Full S-parameters to 20GHz on request (not suitable for operation on Mars though Greg). @a-shafir since you have 27years of experience as an RF designer, I assume this is what you were talkin

[2017-12-16 18:09] gkasprow commented on #377
@hartytp I meant to check what is the probe response. So I asked him to connect to the scope calibration output to check it.
But such reflections that were measured are fine - they do not enable protection diode nor cross the Vih threshold.

[2017-12-16 18:43] a-shafir commented on #377
@gkasprow
- The scope calibration output:
![ds1z_quickprint9](https://user-images.githubusercontent.com/15978368/34073332-aba679bc-e297-11e7-8f32-72afdee95db8.png)

- The 50MHz clock output of the KC705 SMA with the same probe and the same ground clips.
![ds1z_quickprint10](https://user-images.githubusercontent.com/15978368/34073331-ab8a8680-e297-11e7-8458-6d52ab2ed5b5.png)

Here is some misunders

[2017-12-16 19:00] gkasprow commented on #377
@a-shafir Your probe is not properly compensated. You should not do any measurements with it!
[Here](https://www.picotech.com/library/application-note/how-to-tune-x10-oscilloscope-probes) is a guide how to do it.
In addition, please explain to me why reflections would affect RF chain. I'd like physics, not experience.
- signal with "proper" fast edges requires more bandwidth -> there are more harm

[2017-12-16 19:18] a-shafir commented on #377
@gkasprow
The serial termination slower the edges.
http://www.analog.com/media/en/training-seminars/tutorials/MT-097.pdf

[2017-12-16 21:48] gkasprow commented on #377
@a-shafir then this is not termination but low-pass filter. Termination causes impedance matching, not slowing the edges.
And you did not reply to my question.

[2017-12-16 22:28] a-shafir commented on #377
@gkasprow this is matter of the terminology. it typically called like this.

In many cases the resistor + the internal impedance of CMOS driver is tending to match the trace impedance. So in this case it both works as the flow pass filter and the termination.

Even it is less than the trace impedance it still works since the edge is slower, the reflection is lower etc.
In many cases the capacitanc

[2017-12-16 22:41] marmeladapk commented on #377
@a-shafir Serial termination shouldn't slow down rise/fall time more than trace itself, since driver already sees trace as 50/whatever Ohm.

[2017-12-16 22:49] gkasprow commented on #377
@a-shafir All you wrote is elementary thing, but we still don't know anything new about our board.
-  what is CPLD output resistance?
- do we have a problem with crosstalk or not.
So please do the measurements and we can optimise it further. At this point further discussion is pointless.

[2017-12-16 22:49] a-shafir commented on #377
["In the first, the series resistance and the input capacitance of the gate form a lowpass filter.
Typical CMOS input capacitance is 5 pF to 10 pF. Locate the series resistor close to the driving
gate. The resistor minimizes transient currents and may eliminate the necessity of using
transmission line techniques. The value of the resistor should be chosen such that the rise and fall
times at the r

[2017-12-16 22:56] a-shafir commented on #377
@gkasprow

The best way to measure it is to connect it to a 50R cable via a variable resistor and check. 10R will be a good estimation.
I don't have tools here to measure it precisely.

I have no spectrum analyzer here. I can bet there is cross-talk and the SPI clocks etc will be way above the noise floor.

[2017-12-16 22:58] marmeladapk commented on #377
That's not termination. That's a low-pass filter.

Further down in this document you have a section about serial termination and they didn't mention that it slows down signal rise/fall time.

[2017-12-16 23:07] a-shafir commented on #377
The main reason why it should not be called termination that it is because the regular digital traces on the board are too close to each other and behave poorly. So even when it looks matched by the calculation it will be not.

[2017-12-16 23:13] gkasprow commented on #377
Sure, but for digital system, i.e. DDR memory to work, you don't need radio RF-system grade performance. And this is still termination. And it works very well for speeds >2GHz. And the distance between the traces is very small.
Just look how traces are routed in your laptop. And it operates reliably because you are reading it.
Let's stop this discussion and focus on practical work.

[2017-12-16 23:19] a-shafir commented on #377
Hm. Every DRAM driver has serial resistors at source from 80's! Now days it is just [configurable] part of the DRAM IP.
[Starting-point impedance values for the address, control, clock, and data signals are:
• SDRAM: For signals with lead-in termination <2in (5cm), place a 51–70Ω series
resistor in the middle of the lead-in or close to the transmitting device. ZO equals the
value of the resistor.

[2017-12-16 23:22] gkasprow commented on #377
@a-shafir please read carefully once again what I wrote.
I know exactly how DDR-SDRAM termination works.
My post was about something different.

[2017-12-16 23:26] gkasprow commented on #377
Anyway, you cannot slow down the clock signal too much. Typical D-flip-flop has certain limitations. The rise time should be same order of magnitude as the flip-flop propagation delay. Otherwise it won't work reliably.

[2017-12-16 23:35] marmeladapk commented on #377
I propose that clean up this thread by editing out parts of our comments or deleting those that are completely off topic, like RAM termination.

[2017-12-17 02:32] hartytp commented on #377
@a-shafir Just stop. @gkasprow's time is the most valuable resource this project has at the moment and you're wasting it in large quantities. So, just stop. Now.

Firstly, what kind of RF professional with 27 years of experience doesn't have access to a spectrum analyser?

Secondly, if you don't have access to basic RF test and measurement equipment like that then you will not be able to make any

[2017-12-17 02:34] hartytp commented on #377
Oh, and for the record, trying to have separate "analog" and "digital" grounds is almost always a bad idea. People like talking about this, but it in almost all cases it makes things worse.

If you want to understand this then read a good EMC engineering text like the Ott book, where it is gone through in detail. The general mantra is "Thou shalt have only one ground before thee."

[2017-12-17 05:09] dhslichter commented on #446
I would vote strongly for removal of the thermal island and instead using vias/ground planes to spread heat from the DAC and make it equilibrate better to the board.  This ought to keep the DAC from running itself to death temp-wise, at least.

[2017-12-17 05:26] sbourdeauducq commented on #358
It would be better if this can be triggered by some computer-controlled event, e.g. something being received on the UART.
* we do a lot of remote work here at M-Labs.
* we can script automated power cycling/1V8 testing to make sure that the bug is really gone.
* it is easier to type a command than reach for the button.

[2017-12-17 08:24] sbourdeauducq opened #448 "MMC flashing"
@gkasprow

I tried loading an old firmware of yours using OpenOCD. At first the result was encouraging and surprising, OpenOCD found the chip correctly without any obscure problems.

But when moving on to write the flash, I obtained the typical result of embedded systems (which is a reason one should think twice before putting a MCU on any board): the programmer crashed during flashing, the board

[2017-12-17 08:58] sbourdeauducq commented on #448
Seems to be some electrical problem on the JTAG lines or EMI.
I managed to reflash the board and it works again, despite some (reproducible) errors during verification:
[code]

[2017-12-17 09:55] gkasprow commented on #358
sure, I will do that.

[2017-12-17 10:51] jordens commented on #448
@sbourdeauducq iirc there was also effort or at least planning of going openocd over at open-mmc.

[2017-12-17 12:44] a-shafir commented on #377
@hartytp
I am not "RF professional with 27 years of experience". Yes, i am h/w engineer with 27 years _practical_ experience including instrumentation and RF design. You can find my profile easily.
Any way, i don't think it right to use personal topics discussing the practical engineering or science.
...doesn't have access to a spectrum analyser? I am not in my lab now days.

... @gkasprow's time

[2017-12-17 16:51] gkasprow commented on #448
@sbourdeauducq I use programmer from NXP and never had issues. SCANSTA is disconnected when programmer is inserted. Make sure that your programmer header shorts pins 3,5,9.
Otherwise SCANSTA won't e deactivated, will block the port and cause such issues.

[2017-12-17 16:54] gkasprow commented on #448
@sbourdeauducq the MMC can be upgraded by USB cable using Flashmagic or whatever that is able to talk with NXP bootloader. I tested it with Flashmagic and it works. The T24-2 and T23-2 need to be shorted to make it working.

[2017-12-18 00:41] a-shafir commented on #354
Gateware, core drivers and experiment for Urukul AD9910 rev 1.0 board.

The current setup is for KC705, see the details here:
https://github.com/m-labs/artiq/commit/dd3c8a336dc12cda33cadebdf3bafc77c0bc1565

The experiment initializes FMC DIO, the Urukul board and configures the single tone for all 4 channels.
Attenuator and SW are supported.

There are 2 "interference generator loops" (for DDS3 SP

[2017-12-18 06:19] sbourdeauducq commented on #448
What is the purpose of the SCANSTA chip? Is it possible to flash the MMC over JTAG using the integrated FTDI chip? Is it what Flashmagic does?

[2017-12-18 06:26] sbourdeauducq commented on #448
Seems that the four failing bytes are normal...
[code]

[2017-12-18 06:31] sbourdeauducq commented on #448
@gkasprow can you post RGMII and MII MMC firmwares here?

[2017-12-18 09:20] gkasprow commented on #448
@sbourdeauducq I connected SCANSTA JTAG to MMC JTAG to give option to talk from AMC connector or FTDI chip. So it is possible to talk to MMC, but SCANSTA must be switched to this mode.
Flashmagic uses only UART to download the binary because MMC has its own bootloader.

[2017-12-18 09:33] gkasprow commented on #448
@sbourdeauducq To switch PHY to MII mode, one must
clear SPD 1
set SPD 0
clear DDR

The firmware I attach below sends PHY chip register contents once front panel button is hold for 1 second so you can verify if it succeed.
MII firmware:
[lpc1776_ethernet_I2C_MII.zip](https://github.com/m-labs/sinara/files/1567313/lpc1776_ethernet_I2C_MII.zip)

RMII firmware:
[lpc1776_ethernet_I2C_RMII.zip](https:/

[2017-12-18 09:36] sbourdeauducq commented on #448
Thanks. In those firmware images, did you fix the JTAG bug when RTM is not present?

[2017-12-18 09:39] gkasprow commented on #448
@sbourdeauducq When you plug MMC JTAG probe the Scansta is disabled at all.
It is a quick fix done with wire and transistor. That's why it breaks the FPGA chain.
So simply remove the JTAG probe.

[2017-12-18 09:44] gkasprow commented on #448
Anyway, the idea of connecting MMC to the JTAG switch it controls was not the best one...
It can literally cut the branch on which it sits.
The TX_ER and MII_COL is not connected in MII mode

[2017-12-18 10:12] sbourdeauducq commented on #448
OK. That works.

[2017-12-18 10:15] sbourdeauducq commented on #448
Flashed sayma2 and sayma3 with the new MII firmware.

[2017-12-18 13:02] gkasprow commented on #349
Progress;
JTAG works,
FLASH programming and booting works. There is litle bug, R57must be3 00R
I loaded design which causes 2.5V rail to switch off. With little help of external PSU it wakes up but the board takes 600mA and FPGA gets hreally hot.
Then we realised that it must be split termination that is switched on on all EEM LVDS lines because there are just ordinary registers attached so far.
A

[2017-12-18 13:21] gkasprow commented on #349
clock distribution works as well

[2017-12-18 16:23] jbqubit commented on #448
@sbourdeauducq That's great news! Can [this](https://github.com/lnls-dig/openMMC/issues/79) be added to artiq_flash?

[2017-12-18 16:30] sbourdeauducq commented on #448
You need a non-board-specific JTAG cable etc. so rather not.

[2017-12-18 16:31] jbqubit commented on #441
OK. Please work with @filipswit to document how to flash MMC independent of ARTIQ. https://github.com/m-labs/sinara/issues/428 Let me know when the updated firmware is ready.

[2017-12-18 17:04] jbqubit opened #449 "Sayma_AMC: SCANSTA dependence on MMC"
In https://github.com/m-labs/sinara/issues/448#issuecomment-352375182 @gkasprow pointed out

It can literally cut the branch on which it sits.

The current state is that a misbehaving MMC can disable updating of MMC via JTAG. Resolution requires attaching an external JTAG cable. Is there a straightforward remedy? For example, using spare IO on FT4232 to control SCANSTA instead of MMC? For example,

[2017-12-18 17:11] jbqubit commented on #448
OK. Created an Issue to discuss part of this for Sayma 2.0 https://github.com/m-labs/sinara/issues/449.

[2017-12-18 17:13] gkasprow commented on #448
you can do it via USB with some xmodem protocol

[2017-12-18 17:13] jbqubit commented on #448
@gkasprow Is this the right adapter to go from the 14-pin JTAG to the mini 10-pin JTAG?

[2017-12-18 17:14] jbqubit commented on #449
@gkasprow said

Does that work in the case that the MMC is completely corrupted?

[2017-12-18 17:15] gkasprow commented on #448
which one?

[2017-12-18 17:15] jbqubit commented on #448
https://www.digikey.com/products/en?mpart=JLINK-RX-AD&v=622

[2017-12-18 17:18] jbqubit commented on #428
Specify which JTAG programmer is compatible with openocd and has a 10-pin header. https://github.com/m-labs/sinara/issues/448

[2017-12-18 17:21] jordens commented on #349
Great job @gkasprow and @marmeladapk.

[2017-12-18 17:40] jordens commented on #354
* RF Switch rise time is roughly 100ns to 95%
* Spectrum looks ok. A few weird close in Spurs (+- 1.2 kHz and 11kHz at -70dBc) potentially related to grounding to be debugged. They are big when the board is on the antistatic bag on an optical table and otherwise disappear.

More data and screenshots to follow.

[2017-12-18 18:53] dhslichter commented on #354
@a-shafir why are you using scope probes to look at the DDS outputs instead of SMA cables?

[2017-12-18 18:54] gkasprow commented on #449
@jbqubit yes, the bootloader is carved in stone and the only thing you need to upgrade the firmware is working serial port.
JTAG is yet another story and SCANSTA can be optionally configured with pin straps. But it's more convenient to use it in MMC controlled way.

[2017-12-18 18:56] gkasprow commented on #448
I use [LPC-Link 2 ](https://www.segger.com/products/debug-probes/j-link/models/other-j-links/lpc-link-2/)
The pinout I use is standard among the ARM community so this should work.

[2017-12-18 18:59] gkasprow commented on #349
@jordens The only remaining thing we need to test is Silabs, I2C distribution and EEMs itself. Hopefully we will ship it in Wednesday. We can ship it as it is tomorrow and play with remaining boards that will be delivered on Wednesday.

[2017-12-18 19:01] gkasprow commented on #354
@jordens in such setup you easily receive and induce current from every short wave radio station including CB :)

[2017-12-18 19:41] hartytp commented on #351
@marmeladapk Did you make this adapter in the end? It will be useful for testing (and using!) the BP lines on Kasli

[2017-12-18 19:57] jordens commented on #354
@gkasprow in general yes, but not if you are in a room that is as insanely shielded as the one we are doing the tests in ;)

[2017-12-18 20:03] jordens commented on #349
No need to rush it then. I'll be gone Friday until the 28th. You can time it so that it arrives at the 28th.

[2017-12-18 20:10] marmeladapk commented on #351
Sorry, forgot about that, but I can do this after testing Kasli.

Currently, the one Kasli board we have doesn't have a backplane connector. Even with this backplane in v1.0 may be of limited use because of reference plane split under some of LVDS lines. We'll measure how much it affects signals.

[2017-12-18 21:07] hartytp commented on #351
Thanks for the update. No huge rush for this -- do it when you have time.

[2017-12-18 23:09] hartytp commented on #208
@jordens next time you're taking nice photos, can you get one of the VHDCI carrier as well, please?

[2017-12-18 23:18] hartytp commented on #351
Out of curiosity, what do you mean by this? Do you mean that some of the LVDS lines are routed on a layer with no adjacent ground layer? So, you're worried that this affects the impedances of the traces etc and will cause SI issues?

Great, will look forward to seeing the data.

[2017-12-19 00:45] marmeladapk commented on #351
@hartytp No, it just means that this reference plane is not continuous, so I'm worried about return currents going through unexpected places.

It's on a list of fixes for the next revision though.

[2017-12-19 05:20] jordens commented on #208
I'll try

[2017-12-19 07:33] sbourdeauducq opened #450 "double front panel height of Kasli and VHDCI carrier"
All the IDC cables installed and stacked up exceed the current height of the front panel and bump into the next card.
![scables](https://user-images.githubusercontent.com/720864/34145627-e68fb46c-e4d1-11e7-98c1-e847c342fbe5.jpg)

[2017-12-19 07:40] sbourdeauducq commented on #449
FTDI GPIO is lousy with bugs and I recommend against it (or use the counterfeit chips, which have the bugs fixed).

[2017-12-19 11:24] a-shafir commented on #354
@dhslichter there was only one more SMA cable in the lab and no 50R terminators at all. Any way the probes are OK to check how the driver controls.

[2017-12-19 11:24] gkasprow commented on #351
@hartytp I wouldn't worry that much about it. It is not 10Gbit. This will give some additional reflections but should not be an issue since LVDS is balanced. Anyway we will fix it in next rev.

[2017-12-19 11:26] gkasprow commented on #449
The counterfeit chips has such feature that they get permanently locked while connected to Windows machine with recent FTDI drivers :) So FTDI recognizes and kills them :)

[2017-12-19 11:29] gkasprow commented on #450
You can mitigate it in 2 ways.
- install only lower part of IDC connector.
- add blind front panel.
I wouldn't make the 8HP panel because in many cases this would not be an issue.

[2017-12-19 13:34] hartytp commented on #351
@gkasprow I'm not too worried about it for exactly that reason. I suspect this won't be a problem, but it's always nice to have the data to be sure ;)

[2017-12-19 16:49] dhslichter commented on #450
It looks to me like even with just the lower part of the IDC connector installed you are pretty close to the maximum width of the front panel.  What are the nominal measurements there, @gkasprow?   Is it really not worth making an alternate front panel design which is 8 HP for those who'd rather have the extra room?

[2017-12-19 17:14] gkasprow commented on #349
I2C and silabs chip also work.

[2017-12-19 17:16] gkasprow commented on #349
UART works as well. I talk with FORTH CPU

[2017-12-19 19:17] jordens commented on #354
The screenshots are crappy and there is some analysis still to be done. I also have to parse my notes.
tl;dr: All good. The only issue are phase noise spurs at -75dBc at ~1.2 kHz offset with many harmonics, especially x11. We didn't figure out where exactly they came from. The spur offset is surprisingly low. Their offset is temperautre dependent (increases with temperature). And coupling differen

[2017-12-19 19:39] gkasprow commented on #354
@jordens such spur may be caused by PSU instability. Then 1.2kHz ripples caused by SMPS or LDO feedback loop may cause such spurs.
So you can have a look with scope on critical power rails.

[2017-12-19 19:41] gkasprow commented on #450
Well, we can do but this means that have to keep 2 version stocked...

[2017-12-19 19:59] jordens commented on #354
Ack. We didn't find anything noticable on the rails. We'll do more prodding and poking.

[2017-12-19 20:01] jordens commented on #450
I'd vote for 8hp Kasli. It is usually just one or two Kasli a per rack and 4hp horizontal for wiring etc. would be appreciated by me at least.

[2017-12-19 20:11] gkasprow commented on #354
@jordens I can have a look with spectrum analyzer or when necessary with SSA. Is ADI devkit sufficient to recreate this spur?

[2017-12-19 20:34] dhslichter commented on #450
I second @jordens here, I think the 4 HP are worth it for having the wiring be a bit more manageable.  I imagine that @hartytp will want everything as narrow as possible, though.

[2017-12-19 21:09] jordens commented on #354
I don't know. But I'd be surprised if you see them on the devkit.
I'll give you details about the setup later.

[2017-12-19 21:11] gkasprow commented on #354
No, I mean Urukul controlled by ADI devkit instead of the Artiq

[2017-12-19 21:49] cjbe commented on #450
My vote is on keeping it 4HP:
If we make it 4HP and one wants more space for cabling, one can add a 4HP blanking plate (which are almost free). If instead we make it 8HP one has to crack out the bandsaw when pushed for space.

As an aside, I have been using the 4HP VHDCI carrier with 8 IDCs populated, and there is enough space if one does not use the strain relief clip (although there is very litt

[2017-12-19 21:57] dtcallcock commented on #450
Can you just ship a blanking plate with each Kasli?  It would be cool if the blanking plate had some sick graphics on it.

[2017-12-19 22:10] gkasprow commented on #450
Sure, we can. There are already COTS ones, but without graphics.

[2017-12-20 07:24] jordens commented on #450
No. Seven ribbon cables on top of an IDC even without the strain relief dont fit. You'd have to unmount the filler panel each time. That's unneeded. And even with 8hp Kasli, there ist still plenty of space to fit a 32 channel NU Servo into a single crate.

[2017-12-20 10:06] jordens commented on #354
I think you should see them on Urukul with yout setup. I added the description of the setup to the post above.

[2017-12-20 13:06] a-shafir commented on #354
@jordens what reference clock used for the test? KC705 output from the FPGA pll possible has the low freq modulation from the power or even fan. And the AD9910 pll most likely will unable to clean it.

[2017-12-20 15:49] jordens commented on #354
@a-shafir the reference is clean. And you hypothesis is already excluded be the other observations.

[2017-12-20 17:19] dhslichter commented on #26
Measure before you get too excited @hartytp .  We were using a CSWA-63DR from Minicircuits, which specs a much faster rise/fall time, but it turned out to have a very unpleasant few percent tail out to tens of microseconds.  We tested the HMC349 ourselves and confirmed it doesn't have this problem.  You'll have to get some eval boards for these other parts and have a look if you want.

Negative co

[2017-12-20 17:20] jordens commented on #26
I would take convenient power supply/driving logic and low long-term (µs-ms, phase, amplitude) transients over fast(er) switching.  The HMC232 also seems to be obsolete which is a real issue.

[2017-12-20 17:20] dhslichter commented on #26
Agreed with @jordens  here.  If you need a faster switch for some lines, put an external switch on.

[2017-12-20 17:24] dhslichter commented on #26
Return loss for HMC435 in "off" state is not that hot at the relevant frequencies, also.

[2017-12-20 17:32] hartytp commented on #26
Of course; I wouldn't propose a change like this without testing first. Just asking if there is anything obvious I missed that would make it not even worth testing a different switch.

Agreed, this is more important than faster switching. We'd want to test this carefully before deciding to change the switch.

Good catch, sorry for missing that. Okay, let's rule out the 232.

Good catch, I hadn't n

[2017-12-20 18:51] jordens commented on #408
* I'd like to see the following items thoroughly tested and integrated on Sayma 1.0 before starting Sayma 2.0. I expect changes (removal, wiring changes, bugs) from them:
  * openMMC
  * SCANSTA
  * RF backplane operation
  * high density full scale operation (at least 5 Sayma in a crate)
  * the current ADC (if kept)
  * DRTIO instead of SERWB over the RTM-AMC link

[2017-12-20 19:05] gkasprow commented on #26
negative control voltage is not that big issue. Depends how fast it needs to be. We need to generate 0 or -5V from LVTTL signal and this can be done easily  with delay of a few ns. The only drawback is -5V supply, but the current needed is low (~20uA) so charge pump would do the job.

[2017-12-20 22:03] hartytp commented on #26
@dhslichter Looking again at the HMC349ALP4CE we currently have on Urukul, the terminators are also AC coupled (which is actually on the schematic). Off-state return-loss versus frequency looks to be about the same as the 232. So, if that's a problem for the HMC232 then it's a problem in the current version of Urukul.

Pending the results of testing, I don't see any issues with the HMC232, and wou

[2017-12-20 22:09] hartytp commented on #26
My feeling is that the HMC349 is a little slow for some applications. Settling time to 1% amplitude is about 360ns from @dtcallcock's measurements above. While it's nothing we absolutely can't live with, it will be a bit inconvenient for, say 1us pi-pulses. So, I would be in favour of something faster if "conveniently possible".

So, pending characterisation (but, for now, assuming that faster ris

[2017-12-20 22:17] hartytp commented on #251
Thanks to @gkasprow and his team!

![img_20171220_200011](https://user-images.githubusercontent.com/21218399/34231329-37050dfa-e5a1-11e7-8d3e-1336007a398e.jpg)

[2017-12-20 22:32] hartytp commented on #253
@dhslichter and others: before we finalise our plans for Sayma AMC v2.0 is it worth thinking a bit more about our plans for shuttler?

Will Shuttler work by having a powerful FPGA on the AMC and then some cheap Artixs on the RTM? In this case, the GTX lines from the AMC would go directly to the RTM FPGAs, which would then drive the DAC LVDS lines. The RTM FPGAs are then just basically fancy SERDEs

[2017-12-20 22:39] sbourdeauducq commented on #408
It's not "instead", both need to be running at the same time, the HMC clock chips are needed for DRTIO.

[2017-12-21 01:43] hartytp commented on #253
A few thoughts on this:
1. I'm assuming that, while the DACs can run at something like 1GSPS, we'll probably run them at a data rate equal to RTIO coarse frequency of 150MHz or so.
2. I'm assuming that the gateware on the AMC will be a simplified version of the Sayma SAWG: only 1 tone per DAC; no DUC; no parallelized  CORDICs since everything runs at the RTIO clock frequency.
3. If it's possible g

[2017-12-21 02:10] dhslichter commented on #26
@hartytp I am not going to propose we make any changes whatsoever until the settling time of the HMC435 or HMC232A is measured, and the assumption that faster 90-10 time has a correlation with settling time is shown to be false by our mini-circuits experience.  I am totally open to a better switch part if it exists; let's not waste any time or energy discussing possibilities until we know that the

[2017-12-21 02:14] dhslichter commented on #26
Good catch, @hartytp , I had missed this previously.  Again, if the HMC435 has equivalent or better settling properties then I am OK with it.

[2017-12-21 02:15] dhslichter commented on #251
@hartytp does the amps amping?  I can has gains plz?

[2017-12-21 03:05] dhslichter commented on #253
tl;dr - I think that we can probably leave Sayma AMC alone, as long as it is technically feasible to use some of the resources on its FPGA to act as a bus fanout for the DRTIO signals coming over the AMC backplane, with the notion that you then use the current AMC/RTM connectivity to pass the bus to the RTM card as well (for all intents and purposes, I want any FPGAs on the RTM card to be able to

[2017-12-21 03:48] hartytp commented on #26
Sure. All I was looking for for now was whether people were going to veto these parts for other reasons, such as needing negative voltages. If those aren't showstoppers for people (personally, I think that shouldn't be for either Urukul or BaseMod/MixMod) then I'll test both parts in the New Year.

[2017-12-21 03:50] hartytp commented on #251
I believe so. This particular Christmas Present is still in the post. @gkasprow has the data I believe.

[2017-12-21 03:57] hartytp commented on #253
Why even have an RTM then? If you don't need a separate board with the big FPGA, RAM, etc then why not just put the whole thing, DACs and all, on the AMC and save some money?

[2017-12-21 11:05] gkasprow commented on #251
Yes, the channel isolation is better than planned. Gain flatness is also better. Tomasz is processing all measurement and promised to send them all to @hartytp

[2017-12-21 11:06] gkasprow commented on #251
more photos:
![2017-12-21 11 01 42](https://user-images.githubusercontent.com/4325054/34253312-547d65a2-e647-11e7-8b1d-db2c4b735d7c.jpg)
![2017-12-21 11 01 49](https://user-images.githubusercontent.com/4325054/34253315-56f7401e-e647-11e7-9301-be54fe6e5b51.jpg)

[2017-12-21 11:20] gkasprow commented on #253
There is not much space on Sayma AMC - definitely we won't fit DACs there.
What we can do is to design simple AMC without FPGA - just power supply, management, SMAs, SFPs and redirect all DRTIO links to the RTM. But this can wait because we already have Sayma AMC
We could theoretically fit DACs on AMC side, but would have to get rid of SMAs, FMCs, DDR chips and leave only FPGA. But this approach r

[2017-12-21 12:12] gkasprow commented on #408
Are there any issues with SCANSTA chip?
Yesterday I tested it by connecting JTAG probe to the backplane and it works.

[2017-12-21 12:18] dtcallcock commented on #26
Yeah, I selected the best switch with a 5V bias and single digital control input to keep things simple.  For switches with no bias and two control lines I could imagine you need to use the actual proposed drive circuitry to do a meaningful test.

On Sayma, wouldn't you just use the DAC to create very short pulses?  Even with a faster switch there is an on/off asymmetry and propagation delays to ca

[2017-12-21 13:07] jordens commented on #408
We don't even know since we haven't tested all relevant combinations of ports, chain lengths. Currently it is an unknown area since we don't know what the behavior is (with multiple JTAG masters FTDI/backplane and some or all devices in the chain). We don't know how the backplane access behaves with openocd. And AFAICT we don't share a plan of the ultimate functionality level of that chip on Sayma

[2017-12-21 14:20] hartytp commented on #251
Ace!

[2017-12-21 14:28] hartytp commented on #26
ACK. That's true. That will need testing.

I'll look into the best way to drive these switches in the New Year (although, if anyone has experience with this, feel free to post).

For "very short pulses" yes. But, I wouldn't call 1us very short in this context. For that, I'd generally like to have the option of using the switches.

My guess is that the thermal transients involved in switching the D

[2017-12-21 14:31] hartytp commented on #253
@gkasprow Okay.

Well, in any case, it looks like there is nothing that we need to change on Sayma AMC, so we can shelve the rest of this discussion for a later date.

[2017-12-21 14:47] hartytp commented on #251
Apart from the electrical tests above, we should check mechanical things like:
- [ ] Are the fans easy to get to (these will probably need replacing at some point, so it's nice if they can be accessed/changed without too much pain)
- [ ] SMAs easy to plug and unplug

Anything else?

[2017-12-21 15:02] hartytp commented on #251
One final thing, it would be nice to have an actual name for this board rather than just "RF PA". Thoughts? No Russian names, please? Looking for a bombastic name implying "loud" and fitting with the "er" naming scheme...

First attempt:
- Gainer

[2017-12-21 15:12] thomasRF commented on #251
Etna?

From: hartytp [mailto:notifications@github.com]
Sent: Thursday, December 21, 2017 4:02 PM
To: m-labs/sinara <sinara@noreply.github.com>
Cc: thomasRF <tomasz.filipek@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [m-labs/sinara] RF PA v1 errata (#251)

One final thing, it would be nice to have an actual name for this board rather than just "RF PA". Thoughts? No Russian names,

[2017-12-21 15:32] hartytp commented on #251
As in the active volcano? Points for bombasticness. Maybe a little overly destructive for lab equipment?

@dtcallcock something from the audio world?

[2017-12-21 16:43] hartytp commented on #253
Thoughts about this:
- I'd like to hear from @gkasprow on this, but my assumption is that such a card cannot be entirely passive due to SI reasons. For signals at a few GBPS, the routing from the MCH, through the AMC backplane, onto the AMC, through the AMC, through the AMC to RTM connector and then to the RTM FPGA is quite tortuous/long and is likely to cause SI issues. So, at the least this boar

[2017-12-21 16:43] dhslichter commented on #26
Really?  The DAC transients shouldn't be a problem, it draws the same amount of current no matter what the output.  Changing the output voltage involves just rebalancing the current between two arms of the differential output.  If your external termination resistors have a reasonable tempco I doubt you'll see anything.  The digital stuff is going to use the same current no matter what the data are

[2017-12-21 16:48] hartytp commented on #253
Anyway, @dhslichter while I don't particularly object to your proposal, I'm also not sure I see the benefit of making the RTM FPGAs "first-class" DRTIO devices, rather than just $10 FPGA-based SERDESs. IMHO, it seems nice to put all the RAM, clock recover etc on the AMC FPGA and keep the RTM as close to "purely analog" as reasonably possible.

I'd be interested to hear from @sbourdeauducq / @jorde

[2017-12-21 16:56] hartytp commented on #26
Well, BaseMod/MixMod already have the -5V rail, so no extra rails required on there. And if we did make a change to Urukul, we'd probably use the 435, which doesn't need the negative rail. But, point taken.

Okay @dtcallcock @dhslichter. All reasonable points. So, the intended use-case for Sayma is that the DAC does the bulk of the switching (e.g. pulse shaping) and the RF switches are just there

[2017-12-21 16:56] #26 closed

[2017-12-21 16:58] dhslichter commented on #253
I think that @hartytp has arrived at the conclusion I was coming to last night with my comments, namely that Sayma AMC in its current form is probably going to be a good option, perhaps the best option, for the front of Shuttler, which should live as an RTM.  We can use the AMC FPGA as a DRTIO buffer/mux for the FPGAs on the RTM card.  The various LVDS and gigabit lines are already in place throug

[2017-12-21 17:01] hartytp commented on #253
@dhslichter Right.

Yes, so the main question for now is whether there are any changes we want to make to Sayma AMC to work for Shuttler (apart from driving its cost down!). AFAICT, the answer is "no", but I haven't really thought too much about that side of things.

[2017-12-21 17:07] dhslichter commented on #253
I don't want to have to stream massive amounts of data over the RTM connector, filling up the AMC FPGA with the calculation overhead, etc.  The FPGAs on the RTM should be perfectly capable of doing all of this and then we don't have to write a whole bunch of new gigabit SERDES crap for packing and unpacking data.  We can use the DRTIO designs, which will be made for other devices, for the RTM FPGA

[2017-12-21 17:13] hartytp commented on #253
I was just thinking of things like whether the RTM FPGA needs RAM (for direct sample-streaming to the DAC if we want to support that), clock recovery chips, etc. Seems we can keep the digital side of things on the RTM simpler with the SERDES approach. But, maybe I'm wrong about that.

In any case, as I said, I haven't thought too much about the digital side of things. So, my preference would be to

[2017-12-21 18:05] thomasRF commented on #251
I thought about that as a source of power or vitality. By the way, probably the volcano is the place where Hephaestus had one of his forges.

From: hartytp [mailto:notifications@github.com]
Sent: Thursday, December 21, 2017 4:32 PM
To: m-labs/sinara <sinara@noreply.github.com>
Cc: thomasRF <tomasz.filipek@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [m-labs/sinara] RF PA v1 errata

[2017-12-21 19:41] dhslichter commented on #251
I prefer Etna to Gainer.  Some other "-er" suggestions

- Pumper
- Spider
- Booster

Some non-"er" suggestions:

- Falcon
- Torpedo
- Erebus ;)

[2017-12-21 20:05] gkasprow commented on #251
a few ideas for acronyms (http://acronymcreator.net/):

   MoCHA  Multi CHannel Amplifier
   MUsCA  MUlti Channel Amplifier
   HaIFA  HIgh Frequency Amplifier
   MoCAP  Multi Channel AmPlifier
   MODAL  MODular AmpLifier
   MaCAo  Multi Channel Amplifier
   MUsCAt  MUlti Channel Amplifier
   ReFRAME  Radio FRequency AMplifiEr
   MARiA  ModulAR Amplifier
   MICAM  MultI Channel AMplifier
  MICRON

[2017-12-21 20:12] dhslichter commented on #251
Definitely Maradona, eh English folks? ;)

[2017-12-21 21:28] hartytp commented on #251
👍 for the classical references.

I also half thought of "Wailer" (also cf Bob Marley) but maybe that sounds too much like Wailing in agony.

Booster I get and don't dislike (but don't love either, like gainer). Spider and pumper I don't get. Can you explain? I also don't get Falcon, Torpedo or Erebus. If we go down the semi-opaque route, the idea would be to have something memorable without too mu

[2017-12-22 01:24] sbourdeauducq commented on #253
I'd rather think about this after Sayma is thoroughly tested and works well. @hartytp if you have that much bandwidth, you can help with some of the testing and bug-fixing :)

[2017-12-22 01:29] sbourdeauducq commented on #253
https://github.com/m-labs/artiq/issues/860 for example

[2017-12-22 01:45] sbourdeauducq commented on #448
Correct MII firmware: https://github.com/m-labs/artiq/issues/854#issuecomment-353407812

[2017-12-22 03:42] hartytp commented on #253
Sounds like a good idea.

This isn't intended as a high-priority discussion, just something we should give a little thought to before finalising plans for Sayma AMC v2.0.

If it's still an issue in a few weeks when I'm back in my lab then I may have time to have a look.

[2017-12-23 13:37] thomasRF commented on #251
@hartytp Please look the preliminarny test results and if you like to comment or dicuss what would you like to achieve in the final performance of the RF PA. It is possible to adapt and little change the characteristics of the RF PA to your requirements.

[Preliminary report.pdf](https://github.com/m-labs/sinara/files/1584143/Preliminary.report.pdf)

[2017-12-24 00:36] hartytp commented on #251
Tomek, thanks for posting that! That looks really good!

Questions/comments:
1. There are a few other tests we discussed for these amplifiers. Will you be able to do those in the New Year?
2. Which amplifier design is this? Is it the Macom chip?
3. Gain flatness is slightly worse than we originally agreed (we agreed +-1.5dB max). That's okay if it helps improve the design in other ways.
4. Power e

[2017-12-24 17:55] hartytp commented on #251
Okay, name-wise, let's go for "Booster". Anyone who cares, feel free to express an opinion with 👍 or 👎 on this post.

@thomasRF I like your suggestion, but "Booster" is a simple name that I think physicists will find easier to remember, and it fits in better with the other names used in this hardware family.

[2017-12-24 18:17] hartytp opened #451 "Booster RF PA panel text"
@gkasprow For the RF PA front/back panels:

c.f. the style guide on https://github.com/m-labs/sinara/wiki/EEM

**Front panel**
- [x] I don't think any particular logo is necessary. I don't have a specific logo in mind for this product (although, feel free to suggest one). I don't think it's appropriate to put an ARTIQ logo on it, since this product isn't really an ARTIQ device (although, if there

[2017-12-26 00:11] marmeladapk commented on #349
@jordens I removed arcs remark, because they were added on purpose - reducing spikes of current density. Same as with you last remark about polygons (believe me, Greg bugged me about this).

We need to switch UART with I2C on FTDI chip, because channel C doesn't have MPSSE. I made bitbang I2C using pyftdi which works (I can program Si5324 and I2C switches), but its timings are horrible.

SFP0 and

[2017-12-26 01:16] marmeladapk commented on #349
@jordens Also FPGA tends to get quite hot with termination enabled so please cool it with fans to avoid damage. Also, there is some kind of a problem with XADC, sometimes it shows all voltages = 0 V and temperature = 0 K.

[2017-12-26 17:54] dhslichter commented on #251
Doesn't need an explanation, needs to be reasonably memorable.  If no good, just ignore.  They are brainstorms :)

Again, just names.  Erebus because it's a volcano and so I was joking around.

The whole point is no explanation, just something that people say "oh, that sounds like a name for a piece of equipment".

I am fine with Booster for now but if someone comes up with a better name I'm not w

[2017-12-26 18:08] dhslichter commented on #251
@thomasRF this looks very nice!  I would say that we are definitely interested, based on these initial data.  I have a few questions as well:

- Figure 2 looks more like the 2.5 dB compression point -- at the 1 dB compression point, you should see that the gain is 1dB less than the small-signal gain, right?
- Other characterizations that would be interesting to have (@hartytp may already have disc

[2017-12-26 18:22] dhslichter commented on #451
@hartytp edited to fix bandwidth spec above.

I think it would be nice to say "Booster RF Power Amplifier" in engraved text, and then have a sticker underneath that has the specs of the amplifier inside (for example: HPA4501, 50-400 MHz, 42 dB gain, 37.5 dBm Psat).  This enables two things:
1. It gives all the relevant information to someone trying to hook this up in the lab, without their needing

[2017-12-27 15:23] hartytp commented on #251
I would be interested to hear from @thomasRF on that, but I do believe this is real. I don't think it can be improved without significant reductions in power efficiency, which we wouldn't want to do for this design.

Remember that the main target for this design is driving AOMs and other things like that, which are **far** less linear than this amplifier design.

Yes, those are on our list of thin

[2017-12-27 15:25] hartytp commented on #251
Anyway, as always, if there is an easy way of improving this without any significant trade-offs in terms of power efficiency etc then obviously we should do that. But, @thomasRF put a lot of work into the design and I do not believe that there are any real improvements to be had here without large sacrifices elsewhere, which is not worth it IMHO.

[2017-12-27 15:41] hartytp commented on #251
@gkasprow Can you add a few things to the schematic for the main board, please?

For the connectors that go to the RF modules:
- [ ] Connector pin-out with description of each pin (e.g. "Forward power (?V/W, differential)" or whatever)
- [ ] Power budget for the different power supply rails.
  - What limits the current on the supply rails? The supplies themselves? the d-types? the PCB routing (max

[2017-12-27 15:54] hartytp commented on #451
I wouldn't be that specific, since the gain flatness is only a bit better than +-2dB. We can go for something like "40MHz-500MHz, 40dB gain, 5W" if you really want all that info on there.

hmmm. I'm not so keen on that. Stickers have a habit of coming off or rubbing off. Plus, if they're not stuck on carefully they look wonky and bad. Having everything engraved looks much nicer and is much more du

[2017-12-27 15:59] hartytp commented on #349
Should we add a heat sink to the FPGA to help to avoid this? Maybe a nice PCB-mount one?

[2017-12-27 16:54] dhslichter commented on #251
@hartytp ack to all.

[2017-12-27 17:33] dhslichter commented on #251
@thomasRF some errata for the schematics:

Preamp protection:
- [ ] Input SMA should appear where it's currently labeled just TP1.
- [ ] Part numbers are invalid/garbled for many ICs. Amps and power detector IC6, IC7, IC8, IC9 all have part numbers that don't seem to correspond to any real parts that Google knows about.  What are the actual part numbers for these?
- [ ] CP2 needs a part number
- [

[2017-12-27 18:11] dhslichter commented on #451
I would do this -- just a name for the system ought to suffice.  And then users can add stickers featuring whatever specs they find most compelling.  It seems to me that the physical form factor is nice and could be quite general, the boards inside are not highly complex so one could manufacture variants for other applications if so desired.

[2017-12-27 18:29] dhslichter commented on #251
If this is the Macom amplifier (NPTB00004A), the datasheet specifies no damage at a 15:1 VSWR, all angles (https://cdn.macom.com/datasheets/NPTB00004A.pdf).

[2017-12-27 20:25] hartytp commented on #251
Thanks for the reminder (10:1 was from memory). I'd guess that the loss in the output stage is enough to bring that close to unconditional stability (but @thomasRF will be able to confirm that).

@dhslichter Thanks for the other points. You can get all the part numbers from the Altium files (e.g. using the free Altium viewer). They are mainly correct IIRC. But, you're right that we should add anno

[2017-12-27 20:32] dhslichter commented on #251
@hartytp will repost the above to a new issue.  But the issues I have with part numbers *are* using the Altium files -- I am looking at the schematics in Altium and the part numbers listed on the .SchDoc files are not valid part numbers.

[2017-12-27 20:33] dhslichter opened #452 "Booster RF PA schematic errata"
@thomasRF some errata for the schematics (moved from #251):

Preamp protection:
- [x] Input SMA should appear where it's currently labeled just TP1.
- [x] Part numbers are invalid/garbled for many ICs. Amps and power detector IC6, IC7, IC8, IC9 all have part numbers that don't seem to correspond to any real parts that Google knows about  For example, power detector is HMC7832 and switch is BBWA567

[2017-12-27 20:40] dhslichter commented on #251
Also @hartytp I didn't see any PDF schematics anywhere.

[2017-12-27 21:14] hartytp commented on #251
Apologies, mis-remembered. Anyway, I was referring to the difference between looking at the annotations/labelling on the schematic file, and selecting an individual component, right-clicking and going into the "properties or whatever" menu. My recollection was that I easily found all the ICs when I looked at the part numbers in the properties tab.

[2017-12-27 21:21] hartytp commented on #452
Adding to Daniel's points:

Control PCB:
- [x] Please add a power budget. This should include the maximum power that each RF amplifier module can consume from each supply rail.
  - What limits the current on the supply rails? The supplies themselves? the d-types? the PCB routing (maximum tolerable voltage drop on the PCB?)? The overall max power dissipated in the chassis?
- [x] Power sequencing
-

[2017-12-27 21:22] hartytp commented on #452
- [ ] Pease check that all the part numbers in the Altium file are correct. For example, when I looked at the Atlium file before, it looked like the capacitance labelled on the schematic didn't always agree with the actual component part number when I opened up the component properties in Altium. This looks like a simple copy and paste error, but it's important to get it right. Similarly, *please

[2017-12-27 21:23] hartytp opened #453 "Booster RF PA tests"
Tests to do on RF PA prototypes (@gkasprow feel free to add other tests/suggest changes):
1. [x] Power Efficiency
2. [x] Input/output S-parameters (small signal and at 1dB compression)
3. [x] Output small-signal gain and P1dB point as a function of frequency
4. [x] Output IP3 point as a function of frequency
5. [x] Time domain step response, 20/80% rising/falling time. Small signal and at P1dB use

[2017-12-27 21:24] hartytp commented on #452
- [ ] Translate schematic annotations to English
- [ ] Tidy up schematic: move overview to the first page; update layout pages (currently they show many unrouted nets; etc... @gkasprow can you make this as beautiful as all the EEM schematics, please?
- [ ] Zero-index all channels

[2017-12-27 21:31] hartytp opened #454 "Booster RF PA Cross-talk"
The cross-talk in the current design is excellent, and far beyond the specification (or our expectations). Well done @gkasprow and @thomasRF! However, can we double check that there are no easy ways of making it a little better (particularly at the higher frequency range where it drops off quite a bit), please?
- Do you know what actually limits the cross-talk? e.g. is it the power supply rails?
-

[2017-12-27 21:34] hartytp opened #455 "Booster RF PA cost"
@gkasprow can you have a look over the factors that drive the cost of Booster RF PA. And (as well as letting me know what the cost will be) check that there are no easy ways that we can reduce the cost.

I'd like to keep the cost of Booster as low as reasonably possible without compromising on performance. e.g. going from individual RF modules to a single PCB would be cheaper, but would produce an

[2017-12-27 21:36] hartytp opened #456 "Booster RF PA design files"
@gkasprow Please can you check that the repository has up to date versions of all the design/CAD files needed to manufacture Booster. e.g.
- Schematic PDFs
- BOM
- Gerbers
- CAD files (and mechanical drawings if you're using them) for the metal work etc
- Assembly instructions etc

[2017-12-27 21:39] hartytp commented on #452
Oh, and:
- [ ] Please ensure that all schematic (and other design) files are well-organised in a sensible file structure, with sensible names (use the prefix "Booster")
- [ ] Schematic should have the title "Booster RF Power Amplifier" and a version number

[2017-12-29 15:43] jordens commented on #349
@marmeladapk Current density at a bend diverges with sharpness/mesh size in many Maxwell approximations. If you think you need an arc, that's most likely a simulation/algorithm artefact which does not correspond to reality. I'd be very surprised if there was a case on Kasli where an arc solves a problem that pair of 45 degree bends does not solve. Both on polygons and on traces.

Ack the UART/I2C

[2017-12-29 16:38] sbourdeauducq commented on #358
@gkasprow Any progress on this issue? We constantly have to power-cycle Sayma boards here during debugging sessions (which are long enough already due to many other reasons) and this is causing quite a bit of a problem.

[2017-12-29 17:25] jordens commented on #349
@marmeladapk can't get jtag over usb to work. are DIR1 and DIR2 of IC19 wrong?

[2017-12-29 18:03] jordens commented on #349
![image](https://user-images.githubusercontent.com/1338946/34443929-ca4dac04-ecca-11e7-9b30-5ef7ea32b470.png)
3.5 mil gap near IC18. Is that ok? Did they fix that in the fab?

[2017-12-30 12:34] gkasprow commented on #358
@sbourdeauducq I cannot recreate this problem in my boards. I have two Sayma AMC. I changed back the power sequencing but still no progress. It seem I have to ship you my board and you will ship yours back.

[2017-12-30 13:52] sbourdeauducq commented on #358
AFAIK @jbqubit is also seeing it. Joe, do you confirm?

[2017-12-30 15:36] hartytp commented on #358
Maybe some difference between the two setups, like: the PSU SB is using; cooling/airflow (thermal overload of a regulator); something plugged into the board; etc?

[2017-12-30 15:45] hartytp commented on #208
Thanks! They look great.

[2017-12-30 20:48] gkasprow commented on #358
Could you observe with a scope the 12V power entry during startup and trigger the scope at 10V ?
I experienced such issues when current limit was not sufficient. Some supplies may react too slowly even though the current limit is set high.

[2017-12-31 18:46] hartytp commented on #358
Given how much of @sbourdeauducq's time this is wasting, dealing with it is a very high priority.
- @gkasprow do you have new firmware for the Exar chip that allows register dump over the UART yet? It would be really helpful to know what is causing this issue (temp, under/over voltage, etc).
- @sbourdeauducq can you stick a stop probe on the 12V and 1V8 lines during startup and capture a trace whe

[2018-01-02 07:39] sbourdeauducq opened #457 "OpenOCD freezes intermittently when flashing Sayma"
When running artiq_flash:
[code]
...and hangs there.

After hitting Ctrl-C and retrying:
[code]

Trying again:
[code]

[2018-01-02 07:43] sbourdeauducq commented on #457
Could be the power supply bug...

[2018-01-02 08:28] sbourdeauducq commented on #358
Tried another 12V supply, problem is still there.

[2018-01-02 19:00] jordens commented on #354
AD9912 variant also works fine.
@gkasprow did you get a chance to hunt for the 1.2 kHz spurs?

[2018-01-02 19:27] jbqubit commented on #358
I don't see this particular Issue. But I'm not using the hardware for extended periods so might not catch it. @gkasprow What's the status of using reporting Exar chip status over UART?

[2018-01-02 20:15] gkasprow commented on #354
@jordens not yet. The University and my lab was closed during Xmass. I could not even cross the main gate. They open tomorrow.

[2018-01-02 20:16] gkasprow commented on #358
@jbqubit I'm working on it but don't have access to the HW. The university and my lab are still closed. They open tomorrow.

[2018-01-02 21:51] jordens commented on #354
Ack. That's fine!

[2018-01-02 23:22] jbqubit commented on #358
@gkasprow Sounds good. Happy New Year everyone!

[2018-01-02 23:36] hartytp commented on #446
@gkasprow Happy New Year!

Sorry to add to the huge to do list, but is there any chance we can put this in the pipeline to do asap?

This is very important to us because we don't currently have a version of this board that we can use for testing (the current version kills the DACs too quickly to be testable). So, I'd like to get a version with bug fixes sent to manufacture as soon as possible.

Ho

[2018-01-03 07:26] sbourdeauducq commented on #358
@jbqubit Can you power up a Sayma board, leave it alone for a few days, and then check if the 1V8 LED is still on? It seems, the problem is more frequent when the RTM is present (but I have not collected hard numbers on that, this is just my impression).

[2018-01-03 07:39] sbourdeauducq commented on #358
That's a plausible theory, my boards are simply lying horizontally on a table without a fan, and they do get noticeably hot. Maybe I can try adding a small heatsink to the regulator. @gkasprow what is your cooling situation?

I don't have anything special plugged into them. If that helps, my 3x AMC + 2x RTM are drawing 5-6A at 12V.

[2018-01-03 08:06] sbourdeauducq commented on #349
@marmeladapk @gkasprow ping

[2018-01-03 08:40] gkasprow commented on #358
@sbourdeauducq I never tried running these boards without fan. The RTM has hardwired thermal protection that switches the power off when board exceeds ~70 degrees.
They dissipate a lot of power so operation without a fan is risky. With overheating FPGA you can easily get thermal shutdown.

[2018-01-03 08:42] sbourdeauducq commented on #358
With just the heatsink and no active cooling, the FPGA itself gets just warm (at least with the bitstreams we're loading right now). And this is a problem on the AMC side, not RTM - the bug is **still** present without the RTM connected. Anyway, an overheating issue in my setup sounds pretty likely. I will have a look.

[2018-01-03 08:50] gkasprow commented on #349
@jordens in IC17, the DIR is H so it means A -> B direction which is correct
But on IC19 channel 1 direction is B->A which is wrong.
Channel 2 direction is A -> B which is also wrong. This explains why it does not work
You can simply short pins 8, 5 and 9,4, we will fix it in the right way on remaining boards.
![obraz](https://user-images.githubusercontent.com/4325054/34513957-2715246e-f06b-11e7-8

[2018-01-03 09:08] jordens commented on #349
Yes, that's what I said.
Could you implement your fix and show me (photo) what you mean? Just shorting still has the same contention issue. You know better where to cut and scratch the lines.

[2018-01-03 10:53] jordens commented on #349
I have MiSoC running (spi flash XIP, boot from spi flash, SDRAM working, uart working).

[2018-01-03 11:20] jordens commented on #377
@hartyp Right now there is a long wire going across the board to BIAS of IC7 and IC11. And on the first board that I received there were no caps on there. That wire definitely needs decoupling.

[2018-01-03 11:22] jordens commented on #377
@gkasprow Also, the PGOOD LED lights up as soon as there is 3.3V supplied over the VHDCI cable. It should only light up once all power supplies are good. I added a note to the top post.

[2018-01-03 13:38] jordens commented on #354
The spur might be a beat due to the on board oscillator leaking through the mux (-61 dB isolation, 25 ppm spec, 1.2 kHz is 12 ppm). But the magnitude is still high: the capacitor population should have created much more isolation. The symptoms are otherwise fitting. @gkasprow if you get to testing this before I do, try removing L9.

[2018-01-03 15:58] hartytp commented on #358
@sbourdeauducq These boards were designed to run in chassis with pretty aggressive forced air cooling, so if you're operating them without any fans then I'd be more surprised if they *did* work. Look back over all the photos greg posted of his test setup. IIRC they all had large fans visible in the photos.

Hopefully this is just user error then (not supplying adequate cooling) and not actually an

[2018-01-03 16:08] hartytp commented on #377
Sorry, I mis-understood, I'm with you now.

If I understand correctly, there are already capacitors on these bias pins in the design (C77 and C165). However, because the bias was incorrect, the traces had to be cut, so those capacitors were disconnected. So, this issue should be fixed once the bias is fixed, which is already on the to do list.

And, you're right, we should definitely add these cap

[2018-01-03 16:09] hartytp commented on #377
@cjbe Are you okay to add those capacitors onto the boards we have (we should do this before building them into any experiments)?

[2018-01-03 16:52] jordens commented on #377
Greg is doing that AFAICT when patching.

[2018-01-03 19:03] gkasprow commented on #377
Some of the boards were already shipped when we realised that the caps should be there. So some of them has them and some of them don't.

[2018-01-03 19:04] hartytp commented on #377
Good to know. Will look out for that on our boards.

[2018-01-04 05:01] sbourdeauducq commented on #358
Adding fans did not significantly help. I will try with the uTCA chassis when I receive it, which has a lot of cooling power.

[2018-01-04 17:32] gkasprow commented on #358
In my case the fans did the job.
Do you have some Arduino board and Windows machine? This is needed to update Exar chips.
We will add Exar ugrade via MMC but this feature was not tested yet.

[2018-01-04 17:33] gkasprow commented on #377
Anyway, the bias pin is supplied from 5V LDO so the only issue would be with externally induced noise.

[2018-01-04 17:40] gkasprow commented on #349
Shorting of the input with output via 220R resistors should do the job. Resistor is to limit current that will flow from FTDI to FPGA.
Spartan devices are known to react with latchup when 2.5V JTAG signal is treated with 3.3V logic output :)

[2018-01-04 17:50] jordens commented on #349
Still unclear what you are suggesting. Desoldering the level converter? Cutting, scratching the traces on both sides and bridging over the converter?

[2018-01-04 19:23] jordens commented on #349
I desoldered the level converter and added a short on TDO and 1k on TMS. JTAG over FTDI also works with 25 MHz. That seems to have saved nearly 500 mW of contention current. 3.5 W now.

[2018-01-04 19:29] jordens commented on #349
No. That was the SFP transceiver. 4 W with, 3.5 W without.

[2018-01-04 22:22] gkasprow commented on #349
This is exactly what I meant :)

[2018-01-05 18:58] hartytp commented on #358
Greg, is the Exar update ready? If so, can you let me know where it is and how to apply it? Thanks! I'd like to have a go at reproducing this issue on our setup next week, and would like the better Exar diagnostics for that.

Also, can I check that I've understood how to power Sayma (sorry if this is written up somewhere and I've just missed it). As far as I understand it:
- Sayma RTM takes a sing

[2018-01-06 00:04] dtcallcock commented on #451
The absolute max input power would be nice to have right next to the SMA connector.  This is usually the one thing people need to know before following the 'have a bash first and then read the datasheet if it doesn't do what you expect' approach favoured by grad students and PIs the world over.

[2018-01-06 01:35] hartytp commented on #451
You mean absolute max without damage? That's pretty high in this design IIRC, since the first components are a 20dB coupler + RF switch, which cuts off the input once it exceeds a (user programmable threshold). i.e. you shouldn't be able to break this amp with a standard synth + preamp setup. More useful might be the labelling the input power that saturates the output (which is only defined to a c

[2018-01-06 04:38] dtcallcock commented on #451
Yeah, if you'd have to put a Watt or something in to break it then I agree that it's not that important.

[2018-01-06 12:03] gkasprow commented on #358
We didn't manage to do it yet - all the team was on holidays. Will do it this week.

Yes

Yes

The power supply must be rated at least 4A

Yes, but be careful, there are two 4-pin plugs in some ATX power supplies. One is for PCIe, 4+2 or 6 pin, another is split 4+2 or 4+4 for mainboard. We need to use the one that goes to the mainboard. Anyway the AMC board is protected against wrong polarity.

Ye

[2018-01-06 21:59] hartytp commented on #451
Someone with the schematics would have to check what the actual figure is, but IIRC the damage threshold is >100mW. That's high enough to avoid damage from the vast majority of sources/preamps in the lab. In principle if people think that's not enough then we can probably bulk it up with some protection diodes.

[2018-01-06 21:59] hartytp commented on #358
Thanks Greg!

[2018-01-06 22:02] hartytp commented on #452
- Please can you add a table to the schematic (ideally on the front page) with a brief summary of important info for the RF PA, including:
  - [x] Gain (e.g. "Gain = 40dB ± 1.5dB")
  - [x] 3dB small-signal bandwidth
  - [x] Output power at 1dB compression and output power at saturation
  - [x] Input power at 1dB saturation, and absolute max input power without damage
  - [x] DC current draw

[2018-01-07 14:34] hartytp commented on #354
@jordens Based on those measurements are you happy to scrap the screening clips for the next revision? We could also DNP them, but scrapping them frees up quite a bit of space (and, anyway, AFAICT, there wasn't enough space on Urukul to do the screening properly anyway, so the current arrangement is a bit of a bodge!). Or, do you want to take measurements with the screening in place first to see i

[2018-01-07 14:48] jordens commented on #354
Why would you remove the clips now? The pending changes certainly don't need the additional space. And yes, I'd like to test and quantify the crosstalk in a rack with Urukul in proximity to other Urukuls, Kaslis, or DIOs pulsing 5 V into 50 Ohm.

[2018-01-07 14:53] hartytp commented on #354
No hurry for this, just came up now because I was reviewing my to do list for these boards.

My guess is that most of the screening we've added to the EEMs is unnecessary and can be removed at some point once we've finished testing, but there is no rush for that.

[2018-01-07 15:09] hartytp commented on #334
Based on the measurements in #354, there is probably no need for the pre-amp current sources in Urukul: they don't save enough current to be worth the extra complexity, and the linearity of the design seems fine as it is. Top post edited accordingly.

We can reconsider this for BaseMod, where we have much more current thirsty pre-amps and more stringent performance demands.

Running the clock buff

[2018-01-07 15:20] hartytp commented on #441
@jbqubit Can we close this issue now?

AFAICT the documentation component of this is taken care of in a separate issue, and the firmware upgrade is being tracked more accurately in the 1V8 supply issue.

[2018-01-07 15:22] hartytp commented on #365
@gkasprow Did you have a chance to check that these connectors fit yet? Once you've shipped the connectors, please can you close this issue?

[2018-01-07 15:27] hartytp commented on #443
@jbqubit Did you try Greg's fix? Can we close this issue? It's not clear to me what the actionable point here is...

[2018-01-07 15:51] hartytp commented on #381
@jbqubit Is this a documentation issue? Should it be reassigned to @filipswit and moved to the documentation milestone?

[2018-01-08 09:29] jordens commented on #349
On my board (number 2, thanks for putting the sticker on there) port 5 of IC14 has SDA (EEM1:SDA) shorted to ground.

[2018-01-08 14:37] marmeladapk commented on #349
On board 3 EEM1 SDA is pulled to 3V3. Could you check if R157 is 2k2 and is connected to 3V3?

![img_20180108_144411](https://user-images.githubusercontent.com/24512604/34675116-d1800128-f488-11e7-94e9-73872b888e4e.jpg)

[2018-01-08 14:57] jordens commented on #349
The 2k2 are there but they don't matter. The resistance to ground is 300 Ohm (310 in one polarity and 270 in the other). No EEM connected. Either the chip is broken or there is some conducting dust ;).

[2018-01-08 15:31] jordens commented on #208
@jbqubit @hartytp you seem to be the farthest with actually having a uTCA crate in the lab. Could you post the annotated list of P/Ns that you purchased and the kind of setup that you are aiming for (one sayma or many, with LLRF or without)? Does anyone **have** a LLRF?

[2018-01-08 15:33] hartytp commented on #208
@jordens Will do, but probably not until later in the week.

If you need info in a hurry I can probably forward you the quote I ordered from.

IIRC, we have two LLRFBPs atm. Not plugged anything into them.

[2018-01-08 15:59] gkasprow commented on #358
@sbourdeauducq I modified the MMC code
It dumps interesting [ Exar  registers](https://www.exar.com/appnote/anp38_r120_011614.pdf) and Ethernet _https://www.microsemi.com/document-portal/doc_view/126639-max24287-data-sheet_ on request
Ethernet PHY dump is initiated by 'E' character, Exar register redout can be done by 'P' character.
Here is example dump
![obraz](https://user-images.githubuserconte

[2018-01-08 16:01] sbourdeauducq commented on #358
I'm not familiar with the Ethernet PHY registers. How does this firmware set up the Ethernet PHY? MII?

[2018-01-08 16:01] hartytp commented on #358
Great, thanks for the update Greg!

[2018-01-08 16:03] gkasprow commented on #358
it uses MDIO for this purpose.
It connects PHY to the MMC processor, talks via MDIO and connects it back to the FPGA.
Initial configuration is done via pinstrap, then I modify one register to set correct MII mode.

[2018-01-08 16:16] cjbe commented on #227
@hartytp  @gkasprow I have measured the noise of the Zotino with the filter input grounded, and the DAC removed (to not overload the SMPS). The noise curve is below (previous DAC at 0V data for reference):
![grounded noise](https://user-images.githubusercontent.com/13227288/34679767-dc66e54c-f48e-11e7-98f0-92356c4f85bb.png)
There still seems to be significant noise at ~100 kHz, even without the dy

[2018-01-08 16:19] marmeladapk commented on #349
@jordens Could you share your openocd setup?

[2018-01-08 16:28] jordens commented on #349
kasli.cfg:

[code]

* The `ftdi_location` is only needed to distinguish multiple FT4232Hs on a machine. It needs to match the bus topology.
* To load a bitstream: `openocd -f kasli.cfg -c 'init; pld load 0 misoc_minisoc_kasli/gateware/top.bit; exit'`
* To write bitstream and bios to flash: `openocd -f kasli.cfg -c 'init; jtagspi_init 0 /home/rj/src/conda/pkgs/bscan-spi-bitstreams-0.10.0+git-1/shar

[2018-01-08 16:43] jordens commented on #227
The low frequency stuff is mysterious. Shouldn't that SMPS be at ~1 MHz >> 50 kHz?

[2018-01-08 17:50] hartytp commented on #227
Thanks for doing that Chris!

There's obviously something severely broken with this board. IMO there is no point debugging this further, given how much abuse these boards have been through. Better to move onto producing the v1.1 design asap.

[2018-01-08 17:57] hartytp commented on #446
Greg, is there any chance we can get this sent off to manufacture this week? I'd really like to get this done so we can start testing properly.

For the temperature control stuff, here are my thoughts:
- Let's scrap the thermal island
- Add some way for users to mount a TEC. Do this however you think is best, but here is my initial thought (feel free to overrule)
  - Leave some exposed copper on t

[2018-01-08 18:57] jbqubit commented on #441
This is an atomic feature that can be delivered and tested independent of the Exar debug info. Let's leave it open.

[2018-01-08 22:14] gkasprow commented on #227
@cjbe could you short the output CMC and repeat the measurement?
It can pickup some external noise...

[2018-01-08 22:17] cjbe commented on #227
@gkasprow I assume you mean short both coils of the CMC in order to effectively remove it? I am testing this with your 'ribbon to BNC' test boards, so there is both a CMC on the Zotino, and a CMC on the test board. I assume I should short both?

[2018-01-08 22:40] gkasprow commented on #227
Yes.

[2018-01-09 14:58] hartytp commented on #227
@gkasprow The broad-band noise also looks orders of magnitude higher than it should be, so I don't think this is the chokes (we always blame those poor things and they've never been the problem yet!)

Can we defer further tests until we've got the v1.1 boards ready, please?

[2018-01-09 15:32] sbourdeauducq commented on #358
Here's a dump from a 1.8V fault that appeared at startup:
[code]

[2018-01-09 15:33] sbourdeauducq commented on #358
Same board when 1.8V starts up correctly:
[code]
Now waiting for it to fail...

[2018-01-09 17:22] cjbe commented on #227
@gkasprow I shorted out the CMC's on a grounded channel - this did not significantly change the ~100 kHz noise, but increased the 50 Hz and harmonics pickup by >50 dB (so the CMC's are doing a good job!)

[2018-01-09 17:59] hartytp commented on #227
Looks like (at least part of the problem) is the power supply lines.

If you want to try to track this down further, you could try replacing the SMPS with a bench PSU and see what happens to the noise. Also, that would let you check the current draw on the +-13V lines and check that they match the power budget...

[2018-01-09 20:53] gkasprow commented on #227
I'd suggest one crazy thing -  measurement without the power supply.
@cjbe What tools are you using to measure the noise density?
I'd like to recreate it in my lab.

[2018-01-09 21:50] gkasprow commented on #354
@jordens tomorrow I plan to spend full day  on this issue.

[2018-01-09 23:06] gkasprow commented on #227
@hartytp I updated schematics of Zotino and initial components placement

[2018-01-09 23:07] cjbe commented on #227
@gkasprow I am using an R&S UPV Audio Analyzer.
I will do some more sanity checks tomorrow to trying and narrow down the source of the noise.

[2018-01-09 23:14] gkasprow commented on #227
I have access to Agilent SSA, in dedicated faraday cage room. I will check tomorrow what is the lowest frequency it can measure.

[2018-01-10 10:00] gkasprow commented on #358
We got SUPPLY_FAULT_EVENT and CH3 Fault which is obvious.
But GET_FAULT_STS is 0x0 0x40 which means over voltage protection (OVP).
Does this supply die after FPGA booting? Does it work when FPGA is not loaded?
Give me bit file which causes such effect, I will try to recreate this issue.
This is somehow consistent with my previous observation where I got 2V on not-supplied 1.8V rail and Exar caused

[2018-01-10 10:10] gkasprow commented on #358
as a quick fix you can add 10R/ 0.5W  resistor between 1.8V rail and GND (i.e. C523). It seem that the power supply needs to be loaded. Alternatively you can enable parallel termination on some unused IOs supplied from this rail. If you enable it for 20 IOs, the result will be similar.

[2018-01-10 10:43] sbourdeauducq commented on #358
No, in this case it died immediately after startup. But sometimes it dies later (minutes/hours/days).

Whether the FPGA is loaded or not does not make a significant difference AFAICT.

See here:
https://anaconda.org/m-labs/artiq-sayma_amc-standalone

By the way: sometimes I cannot dump the registers. I only get gibberish characters back on the UART. The transmission parameters are supposed to be 1

[2018-01-10 10:54] sbourdeauducq commented on #358
Potentially just another FTDI bug, which are plentiful. I'll try unplugging and replugging the USB cable...

[2018-01-10 13:19] gkasprow commented on #354
@jordens I got such spectra on my setup
![tek00000](https://user-images.githubusercontent.com/4325054/34774850-4dae6152-f611-11e7-826f-de191697eeda.png)

[2018-01-10 13:30] jordens commented on #354
@gkasprow those are not the ones I am interested in. Look above for a description, photos and analysis of the ~kHz spurs.

[2018-01-10 13:38] gkasprow commented on #354
above there are mainly setup windows :)
![tek00002](https://user-images.githubusercontent.com/4325054/34775549-dd6b245e-f613-11e7-889d-5d3d848c44a5.png)

[2018-01-10 14:53] gkasprow commented on #354
I  brought a spectrum analyser (N9030A) with SSA function and got such plot. I confirm that the level of spurs gets increased by 20dB when I touch the clock chip

![screen_0001](https://user-images.githubusercontent.com/4325054/34778714-6f64e886-f61e-11e7-9fc1-0ee02de31e98.png)

[2018-01-10 15:05] gkasprow commented on #354
I removed L9 and it helped. So in next revision will add MOSFET switch.
![Uploading Screen_0002.png…]()

[2018-01-10 15:06] gkasprow commented on #354
![screen_0002](https://user-images.githubusercontent.com/4325054/34779330-29cc34d0-f620-11e7-9e35-419d30e3961d.png)

[2018-01-10 15:11] gkasprow commented on #358
Try with 10R resistor first.

[2018-01-10 15:18] hartytp commented on #358
@sbourdeauducq I'm currently setting up a test setup here to see if I can reproduce this. In the mean time, if there is any way you could borrow a scope and look at the supply rails, that would be a massive help!

[2018-01-10 15:30] hartytp commented on #446
Greg, thanks for posting the initial v1.1 schematics! Can you do me a favour, please and tick off the items you've addressed on the list at the top of this post (that will make my design review easier).

[2018-01-10 16:48] cjbe commented on #453
Measured cross-talk between two adjacent channels of the 2 channel prototype:
![crosstalk](https://user-images.githubusercontent.com/13227288/34784384-0610663c-f626-11e7-8869-43c9d4b014e2.png)
This is at ~1dB compression, and is very similar for a small-signal input

[2018-01-10 16:50] hartytp commented on #446
Greg, I've checked over the schematic you uploaded and it mainly looks good. Apart from the outstanding issues above (I've ticked off the ones that looked fixed to me):

- Did you run thermal + PI simulations yet? In particular, I'd be interested to see how many C/W a peltier would produce here so that we know we can temperature stabilise this with a sensible TEC power.
- To match the peltier to t

[2018-01-10 16:51] hartytp commented on #446
Oh, one other thing: let's wait and see what @cjbe's measurements tell us about the noise on Zotino v1.0 before doing anything about this, but...

The SMPS we're currently using has over current protection, but not over voltage or over temperature protection AFAICT. I wonder if it's a little fragile, and if some of the abuse we've given it could have lead to the SMPS failing on some of our boards?

[2018-01-10 16:56] cjbe commented on #453
The only significant spurs present on the two channel prototype are at ~9-11 kHz and harmonics at ~-50 dBc. The spur frequency changes with input power. I suspect this is coupling from the switchmode, as it makes considerable acoustic noise that changes frequency with input power.
![spurs](https://user-images.githubusercontent.com/13227288/34784471-3e724824-f626-11e7-933c-142f3b65faa9.png)

[2018-01-10 17:16] hartytp opened #458 "Booster RF PA: switch"
- [ ] The switch on the RF PA that is used for the interlocking is currently set up to be reflective once the interlock trips. It would be nicer to flip the direction of the switch around so that the when the interlock trips, the amplifier still presents a 50R load to its input.
- This means that the initial pre-amp sees an unmatched load when the interlock trips, but that's probably fine. Note th

[2018-01-10 17:39] jordens commented on #354
Excellent, Greg. Yes. A mosfet would work.

[2018-01-10 17:59] cjbe commented on #453
Phase noise, measured at 100 MHz, -10 dBm, using a Wenzel Citrine low noise source:
![phasenoise](https://user-images.githubusercontent.com/13227288/34787638-e3002560-f62f-11e7-8073-d6c404626e06.png)

[2018-01-10 18:23] cjbe commented on #453
The large peak in phase noise at ~10 kHz changes with the power supply noise. Shortly after turning on the RFPA the PSU puts out a clean high-frequency tone, and the phase noise is much lower. After a few seconds the PSU starts emitting a dirty skipping noise (like a hard-disk seeking) - whenever the PSU is making this noise the phase-noise is worse.
![phasenoise](https://user-images.githubusercon

[2018-01-10 18:27] cjbe commented on #453
Further tests on the two channel prototype:

Output IP3:
~38 dBm at 80 MHz, 200 MHz, and 300 MHz

Temperature coefficient:
Negligible change (<0.1 dB) for both small signal and 1dB saturated gain taking the amplifier from 23 deg. C to ~55 deg. C. However I could not get the fans to turn on...?

[2018-01-10 20:21] gkasprow commented on #241
@jordens I released v1.2 of DIO-BNC.
Please have a look.
Main difference is power supply filtering and delayed buffer enable.

[2018-01-10 21:33] gkasprow commented on #377
@jordens I'm preparing rev 1.1 and to keep firmware compatibility I moved IFC_SEL3 to pin 112 and connected 0R resistor to VCC to pin 111 were IFC_SEL3 was initially connected.

[2018-01-10 21:40] gkasprow commented on #334
@hartytp I added 0603 footprint as a place to move ferrite bead to test 1.8V supply for SIlabs chips.
I also added 470R resistors in series with input lines to limit the current when driving 1.8V chips from 3.3V CPLD.

[2018-01-10 22:31] jordens commented on #377
Ack

[2018-01-11 00:06] hartytp commented on #453
Nice! Maybe thermal compensation isn't as important as originally anticipated...

[2018-01-11 00:11] hartytp opened #459 "Booster: Output power ranges"
@gkasprow Something I wanted to run past you and your RF team:

For booster, the power efficiency is very good near saturation, but not so good for powers at around 1W-2W, which we will often use. So, I was wondering if we can do something like have
a software option that allows different output power ranges to be set to allow the optimum power efficiency to be achieved at different output powers.

[2018-01-11 00:13] gkasprow commented on #377
@jordens I implemented all issues in Urukul. Please have a look.

[2018-01-11 00:19] hartytp opened #460 "Booster interlock"
@gkasprow the booster interlock is required to prevent damage to the amplifier itself as well as the load (which can be very expensive!), so it needs to work very robustly. It also needs to have a guaranteed maximum response time that is short enough to protect sensitive loads from damage.

If we do this in software (current plan) then the software needs to be extremely robust. e.g. needs interrup

[2018-01-11 00:24] gkasprow commented on #354
@jordens do you want to control MLVDS receiver type via FPGA pin ?

[2018-01-11 00:27] hartytp opened #461 "Thermostat: request for comment"
I've sketched out a proposal for a temperature control EEM that I'm provisionally calling [Termostat](https://github.com/m-labs/sinara/wiki/Thermostat).

I'm interested in any comments that people have. Does that sound like something you'd use? Does the proposal match your needs? Any suggested improvements? etc...

[2018-01-11 00:30] hartytp commented on #334
@gkasprow Thanks! Can we make the 1V8 option the default for the next hardware revision?

[2018-01-11 00:37] hartytp commented on #377
One thing still outstanding from the v1.0: I still haven't checked the phase noise performance or optimised the loop filter yet. Not sure if you want to wait for that before manufacturing any more boards?

[2018-01-11 01:39] hartytp commented on #241
@gkasprow This all looks good to me! Thanks.

The schematic is a bit cramped, which is a symptom of how the complexity of this circuit has increased over time :(. Otherwise, looks good.

Only one thing I would potentially like to change: the way the direction control is done. It would be nice if the PCF8574ADW could also be used for direction control (as well as readout). That way one can do all c

[2018-01-11 02:02] hartytp commented on #446
@gkasprow IIRC, for cross-talk testing, we were planning to build a trivial board which breaks out a HD68 to 4 x IDCs. Did we ever do that? I can't find it in the repository. If not, is it possible to do that for Zotino v1.1? Thanks!

[2018-01-11 02:19] hartytp commented on #241
@gkasprow One other question: what's the power rating out those 30R output resistors? For this kind of lab equipment, it's very nice if the outputs can be shorted to ground indefinitely, so they should be able to handle that much current if possible.

[2018-01-11 05:34] sbourdeauducq commented on #358
That was a MMC, not FTDI problem. Something on USB had put all three boards in LPC bootloader mode, and they would not leave it until the USB cables were plugged and replugged. The gibberish characters I was getting were the bootloader replies.

The 1.8V bug manifested itself again today, after the board had been running for ~15min. I immediately pressed E on the console and the MMC dumped the Eth

[2018-01-11 06:01] sbourdeauducq commented on #358
9R resistor (2x18R in parallel) now installed on Sayma2.

[2018-01-11 06:26] sbourdeauducq opened #462 "touching MMC UART locks Sayma into LPC bootloader mode"
Write characters on the MMC UART (e.g. E or P) then power cycle the board without unplugging the USB cable. The MMC will get stuck into bootloader mode, no matter how many times the board is power-cycled, until the USB cable is physically unplugged and replugged. This is causing quite a serious problem with our development cycles, especially when tracking down Ethernet and 1V8 issues that require

[2018-01-11 06:35] sbourdeauducq commented on #358
1.8V failed again on startup despite the resistor.
[code]

[2018-01-11 07:01] sbourdeauducq commented on #358
@gkasprow Have you noticed that the 12V input a bit low on my setup? Is that likely to cause issues?

[2018-01-11 10:32] cjbe commented on #251
@gkasprow after shipping the two channel prototype the channel cards worked themselves loose from the backplane (see pictures). It seems that the shelf holding the backplane as well as the PSUs worked its way loose and shifted about 10mm towards the back of the enclosure.
![side view](https://user-images.githubusercontent.com/13227288/34820961-0f140132-f6ba-11e7-8666-56edf1665b5b.jpg)
![top view](

[2018-01-11 10:55] hartytp commented on #351
@marmeladapk Did you produce the Kasli BP adapter yet?

[2018-01-11 11:02] hartytp commented on #352
@jordens @gkasprow Do we still want this feature for Kasli v2.0? My feeling is that it's an unnecessary complication that we should avoid.

High powered EEMs like Urukul should have a soft-start on them (Urukul has one). Also, most EEMs don't draw much current at startup anyway. e.g. clocks generally aren't supplied to DDSs until the FPGA boots up, DACs output 0 voltage until programmed so there i

[2018-01-11 11:02] #352 closed

[2018-01-11 11:03] hartytp commented on #323
@jordens Do you still want these changes? If so, should we be making them for the DIO_BNC v1.2, etc boards?

[2018-01-11 11:24] sbourdeauducq opened #463 "intermittent Sayma JTAG failure"
Sometimes, and randomly, the JTAG on Sayma locks up, even when 1.8V has not failed. This persists until the board is power-cycled, and does not require unplugging and re-plugging the USB connector.
[code]

[2018-01-11 11:42] sbourdeauducq commented on #358
1.8V failed again after the board had been powered for a while, the Exar dump was the same as above: https://github.com/m-labs/sinara/issues/358#issuecomment-356840335

[2018-01-11 11:59] gkasprow commented on #358
such voltage difference does not really matter.

[2018-01-11 12:10] gkasprow commented on #241
@hartytp the PCF chip CAN do direction control. DIP switches must be off.
PCF chip is open drain, weak pullup (aka 8051 IO). So it can read and short to ground.

[2018-01-11 12:11] gkasprow commented on #241
@hartytp where shall I add these resistors? I'm not sure why these isolators are killed while changing direction...

[2018-01-11 12:13] hartytp commented on #241
@gkasprow Right, but that wasn't quite my point. To do direction control with the PCF chip, one has to have the DIP switch off, as you say. That means that all channels begin as outputs until the PCF chip is programmed. That can cause damage to a load. It would be better to have it so that when the DIP switches are off all channels start as inputs. Then either closing the DIP switches or programmi

[2018-01-11 12:14] gkasprow commented on #241
@hartytp OK, good point.

[2018-01-11 12:20] hartytp commented on #241
Okay, so have you actually seen an isolator dying? I wasn't sure if this is a hypothetical issue or a practical one.

I was thinking of putting them between IC28 and IC29. I can imagine both chips transiently being set as outputs at the same time when the direction switch is set. That could potentially damage the isolators.

But, it might be worth re-reading the isolator datasheet to check for oth

[2018-01-11 12:52] gkasprow commented on #241
@hartytp I saw it dying but live direction change was only my suspicion. The 30R resistors are 0.25W ones (0805) The ICs have internal 20R resistors so the max voltage drop would be 3V which will damage them.
I will use 0.5W ones. Good point.

[2018-01-11 12:58] hartytp commented on #241
Good! It's a bit ugly to have to use 0.5W resistors for this, but better than having dead boards when people accidentally short channels.

Well, the isolation resistors might fix that. What do you think?

[2018-01-11 13:00] gkasprow commented on #241
OK, 20R won't harm :)

[2018-01-11 13:02] hartytp commented on #241
:) Although, I still find it a bit surprising how complicated this board has become for a simple TTL breakout!

[2018-01-11 13:02] gkasprow commented on #241
I also moved the power supply section to another sheet.

[2018-01-11 13:04] cjbe commented on #453
Sometimes when I turn on the RFPA at the wall it gets stuck rebooting repeatedly, see [video](https://github.com/m-labs/sinara/files/1622643/Video.zip).
Normally on power up the fans pulse once, then the channel LEDs turn on. However sometimes it gets stuck in a loop. Sometimes after a few iterations it starts up properly, other times it has continued for a few minutes before I turned it off.

It

[2018-01-11 13:04] hartytp commented on #241
If we do that, please can we remove the warning about live switching potentially causing damage (both from the schematic and silk)?

This should work! And, I don't think those warnings will necessarily prevent people from doing it (particularly since the warning is on the wrong side of the PCB).

Also, we will plan to do live switching in practice if we use the PCF chip to change the direction. So

[2018-01-11 13:11] gkasprow commented on #241
@hartytp at the moment, when switches are off, the board is in input state. There are 2 inverters :)
So we don't have to change anything, just add protection resistors.

[2018-01-11 13:14] hartytp commented on #451
Currently there are two switches on the front panel. I'd like to clarify their functionality:
- 1 should be an interlock reset switch. Front panel label something like "Interlock reset" or "Protection clear". This clears the interlock status of all channels
- The second switch is optional IMHO and can be removed if that helps. The best use I can think for it is a "Standby" switch that powers down

[2018-01-11 13:18] hartytp commented on #241
So we don't have to change anything, just add protection resistors.

Apologies: you're right about that, I missed an inverter. The current design is correct.

I missed an inverter. Would be good too put a couple of extra schematic annotations:
- switches open means inputs
- switches should be open to allow direction control by I2C-- note that current annotation incorrectly states that I2C can be u

[2018-01-11 13:44] gkasprow commented on #463
It seems that it is not fault of FTDI chip because it is bus-powered.
When such condition occurs, please plug and unplug the OCD header. This will disable and enable the SCANSTA chip. Are you able to talk to the MMC in such state?

[2018-01-11 13:46] gkasprow commented on #323
Sooner or later we will use backplane. I have an idea how to do it preserving all the modules with IDCs and changing only Kasli.

[2018-01-11 14:21] hartytp commented on #323
Sounds good. Not a high priority for now, but will be interested to hear what your plan is at some point...

[2018-01-11 14:30] gkasprow commented on #241
@hartytp I commited DIO-BNC with recent changes.

[2018-01-11 14:32] hartytp commented on #241
Looks good!

[2018-01-11 16:42] cjbe opened #464 "Sayma RTM layout"
Greg, can you give me an assembly diagram or something for Sayma RTM that will help me locate components during debugging? Thanks!

oops, wrong account -- sorry Chris!

[2018-01-11 16:46] gkasprow commented on #462
@sbourdeauducq what do you do with flow control lines?
I do not observe such behaviour on Windows machine.
UART control lines are used as:
- LPC CPU reset
- LPC CPU bootloader mode.
So the behaviour you describe is correct.
Once you send some character, you toggle the control lines and next time after power cycle CPU enters bootloader mode.
This is feature that lets the user upload the firmware vi

[2018-01-11 16:48] gkasprow commented on #464
@cjbe the easiest way is to install free viewer from Mentor.
You can get it from https://www.mentor.com/pcb/downloads/visecad-viewer/
if you have troubles getting it, I can share it on my dropbox

[2018-01-11 17:14] hartytp opened #465 "HMC830 supply"
@gkasprow on my board, IC55 (supply for the first clock buffer in the chain) only outputs about 600mV. If I start the RTM with a clock applied then the output of this regulator is minus a few hundred mV.

As a result I'm not getting a 100MHz clock at my HMC830. This is at least one reason the HMC830 doesn't lock...

[2018-01-11 17:17] hartytp commented on #464
Thanks!

[2018-01-11 17:33] a-shafir commented on #241
What is the maximum expected voltage drop over the isolation?
The isolation components itself are good up to 3KV.
The layout gap is not as wide as can be but certainly few hundreds V.
Looks like the bottom-line will be R18/R25. It is 2012 package so 200V max according the common specs. But the value and package/power limit will be ~110V DC/RMS.
I think it makes sense to use high voltage resistors

[2018-01-11 17:46] hartytp commented on #465
The regulator still only produces about 600mV when L54.

However, ... using a different RTM, the HMC830 does lock!

[2018-01-11 17:55] hartytp commented on #241
I'd prefer not to do that @a-shafir. As far as I'm aware, the only intended use for this design is breaking ground loops, where it's expected that the potential difference across the isolation barrier is a volt or less.

Designing for kV is complete overkill for the kinds of uses this board will have.

[2018-01-11 17:56] hartytp commented on #465
Hmm the quiescent current for the working RTM is quite different to the broken one. Not sure what the issue is here. Dodgy solder joint?

[2018-01-11 18:44] gkasprow commented on #465
What voltage do you have at its input?
I tested all boards with clock applied to the SMP inputs...

[2018-01-11 18:44] gkasprow commented on #464
There is *cce file dedicated for the viewer.

[2018-01-11 18:46] gkasprow commented on #241
For kV applications, one need to have different mechanical construction, it's not only PCB that matters.

[2018-01-11 19:48] hartytp commented on #465
4V as expected.

[2018-01-11 19:48] hartytp commented on #465
The set pin was below 3V thought (2.something IIRC).

[2018-01-11 20:04] gkasprow commented on #465
And the chip is cold? If set point is OK it looks like short circuit or missing solder on output pad. Did you try to push it a bit ?

[2018-01-11 20:24] hartytp commented on #465
Yes, the chip is cold. Setpoint is not OK: it should be 3V3, but is around 2V.

My guess is a bad solder joint, I'll try to look at this tomorrow.

Sadly, the HMC830 worked the first time I ran the board, but then stopped locking. I'll investigate tomorrow.

[2018-01-11 21:22] jbqubit commented on #133
@filipswit How's the documentation coming? Please feel free to check items off (above) as you implement them.

[2018-01-11 21:22] jbqubit commented on #423
@filipswit How's the documentation coming?

[2018-01-11 21:34] #464 closed

[2018-01-11 21:36] jbqubit commented on #462
@sbourdeauducq Please add this type of Issue to [Milestone Sayma 1.0](https://github.com/m-labs/sinara/milestone/26).

[2018-01-11 21:46] jbqubit commented on #323
Created new wiki page for [EEM-v2](https://github.com/m-labs/sinara/wiki/EEM-v2) and moved working plans for backplane to that page from [EEM](https://github.com/m-labs/sinara/wiki/EEM).

[2018-01-11 21:58] jbqubit commented on #251
Simple solution would be to have end users install the modules themselves in the field.

[2018-01-11 22:00] cjbe commented on #251
@jbqubit that was my first thought, but the shelf holding the backplane and PSU will still move around in shipping, meaning the user has set this shelf back into position - this is non-trivial, as if it is positioned incorrectly the channel cards can have intermittent connections.

[2018-01-11 22:16] gkasprow commented on #251
I noticed that during assembly. I will get rid of adjustable slots and make tight holes to prevent such movements.

[2018-01-11 22:25] cjbe commented on #251
@gkasprow great. I also noticed an intermittent problem that I cannot properly reproduce that I think was down to this same issue:

The second channel sometimes did not fully turn on (i.e. did not come out of standby). The channel card itself was fine, as if I swapped the position of the two channel cards in the enclosure both worked. The problematic channel card sits slightly lower than the other

[2018-01-11 22:28] gkasprow commented on #251
@cjbe once we collect all issues, we will fix them in second chassis we have at WUT and ship it to you and you will ship yours to us.

[2018-01-11 22:51] hartytp commented on #251
@gkasprow Sounds good.

FWIW, I wondered if this would work better if the RF amplifier modules actually screwed into the D-type connectors on the control PCB.

[2018-01-11 22:53] gkasprow commented on #251
We can drill 2 holes through top cover but module replacement would be more problematic.

[2018-01-11 22:54] hartytp commented on #358
@sbourdeauducq So far I still can't reproduce this in my setup. Unless that changes, it's going to be extremely hard to make progress on this unless you can give us scope traces of the power rails on your failing Saymas. Is there any chance you could borrow a scope from someone and do this?

[2018-01-11 22:54] hartytp commented on #251
Well, do whatever you think is best, so long as its robust and doesn't have intermittent connection issues when used in a "typical lab environment".

[2018-01-11 23:21] gkasprow commented on #358
The board in @sbourdeauducq place was operated for long time without any cooling so could overheat and something could be damaged. So I suggest to use other boards for development and ship problematic boards for inspection.
For the boards I shipped to HK I did not place heatsink to give access to some components around the FPGA. The heatsinks were delivered with the board. Were they assembled?

[2018-01-11 23:40] hartytp commented on #358
Might also be worth @sbourdeauducq shipping you the PSU and wiring harness he's using as well as a photograph of the setup, showing fans etc.

@gkasprow If you give me remote access to one of your PCs that's connected to a Sayma then I'm happy to install ARTIQ and load it onto your board for tests.

[2018-01-11 23:43] gkasprow commented on #358
@marmeladapk please help @hartytp to get access to our ARTIQ computer in our lab

[2018-01-12 00:44] hartytp commented on #241
@gkasprow One tiny nitpick. I noticed that the annotation about the EEM connector specifies the maximum current as being 500mA. That's outdated/incorrect isn't it? IIRC, the max current for the EEM +12V is 2A.

One final thing: this board doesn't need a complete power budget, but it would be good to give users a rough estimate of the max +12V current draw when all channels are terminated and drivi

[2018-01-12 00:57] gkasprow commented on #241
If we assume that 8 outputs are shorted with 50Ohm, this gives 800mA@5V. DC/DC converters are rated for 2W each so will survive. They have roughly 70% efficiency, so this adds about 2W to the bill. Current consumption of remaining logics depends on signal toggle ratio but total power consumption should not exceed 7W in the worst case.

[2018-01-12 02:09] sbourdeauducq commented on #358
Yes, first thing I did.

[2018-01-12 05:13] jbqubit commented on #327
@gkasprow can this be closed now?

[2018-01-12 08:43] jordens commented on #354
Yes. If there is a pin available.

[2018-01-12 08:45] jordens commented on #334
Only if that was actually tested and phase noise measured.

[2018-01-12 08:48] jordens commented on #352
Ack. Let's test this first. A scope trace of the current draw on 12 v on urukul would be nice. With 100 MHz coming into the sma.

[2018-01-12 09:09] jordens commented on #323
No. I don't want those changes for the modules we are doing right now.

[2018-01-12 09:17] jordens commented on #241
@hartytp please make sure that the changes to the direction logic also work if the FPGA is unaware. I.e. if it always uses output channels as outputs as it does now.

[2018-01-12 09:23] jordens commented on #377
The phase noise performance was measured.

[2018-01-12 11:04] hartytp commented on #327
@jbqubit Are the changes required to fix this for Sayma v2.0 recorded in an issue somewhere?

[2018-01-12 11:34] gkasprow commented on #327
@jbqubit @hartytp this issue is referenced in collective errata.

[2018-01-12 11:34] #327 closed

[2018-01-12 12:22] hartytp commented on #408
@gkasprow More test points on Sayma v2.0, please! Particularly on all the SPI buses.

[2018-01-12 15:12] jbqubit opened #466 "Sayma v2: more test points"
From #408. @gkasprow More test points on Sayma v2.0, please! Particularly on all the SPI buses.

[2018-01-12 15:26] jbqubit opened #467 "EEM power clarification needed"
Clarification is needed for EEM power budget. Discussed recently here: https://github.com/m-labs/sinara/issues/241#issuecomment-357109088

Currently [wiki](https://github.com/m-labs/sinara/wiki/EEM#eem-connectors) says: "2A max (5A max for all EEM+Kasli/VHDCI together)" under a heading "EEM Connectors". The maximum current draw for each EEM connector is a separate question from the current sourced

[2018-01-12 15:29] jbqubit commented on #467
@gkasprow noted for BNC DIO v2 #241 that

End users need to do their own accounting of the maximum load presented by a particular configuration of EEM modules.

[2018-01-12 15:36] jbqubit opened #468 "running ARTIQ Sayma hardware at WUT"
From #358

@hartytp said

@gkasprow said

@marmeladapk, @hartytp please do installation discussion in this Issue (vs eg email).

[2018-01-12 15:37] hartytp commented on #468
Joe, we're on it. Don't worry.

This doesn't need an issue, I'll take care of it.

[2018-01-12 16:04] jbqubit commented on #468
I know you'll get it done @hartytp. I'd like to make sure that the Q&A that goes along with bootstrapping @marmeladapk and @gkasprow understanding of how to install ARTIQ is visible. This will help M-Labs understand where the hangups are in installing the system, gaps in documentation.

[2018-01-12 16:53] jbqubit commented on #253
We should avoid proliferation of FPGA "carrier boards" similar to Kasli and Sayma_AMC.

Cost of these boards will drop with volume. As soon as we hit qty 50 of the same Xilinx chip open source project pricing kicks in and cost drops by 50% from $1650.

Agreed.

[2018-01-12 17:01] jordens commented on #377
@hartytp The v1.0 AD9910 noise is in the testing issue. That's OK for me right now. I don't want to delay manufacture just because of loop filter tweaking. If you need to quickly do loop filter tweaking, until when would that be? The AD9912 uses the datasheet values and at least locks fine. I don't have measurements yet for it's PM spectrum but the datasheet is a good indication. That's sufficient

[2018-01-12 17:03] jbqubit commented on #450
OK. Look like consensus is to use blank 4U panel. Closing.

[2018-01-12 17:09] jordens commented on #377
@gkasprow [Not a manufacturing issue] There are still two instances of TP[12345] on the schematics. That's at least confusing.
Otherwise ACK to the other changes.

[2018-01-12 17:09] jbqubit commented on #428
Mention that its possible for the Ethernet interface to lock up (#449) and how to remedy.

[2018-01-12 17:09] jbqubit commented on #449
Sounds like this concern is resolved if it is indeed straightforward to upgrade firmware using serial port.

[2018-01-12 17:09] #449 closed

[2018-01-12 17:25] jordens commented on #241
@hartyp To elaborate: there is also the direction of the FPGA pin playing into this. If you have all channels as inputs by default then the FPGA will see complete LVDS bus contention until the channels are reconfigured. As we don't have any tooling to do that soft reconfiguration this will be an issue. I only see the following solution: instead of having only two states (input, output) plus the de

[2018-01-12 17:26] jordens commented on #241
@gkasprow otherwise the design looks good to me. Thanks

[2018-01-12 17:28] jordens commented on #450
Nonsense. That was a 3:3 at best.

[2018-01-12 17:49] jordens commented on #377
Yes. You can call it that. It's a minor thing.

[2018-01-12 17:55] gkasprow commented on #377
OK, fixed.

[2018-01-12 17:56] #377 closed

[2018-01-12 18:12] jordens commented on #334
Let's close this here and move the decision whether to change the default or/and whether to reduce the options to v1.2 or later.

[2018-01-12 18:12] #334 closed

[2018-01-12 18:13] jordens opened #469 "Urukul: characterize clock buffers with 1.8V"
#334

[2018-01-12 18:19] jbqubit opened #470 "serial numbers"
Sayma_AMC and Sayma_RTM v1 didn't have consistent factory-supplied serial numbers. This makes it hard to keep track of which boards have particular problems or what modifications have been made to them.

Do we want Sinara hardware to have serial numbers at all? If so here's a proposed format __AABBBCCCC__.
- __AA__ is manufacturer number eg 01 for Technosystem
- __BBB__ is board type eg 001 for Sa

[2018-01-12 18:23] gkasprow commented on #241
LVDS is current source, so you can connect two LVDS outputs with no harm.

[2018-01-12 18:29] jbqubit opened #471 "Sayma_RTM analog performance documentation"
Results of analog tests.

[2018-01-12 18:32] jbqubit commented on #133
@filipswit It's getting critical that the documentation be finalized for Sayma v1. The PLL and Ethernet Issues will be soon resolved. Docs are one of the last parts of the WUT contract.

[2018-01-12 18:40] hartytp commented on #465
Seems to be an issue with one board rather than the design, so closing. Will investigate what happened when I have time.

[2018-01-12 18:40] #465 closed

[2018-01-12 18:50] jordens commented on #241
Ok. And this true independent of power supplies (2.5 V vs 3.3 V) and even for the most extreme type1/type2 combinations?

[2018-01-12 18:51] hartytp opened #472 "HMC830 issues"
@gkasprow I'm trying to get the HMC830 on Kasli up and running.

I modified the firmware to dump all registers (apart from the VCO subsystem) 3 times: once after power on reset; once after configuration; and finally after waiting 2 seconds for the VCO to lock. Result is [here](https://hastebin.com/rijuxupoke.css).

Comments:
- The VCO does not lock
- The VCO output is stuck at about 750MHz. Note t

[2018-01-12 18:54] jordens commented on #470
Yet Another Naming System. Great!
Just use the EUI48s or have the guts to get rid of them if you don't.

[2018-01-12 19:09] jbqubit commented on #468
@marmeladapk Were you able to build .bit for the Sayma?

[2018-01-12 19:11] hartytp commented on #472
PS Checked that the input clock looked good, but forgot to check the supply rails. Will do that once @gkasprow has checked that his fourth CPU doesn't have the same problem.

[2018-01-12 19:17] jbqubit commented on #465
@hartytp Can you elaborate? Did you reflow the solder and get 3V3 as expected? Any luck debugging broader HMC830 issue?

[2018-01-12 19:41] gkasprow commented on #472
I will check it on Tuesday, all HW is at the Unviersity.
The values I used are here:
0 $0 $20 spi_hmc830 .
 \ 0 $0 $00 spi_hmc830 .
0 $1 $2 spi_hmc830 .  \ chip enable by SPI
0 $2 $2 spi_hmc830 .  \ divider = 2
0 $6 $303CA spi_hmc830 .
 \ 0 $9 $153FFF spi_hmc830 .
0 $5 $1628 spi_hmc830 .
0 $5 $60A0 spi_hmc830 .
0 $5 $E090 spi_hmc830 .
0 $5 $2818 spi_hmc830 .
0 $5 $F88  spi_hmc830 . \ magic word en

[2018-01-12 19:55] jbqubit commented on #470
Good point. I didn't realize that MAC addresses are really part of a larger name space. EIU-48 looks like it's superseded by EIU-64. IEEE issues 24-bit Organizationally Unique Identifier ([OUI](https://standards.ieee.org/develop/regauth/cid/index.html
)) for a nominal fee. That would leave 40 bits in the ARTIQ s/n space.

[2018-01-12 19:59] gkasprow commented on #241
At the LVDS output there is just MOSFET bridge supplied by 2 current sources + 2 protection diodes. Providing that we connect 3.3V EEM output with 1.8V FPGA output, the 3.3V output common mode will be still within 1.8V range so the current will be limited to a few mA. The [datasheet](http://www.ti.com/lit/ds/symlink/sn65mlvd040.pdf) specifies the MLVDS output loaded with 50 Ohm as Vh = 1.3, Vl= 0.

[2018-01-12 20:05] hartytp commented on #465
No, not yet. This board needs to go back to WUT anyway (we are only supposed to have 1 RTM) so I'll let Greg look at it when we return it (he has better reworking tools than we have).

Point is that it hasn't occurred on any other boards, and there is no indication so far that it's an issue with the design rather than a bad solder joint on one board (may have been damaged in shipping).

[2018-01-12 20:05] jbqubit opened #473 "Ethernet carrier for EEM"
In #461 there was discussion of adding an Ethernet-to-serial interface to a temperature controller EEM (https://github.com/m-labs/sinara/wiki/Thermostat) proposed by @hartytp. Presently there are 2 EEM carriers (interface boards) in the Sinara ecosystem: [Kasli Carrier](https://github.com/m-labs/sinara/wiki/Kasli) and [VHDCI Carrier](https://github.com/m-labs/sinara/wiki/VHDCICarrier). An Ethernet

[2018-01-12 20:06] jbqubit commented on #473
@dtcallcock noted

@hartytp replied

@dtcallcock

@gkasprow

@gkasprow

@dtcallcock

-----

@hartytp said

Re the ethernet thing:

- Generally, I like the UART interface because it's pretty standard, simple and well supported. One can easily covert it to [USB](http://cpc.farnell.com/adafruit/954/usb-to-ttl-serial-cable/dp/SC12797?CMP=KNC-GUK-CPC-GEN-SHOPPING-ADAFRUIT-SC12797&gross_price=true&mckv=

[2018-01-12 20:12] jbqubit commented on #473
Comment from @restelli by email. Topic: JQI's SPI to Ethernet solution. Reproduced here with permission of @restelli.

-------------

Hi Joe,
We're using Wiznet+Teensy to talk with Ethernet.
Wiznet is a chip with hard-coded TCP-IP stack and integrated PHY that communicates through SPI interface to a microcontroller that must be used to configure the Wiznet and transfer data.
http://www.wiznet.io/p

[2018-01-12 21:10] hartytp commented on #472
Note to self: the other thing I should do on Monday is modify my code to also dump the VCO subsystem registers. IIRC, that's controlled by a second SPI bus internal to the HMC which runs off a slower clock than the main one, so I should check that it has been programmed correctly...

[2018-01-12 21:16] gkasprow commented on #473
I use Wiznet as well, i.e. in Booster design but anyway it needs firmware to talk to it. As @sbourdeauducq noted some time ago, it is ASIC so would be impossible to port it to IPv6 or fix some issues. I'm not sure if it is real problem. TM4C is real single chip solution but so far with no Arduino support, which can be drawback for some communities :)

[2018-01-12 21:40] gkasprow commented on #473
If we want to use low cost Ethernet to LVDS converter, maybe it's better to stick with 20$ Microsemi SoC that has Cortex M3 + tiny FPGA in it.
One can also use any Cortex M0 CPU that has feature that SPI and UARTS can be mapped to any IOs. And It is supported by Arduino, at least SAMD21 chip.

[2018-01-12 22:12] gkasprow commented on #472
@hartytp I never said that my PLL was locked. I managed to get something with more or less right frequency but did not check the lock bit.

[2018-01-12 22:25] hartytp commented on #472
Sorry, that's what I meant: my PLL VCO is currently stuck at the bottom of its range (from the register dump, it seems that the autocal hangs) and outputs 750MHz. Once we have an output at roughly the right frequency, then we can worry about getting it locked.

[2018-01-12 22:27] hartytp commented on #472
Sorry, that's what I meant: my PLL VCO is stuck at the bottom of its range (from the register dump, it seems that the autocal hangs) and outputs 750MHz. Once we have an output at roughly the right frequency, then we can worry about getting it locked.

[2018-01-12 22:28] hartytp commented on #241
We didn't make any changes to the direction logic in the end IIRC. Greg convinced me that the current setup is fine.

[2018-01-12 23:07] jbqubit commented on #443
I've not tried Greg's fix on my board since I know how to avoid the problem -- don't leave serial connection open on PC when cycling board power. @gkasprow if you're confident in whatever fix you applied for Sayma v2 please close.

[2018-01-12 23:09] jbqubit commented on #444
This Issue keep rearing its head. I've found one USB cable that works about 50% of the time. And two other USB cables that fail 100% of the time. @gkasprow @hartytp do you see this on your boards?

[2018-01-13 00:35] gkasprow commented on #240
@jordens do you insist on adding supporting insulating washers for SMA connectors? They conflict with LEDs... I can place them from inner side after cutting their edges, but on the outer side they will cover LEDs.

[2018-01-13 02:39] sbourdeauducq commented on #472
I have two generators that can do 1.2GHz (SynthNV and a ADF4351-based Chinese gizmo). But it's not that straightforward, we actually tried that before (as soon as we noticed HMC830 issues) and could not get it to work; it would seem the clock switches have some problem. We didn't investigate in depth as we focused on the HMC830. I can have another look as the HMC830 won't cooperate.

[2018-01-13 03:36] sbourdeauducq commented on #473
Only on Sayma. Again if my suggestion of copying the KC705 schematics had been followed, it would have worked a long time ago. And we have a very nice TCP/IP stack now...

[2018-01-13 03:49] sbourdeauducq commented on #473
But with Rust support, which is an advantage for others. You can for example look at how many external, high-quality, contributions smoltcp has... https://github.com/m-labs/smoltcp/pulls

[2018-01-13 04:53] sbourdeauducq commented on #472
You said you managed to get RF out of a full Sayma system, including BaseMod/Allaki. Was that with the HMC830 bypassed?

[2018-01-13 06:04] jordens commented on #240
I don't insist. My conclusion is that the connector spacing is too small and that we need to go to 8 HP and a pattern similar to DIO_BNC. But I don't think we can do this in the resent revision.

[2018-01-13 08:31] enjoy-digital commented on #472
Just for info on the tests i did and results:
- when setting up the HMC830 in July, i was able to get the correct frequency out of the HMC830 (without checking the lock), but since JESD was not working and we were not sure that clocks were clean, i then used an external 1.2GHz clock. (on the sayma amc/rtm i have providing an external dac clock works fine).
- we later figured out with @gkasprow  th

[2018-01-13 10:58] enjoy-digital commented on #465
@hartytp: to use 1.2GHz clock directly you just use `0*DAC_CLK_SRC_SEL` instead of `1*DAC_CLK_SRC_SEL` here: https://github.com/m-labs/artiq/blob/master/artiq/firmware/libboard_artiq/hmc830_7043.rs#L25

[2018-01-13 11:53] hartytp commented on #465
@enjoy-digital Thanks!

[2018-01-13 11:54] hartytp commented on #472
@sbourdeauducq Can you try your 1.2GHz generator again, please? If you have problems then I'll see if I can get it working on my system -- if not, I'll have a go at debugging it here.

[2018-01-13 12:15] hartytp commented on #472
@enjoy-digital Yes, I'm not sure why it stopped behaving. Mine locked the first time I tried it, but never again :(

From the register dumps I have, it looks like the autocal routine has gone into a lockup state. I've poked all registers relevant to it and can't see an obvious reason for it, which is why my suspicions are leaning towards timing issues or some kind of SPI glitch.

As I said, gettin

[2018-01-13 12:17] hartytp commented on #472
@enjoy-digital one other thing I will try on Monday: disable the auto-cal and sweep through the VCO ranges in the firmware, looking for lock at each point. Hopefully, that way I can get the HMC830 to lock. One we know which VCO range to use, we can hard-code it as a temporary fix. If that works, it gives us a temporary solution, if it doesn't work it will give us some more info about exactly what'

[2018-01-13 14:35] gkasprow commented on #473
@sbourdeauducq  if we connect the Marvell PHY chip used on KC705 (NDA required)  with TX clock routed to the general purpose IO, the problem would be the same. I didn't have much troubles with getting this PHY chip to work in gigabit mode. I can response in another way - if my suggestion to check the FPGA signal assignment was followed, we wouldn't have problems with RGMII :)

[2018-01-13 14:45] gkasprow commented on #470
Almost all our boards, Sayma AMC, RTM and all EEMs have EIU-48 numer assigned - there is dedicated I2C chip. Only Kasli does not have one. Such approach would need to organize database which would assign release version to the EUI number.

[2018-01-13 14:56] gkasprow commented on #240
@jordens going to 8HP involves adding vertical SMA connectors and additional PCB mounted vertically.
So let's leave it as it is.

[2018-01-13 15:21] gkasprow commented on #241
@jordens there is no space for any washers between front panel and BNC connector body. So only nut is needed to fix it correctly. Can you confirm? I don't have any v1.1 DIO-BNC board to check it.

[2018-01-13 15:33] jordens commented on #241
https://github.com/m-labs/sinara/wiki/DIO_BNC
Confirm. Nut and spring washer IIRC.

[2018-01-13 15:41] sbourdeauducq commented on #473
We would have some degree of problems with RGMII in any case: there was no existing MiSoC/ARTIQ gateware for it (we only had MII and GMII). You explicitly told me to stay away from MMC-related stuff like this Ethernet chip and charged ahead.

[2018-01-13 15:44] #241 closed

[2018-01-13 15:53] gkasprow commented on #473
Yes, but RMII signal assignment is not related with MMC :)

[2018-01-14 10:01] marmeladapk commented on #468
Yeah, although I thought that @hartytp offered to do this.

[2018-01-14 10:13] hartytp commented on #468
Will do once i get remote access to a pc

[2018-01-14 11:20] hartytp commented on #241
Thanks for doing that Greg! Hopefully, this is now a production quality run rather than prototyping.

@jordens @gkasprow When the new boards arrive, please can you have a quick look at the outputs on a scope and check that the noise issues are gone and that there are no turn-on glitches on the outputs.

It would also be good to try live direction switching a few times and check that this doesn't d

[2018-01-14 11:43] hartytp commented on #473
In general, I'm in favour of the idea of an ethernet EEM carrier; I have a lot of non-realtime use cases where I need to do something like hook up an ADC to do some data logging/setup a DDS to run CW/etc. The hardware ecosystem we have would be great for this with a suitable ethernet carrier.

However, my current plan is to hack up one of our existing BeagleBone projects to do this. Doing a "prope

[2018-01-14 11:57] gkasprow commented on #473
So maybe instead of Beaglebone,we can use one of ZynQ  SBCs. The cheapest ones are roughly 50$ and can be plugged to the main board. Then we have plenty of LVDS IOs for free and Linux on board. SPI interface can be generated without writing single line of code.

[2018-01-14 11:59] hartytp commented on #473
@jbqubit Appreciate the enthusiasm for organisation, but not sure that copying email chains out of context is the best way forwards for this kind of thing.

[2018-01-14 12:25] hartytp commented on #444
@jbqubit Not sure. I had a bunch of problems with this at first, but I believe they were all related to other known issues (problems when unplugging cables with the board powered on, problems when powering the board on with a terminal open). It was a little hard to disentangle the problems and I didn't want to spend too much time on it.

In general though, my feeling is that USB is pretty flaky an

[2018-01-14 12:28] hartytp commented on #334
Wouldn't it be better to keep it open then and just change the milestone?

[2018-01-14 12:29] hartytp commented on #334
Okay, just seen you opened a new issue. Fine.

[2018-01-14 12:37] hartytp commented on #253
Wow, that's good to know. That will make the AMC much more affordable!

---

Different note (probably needs a new issue, but not a high enough priority to bother doing for now): we should probably rename Sayma_AMC to something else. Motivation for this -- totally independent from the Russian names thing -- is that Sayma was originally intended to be an RF generation board. I think it gets confusin

[2018-01-14 12:58] sbourdeauducq commented on #253
Not so confusing. That's why we have opaque names...

[2018-01-14 13:56] hartytp commented on #253
This is nothing to do with opacity or russian names.

The AMC v RTM distinction is easily lost on users (who mainly don't know much about uTCA). So, Sayma_AMC and Sayma_RTM sound a lot like the same product. So, it's confusing to explain to people that Sayma is an RF generating board, but it's also a general purpose FPGA card that can be used by shuttler and other projects.

IMHO it's better to ha

[2018-01-14 14:28] marmeladapk commented on #468
Soo, I may have jumped the gun after @jbqubit message and installed it myself. Steps I did:

1. Updated Conda <sub>(I think this point should be not recommended in [manual](https://m-labs.hk/artiq/manual-release-3/installing.html) but required for users like me - 1. I thought conda would be updated along with other system updates (TBH I'm not sure why I thought that) 2. Installation proceeded with

[2018-01-14 15:29] jordens commented on #468
@marmeladapk
* We have `--gateware-toolchain-path` to specify the xilinx toolchain path. The fact that that doesn't work for the RTM bitstream is a bug.
* `openocd` should also be pulled in by `artiq-dev` that will override your other openocd.
* Is a sentence like `Install an up-to-date conda package` be sufficient? Could you file an issue (or better a pull request with the change that would have

[2018-01-14 15:35] marmeladapk commented on #468
@jordens I didn't specify `--gateware-toolchain-path`, it's not mentioned in the manual so that's not a bug.

[2018-01-14 16:26] jordens commented on #240
@gkasprow or pigtails and panel mounted connectors. or even some non-standard mechanical design where the angled connectors are on both sides. ack, not something for now.

[2018-01-14 17:08] jordens commented on #334
Since this issue had drifted a lot from the original "power savings" general topic, I decided to draw a line and isolate to the only remaining item.

[2018-01-14 18:11] hartytp commented on #334
Sure, thanks for doing that. I just didn't see that you'd done it.

[2018-01-14 18:12] hartytp commented on #468
@marmeladapk Great! Good for you. In the long run, it's much better if you can do this yourselves.

[2018-01-14 19:43] hartytp commented on #253
@sbourdeauducq To be clear, this is also not meant as an attack on the name Sayma (I don't like that name, but that's a separate conversation!).

I just think that users will find things easier to understand if Sayma refers to one of the AMC *or* RTM, and we find a different name for the other one.

[2018-01-14 19:45] hartytp commented on #472
@gkasprow Can you sanity check something for me, please?

I don't have Allaki, and I want so see some RF from the DAC. Their outputs are current sources, so don't work without a load. The appropriate load is just a 100Ohm resistor between them, right? So, I can solder this between the two SMP connectors, can't I (IIRC there are tabs on those connectors which I can solder to). I can then probe one

[2018-01-14 21:21] jordens commented on #472
Don't bother with source side termination. You'll get RF output despite that. And Greg adds the 50r source side termination manually iirc. There is an erratum.

[2018-01-14 21:25] gkasprow commented on #240
done.

[2018-01-14 21:40] hartytp commented on #240
Thanks!

[2018-01-14 21:42] hartytp commented on #472
I didn't mean source-side termination, I meant that as a load -- I was planning to use a high-Z scope probe so the 100R resistor is my load.

[2018-01-14 21:49] gkasprow commented on #472
The outputs are terminated with 50Ohm close to the DAC, so you will clearly see the signal at the SMP connectors. You can connect the scope probe and U will see the signal.

[2018-01-14 21:50] hartytp commented on #472
Sorry, I'm misunderstood you.

aah yes, now I remember. Great, I'll just stick a scope on the SMPs.

[2018-01-14 22:50] gkasprow commented on #446
@hartytp The HD68 to IDC  and IDC to BNC adapters were added to repo

[2018-01-14 23:14] hartytp commented on #446
Thanks!

[2018-01-15 01:54] dtcallcock commented on #473
Obviously this is a fairly low priority for groups like us and Oxford that have already deployed Artiq.  Instead of shelving it though, perhaps someone else could take the lead?

The reason is that this board would allow groups that are a way off using Artiq to get going with EEMs right away (assuming the interface is easy to make work with LabView/pyIoncontrol/M-ACTION etc.).  This could signific

[2018-01-15 10:14] hartytp commented on #472
Can't do that. Not supported by the HMC830. :(

[2018-01-15 12:28] hartytp commented on #472
Greg,

above you posted the register set:

0 $0 $20 spi_hmc830 .
0 $1 $2 spi_hmc830 .  \ chip enable by SPI
0 $2 $2 spi_hmc830 .  \ divider = 2
0 $6 $303CA spi_hmc830 .
0 $5 $1628 spi_hmc830 .
0 $5 $60A0 spi_hmc830 .
0 $5 $E090 spi_hmc830 .
0 $5 $2818 spi_hmc830 .
0 $5 $F88  spi_hmc830 . \ magic word enables PLL out
0 $5 $0 spi_hmc830 .
0 $7 $14d spi_hmc830 .
0 $8 $c1beff spi_hmc830 .
0 $a $2046 s

[2018-01-15 12:30] hartytp commented on #472
Anyway, I'm going to leave this for now. Let me know when you've had another go with your forth CPU and can get RF out at approximately the correct frequency (even if it's not in lock).

Thanks!

PS the routing on the HMC830 loop filter looks pretty long, could be an issue with pickup. On the next revision we should try to make that more compact.

[2018-01-15 12:57] jordens commented on #349
As @sbourdeauducq reported elsewhere, Kasli Ethernet is working. On the board here ("#2") SFP1 also works fine.

[2018-01-15 13:08] marmeladapk commented on #468
Should I flash sayma_amc_drtio_master and sayma_rtm to work with Artiq?

[2018-01-15 13:14] hartytp commented on #472
Okay, using an external 1.2GHz source, I do get a ramp out of the DACs on Sayma. It looses lock after about 1s, but it's a start!

[2018-01-15 13:28] marmeladapk commented on #349
@jordens To build Kasli target I pulled latest Artiq repo and I wanted to update conda environment to it using `conda env update -f conda/artiq-dev.yaml`. However this didn't pull latest migen and misoc with changes for Kasli, so I had to do this manually to be able to build gateware. Is this expected behaviour?

Also, build failed with errors:  `Rule violation (IOSTDTYPE-1) IOStandard Type - I/O

[2018-01-15 13:28] marmeladapk commented on #468
@jordens sayma_rtm target does not have --gateware-toolchain-path, should I file a bug?

[2018-01-15 14:21] jordens commented on #349
@marmeladapk I didn't know about `conda update` but `-f` is force and I don't think you can use it in this case. Just install the latest with `conda install -c m-labs/label/dev misoc migen openocd`. I don't know about the rule violation. I don't see those. We use `2017.2` or `2017.4`. The [buildbot](http://buildbot.m-labs.hk/waterfall) will generate binary packages for Kasli soon.

[2018-01-15 14:24] jordens commented on #468
@marmeladapk The `drtio_master` bitstream is for something else. Ignore it. The `sayma_rtm` bitstream needs to be loaded manually over JTAG. @sbourdeauducq can guide you through it.

You can file an issue for the missing `--gateware-toolchain-path` and other options. Those should be there (or `sayma_rtm` shoudl be better integrated).

[2018-01-15 14:25] marmeladapk commented on #349
I'll check with 2017.4, but generally I got those errors when in constraints eem lines were set as LVDS, but they didn't have IOBUFDS instantiated in code.

[2018-01-15 14:31] jordens commented on #349
@marmeladapk Make sure that the misoc/migen that are being used are actually the ones installed through conda and not some packages that you `git clone`-ed yourself and `setup.py install` or `pip install`-ed. But I can see unused inputs causing that warning. Pretty sure it's benign.

[2018-01-15 14:32] hartytp opened #474 "Sayma: clock signal integrity"
1. Loop filter layout for the HMC830 forms quite a big loop, this is likely to be bad from an EMI perspective.

[2018-01-15 14:37] hartytp commented on #474
2. My seutp is:
- Synth at +6dBm, 1.2GHz attached to one of the clock mezzanine DAC_CLOCK SMPs. The other one is 50R terminated.
- Set mux switches to feed this signal into the HMC7043.
- Look at j59 on spectrum analyser. Probing with a short SMA pig tail that's soldered on to the PCB.
- Clock signal looks worse than I would have expected...

![20180115_143424](https://user-images.githubuserconten

[2018-01-15 14:39] hartytp commented on #474
I suspect that's not enough to prevent the JSED links from working, but it's not ideal!

[2018-01-15 14:40] jordens commented on #468
@marmeladapk Or you could just give it a try and add an `ArgumentParser` using the code from the other targets as baseline. Do a pull request when you'd like us to look at it.
And if you come to our IRC channel (#m-labs @ freenode) we can help you with faster response times.

[2018-01-15 14:41] hartytp commented on #472
@gkasprow My HMC830 eval board has arrived, so if you have problems getting your HMC830 on Sayma_RTM up and running I'll have a look at that. Just let me know!

[2018-01-15 14:52] hartytp commented on #474
...yes...and some of the ground plane underneath....

Yes, this might just be pickup in the test point. 1 sec

[2018-01-15 14:57] hartytp commented on #474
Okay, this is the same measurement, but looking at J60 (HMC7043 output). NB I left this also connected to GTP_CLK_IN, but AFAICT the HMC7043 can drive 25R okay.

![20180115_145421](https://user-images.githubusercontent.com/21218399/34948181-581855a2-fa04-11e7-913c-72be8428157d.jpg)

That seems pretty good, so maybe the above was just a bit of pickup in my pigtail.

[2018-01-15 14:58] hartytp commented on #474
So, when using an external 1.2GHz source, the HMC7043 produces a good 600MHz clock for the DACs. No major problems here AFAICT!

[2018-01-15 15:05] hartytp commented on #474
@gkasprow Something to consider for Sayma v2.0: if we do end up removing the clock mezzanine and simplifying the clocking, there may be room to move the HMC7043 + HMC830 onto the top side of the board. That could be really helpful IMHO: clock chips on same side of PCB as connectors makes it easier to work on the board etc.

[2018-01-15 17:13] marmeladapk commented on #349
Huh on board 4 and 6 SFP1 also works. Seems like I didn't do the test properly.

I tested last link using @gkasprow SATA-SFP converter. Below is a screenshot of all links working simultaneously at 6,25 Gbps.
<img width="1129" alt="wszystkie-6g" src="https://user-images.githubusercontent.com/24512604/34954173-bc8211ca-fa1f-11e7-81a2-c6dba40e1f96.PNG">

[2018-01-15 21:59] hartytp commented on #473
@dtcallcock If anyone wants to lead/fund this then I have no objections. I just don't have bandwidth to think about it right now.

Two brief comments though:
1. If people really want to do this soon, they could just use Kasli running a microprocessor (misoc/microblaze). That doesn't require any new hardware design. And, as always, it's best to reuse designs where possible (easier to ensure high qu

[2018-01-15 22:00] hartytp commented on #473
@dtcallcock If anyone wants to lead/fund this then I have no objections. I just don't have bandwidth to think about it right now.

Two brief comments though:
1. If people really want to do this soon, they could just use Kasli running a microprocessor (misoc/microblaze). That doesn't require any new hardware design. And, as always, it's best to reuse designs where possible (easier to ensure high qu

[2018-01-15 22:02] hartytp commented on #240
@gkasprow If the boards have gone to manufacture, are all items at the top of this issue done? If so, can we close the issue?

[2018-01-15 22:09] hartytp commented on #227
Closing this as we're done with tests for Zotino v1.0. v1.1 discussion at #446

[2018-01-15 22:09] #227 closed

[2018-01-15 22:10] gkasprow commented on #473
We can get rid of 2 SFPs, clock distribution, USB, install smallest FPGA and use Kasli as it is. This would significantly cut the cost without changing the design.

[2018-01-15 22:11] #240 closed

[2018-01-15 22:13] hartytp commented on #473
Could be a good idea, although I wonder how much money that will save? 50%? 25%?

Also, if we go for the cheapest FPGA in that package, we need to check that there are still transceivers available for SFP0 ethernet.

[2018-01-16 11:17] hartytp commented on #472
After one of those frustrating JTAG bugs cost me quite a while (JTAG become non-responsive, but a lot of randomly plugging and unplugging things and power cycling everything a few times eventually fixed it) my Sayma is back up and running. So...drum roll...

RF from Sayma DAC channel 6 (zero-indexed) using ARTIQ:
![20180116_111343](https://user-images.githubusercontent.com/21218399/34986264-d3540d

[2018-01-16 11:22] gkasprow commented on #472
@hartytp do you use external JTAG cable or USB-JTAG?

[2018-01-16 11:23] hartytp commented on #472
USB

[2018-01-16 11:24] gkasprow commented on #472
Any idea how to recreate this issue?

[2018-01-16 11:26] hartytp commented on #472
Nope, sorry (if I did I would have filed an issue).

Might well have been one of the other known issues (perhaps I hit ctrl-C during an OpenOCD run or something like that). Right now, there are quite a few known issues with USB-JTAG that aren't fixed on my board (like plugging and unplugging cables causing issues). I think it will be hard to track down new issues until those ones are fixed.

[2018-01-16 11:31] hartytp commented on #472
@gkasprow For the HMC830, the datasheet says that the NC pins were connected to ground for all characterization tests. We leave them floating. But, on the eval board, they are connected to all kinds of things see [here](http://www.analog.com/media/en/technical-documentation/evaluation-documentation/hmc830lp6ge_eval_pcb_schematic.pdf)

What should we do? I vote that in the next iteration we copy th

[2018-01-16 11:38] gkasprow commented on #472
the datasheet also says: The pins are not connected internally; however, all data shown herein
was measured with these pins connected to RF/DC ground externally

[2018-01-16 11:38] gkasprow commented on #472
I will follow the datasheet.

[2018-01-16 11:40] hartytp commented on #472
@gkasprow Right, that's my point.

But, if that's the case, why aren't they connected to ground in the eval board? Surely that's used for testing.

Personally, I would prefer to follow the eval board instead of the datasheet. That datasheet is a bit ambiguous in places and if we have issues then it's hard to understand why. If we follow the eval board then we can always check the performance of ou

[2018-01-16 11:44] hartytp commented on #472
@gkasprow I think that unplugging the USB cable with the board powered and a terminal open may be the source of my JTAG issues.

[2018-01-16 12:07] gkasprow commented on #472
USB is bus powered. The question is if the USB port on PC side locks.
I observed such behaviour on our Linux machine and had to reboot it to resume operation.

[2018-01-16 12:26] marmeladapk commented on #473
@hartytp Even xca15t has 4 transcievers and has the same footprint as the one we use.

[2018-01-16 13:41] hartytp commented on #473
Cool. It also has less GPIO, right? So, out of curiosity, what else do we loose? e.g how many complete EEM connectors do we have left? Do we loose the IO lines for the Si chip, etc.

But, anyway, if Kasli-Light or whatever can be cheap enough then it could be a good alternative to a microporcessor board IMHO.

[2018-01-16 13:42] hartytp commented on #351
@marmeladapk ping. Did you produce this adapter yet?

[2018-01-16 13:57] hartytp commented on #472
Rebooting didn't help in this case...

[2018-01-16 13:58] hartytp commented on #472
Probed the HMC830 5V and 3V3 supplies. No nasty turn on transients (turn on cleanly over a second or two), correct voltage, and no obvious glitches when I load the RTM firmware.

So, correct input clock, no power supply issues. I will verify the register set we're loading using an eval board (or Greg can do this using his Sayma and forth CPU). If no issues turn up there, this has to be some issue

[2018-01-16 14:16] marmeladapk commented on #473
We loose one bank, which has eem11 and eem12 LVDS lines. Everything else stays.

[2018-01-16 14:18] marmeladapk commented on #351
@hartytp Not yet, will do this this week. Do you want some kind of clock output?

[2018-01-16 14:36] jordens commented on #351
@marmeladapk Are the designs for the next batch of Kasli boards already at the factory (like Urukul and DIO_BNC/SMA)? If not, could you please do that first?

[2018-01-16 15:07] thomasRF commented on #251
Sorry for my absence. I will try to answer in chronological order the question, starting from December 21st.

[2018-01-16 15:08] thomasRF commented on #251
@hartytp

Are the fans easy to get to (these will probably need replacing at some point, so it's nice if they can be accessed/changed without too much pain)

I’m responsible for the RF PA modules design, and I discussed with Greg the issues of RF PA modules exchange and of the functionality of using RF modules. In the final version we will try to provide ease of replacement and usage convenience o

[2018-01-16 15:15] hartytp commented on #473
Good for you!

Well, in that case, I don't see any issues. Maybe Kasli-lite will make a good microprocessor carrier then...

[2018-01-16 15:17] hartytp commented on #351
Agreed, that should take priority.

What I would do is route the clock to a MMCX connector on the board (via a balun), which we can use the MMCX to test signal integrity of the BP clock.

I'd also add a 100R termination resistor (DNPd for now) that can be used in case we decide not to populate the balun + MMCX later on.

[2018-01-16 15:19] hartytp commented on #251
@thomasRF Good to hear from you, glad you're feeling better!

Sounds good; this is more an issue for Greg than you, as you're focusing on the RF part, with Greg doing the mechanics etc.

We've finished our testing and posted some suggestions/comments about this. See the other issues.

[2018-01-16 15:42] sbourdeauducq commented on #472
Intermittent JTAG breakage is https://github.com/m-labs/sinara/issues/463

[2018-01-16 15:46] hartytp commented on #472
This seems like a different issue, since it was not fixed by power cycling the board (which 463 was AFAICT).

[2018-01-16 15:58] jbqubit opened #475 "Sayma in uTCA: no power"
@sbourdeauducq and I both see a problem with Sayma in uTCA rack. Take a board that works fine on the desktop powered via external supply and put it into uTCA rack. JTAG over USB stops working. @gkasprow do you see this?

[2018-01-16 16:08] jbqubit opened #476 "MCH manual power configuration"
Currently users need to instruct MCH to apply power to Sayma modules. Also indicate how to read current delivered to AMC slots. Add instructions like the following to the documentation.

https://github.com/m-labs/sinara/issues/371

[2018-01-16 16:10] sbourdeauducq commented on #371
@jbqubit That did not work. As you can see ``POn`` is not ``y`` for the AMC slots, and the FPGA is not powered (https://github.com/m-labs/sinara/issues/475).

[2018-01-16 16:51] gkasprow commented on #463
@sbourdeauducq I found why it works like this.
The procedure to have JTAG working is following:
- plug the USB
- run the OCD, it will set EN_USB_JTAG line high
- turn on the Sayma. It will load SCANSTA configuration

If you disconnect USB with Sayma powered, the configuration will be kept until the next power cycle.
Generally speaking, one must run OCD before power supply is on.
I can fix this in

[2018-01-16 16:56] hartytp commented on #468
@marmeladapk Could you try running Sayma RTM with an external 1.2GHz clock, please?

Configuration I'm using is:
- 1.2GHz clock attached to DAC_CLK SMP of clock mezzanine (attach clock source to one SMP, terminate the other with 50R to ground)
- Change [this](https://github.com/m-labs/artiq/blob/fcc438524c38d1ac336aa8d2b857e4c2338705f3/artiq/firmware/libboard_artiq/hmc830_7043.rs#L25) line to `0*D

[2018-01-16 16:56] sbourdeauducq commented on #463
What does that mean?

[2018-01-16 16:59] sbourdeauducq commented on #463
Why can't we just have USB JTAG enabled at all times? This is what we use for debugging those boards, and bugs like this are wasting our time, so better keep things as simple as possible to limit their occurence. We do not want to use the JTAG from µTCA for the time being.

[2018-01-16 17:02] hartytp commented on #463
@gkasprow Good catch. Glad we're starting to get to the bottom of these JTAG issues. Right now Sayma basically works beautifully, but there are enough small issues that each waste time that it is hard to work on.

[2018-01-16 17:05] hartytp commented on #468
Also, @marmeladapk @gkasprow IIRC, you previously saw RF out of Sayma using a bitstream that @enjoy-digital sent you. Please can you remind me what your configuration was, and whether you saw any issues. e.g. did you get nice RF out and did the JSED links stay up? If so, this is less likely to be a hardware issue...

[2018-01-16 17:13] marmeladapk commented on #463
Yes, I ran your script while power supply was off.

[2018-01-16 17:48] gkasprow commented on #463
@sbourdeauducq
You can short pins 13 and 11 of JTAG header. 2mm jumper is recommended
This will permanently enable USB JTAG mode.

[2018-01-16 18:13] gkasprow commented on #468
I used Florent  binaries to test all Saymas working with 1GHz external clock applied to the SMP connectors.
The link was stable, but there is still unsolved issue with mux control line that caused some boards to loose the link. Florent attched this FPGA pin to GND and on some boards this particular pin was high, while on some of them was low.
I asked him to route it to the register and managed to

[2018-01-16 18:17] gkasprow commented on #475
@hartytp is the blue LED blinking on the front panel? Did you enable the power supply in the crate?

[2018-01-16 18:19] a-shafir commented on #446
How about separate with beads the P/N 12V for each load (DAC, and each opamp)? There will be some AC leakage via D5A/B capacitance etc.  Also R3 can be at least <100R safely.

I think additional LC filter makes sense to add for the DAC DVCC line at least to reduce the return AC current via C83, C13, C14 to the power supply that can leak to the analog side.

I think it makes sense add additional in

[2018-01-16 18:24] jbqubit opened #477 "NAT MCH configuration for Sayma setup"
Users need to know how to do basic configuration of NAT MCH so it plays well with Sayma. Here's a rough outline.

1. Using putty to configure MCH over a USB cable.
- On Linux the device is /dev/ttyACM0
- 19200, 81N with XON/XOFF flow control

2. Using MCH console interface set IP configuration for web interface (GbE1)
- type 'ip' to configure IP address of management web interface.
- type 'reboot'

[2018-01-16 19:34] enjoy-digital commented on #468
@hartytp @gkasprow: from what i remember, i was able to also get the JESD link stable after we found that one calibration pin was floating on the AD9154 and fixed it. But this was with the designs from my sayma_test repository. I'm at M-Labs office tomorrow and will test if JESD is also stable with ARTIQ.

[2018-01-16 19:37] gkasprow commented on #468
I applied this fix to all boards prior shipment

[2018-01-16 20:25] jbqubit commented on #468
That's why the [manual says](http://m-labs.hk/artiq/manual-master/installing.html?highlight=pre%20existing#installing-the-artiq-packages) to update conda (cf https://github.com/m-labs/artiq/issues/785).

It wouldn't hurt if the manual indicated that this path is commonly needed. Just to grease the skids.

python3 -m artiq.gateware.targets.sayma_amc_drtio_master

That's great progress!

artiq_flash

[2018-01-16 21:08] hartytp commented on #468
You mean the clock mux? I didn't see any issues with the clock, which was still present after the JESD link went down. While, it's possible that there was a brief glitch that I didn't catch, I don't think that was the issue in my case.

[2018-01-16 21:12] hartytp commented on #475
I think you mean @jbqubit

[2018-01-16 21:15] gkasprow commented on #468
@hartytp some boards had this issue, some didn't

[2018-01-16 21:17] hartytp commented on #468
Okay. Well, I'm not sure why my JESD links lost lock. Will be interesting to hear what @enjoy-digital finds in HK...

[2018-01-16 21:18] hartytp commented on #463
This will permanently enable USB JTAG mode.

Nice. I'll do that on my board for the time being.

[2018-01-16 21:32] jbqubit commented on #371
I've put my annotated MCH configuration script on git [here](https://github.com/m-labs/sinara/blob/master/MCH_config/nat_mch_startup_cfg_power_only.txt).

My Sayma_AMC and Sayma_RTM are in AMC slot 2. The green LED on power supply for AMC 2 is blinking green. Using NAT web interface I download 'System Information' text file. Here's what I see related to AMC power.

[code]

[code]

The mapping betw

[2018-01-16 21:37] jbqubit commented on #475
@gkasprow asked

The power for the AMC slot is enabled and the MCH power led is blinking green. When I run Sayma_AMC and Sayma_RTM on the desktop in my lab using stand-alone power supply I observe 3.3 A current. In uTCA crate the current is only 1.85 A ([as reported by MCH](https://github.com/m-labs/sinara/issues/371#issuecomment-358113664)).

[2018-01-16 21:37] jbqubit commented on #475
And the blue LED is not blinking.

[2018-01-16 21:38] dhslichter commented on #450
8HP

[2018-01-16 22:10] hartytp commented on #446
@a-shafir

I don't believe that a ferrite bead on each OpAmp would be helpful; SMT ferrites typically only work for 10s of MHz and above, but this circuit only works at audio frequencies so their affect will be minimal. I also do not believe that a ferrite between the DAC's analog supply rails and the OpAmps is helpful for the same reason.

Note that there is already heavy LC filtering between the

[2018-01-16 22:13] hartytp commented on #446
@a-shafir I appreciate the enthusiasm for improving these boards. But, for now I don't want to make those kinds of changes. Your approach would overcomplicate these designs by adding components to try to solve things that are unlikely to be issues.

Let's just wait until we have the next prototype. Once we've characterised that thoroughly we can see what the actual performance is and evaluate chan

[2018-01-16 22:15] hartytp commented on #450
Don't care either way is mine.

[2018-01-16 22:17] hartytp commented on #371
That seems like a lot to me. IIRC, it was only about 2A with the gateware version I'm using.

[2018-01-16 22:36] a-shafir commented on #446
Ok, about the ground plane this is exactly type of the circuit where it works perfectly. The digital part of the board is quite noisy and imho there is no reasons to spread the return currents via whole board ground/power planes.
Even this looks like over-caution it certainly will not harm in this board where there is only one A-D junction but might help in some case. It cost nothing including the

[2018-01-16 23:07] gkasprow commented on #475
@jbqubit can you check if LEDs on Sayma AMC, close to the DC/DC converter are ON?
The same with RTM LEDs.
It looks like the RTM is not enabled. Maybe it is not fully plugged?

[2018-01-16 23:19] gkasprow commented on #475
anyway, not initialised Sayma should consume roughly 1.9..2A

[2018-01-16 23:59] hartytp commented on #446
Firstly, this statement makes no sense. Reactive impedance of a trace at DC? You mean resistive? Where do you get 1A from? What kind of digital logic has that kind of current? I appreciate the effort to quantify your statements, but this calculation is irrelevant.

I disagree with this statement. It's really easy to take a perfectly good board and ruin it by splitting ground planes.

Also, note th

[2018-01-17 00:05] jbqubit commented on #475
- Sayma AMC power LEDs are not on.
- Sayma RTM power LEDs are not on.

[2018-01-17 00:06] jbqubit commented on #371
I also have 3 BaseMod installed on the RTM.

[2018-01-17 01:10] gkasprow commented on #475
so if the power LEDs are not on, so who consumes that much power...I will check it with my crate.

[2018-01-17 01:35] sbourdeauducq commented on #463
OK, good. Which JTAG header, the small one used to program the MMC?

[2018-01-17 09:30] hartytp commented on #444
@jbqubit If you have USB cables that reliably reproduce this issue, is it worth posting them to @gkasprow so he can investigate and fix the issue? Would be great to have reliable USB JTAG for Sayma v2.0...

[2018-01-17 09:41] hartytp commented on #446
@a-shafir re diode capacitance. Note that the regulators we're using on this board [negative LOD data sheet](http://cds.linear.com/docs/en/datasheet/1964fb.pdf) [positive LDO datasheet]() have noise floors below 100nV/rtHz. So, for higher frequencies, that's divided by 1000:1 by the output capacitor, giving a noise floor for the board below 100pV/rtHz.

At lower frequencies the supply noise is lar

[2018-01-17 09:43] hartytp commented on #446
@gkasprow On this subject: @a-shafir's posts did make me look again at the supply network (so, thanks for that) so I noticed that the negative LDO we're using is the version without the bypass pin. As this is quite a noise sensitive device, we should probably use the bypassable version unless there is a good reason no to (e.g. big cost difference). Why didn't we use it?

NB If we change this on Zo

[2018-01-17 12:13] hartytp commented on #446
@gkasprow I had more of a look at the measurement setup we were using here to look at the noise. Based on my new measurements, I currently believe that the noise @cjbe saw is related to the measurement setup and not to the DAC itself.

So, I don't think there is any need to do further testing on the v1.1 boards.

[2018-01-17 12:45] gkasprow commented on #463
nope, the bigger Xilinx one.

[2018-01-17 13:43] jordens commented on #446
@Hartytp Care to elaborate?

[2018-01-17 14:05] hartytp commented on #446
I think the bulk of what Chris was seeing was pickup/grounding/wiring issues.

I'm now using a small coax pigtail soldered directly to the output of the CMC on Zotino to do my probing (DAC removed, OpAmp input grounded). I'm attaching that to a low noise FFT analyzer. I measure a noise floor of something like 17nV/rtHz with lots of junk on it at higher frequencies (instrument noise floor is around

[2018-01-17 14:28] hartytp commented on #446
@jordens Maybe I'll regret saying this, but I'm not too worried about the filter design, which is the only thing I can test at the moment (e.g. can't test the DACs because they die too fast) so I think it makes sense to move onto v1.2 without further delay.

The filter itself is just an OpAmp circuit. We've simulated it in SPICE and it looks good. But even if there is a problem there, I'm confiden

[2018-01-17 15:13] jbqubit opened #478 "new Ethernet chipset for Sayma 2.0?"
From #854, need to decide between a) keep existing Ethernet solution which gives FPGA Ethernet access but no Ethernet for MMC b) switch to different chip and give Ethernet to both FPGA and MMC.

@gkasprow said

Which chip is this?

[2018-01-17 15:16] jbqubit commented on #475
Were you able to reproduce @gkasprow?

[2018-01-17 15:23] jbqubit opened #479 "Sayma 2.0: support for JTAG from uTCA backplane"
For development of Sayma 1.0 JTAG via FTDI is always-on; see https://github.com/m-labs/sinara/issues/463#issuecomment-358029840.  Decide if we want to support extension of JTAG chain to uTCA backplane for Sayma 2.0.

[2018-01-17 15:26] jbqubit commented on #133
@filipswit @gkasprow I'm not confident that details such as the following are being added to the Sayma v1.0 documentation.

- [ ] JTAG always-on configuration cf https://github.com/m-labs/sinara/issues/463#issuecomment-358046337
- [ ] document which ICs have Ethernet access for Sayma 1.0. https://github.com/m-labs/artiq/issues/854

[2018-01-17 15:28] gkasprow commented on #479
It does not have to be always on, it can be set to USB  by default. I use JTAG via backplane regularly. NAT offers remote debugging and FPGA programming via JTAG port.

[2018-01-17 15:37] hartytp commented on #479
AFIACT (but @gkasprow should correct me on this if I'm wrong) it's probably worth keeping the uTCA BP JTAG since it's likely to be helpful for non-ARTIQ users. However, if we are going to do that then @gkasprow should demonstrate that the USB-JTAG setup works really reliably, without any of the issues we've encountered so far (but, AFAICT, he's getting pretty close to that).

Also, if all issues w

[2018-01-17 15:46] gkasprow commented on #478
[88E6321](https://origin-www.marvell.com/switching/assets/LinkStreet_88E6341_Product_Brief.pdf)
I have a devkit and I checked that it works well without any SW nor configuration memory.
I didn't wanted to propose it for Sayma due to NDA constraints.

[2018-01-17 15:47] hartytp commented on #478
@gkasprow what's the use-case for ethernet for the MMC? This isn't something I can see ARTIQ using, but is it something that non-ARTIQ users or Sayma are likely to value enough for us to bother with it?

[2018-01-17 16:05] gkasprow commented on #478
Original idea was to provide FLASH upgrade via Ethernet but we can do it over JTAG providing that we have NAT MCH + JTAG switch module.

[2018-01-17 16:08] jordens commented on #349
Si5324 clock distribution noise and spurs [running from on-board XO](https://github.com/quartiq/kasli-i2c/blob/6e1f137c0faa55276fb8bd6c1e24958200a9c0e5/i2c.py#L392-L402). Looking at J1, noise for the low-frequency part mostly limited by the SA. The one spur at ~449 kHz seems to be the SMPS. It wanders if I touch the SMPS components.
![image](https://user-images.githubusercontent.com/1338946/350514

[2018-01-17 16:09] gkasprow commented on #478
Of course we can do it via USB :)

[2018-01-17 16:10] jbqubit commented on #479
@gkasprow Have you tested this on Sayma? I'm waiting for a firmware update from NAT to get JTAG switching enabled for my MCH.

----

"JTAG Switch Module Configuration" option on MCH is not available. NAT web interface reports "Sorry! NAT-MCH BASE PCB V3.5 FPGA V1.9 doesn't support NAT-JSM. Minimal requirements: PCB V3.1 FPGA V1.10"

My MCH version info:
- My PCB PCB Version is V3.5.
- Firmware Ver

[2018-01-17 16:13] jbqubit commented on #478
Since so many aspects of Sayma are controlled by MMC it's desirable to have some chassis-level support for flashing, configuring and reading parameters from MMCs.

[2018-01-17 16:30] hartytp commented on #349
So, something like -100dBc/Hz at 100kHz offset? We expect something like -130dBc/Hz based on the datasheet. Wonder what limits that.

[2018-01-17 16:30] gkasprow commented on #478
by default, there is I2C available via MCH user interface.

[2018-01-17 16:42] thomasRF commented on #251
@hartytp

Yes, I ‘ll be able to do the discussed additional test, however, the only RF PA that I’ve made are in your possession. if you want, please send it (RF PA modules) along with the enclosure of the unit, which will be adjusted, and then I’ll carry out additional tests.

At the outset, I would like to point out that during the project I have made changes of the schematics diagrams, but the s

[2018-01-17 17:08] jordens commented on #349
The [SA](http://www.siglentamerica.com/USA_website_2014/Documents/DataSheet/SSA3000X_DataSheet.pdf) is the limit on noise density everywhere but not on spurs.

[2018-01-17 17:36] gkasprow commented on #349
The Silabs supply was not designed to be very low noise. We can add LDO.

[2018-01-17 17:44] jordens commented on #349
I'd do that but also remove the clock fanout in favor of a single MMCX output form the Si5324 and then using Clocker or/and the backplane. Kasli is too dense and overloaded. The additional space would help with figuring out a good heatsinking solution, better SI, cleaner routing, higher yield, and lower manufacturing risk.

Also I would like to free up six pins on the FPGA by having MOD_DEF1 and M

[2018-01-17 17:47] jordens commented on #349
But let's get v1.1 into the fab first. We can't wait. Or is it already there? @gkasprow

[2018-01-17 17:55] gkasprow commented on #349
@jordens do you need these FPGA pins for something else? Or just test point?
The SFP+ modules have I2C, while some SFP ones use these pins for bandwidth control.

[2018-01-17 17:56] gkasprow commented on #349
I've just prepared new revisions for: Urukul, BNC, SMA, TTL tester, Sampler.
Now I'm working on Zotino, @marmeladapk will update Kasli ASAP.

[2018-01-17 18:03] hartytp commented on #349
If we can do this without adding too much additional complexity then I think it would be a good idea. Would it need an extra SMPS on Kasli though to produce the voltage that drives the LDO (or, can we use a 2V5 LDO driven from 3V3 for the Si chip?).

If it really does help then I'd be okay with this (although, it's definitely not something I'd like to see happen). However, before we do it I'd like

[2018-01-17 18:04] hartytp commented on #478
Would that mean that Metlino would need to support that (ie would we have to write extra firmware for that approach)?

[2018-01-17 18:05] gkasprow commented on #474
@hartytp to get rid of the shield can, just use hot air gun, it is really easy to desolder such massive component :)

[2018-01-17 18:07] hartytp commented on #474
That approach lacks therapeutic value.

[2018-01-17 18:07] hartytp commented on #474
:)

[2018-01-17 18:31] jordens commented on #349
@gkasprow AFAICT all modules use the rate select pins (RS0 and RS1) for bandwidth control. The MSA mandates I2C on MOD_DEF1/2.

@hartytp We have an unused diff output and one unused single ended on IC1 and an unused diff on IC2. Have the diff IC2 output go to the backplane, the single ended IC1 to an MMCX.
I am pretty sure the effects on routability, SI and cleanliness will be there. If the 7x MMC

[2018-01-17 18:39] jordens commented on #349
@gkasprow I'd rather like to use these pins for:

1. RATE_SELECT1 (pin 9 of the SFP). It also gets rid of IC10{ABC}.
2. Reset of the I2C routers. If there lines shorted, on the I2C output ports (as there is on my board), there is no way to get out of that situation and reconfigure the I2C routers other than power cycling. That's bad.
3. Add test points and one more USER_LED.

[2018-01-17 18:41] jordens commented on #349
You can put the EEPROM on the same I2C port as the SI5324. But I guess you have figured that out as well.

[2018-01-17 18:49] jordens commented on #349
And I have changed my mind on the second power connector that is pointing towards the backplane. That can go (removed entirely). If someone wants to power internally, then just use the backplane connector, that EMI filter, and a connector on the backplane. In turn please populate the backplane connector.

[2018-01-17 20:13] jbqubit commented on #188
For many months now I've searched for a Eurocard rack solution that meet the following criteria.
- compatible with [EEM v1](https://github.com/m-labs/sinara/wiki/EEM#eem-mechanical) Sinara peripherals
- low cost
- excellent availability in USA (lead time < 1 week)
- forced air cooling of all EEM card slots

I evaluated offerings from several suppliers and found they [did not meet](https://github.c

[2018-01-17 20:13] #188 closed

[2018-01-17 20:19] gkasprow commented on #478
Metlino uses same MMC as Sayma.

[2018-01-17 20:24] hartytp commented on #188
Nice! Good work Joe.

[2018-01-17 20:29] hartytp commented on #349
Well, it's not a deal breaker for me, but I'd still prefer not to remove these unless @gkasprow and @marmeladapk really think it will help (they are the ones best placed to make that call). I would have no objection to cutting down to 4-5MMCX connectors if that helped (although, we discussed this before and, IIRC, @gkasprow and @marmeladapk said there was no point removing them since the cost is n

[2018-01-17 20:36] hartytp commented on #251
@thomasRF

Don't worry about it, @cjbe has already done these tests and posted the results on GitHub. So, no need to do that.

Okay, good to know.

I see, so the NPTB00004A version hasn't been tested or built yet.

Well, unless there is a significant improvement from changing the final stage amplifier, let's stick with what we have (no point spending a lot of time testing a new power amplifier sta

[2018-01-17 20:40] hartytp commented on #251
To be clear: we are very happy with the cross-talk and noise performance. It meets our specification and is okay.

However, if this can be improved easily -- and **without increasing the cost of manufacturing these amplifiers in a significant way or significantly increasing the design time** -- then we should do it, as less cross-talk/noise is always better.

What I would like you to do is to writ

[2018-01-17 23:02] gkasprow commented on #349
@jordens true, I met some SFP modules that used these pines in other way, but they were custom CERN designs that also used both RD and TD as outputs :)

[2018-01-17 23:04] gkasprow commented on #349
@jordens @marmeladapk On two kasli boards we noticed failed I2C switch. This may be due to ESD. The I2C are open drain with no protection diode. So we should add TVS to each EEM connector I2C lines.

[2018-01-18 11:40] hartytp commented on #349
@jordens re the clock buffer: this is still a high value feature for us.
- I don't anticipate any noise issues with the 125MHz clock from the Si chip (assuming we add an LDO for it or at least some better PSU filtering). If we get close to matching the datasheet performance then it will as good as the AD9910 PPLs. Also, most of our Urukul applications aren't that noise sensitive anyway, so a few s

[2018-01-18 11:44] hartytp commented on #349
But, if you're really set on removing it then a possible compromise would be:
- Route the RTIO_coarse clock to the BP
- Keep a single MMCX on Kasli which also outputs the RTIO_coarse clock from the Si chip
- Put a 4x fanout + MMCXs on the Kasli BP adapter. Then we can use that for our applications.

[2018-01-18 12:08] jordens commented on #349
@hartytp I am OK with exposing the clock at a few places (the backplane, an Kasli MMCX and the panel SMA). But I have the following observations with the 8x clock fanout:

* We definitely need additional space for an LDO for IC2, IC1.
* Kasli is extremely dense. I have been looking at the layout for the last couple weeks and I really don't like the fact that the density has forced Pawel to place a

[2018-01-18 12:15] hartytp commented on #349
I would be totally happy with reducing that to 4.

IIRC, you were the one who wanted that. I'd be fine with loosing the external input and only supporting backplane clocks from the Si chip. Just pointing out that we loose the muxing capacity if we remove the fanout. But, ...

That's true. I hadn't considered that. The only downside of this is that there is no convenient way of feeding this mux via

[2018-01-18 12:16] hartytp commented on #349
But, having said all that, I would be okay with moving the mux + fanout to the BP adapter.

[2018-01-18 12:20] marmeladapk commented on #349
@jordens And routing is very dense but near and under FPGA (eems routing was very tricky) not near clock circuits.

[2018-01-18 12:22] jordens commented on #349
Making room to cool Kasli properly is high priority to me. A block of 8 EEM connectors, 8 ribbon cables, 8 MMCX connectors and 8 coax cables is an almost perfect wall. The opposition to adding 4 HP of space to Kasli is the wrong place to save space IMHO. Having racks filled in the front and in the back (like AMC/RTM) would be easier if HPs are at a premium and a the backside operation is apparentl

[2018-01-18 12:26] hartytp commented on #349
Can reduce this to 4. But, even 8 coax cables aren't really an airflow problem compared to the ribbon cables.

I have no issue with scrapping the mux and only keeping the fanout.

[2018-01-18 12:31] hartytp commented on #349
Anyway, so long as we have a mux on Kasli or the BP adapter, I'm less fussed about where it is. So, will leave final call to @jordens and @marmeladapk. No more comments from me on this

[2018-01-18 12:32] jordens commented on #349
@marmeladapk Ack. Thanks for the input. IMO any future layout changes would still be made easier if the 8x fanout and 7 MMCX were gone.
@hartytp What about the following: We scrap the idea of having the SMA connector output the RTIO clock and use that for input exclusively. They we add four MMCX on the four remaining outputs of the 4x fanout (two positive and two negative). The fact that there is

[2018-01-18 12:36] hartytp commented on #349
@jordens that would be fine for me. I don't anticipate using the SMA clock output, since I imagine doing all clock distribution inside the rack. In the rare case that it's done one can add a pigtail/clocker (I don't mind doing that in this case since I don't think it will be very common, so it's okay if we don't make it quite as convenient).

[2018-01-18 12:40] jordens commented on #349
@hartytp @marmeladapk Ok. Thanks. Then let me summarize:

* [ ] Remove IC3
* [ ] Add an LDO for the power supply of IC1 and IC2
* [ ] Remove the R98 path of CLK_OUT (IC1 to the front panel SMA)
* [ ] Connect four MMCX (J1-J4) to Q2, Q2B, Q3, Q3B of IC1
* [ ] Connect CLK_EXT_P/N to CKOUT2+- of IC2
* [ ] Remove the CLK_SEL logic of IC3
* [ ] Remove J19 and related components
* [ ] Remove J5-J7 and r

[2018-01-18 14:32] jordens commented on #349
@marmeladapk Why does R57 need to be 300R?

[UG470](https://www.xilinx.com/support/documentation/user_guides/ug470_7Series_Config.pdf#page=26):

[2018-01-18 14:57] marmeladapk commented on #349
@jordens @hartytp Please tell me if you consider v1.1 to be a final version or do you expect v1.2?

That part of the board was not dense and I had no trouble routing it. Removing anything is more work than DNPing it, unless you anticipate significant rework of clock recovery circuit schematics. So please consider if removing IC3 is still needed not on a premise that the board is dense, but on some

[2018-01-18 15:02] hartytp commented on #349
I currently don't have any more changes to suggest (although, I haven't played with these boards much yet).

I'm not fussed either way.

IIRC, @gkasprow thought that LVPECL is better for driving cables etc than LVDS. I'd prefer to stick with it unless we need to change.

LGTM. Those regs are nice low noise regulators which should do the job. Anything alone those lines that meets the supply require

[2018-01-18 15:07] marmeladapk commented on #349
@jordens Is there any reason other than visual that you brought back arc issue?

[2018-01-18 15:24] jordens commented on #349
I hope that this will be the final revision of the v1.x series.

I am fine with DNPing instead of removing if it achieves the same.
Let me mark the changes that I definitely want to see in v1.1.

@marmeladapk Yes visual. I don't think the electrons care. But it looks amateurish, conveys a false sense of what is needed and important and seems to indicate that there is some hidden magic going. It's

[2018-01-18 15:32] jordens commented on #349
And if routing that clock network was as trouble-free as you say (which I find surprising), then re-routing it is even easier!
(That comment on the visual aspect of the layout does not refer to your skills which I admire. I hope that's clear).

[2018-01-18 17:46] gkasprow commented on #349
@jordens existing resistor caused JTAG error that DONE pin did not go high. And once I changed it to 300R the problem was solved.

[2018-01-18 19:07] jbqubit opened #480 "DDR3 timing error Ultrascale"
This Issue tracks https://github.com/m-labs/misoc/issues/75 for Sayma v1.0.

[2018-01-18 19:15] jbqubit commented on #251
@thomasRF Great documentation BTW. :)

[2018-01-18 19:24] jbqubit commented on #474
-49 dBc ought not to cause locking problems. @hartytp Did you look very far from carrier?

[2018-01-18 19:55] jbqubit opened #481 "Sayma HMC830 ground "NC pins""
Discussed here.

https://github.com/m-labs/sinara/issues/472#issuecomment-357932888

[2018-01-18 20:00] jbqubit commented on #472
@hartytp Thanks for your pounding on this! Circling the wagons there's some tests @hartytp asked for.

- [ ] @sbourdeauducq Can you try your 1.2GHz generator again, please? If you have problems then I'll see if I can get it working on my system -- if not, I'll have a go at debugging it here.

- [ ] @gkasprow As I said, getting Greg to see if he can reproduce his earlier results with his fourth CPU

[2018-01-18 20:08] jbqubit opened #482 "Sayma_AMC renaming"
In https://github.com/m-labs/sinara/issues/253#issuecomment-357508979 @hartytp suggested

[2018-01-18 20:09] jbqubit commented on #482
Copying from https://github.com/m-labs/sinara/issues/253 ....

@sbourdeauducq responded to @hartytp suggestion above

@hartytp responded

The AMC v RTM distinction is easily lost on users (who mainly don't know much about uTCA). So, Sayma_AMC and Sayma_RTM sound a lot like the same product. So, it's confusing to explain to people that Sayma is an RF generating board, but it's also a general purpos

[2018-01-18 20:09] jbqubit commented on #482
I agree with @hartytp that Sayma_AMC may serve as a useful FMC/RTM interface for a variety applications beyond Sayma_RTM. A distinct name would disambiguate things going forward. I propose we hold off on this discussion until Sayma v2.0 is finalized.

[2018-01-18 20:10] jbqubit commented on #253
Deleted name-related content and moved verbatim to #482.

[2018-01-18 20:36] jbqubit commented on #470
Here's an example database. It could be populated by technosystem prior to shipment.

https://docs.google.com/forms/d/e/1FAIpQLSf7Y3nuaTHbF7lu8rs6N51hA4LGiMhyXESg4ULpbs6Zv-qAbw/viewform?c=0&w=1

[2018-01-18 20:38] jbqubit commented on #470
Also, manufacturer ought to affix the s/n to the PCB on a sticker for human readout.

[2018-01-18 20:38] gkasprow commented on #482
I call my open source AMC FMC boards in following way
AFC - Artix based AMC FMC Carrier
AFCK - Kintex based AMF FMC Carrier
AFCZ - Zynq based AMC FMC Carrier.
This one could be AFCU :)
I know this is not opaque name.

[2018-01-18 20:40] jbqubit commented on #465
In https://github.com/m-labs/sinara/issues/472#issuecomment-357968420 @hartytp did tests on another Sayma and observed that power was OK.

[2018-01-18 21:07] gkasprow commented on #465
Guys, are you sure that you load anything to the HMC830 chip? Can you read the ID?
It has nasty feature that when incorrectly initialised, alternative interface is enabled.
The state of the control lines during power on determine what serial interface protocol is enabled.
And once selected, you cannot change it until next power cycle.

[2018-01-18 21:09] gkasprow commented on #470
@jbqubit good idea!

[2018-01-18 21:34] jbqubit commented on #472
@gkasprow I moved your comment here from #465 which has to do with power supply. Since there's no problem with HMC830 power supply that Issue is closed.

It has nasty feature that when incorrectly initialised, alternative interface is enabled.
The state of the control lines during power on determine what serial interface protocol is enabled.
And once selected, you cannot change it until next power

[2018-01-18 21:34] jbqubit commented on #472
@gkasprow Did you look for VCO AutoCal lock up?

[2018-01-18 21:48] jbqubit commented on #475
@gkasprow Were you able to reproduce this?

[2018-01-18 21:49] jbqubit commented on #475
Changed name to "Sayma in uTCA: no power" as this better reflects the underlying problem.

[2018-01-18 21:51] jbqubit commented on #371
Closing since the question of how to use MCH to readout AMC current is resolved.

[2018-01-18 21:51] #371 closed

[2018-01-18 21:57] jbqubit commented on #463
@sbourdeauducq Did this fix the problem you saw?

[2018-01-18 22:00] jbqubit commented on #457
@sbourdeauducq Do you frequently see this? I've never seen it on either of my AMCs.

[2018-01-18 22:05] jbqubit commented on #462
Isn't this a manifestation of https://github.com/m-labs/artiq/issues/873? If @gkasprow shorted pins 1 and 2 on T24 he may not see what you're seeing @sbourdeauducq.

[2018-01-18 22:08] #441 closed

[2018-01-18 22:12] jbqubit commented on #436
I still think it's a good idea to have official documentation of Sayma be in PDF format. But I'm failing to understand why git is not good for keeping the source. @jordens Please let me know where you've commented on this and I'll reread.

[2018-01-18 22:14] jbqubit commented on #358
@hartytp, @gkasprow, @enjoy-digital do you see this behavior in your AMCs? I don't see it in either of mine. It might just be the one that @sbourdeauducq has. If so it should be returned to @gkasprow for debugging.

[2018-01-18 22:15] jbqubit commented on #424
I don't see this error on my boards. Do you see it on yours @enjoy-digital?

[2018-01-18 22:21] jbqubit opened #483 "RGMII Ethernet on Sayma_AMC"
Tracking https://github.com/m-labs/artiq/issues/854

[2018-01-18 23:17] jbqubit commented on #443
I'm using PUTTY and Linux. [Flow control is off.](https://github.com/m-labs/artiq/issues/873#issuecomment-351870640) But I still see problem where MMC hangs upon power cycling if a serial terminal is open on MMC UART.

Trying next suggestion... I've sorted pins 1 and 2 of T24 but still problem where MMC hangs upon power cycling if a serial terminal is open on MMC UART.

I've also noticed that ther

[2018-01-19 00:36] jbqubit commented on #475
I've shorted pins 13 and 11 of JTAG header as in https://github.com/m-labs/sinara/issues/463. But no improvement.

[2018-01-19 01:58] jbqubit commented on #358
@sbourdeauducq What does the "1.8V problem" look like on a scope? Use 100 ms/div and trigger on rising/falling edge at 1V.

[2018-01-19 04:42] jbqubit opened #484 "RGMII white wire patch HOWTO"
Thanks to the hard work of @gkasprow and @sbourdeauducq RGMII is more or less [working](https://github.com/m-labs/artiq/issues/854#issuecomment-358842622) on Sayma. This path requires a [white-wire modification](https://github.com/m-labs/artiq/issues/854#issuecomment-352244364) to Sayma_AMC. So far its been done in two boards.

@gkasprow Please update your instructions on how to do this patch in t

[2018-01-19 07:12] sbourdeauducq commented on #358
As mentioned elsewhere, this only happens on the 3 boards in HK, and this is something about those boards - Florent brought his to Hong Kong this week and it works fine in the same setup that makes the other boards fail. By coincidence (?) serwb is also reliable on that board, and it also is on @hartytp's.

[2018-01-19 07:20] sbourdeauducq commented on #358
1v8 failing ~30s after Sayma1 had been powered:
![1v78ail2](https://user-images.githubusercontent.com/720864/35139026-38bff522-fd2c-11e7-940e-903b97f2ab30.jpg)
![1v8fail1](https://user-images.githubusercontent.com/720864/35139036-3da5b194-fd2c-11e7-8ed2-8f86525b3b90.jpg)

[2018-01-19 07:26] sbourdeauducq commented on #358
![vf1](https://user-images.githubusercontent.com/720864/35139194-fe08514e-fd2c-11e7-8289-d5e8539634a8.jpg)
![vf2](https://user-images.githubusercontent.com/720864/35139198-02459d98-fd2d-11e7-8304-397f758de658.jpg)
Consistent with the "overvoltage" fault. I don't know what produces this intermittent high frequency noise though. Faulty decoupling capacitor?

[2018-01-19 09:07] jordens commented on #349
That's weird.

[2018-01-19 09:23] jordens commented on #436
Every discussion where we gave advice about what to put into the repository. If you really need to play that game, take #39, #46, #328 to begin with. I won't engage again, this is too frustrating.

[2018-01-19 09:44] sbourdeauducq commented on #358
Adding a 4.7µF ceramic capacitor on the 1.8V rail of sayma1 has reduced the noise (duration and amplitude of the bursts) and has ended the shutdowns. There is still a rather high level of noise on this rail though, which is also present on Florent's board. For what it's worth, I've seen a similar problem with a TI voltage regulator many years ago, and the solution was to use the recommended type o

[2018-01-19 10:53] hartytp commented on #481
Well, as I said, I generally prefer to follow the eval board (which doesn't ground all these pins) to the datasheet. Data sheets are often misleading/ambiguous, but we know the eval board works (we have one and are using it)!

[2018-01-19 11:02] #233 closed

[2018-01-19 11:06] hartytp commented on #472
@gkasprow

It has nasty feature that when incorrectly initialised, alternative interface is enabled.
The state of the control lines during power on determine what serial interface protocol is enabled.
And once selected, you cannot change it until next power cycle.

Yes. See the register dump I posted above in this issue. I did the following:
- Software reset of PLL
- Dump all PLL registers to the

[2018-01-19 11:21] gkasprow commented on #484
I'm not sure what white wire you are talking about.
I applied PHY clock connection on all boards

[2018-01-19 11:44] jordens commented on #358
@gkasprow @hartytp @jbqubit You are always asking for scope traces. What do your 1.8 V supplies look like?

[2018-01-19 12:07] hartytp commented on #358
@jordens > You are always asking for scope traces.

Not sure that's an entirely constructive addition to your request but, sure, yes, I'm happy to do that next time I have access to the HW. Probably on Weds.

[2018-01-19 13:23] jordens commented on #358
@hartytp Let's not hold all [comments](https://github.com/m-labs/artiq/issues/854#issuecomment-358274634) to that "entirely constructive" standard.

[2018-01-19 13:51] gkasprow commented on #349
I had same issue with Spartan chips so didn't think too much about any other fix :)

[2018-01-19 14:44] hartytp commented on #358
Looking at L20 (same on both sides of it)...
![20180119_144350](https://user-images.githubusercontent.com/21218399/35155960-3caefb10-fd27-11e7-9ad1-7bd1ccda28e0.jpg)

![20180119_144216](https://user-images.githubusercontent.com/21218399/35155903-0f8c6cf8-fd27-11e7-81d8-16a9f1d6bb06.jpg)

[2018-01-19 14:45] hartytp commented on #358
NB still using Exar/MMC firmware that Greg programmed into by board before he shipped it to me.

[2018-01-19 15:30] sbourdeauducq commented on #358
That was a switching regulator, not LDO, but yes it's anecdotal.

[2018-01-19 15:32] sbourdeauducq commented on #358
I shipped the board today (will send you tracking # by email), but note that other boards may also have some sort of issue like that on the 1.8V rail, just not as pronounced.

[2018-01-19 15:37] marmeladapk commented on #468
@jbqubit Right now finishing Kasli v1.1 took precedence.

@hartytp Did you get login details?

[2018-01-19 15:41] sbourdeauducq commented on #472
Let's just add some code that dumps PLL registers to the log when the HMC830 fails to lock. @hartytp do you have a Rust routine that does such a dump already?

[2018-01-19 15:45] sbourdeauducq commented on #484
RGMII RXCLK to clock-capable GPIO0.

[2018-01-19 15:48] sbourdeauducq commented on #484
Note: On future PCB version, the RGMII RXCLK should be placed in the same bank as the other RGMII signals. The FPGA still doesn't like it too much when you are clocking a bank with another (or at least it doesn't like this particular combination of banks), and it still needs a special Vivado command (``CLOCK_DEDICATED_ROUTE BACKBONE``) to complete the routing.

[2018-01-19 15:54] dhslichter commented on #436
I guess I am a little in the dark here as well @jordens -- as long as one is not keeping any documentation outputs (PDFs, associated temp files, whatnot) in the repository, what is the problem with having a set of, say, `.rst` or `.tex` files with the documentation source ONLY, which allow easy versioning and tracking of edit history?  This is what is done with the ARTIQ manual currently, for exam

[2018-01-19 16:02] jbqubit commented on #436
@jordens The Issues you cite do not pertain to the proposal.

[2018-01-19 16:03] jbqubit commented on #484
@gkasprow The modification that will allow me to duplicate what you and @sbourdeauducq did to get RGMII working.

[2018-01-19 16:23] jbqubit opened #485 "sayma 1.0: MMC Exar readout"
Independent Issue for tracking this feature of MMC. in followup to https://github.com/m-labs/sinara/issues/358#issuecomment-351862984.

@gkasprow said

Register dump is initiated by front panel button.

@sbourdeauducq said

- we do a lot of remote work here at M-Labs.
- we can script automated power cycling/1V8 testing to make sure that the bug is really gone.
- it is easier to type a command than

[2018-01-19 16:24] #485 closed

[2018-01-19 16:24] jbqubit commented on #430
Include info on Exar debug feature. https://github.com/m-labs/sinara/issues/485

[2018-01-19 16:41] marmeladapk commented on #349
@jordens @hartytp So what's the consensus? Should I remove IC3 or should I just DNP J5-J7 and move CLK_EXT to Q3 of IC1?

And is there anyone else that should weigh in?

[2018-01-19 17:00] jordens commented on #349
@marmeladapk I thought that was clear. Sorry if it wasn't. You can interpret the "Removes" from the items in the top post as "DNP" if you prefer. That's fine with me.

But **just** "DNP J5-J7" won't help. If we are doing any of this, I'd like the items marked **v1.1/rj** ticked off. That's more than DNPing a few components. It will involve re-routing some signals (e.g. driving J1-J4 from IC1 inste

[2018-01-19 17:03] marmeladapk commented on #349
@jordens If we drive J1-J4 from IC1 then and we DNP IC3 then we won't drive CLK_EXT with anything. I don't think that's intentional.

[2018-01-19 17:05] jordens commented on #349
@marmeladapk

[2018-01-19 17:32] dhslichter commented on #436
??  sorry, unclear on what you mean here @jordens, are you saying that the documentation source should not be hosted in the sinara repository?

[2018-01-19 17:41] jordens commented on #436
@dhslichter Yes.

[2018-01-19 18:29] marmeladapk commented on #349
Ok, after some amount of discussion @jordens convinced me that shaving off 1 W and preventing possible isolation issues is worth it.

We plan to add this [heatsink](http://pl.farnell.com/wakefield-solutions/624-25abt4e/heat-sink-aluminium-21mm/dp/2802809) to BoM.

[2018-01-19 18:38] marmeladapk commented on #349
I also removed R97 - no point in keeping it now.

[2018-01-19 18:40] jordens commented on #349
Ack. Thanks!

[2018-01-19 18:57] gkasprow commented on #358
Thanks,
will look into it immediately.

[2018-01-19 18:58] gkasprow commented on #484
I'll update my board and make  microscopic photos with instructions.

[2018-01-19 18:59] gkasprow commented on #436
Filip is doing all documentation using Tex.

[2018-01-19 19:17] gkasprow commented on #462
This is exactly what I recreated.

[2018-01-19 19:31] hartytp commented on #349
I'd vote for completely removing it rather than DNPing it. If you make the other changes that @jordens is suggesting then this component no longer makes any sense.

Plus IIRC by removing it, you can simplify things by powering the other clock components from 2V5.

[2018-01-19 19:32] hartytp commented on #349
@marmeladapk Will the heat sink be glued down? How robust is that? Would it be better to use one that mounts robustly onto the PCB like on Sayma?

[2018-01-19 19:42] hartytp commented on #436
Also, having cloned Sinara a few times recently on slow WiFi connections, I think I can guess what RJ means by "poisoned". Sinar repo is needlessly huge due to all the PDFs that have been uploaded.

I'm half tempted to suggest that we just burn the repository and start afresh but with much stricter rules (gitignore all pdfs, "Project output" dirs etc) and use releases or whatever for PDFs (or even

[2018-01-19 19:42] gkasprow commented on #417
@jordens @hartytp please check the front panels. It's quite possible I overlooked sth.

[2018-01-19 19:43] marmeladapk commented on #349
@hartytp

It doesn't really matter if they will be powered from 3 V or from 2,5 V.

Perhaps yes (@gkasprow ?) if we find one, but right now it would require significant rerouting near FPGA and I won't be able to finish it this week.

[2018-01-19 19:45] gkasprow commented on #358
When looking at power supply rails, first connect the probe to the ground terminal nearby. You'd be surprised how much artefacts get induced on the ground loop.

[2018-01-19 19:45] hartytp commented on #349
Okay, do whatever you think is best.

But, just my two cents, I'd be a bit nervous about using one of those. There is so much cabling here that could knock a glued on heatsink off. I don't want to be in a situation where pulling a cable somewhere in the rack results in the heatsink falling off and then the FPGA breaks! So, I'd ideally like the board either to not rely on a heatsink or to have one

[2018-01-19 19:45] hartytp commented on #349
Anyway, all changes look good to me.

[2018-01-19 19:46] hartytp commented on #472
@sbourdeauducq the current code I have is a bit of a hacked mess. I'll produce something and submit a PR.

[2018-01-19 19:47] gkasprow commented on #349
Glued heatsink is robust. I tried to remove one from Sayma and did not manage.
There are heatsink that are attached to the FPGA edge so don't need mounting holes. I used them for bigger ARTIX chips.

[2018-01-19 19:47] hartytp commented on #468
@marmeladapk no, not yet. FWIW, you've already done most of what I planned to do!

[2018-01-19 19:48] hartytp commented on #349
@gkasprow if you're happy with it then it's fine by me. I've probably used too much cheap self-adhesive tape and not enough of decent glue :)

Use whatever approach you think will work best.

[2018-01-19 19:49] gkasprow commented on #468
I used [this](https://www.digikey.com/product-detail/en/advanced-thermal-solutions-inc/ATS-50350B-C1-R0/ATS1011-ND/1284725). @marmeladapk if you find suitable, let's try it.

[2018-01-19 19:50] hartytp commented on #358
@gkasprow true, I did this in a hurry (was only in the lab briefly today) and wasn't as careful as I should have been to check for pickup. I can retake the measurement with more care next week if it's helpful? Out of curiosity, what does it look like on your board @gkasprow?

[2018-01-19 19:51] gkasprow commented on #349
Such heatsink I sent requires quite a lot of clearance around FPGA.
If it does not fit, let's use glued one.

[2018-01-19 19:51] gkasprow commented on #358
I will check it once I get to my boards. I don't keep them at home :)

[2018-01-19 19:52] hartytp commented on #358
:)

[2018-01-19 19:55] hartytp commented on #417
Which ones need checking? Did you look at @jordens guidelines on panels [here](https://github.com/m-labs/sinara/wiki/EEM)?

[2018-01-19 20:10] marmeladapk commented on #468
@gkasprow Wrong issue.

[2018-01-19 20:21] hartytp commented on #342
We plan to use a 2V5 LDO for the clock buffers, so no power savings possible there.

@marmeladapk @gkasprow can you see any other places we can easily save some power on Kasli?

AFAICT, the answer is "no" so I'm closing this issue.

[2018-01-19 20:21] #342 closed

[2018-01-19 20:22] hartytp commented on #347
Are there any cost savings we want to make to Kasli?

AFAICT, there are no easy places to save money on the design (but correct me if I'm wrong about that @gkasprow @marmeladapk) so I'm closing this.

[2018-01-19 20:22] #347 closed

[2018-01-19 20:22] dhslichter commented on #436
Ack @jordens, new repository just for Sinara documentation sounds good to me.  I think we can keep the current repository for the design stuff, though, and achieve the "burning" that @hartytp wants by having ONE designated person go through and clean out the Augean stables, then have everyone operate on a much stricter basis going forward regarding generated files etc.  Aggressive use of `.gitigno

[2018-01-19 20:23] hartytp commented on #349
@marmeladapk it's probably adding an inductor/ferrite between the SMPS and the new clock buffer LDO to make sure we kill high-frequency noise on that power rail.

[2018-01-19 20:23] hartytp commented on #349
Also, if we're ever going to do it then let's tackle #317 while we're at it (should be pretty quick!).

[2018-01-19 20:25] hartytp commented on #436
are you offering? ;)

That's obviously the best way forwards but I can't imagine anyone actually finding the time to do that.

[2018-01-19 20:26] hartytp commented on #390
Is anyone planning to do this, or should we close the issue?

[2018-01-19 20:26] #373 closed

[2018-01-19 20:27] hartytp commented on #354
Closing since Urukul v1.1 has gone to manufacture, so I assume Urkul v1.0 testing is complete (reopen if I'm wrong about that).

[2018-01-19 20:33] dhslichter commented on #436
If the government shuts down, perhaps I will have the time :P

[2018-01-19 20:33] marmeladapk commented on #436
Perhaps whitelist could be easier to implement? I think it's easier to identify which files are needed for project than the other way around.

[2018-01-19 20:34] marmeladapk commented on #342
@hartytp Switching RAM to 1,35 V (it's not implemented).

[2018-01-19 20:36] hartytp commented on #342
If that's the only power saving option then IMO we should leave things as they are.

IIRC there were downsides to switching the RAM voltage and the power savings weren't that great.

[2018-01-19 21:00] hartytp commented on #417
@gkasprow assuming you want nit picks (quotes are from the style-guide on the Wiki):

- Personally, I'd like a dash between the name and description (or, italicise the name or something) for improved readability (or, just put the description on a separate line to the name, just be consistent about what you do!). @jordens can feel free to overrule me on this, I don't feel strongly about it.

Curren

[2018-01-19 21:00] hartytp commented on #417
Anyway, those are minor nits. Basically, they all look really nice to me! Great job @gkasprow

[2018-01-19 21:15] jordens commented on #354
I still want those tests.

[2018-01-19 21:15] hartytp commented on #354
Okay, sorry. Overly enthusiastic in my pruning.

[2018-01-19 21:17] jordens commented on #436
Whitelisting is always the default. You have to stage files explicitly before committing.

[2018-01-19 21:18] jordens commented on #354
No problem.

[2018-01-19 23:16] jbqubit opened #486 "fix bloat in Sinara repository"
New Issue prompted by discussion in https://github.com/m-labs/sinara/issues/436.

@jordens said

@jordens has discussed problem in depth and and proposed standards to improve repository hygen in these Issues #39, #46, #328. As of 2/19/2018 size of Sinara repository is 3.0 G.

@hartytp said

@dhslichter said

[2018-01-19 23:29] jbqubit commented on #486
As we discuss how to fix the repository please have the grace to not give @gkasprow (and others) a hard time for past practices. Without knowing git or the github tracking system @gkasprow and most of us jumped in began using these tools. git is complicated and our development has progressed at a blistering pace. It's unfortunate that the repository was messed but there's often collateral damage l

[2018-01-19 23:31] jbqubit commented on #436
The size of line drawings (binary) is small. Photographs are bigger (also binary) but few in number and infrequently updated. Latex source will be most frequently updated.

Sinara documentation is a small perturbation of the overall 3 GB footprint.

I agree that the repository is bloated but that's outside the scope of this Issue. I created a new Issue to discuss this here #486. For present let's

[2018-01-19 23:33] jbqubit commented on #390
I advocate that we should do something like this. But as the burden is likely to fall on @gkasprow he's to have the final word.

[2018-01-19 23:34] marmeladapk commented on #349
I also removed R131 and R133.

[2018-01-19 23:48] jbqubit commented on #468
Try to flash sinara. Right now there's a bug in artiq_flash but follow here to see if its fixed https://github.com/m-labs/artiq/issues/898.

[2018-01-19 23:55] hartytp commented on #472
m-labs/artiq#901

[2018-01-20 00:02] jbqubit commented on #358
In my setup scope probe ground strap is connected to uTCA front panel.
- __blue trace__ is scope probe touching ground near 1.8V supply -- you can see inductive pickup
- __yellow trace__ is scope probe touching 1.8V distance 1 cm away from blue trace -- you can see same inductive pickup and DC offset, no additional noise

![img_3592](https://user-images.githubusercontent.com/20543958/35177051-dee4

[2018-01-20 00:06] jbqubit commented on #462
Do you keep the terminal open while rebooting?

[2018-01-20 01:44] marmeladapk commented on #486
We can easily separate each Altium project to separate repository, they're self-contained. However Xpedition folder has similar size and houses only 3 boards. Also, as far as @gkasprow told me how Xpedition works, it's hard to separate those projects, because they share schematics and database between each other.

And even with Altium, we constantly upload binary data that is already compressed, s

[2018-01-20 02:03] sbourdeauducq commented on #462
No. Anyway Greg's explanation makes sense, I'll do more testing later. Thanks @gkasprow.

[2018-01-20 02:48] sbourdeauducq commented on #462
You can exit the bootloader with:
[code]
So yes, that's definitely what is happening.

[2018-01-20 02:48] #462 closed

[2018-01-20 03:28] sbourdeauducq commented on #448
@gkasprow Can you post here RGMII firmware with all known MMC bugs fixed + Exar/Ethernet register dumps initiated from the serial console?

[2018-01-20 03:30] sbourdeauducq commented on #448
By the way, Flashmagic works under wine, serial ports are simply configured with ``ln -s /dev/ttyUSB_sayma-1_2  ~/.wine/dosdevices/com1``.
The two open source replacements, lpcflash and MCUload, do not work.

[2018-01-20 12:23] hartytp commented on #349
One final comment (but not fussed if you don't want to make the change at this point):
- [ ] Should we float the SMA clock input by making that 0R resistor 100k?

My thinking here is that floating is generally what one wants for this. IIRC our only reason for not floating it originally was not wanting to have to fuss around with insulating washers. Since we're actually fitting an insulating washer