[2017-09-05 10:32] jordens opened #288 "Kasli SMA shield AC coupling."
Allow for optional AC coupling of the SMA shield: Use the same setup as for Allaki/Urukul. But still use a front panel that grounds those SMA shields.

[2017-09-05 10:33] jordens commented on #250
I moved the remaining open items into #283 #284 #285 #286 #287 #288

[2017-09-05 10:33] #250 closed

[2017-09-05 10:44] jordens opened #289 "Urukul variants"
Currently, the contents of the IC boses (e.g. the AD9912) are not readable in the schematics because they are solidly greyed out. Could you either make the chip boxes not solidly greyed out or/and additionally produce PDFs for the AD9912 variants?

[2017-09-05 10:52] thomasRF commented on #251
Grzegorzu,

Poniżej zawieram wstępne komentarze i uwagi do zaproponowanych testów.
Punkty 6,7, 10, 11 nie były brane pod uwagę przy specyfikowaniu wzmacniacza
oraz określeniu zadań przy realizacji projektu wzmacniacza.

1.	Power Efficiency

Ok

2.	Input/output S-parameters (small signal and at 1dB compression)

Nie ma czegoś takiego jak Input/output S-parameters jest macierz
rozproszenia [s],

Oba

[2017-09-05 11:00] jordens opened #290 "Urukul T-pad before amplifier"
With about 1dBm out of the DDS, 0.5 dB insertion loss from the Balun, 0.5 dB from the lowpass, 1.5 dB from the attenuator, we need a 9dB T-pad to attenuate that before the ERA-3+ with 23 dB gain and P1dB of 13 dBm at our frequencies.

[2017-09-05 11:14] marmeladapk commented on #286
@jordens  Do you want to have all 8 pins exposed?

[2017-09-05 11:16] jordens commented on #289
970bce015e3a7b4aa89621be5a7d451671d441b4
Thanks!

[2017-09-05 11:16] #289 closed

[2017-09-05 11:17] jordens commented on #286
As many as you have space. But it does look really crowded already.

[2017-09-05 11:26] jordens opened #291 "Urukul thermal simulation"
According to the current power budget Urukul is burning 10-12 W max.
Are we convinced that convection across 100mm and 4HP is enough?

[2017-09-05 11:29] jordens opened #292 "Urukul CPLD prototype code"
Before we send of the boards to manufacture, we should have a protoype of the CPLD logic ready and compiling so that we know it can in principle implement all the required functionality. We also need to know typical timing delays through the CPLD and the variation (pin-to-pin and jitter) on those.

We would want to have the CPLD code in Migen. There is a basic template for this [here](https://gith

[2017-09-05 12:03] gkasprow commented on #292
@jordens I treat CPLD as part of hardware - I use it to replace bunch of discrete logic ICs.
I can write core in VHDL or even draw schematics using  graphical symbols of TTL chips and compile using xilinx ISE.
It is trivial - a few registers and gates.
I don't know Migen, never played with it and don't want to invest my time at this stage of the project because have much more important tasks to do

[2017-09-05 12:34] jbqubit commented on #268
Penning application is ~5000V, 100e-6A, ~16 channels. What is noise of the current design? Is interface for setting voltage analog ("12 V") or digital (UART)? This would be a nice addition to Sinara.

[2017-09-05 12:57] hartytp commented on #270
How about HMC432(E)? Would have to think about how to fit this in with the clock muxes. Also it needs a square wave input.

[2017-09-05 12:59] gkasprow commented on #268
Noise is below 100mV. 12V is supply, control interface is single IO line and UART.
We can make 5kV easily and pack 2 channels per 1 3U EEM.

[2017-09-05 13:06] marmeladapk commented on #287
@jordens: @gkasprow noticed, that IC1 adds non-deterministic delay, so moving CK_FPGAIO to IC2 may be troublesome.

[2017-09-05 13:11] jordens commented on #292
ACK. But we still need a way to define and agree on the logic.

[2017-09-05 13:29] jordens commented on #270
Sure. But do we really need it? Can't we just use the dividers in the SI5324? It has two independent outputs. We could use one just for the fan-out and the other for the rest (FPGA+GTP+CDR_OUT)

Also #287

[2017-09-05 13:33] hartytp commented on #270
@jordens The downside of that is a lack of flexibility: what if one wants to use two different EEMs that need different clock frequencies, connected to the same Kasli? Then one has to start mucking around with external dividers etc, which is a bit of a pain.

IME, it's generally best to distribute a single reference frequency and design all boards to run off it.

But, if you strongly object to put

[2017-09-05 13:35] jordens commented on #287
But that's just 50 ps non-determinism. I don't think that would be problematic.
But anyway, looking at #270, I think it's best to put the fan-out (IC3) on CKOUT2 of (IC2) while keeping everything else (IC1: CK_FPGAIO, CK_GTP, CDR_OUT) on CKOUT1.

[2017-09-05 13:38] hartytp commented on #268
Given how many designs we have on the go at the moment, it seems like our resources are starting to get stretched a bit thin. Better to avoid starting any new designs until some of the current ones are finished and tested?

[2017-09-05 13:40] jordens commented on #270
Let's meet in the middle. Put the internal fan-out from Kasli on a programmable divider (#287) and put the footprint for a fixed, non-configurable, divide-by-two into the clock path. But let's keep it really simple, needs to be really cheap (<10$), no voltage standard changing required, and not something we have to bother with for the first prototypes.

[2017-09-05 13:43] gkasprow commented on #268
we are talking about one year perspective:)

[2017-09-05 13:43] hartytp commented on #270
That sounds like a smart move in any case, independent of what we decide in #287.

[2017-09-05 13:45] hartytp commented on #268
Okay. But, I for one don't have enough brain space left to even begin thinking about new devices right now.

[2017-09-05 13:48] gkasprow commented on #188
@hartytp You can even fit two EEMs in such case!
![20170905_152445](https://user-images.githubusercontent.com/4325054/30064300-98dd63ea-9251-11e7-9400-be8fd13bfd7d.jpg)

[2017-09-05 13:49] hartytp commented on #188
Looks good.

[2017-09-05 13:52] hartytp commented on #270
@jordens If you've found conflicting information about this on the web, have you tried asking ADI for clarifications? No point worrying about this if it's just a data sheet mistake/unclear comment...

Otherwise, @gkasprow is the minimum divider ratio for the AD9910 something you can check quickly using the eval board I sent you?

Issues if we have to use a divider:
- We should change the XO freque

[2017-09-05 13:53] jordens commented on #287
OK. Let's go with
* the crate clock fanout (IC3) driven from IC2 (CKOUT2 -> CLK0) and CLK_BUF_IN (CLK1)
* the CDR fanout (IC1) driven from IC2 (CKOUT1) and driving CLK_CDR_OUT, CK_FPGAIO (with proper biasing, level matching, and termination), and CD_GTP
* Leave the fourth output of IC1 unconnected and unterminated
* Leave all unused LVPECL output pins unterminated

@marmeladapk Maybe extrapolating

[2017-09-05 13:56] jordens commented on #270
I haven't. Just found that this morning.

[2017-09-05 13:56] gkasprow commented on #188
Note that there are not ventilation holes, so you won't be able to pack too many DDS boards :)

[2017-09-05 14:01] gkasprow commented on #292
I will draw schematic in ISE so everybody would be able to quickly get the intention.

[2017-09-05 14:03] jbqubit commented on #251
@thomasRF Please use English. For now, using google translate...

Remarks: we have a climate chamber? Do we take a refrigerator with a heater? ;)

Testing at ambient lab conditions should suffice.

Some additional test suggestions:
- [ ] Test that protection circuit shuts down individual channels in case of: input power overload; reverse power overload (as due to open/short).
- [ ] Measure delay b

[2017-09-05 14:10] hartytp commented on #251
@thomasRF @gkasprow Note that these are not intended to be production tests that are performed on each unit that is shipped, but rather methods of verifying the design of the prototypes.

[2017-09-05 14:12] gkasprow commented on #251
Sorry, it was internal communication and Thomas replied to all :)

[2017-09-05 14:17] hartytp commented on #270
Are you okay to follow this up with them?

[2017-09-05 14:29] jordens commented on #270
https://ez.analog.com/message/316249

[2017-09-05 14:34] jbqubit commented on #292
Schematically, what is the reason for using a CPLD for Urukul? I gather it will be implementing #273. Is this simply an alternative to using discrete logic components on the PCB?

[2017-09-05 14:36] gkasprow commented on #292
@jbqubit Exactly. CPLD chip is cheaper and mitigates the risk.

[2017-09-05 15:23] jbqubit commented on #268
Current NIST Penning uses Canberra 3125 HV . Noise spec is
- < 3 mV peak-to-peak with 100e-6 A load
- long term stability is 1e-4/hr

We also used a ~ 10 Hz low pass filter to further decrease noise.

On Tuesday, September 5, 2017, hartytp <notifications@github.com> wrote:

[2017-09-05 15:28] jbqubit commented on #268
Current Penning experiments are not really limited by commercially
available HV sources so a new PCB isn't really needed. But for reference,
NIST Penning uses Canberra 3125 HV . Noise spec is
- < 3 mV peak-to-peak with 100e-6 A load
- long term stability is 1e-4/hr

We also used a ~ 10 Hz low pass filter to further decrease noise. Penni

I agree with @hartytp. Let's not get distracted from designs

[2017-09-05 15:35] hartytp commented on #188
ping @jbqubit can we close this?

[2017-09-05 15:41] jbqubit commented on #188
@arpitagrawal23 <https://github.com/arpitagrawal23> at UMD put the parts
together last week. Sounded like some parts were missing. @arpitagrawal23
<https://github.com/arpitagrawal23> please update. Consider posting a photo
showing air-flow path.

On Sunday, September 3, 2017, hartytp <notifications@github.com> wrote:

[2017-09-05 15:42] jbqubit commented on #265
Looks good!

[2017-09-05 19:06] gkasprow commented on #268
OK, guys are building such supply anyway, once needed we can easily integrate it with EEM.

[2017-09-05 19:06] #268 closed

[2017-09-05 19:08] #265 closed

[2017-09-05 19:09] hartytp commented on #265
Thanks again for doing such a nice job of this Greg!

[2017-09-05 19:57] gkasprow commented on #290
@jordens Would [such](https://industrial.panasonic.com/cdbs/www-data/pdf/AOJ0000/AOJ0000CE2.pdf) attenuator do the job? Or you prefer discrete one made of resistors?

[2017-09-05 19:59] gkasprow commented on #291
@jordens In MTCA 100W is the limit. Don't thing we would have issue in 3U chassis with 10W, but forced airflow may be needed when we pack a few DDS boards in adjacent slots.

[2017-09-05 20:04] gkasprow commented on #284
@jordens Current rating is [here](https://multimedia.3m.com/mws/media/920107O/3m-tech-brief-current-rating-of-common-3mtm-flat-ribbon-cable.pdf). 1A per wire is standard value and we have 2 wires in parallel. IDC is also specified at 1A per pin.
Barrel connector is specified for 5A.
In case of copper plane there is no limit - after power integrity simulation one iterates until current density is l

[2017-09-05 20:20] hartytp commented on #290
Out of curiosity, what's the benefit of using that kind of attenuator? Is that cheaper than using resistors? Or, just more accurate/lower temp co?

[2017-09-05 20:24] hartytp commented on #291
Do we need heat sinks on the board? Or will the airflow over the PCB be enough?

[2017-09-05 20:55] jordens commented on #290
resistors are fine.

[2017-09-06 06:19] gkasprow commented on #290
Such attenuator gives better frequency response because has less parasitics. It's hard to make good resistor attenuator working in a few GHz range mainly due to pad capacitance.

[2017-09-06 06:27] jordens commented on #290
We are looking at 500 MHz Max here.

[2017-09-06 06:47] gkasprow commented on #272
@jordens  Minicircuit specifies impedance ratio, not turn ratio. So 1:2 should be fine.

[2017-09-06 06:58] jordens commented on #272
Oh. Thanks for clarifying.  But then is the eval board wrong? And what about the 100 ohm resistor on the ad9912 board?

[2017-09-06 07:15] #273 closed

[2017-09-06 07:16] gkasprow commented on #274
@jordens I do as it is done  in the devkit

[2017-09-06 07:17] gkasprow commented on #275
10K 0.1% 25ppm

[2017-09-06 07:23] gkasprow commented on #277
@jordens IC4 is used as LVCMOS to LVDS converter. It has higher bandwidth and lower delay than standard converter ICs. We already discussed it.

[2017-09-06 07:23] #277 closed

[2017-09-06 07:24] gkasprow commented on #277
@jordens THe idea is to feed the SYNC signal directly to the LVDS, without CPLD delay.

[2017-09-06 07:28] gkasprow commented on #280
It is optional AC termination. Could be useful at 79 MHz

[2017-09-06 07:28] #280 closed

[2017-09-06 08:05] gkasprow commented on #276
The ADCLK846 that ADI is using:
- do not have input mux, so we won't be able to use LVDS2 signal to sync DDSs.
- is supplied from 1.8V so needs another regulator.

[2017-09-06 08:06] gkasprow commented on #271
R72 removed

[2017-09-06 08:06] #271 closed

[2017-09-06 08:07] gkasprow commented on #270
I will test it.

[2017-09-06 09:04] hartytp commented on #270
Thanks!

[2017-09-06 09:35] hartytp commented on #208
I'd like some high-quality photos of all existing boards to put on the Wiki (good way of reminding that this isn't just vapourware ;) ) @sbourdeauducq IIRC, you took some nice photos of Sayma. Are you happy to do this for the other EEMs? Which EEMs do you currently have complete with front panels?

[2017-09-06 10:09] jordens commented on #270
That sounds more like the AD9912...

[2017-09-06 10:12] hartytp commented on #270
Limitation of the eval software?

I didn't think the AD9910 had one...

[2017-09-06 10:23] gkasprow commented on #270
@hartytp when I enable the doubler, I observe twice higher output frequency. So it seems to work. I connected 25 MHz input clock.
The sofware also does not like division of 11, but due to the fact that VCO cannot tune to such frequency.
The doubler option does not resolve it. But when I set to 22 it works.
So when I set to 10 or 11 with doubler enabled, it loads same value.
So I started playing wi

[2017-09-06 10:24] gkasprow commented on #270
@hartytp
correct, I ignore multiplier and switch VCO range and get same results.
Did you manage to lock the PLL?
The lock indicator is off all the time.

[2017-09-06 10:26] gkasprow commented on #270
When I click the doubler field, it simply changes VCO ranges. So I had impression that it worked.
I noticed that I get same result with and without external clock :)

[2017-09-06 10:28] sbourdeauducq commented on #208
I'm happy to take good pictures (note that the Sayma pictures were from Robert, not me). But all I have is three Sayma AMC cards without RTM that were delivered late (which is why Robert ended up taking the pics), VHDCI carrier, BNC breakout, Novogorny, and Zotino without front panel. And I do not have a Eurorack either.

[2017-09-06 10:29] hartytp commented on #270
What if you put in a clock at 125MHz, and set a division of 8?

Is the loop filter populated by default?

[2017-09-06 10:32] gkasprow commented on #270
I didn't touch the loop filter so it should be.

[2017-09-06 10:41] gkasprow commented on #270
Once I force it to division 7, the chip locks somehow and I have to reset it to get any output.

[2017-09-06 10:46] gkasprow commented on #270
OK, so the PLL does not lock but it tries. When I touch with my finger to the loop components, it  locks and lock indicator goes green :)

[2017-09-06 11:07] hartytp commented on #270
@gkasprow What were in reference and DDS clock frequencies for that test?

[2017-09-06 11:12] hartytp commented on #208
Okay, thanks.

Let's wait until we have nice FPs for these EEMs then.

I want to start with Zotino, and make this into a bit of a template for the other EEM pages. I'm happy to handle the text, but can someone with more advanced Markdown/html skills than me do some work on making it look nice (e.g. sorting out the images properly)?

[2017-09-06 12:03] gkasprow commented on #270
I used 125MHz reference and 1GHz clock.
But have same issue with 25MHz ref and 500Mhz clock.

[2017-09-06 12:09] hartytp commented on #270
Great! So long as 125MHz reference and 1GHz DAC clock locks fine, I'm happy and we can close this issue.

[2017-09-06 13:07] jordens commented on #270
I am confused. Does the relevant configuration work (with certainty and not with a finger) or not?

[2017-09-06 13:24] gkasprow commented on #270
@jordens It means that the loop filter needs some skin resistance/capacitance to lock. Otherwise it does not lock in any conditions. There are not mounted loop filter components by default: C13,C15, R37.

[2017-09-06 13:33] jordens commented on #270
I'd be interested in seeing the test of the two relevant cases (multipliers of 10 and 8) described in the top post. Has that been done? Maybe I am misunderstanding you.

* populate C13,C15,R37 with suitable values for 125 MHz external clock input (or 100 Mhz) and 1000 MHz DDS system clock
* note those values in #274
* test the populated board with a PLL multiplier of 8 (or 10) and 125 MHz input (o

[2017-09-06 13:48] hartytp commented on #208
Okay, done a quick tidy up on Zotino.

I'll finish it once the board's been tested, but let me know if there is anything we should add/change...

[2017-09-06 14:40] gkasprow commented on #270
@jordens  I soldered loop filter components and it locks stable now
![obraz](https://user-images.githubusercontent.com/4325054/30117766-8399b620-9321-11e7-86bf-932cef590016.png)
On the scope i see sine wave with 10.02 MHz

[2017-09-06 14:41] gkasprow commented on #270
@jordens it works with 100MHz and div=10 as well.

[2017-09-06 14:53] jordens commented on #270
Excellent. Thanks! Then we can skip the divider. But I am surprised that the PFD works well at that high frequency. My guess it that that's why they only spec it up to 60 MHz.

[2017-09-06 14:58] gkasprow commented on #270
@jordens it works in this particular chip . May have issues with others due to production parameters dispersion.

[2017-09-06 15:00] hartytp commented on #270
@gkasprow Well, let's try it without the divider for the prototype round. If we have issues, we can add one later (and dead-bug a divider onto any proto boards we build).

[2017-09-06 15:01] hartytp commented on #270
Thanks again for testing that so fast @gkasprow!

Will be interested to hear what ADI have to say about this though...

[2017-09-06 15:11] jordens commented on #276
I guess the CDCLVD1208 is also out of the race because it needs 2.5V. Maybe best to stick with the Si53304 and slap a FIN1101K8X onto that output.

[2017-09-06 15:37] arpitagrawal23 commented on #227
Hello Everybody
I'm working with @jbqubit and have a Zotino board with me (connected via KC705 and VHDCI). I'm aiming to contribute to writing driver for Zotino. If any of you have some code in your git branch, would you let me know please? I can use it to avoid duplication of efforts and build something that is not yet done. Thank you.

[2017-09-06 15:41] gkasprow commented on #270
You can post it to ADI blog...

[2017-09-06 19:29] dhslichter commented on #188
How are we going to get the IDC cables in to these cases?

[2017-09-06 20:02] dhslichter commented on #272
IME one shouldn't take the balun ratios and populated resistances too literally, especially because the output impedances of the DDS chips can vary substantially over frequency.  When working with the AD9914, I found that doing the "expected" thing gave worse performance than the way it was set up on the eval board at higher frequencies, although better at lower frequencies.

Usually there are des

[2017-09-06 20:04] dhslichter commented on #279
Has phase noise performance of the ERA-3+ been tested?  ERA-4XSM+ has been tested and verified excellent at NIST.

[2017-09-06 20:06] dhslichter commented on #291
Heat sinks on DDS chips seem like a good idea if there is room.

[2017-09-06 20:08] hartytp commented on #291
Not sure that will be very effective once the screening cans are in place...

[2017-09-06 20:09] hartytp commented on #279
Not as far as I know. However, phase noise is less of a priority in this design than power consumption IMO. My preference is to build the prototypes with the lower-powered amps. We can then measure the phase noise and make a change before the production round if necessary.

[2017-09-06 20:10] dhslichter commented on #290
We don't want the attenuator to have reduced attenuation at harmonics/Nyquist images if possible.  Unless cost is prohibitive, I would advocate for packaged attenuator.

[2017-09-06 20:13] hartytp commented on #290
A 9dB T-pad made with 0201 resistors will still be pretty close to 9dB at 1GHz, so this isn't a concern IMO. Given the filters and other components, I wouldn't expect an 0201 T-pad to be the main cause of lack of gain-flatness in the pass-band either.

Argument against the packaged attenuator is mainly that it's one more non-standard BOM line to worry about.

[2017-09-06 20:14] dhslichter commented on #291
Forgot about screening cans.  If done properly, DDS should be well heat sunk with thermal vias under the pad, then you can put heat sinks on the back side of the board to make good thermal contact.

[2017-09-06 20:15] dhslichter commented on #279
This is acceptable as long as we are not relying on the lower power consumption of the untested amplifier variant in order to meet the power budget.  I recommend that we plan on using the ERA-3+ but keep the power budget numbers for the higher-current ERA-4 to guard against this possibility.

[2017-09-06 20:18] dhslichter commented on #290
Most standard resistors have terrible tempco.  If we care at all about amplitude stability of the output, we'll want to use thin film NiCr instead of thick film anyway.  Plus placing 0201 parts adds considerable expense.  I guess it seems to me like a shame with all the engineering that is going into this to cut corners on something pretty simple like this.

[2017-09-06 20:24] hartytp commented on #290
True, tempCo is more of a reason to use this component that frequency response IMO. My guess is that a packaged attenuator (10c in quantity) is cheaper than ~25ppm/K resistors. As these boards could get quite hot, this is a good reason to consider using these attenuators.

Really? I though this was pretty standard for pick and place machines these days, but maybe I'm wrong?

[2017-09-06 20:26] hartytp commented on #279
The difference is only ~100mW per channel, so it doesn't make a huge difference to the power budget either way -- enough of a power saving to be worth it IMO, but not enough that we couldn't live with the ERA-4.

If everyone is happy with ERA-3+ for the protoround, shall we close this issue?

[2017-09-06 20:32] hartytp commented on #188
This would be more for Kasli + 1 EEM in the same box. Or, in my case, mounting a clock buffer EEM in a nice way.

[2017-09-06 21:41] arpitagrawal23 commented on #188
I have partially assembled it, here are the pictures:

![top-view](https://user-images.githubusercontent.com/18568883/30135479-d8c76d52-9328-11e7-884e-f5ceb9aeb0cf.jpg)

![front-view](https://user-images.githubusercontent.com/18568883/30135480-d8ce2e30-9328-11e7-8d91-8267cfc997e6.jpg)

Air goes in from holes in the front bottom part and exits from holes in the back top part. Airflow is shown on th

[2017-09-06 23:19] hartytp commented on #270
Thinking about this a little more, I'm not happy about leaving this divider out for the prototype round: @jordens is probably correct that we'd be running the AD9910 PFD outside it's specified range, opening the door to potential PVT issues.

Can I make a request for the prototype round:
- If there is space on the PCB, please add a second ADCLK948 between the SMA/MMCX inputs and the DDS clock pins

[2017-09-06 23:20] #279 closed

[2017-09-06 23:24] sbourdeauducq commented on #227
The driver itself is there, it just needs "glue". You should talk with @mntng, I'll write you both an email.

[2017-09-06 23:25] dhslichter commented on #290
That's my feeling for sure.  Plus you will probably get something that is co-fabricated on one die so you have better matching of tempco (and thus more stable relative attenation) for free.

Most of the shops I order from grumble about 0201, and you usually need to supply 100% component overage instead of 20% overage for the pick and place.  They can certainly be routinely done, but they will ofte

[2017-09-07 05:46] jordens commented on #270
No. Let's not do that. Just the divider after the internal mmcx seems absolutely sufficient to me. And dnp it for the ad9912 variant. If you feeding the external sma you are expected to be able to supply something suitable anyway. If you use the internal clock distribution going for 62.5 MHz is sensible. We don't have any other user for the internal clock tree and it already has a configurable div

[2017-09-07 05:49] jordens commented on #188
One pair of the horizontal profiles is just for that. The cards are not supposed to go all the way to the back.
Reading the catalogue will be helpful.

[2017-09-07 06:32] jordens commented on #290
Let's leave this to @gkasprow to decide what's best value for money.
Regarding tempco there are multiple components which need to all be good: RSET, DDS, switchable attenuator, fixed attenuator, amplifier bias.

[2017-09-07 10:11] hartytp commented on #290
Amplitude temperature sensitivity analysis:

**AD9910** (DDS)
- Not specified on data sheet (also not specified for other DDSs like the AD9912 and AD9914). Didn't find much info out there, but see e.g. [https://ez.analog.com/thread/70661](https://ez.analog.com/thread/70661).
- Assume it's similar to AD9154 so ~100ppm/K?
- Also depends on Rset

**HMC542** (step attenuator)
- Not specified on data s

[2017-09-07 10:12] hartytp commented on #290
Agreed, let's just go for the cheapest option with a temp co <~100ppm/K and be done with it.

[2017-09-07 10:16] hartytp commented on #275
@gkasprow Let's not bother with the 25ppm/K resistor. Just put a standard resistor here.

General comment: I don't like putting low temp co components on the PCB unless we have a good reason to think they are doing good.

[2017-09-07 10:47] hartytp commented on #270
AFAICT, we definitely should NOT rely on using the 100MHz/125MHz input for the AD9910. [This](https://ez.analog.com/thread/38735) post points out that it is not guaranteed to work -- no details about why, but it doesn't seem like a good thing to rely on in our design.

As a result, this input divider is a high priority for us.

I would really like to move away from this kind of attitude for Sinara

[2017-09-07 13:55] gkasprow commented on #272
@dhslichter I can check with network anayzer at the devkit output. I assume that DDS needs to be powered on.

[2017-09-07 14:03] jordens commented on #270
Correct. The attitude of trying to cram in more and more features and accommodating for ever increasing number of external constraints and idiosyncrasies has been very bad for Sayma. Just look at the hundreds of possible wishlist clocking options that were wedged in there just because it was possible and because nobody was responsible for signing off.

That's exactly why I don't want to support 10

[2017-09-07 14:06] jordens opened #293 "DNP SYNC clock circuitry for AD9912 variant"
DNP IC4 (FIN1101K8X), IC9 (Si53304-B-GM), and their periphery for the AD9912 variant. That one does not have SYNC_IN/OUT sircuitry and is synced by coincident DDS_RESET.

[2017-09-07 14:14] gkasprow commented on #270
@jordens I'd use clock distribution IC with mux, divider and fanout, like [Si53312](https://www.silabs.com/documents/public/data-sheets/Si53312.pdf)

[2017-09-07 14:19] hartytp commented on #270
ACK. However:
- While we could replace one of the muxes with a fanout buffer, that would introduce an additional BOM line. Lesser of two evils? If you want, we can just use the second ADCLK948 as a fanout buffer, and only use one input.
- IIRC, you originally wanted to leave the door open to using a 1GHz input clock (no DDS PLL). This would require a bypass for the divider.
These were my motivatio

[2017-09-07 14:20] gkasprow commented on #270
@hartytp Si53312 seem to solve the issue.

[2017-09-07 14:28] jordens commented on #270
@hartytp In the original design the SMA panel input would be exclusively to drive the DDS directly (i.e. 1 GHz). While the internal one would be "not ultra-low noise anyway" and would go with the DDS PLLs.

But AFAICT Si53312 gives us what we need in noise, division, IO levels, BOM, price. Thanks @gkasprow .

[2017-09-07 14:28] hartytp commented on #270
Yes, sorry, I saw that after posting.

From a quick skim over the data sheet, it seems fine to me.

Phase noise is something like 10dB worse than the AD9910 with the PLL off at most frequencies. Which doesn't particularly bother me (for ultra-low noise, people should use Sayma or similar).

If you and @jordens think this is simpler than using a divider and a couple of muxes then I'd be completely

[2017-09-07 14:32] hartytp commented on #270
How do you want to wire the divider? Use a DIP switch to go between DIV 1 and DIV 2 (open and pulled down)?

[2017-09-07 14:38] jordens commented on #270
I see only 2-5dB degradation of the AD9910 noise at 10kHz and 1MHz comparing the 156 MHz numbers with the 201 MHz.

[2017-09-07 14:40] hartytp commented on #270
Maybe I'm doing a bad job reading plots on a small screen.

Either way, I don't think we care about it.

[2017-09-07 14:50] dhslichter commented on #188
What is the cost of one of these chassis with all the bits?

[2017-09-07 14:52] dhslichter commented on #290
I am fine with this, as long as we picking better than ~100 ppm/C.

[2017-09-07 14:54] dhslichter commented on #275
My suggestion here would be to ensure that the resistor footprint and location are such that users could resolder a new one with lower tempco if desired.  Basically 0402 minimum, prefer 0603 if there is space, and with reasonably accessible solder pads.

[2017-09-07 15:00] dhslichter commented on #290
As was just mentioned in #275, I would suggest we try to pick an attenuation circuit here such that users could have the ability to replace with a lower tempco part after the fact if they desire it for their particular application.  I am envisioning someone using this board as a one-off in a small temperature-stabilized case, with additional heat sinking, as we do for the magtrap, for example.  Ba

[2017-09-07 15:02] dhslichter commented on #272
@gkasprow yes, power on the DDS, turn on the output to some reasonable value and check the return loss at the devkit output.  Then play with balun choice and/or termination resistors at DDS output until you find something that matches reasonably well in the band of interest.

[2017-09-07 15:21] jordens opened #294 "Move SYNC_IN EEM drive from EEMB:LVDS2 to EEMA:LVDS7"
I consolidated the EEM pin assignments and cut them down to what's really needed and what appears to be the best way of achieving the goals. [Urukul Wiki](https://github.com/m-labs/sinara/wiki/Urukul#eem-connector-usage)

Most of it is just soft CPLD programming. The only change that I'd like to see in the current schematics is moving the SYNC_IN drive of IC9:CLK0 from EEMB:LVDS2 (IDC1:LVDS2) to E

[2017-09-07 15:27] jordens commented on #284
Thanks. I updated the [wiki](https://github.com/m-labs/sinara/wiki/EEM#eem-idc-electrical-interface).

[2017-09-07 15:48] hartytp commented on #294
Happy to leave these details to you.

Out of curiosity:
- Does SYNC_OUT connect to the AD9910 SYNC_OUT pin (i.e. it's an input on the FPGA)? If so, no SYNC_IN in the final version for AD9910? So, plan is to reset FGPA gateware to sync with DDS, rather than other way around?
- No DDS MISO for the servo use-case? I thought you were very against this?
- What does AD9910 (b) CS do?

[2017-09-07 15:55] jordens commented on #294
The FPGA should (and can) drive sync. Otherwise we can't do a proper drtio slave for example.

Yes. There won't be DDS miso in that wide interface. But it's a dip switch away. And I would like to have it available on the spi bus on the second EEM. That also resolves the issue of initial configuration of the DDS. As you can seen there is pin shortage.

The spi bus in the second eem talks to the cpl

[2017-09-07 16:02] hartytp commented on #294
Am I missing something? In the current version of the wiki, only SYNC_OUT is connected to the EEM connector (not SYNC_IN). This is an output from the DDS, not an input that the FPGA should drive.

Okay, that sounds sensible (although, I'd need to see a full plan of the CPLD routing to check that I fully understand you).

[2017-09-07 16:14] gkasprow commented on #270
@hartytp we can connect it to free CPLD pin. Then in the code we can generate 3 output states.

[2017-09-07 16:18] hartytp commented on #270
ACK. But, a DIP switch is probably easier for the user. Software control is not required for this pin IMO, so it's better just to use a switch.

[2017-09-07 16:19] gkasprow commented on #272
@dhslichter I'm not sure if measurements taken with signal at the DDS output would be representative.
I can make measurements quickly but optimisation would have to wait.

[2017-09-07 16:22] hartytp commented on #270
@gkasprow Sure, but let's connect it to the dip switch as well. That way, using the switch it can be set to either div=1 or div=2 (which are the important cases).

[2017-09-07 16:27] dtcallcock commented on #290
The ERA-3+ amplifier gain variation is -0.005dB/C.  This is about 1200ppm/C so will dominate.  Some other Minicircuits parts are a factor of 2-5 better.

We could also use this T-pad attenuator to compensate for the amplifier's tempco (and the tempco of the rest of the RF chain).  See,
[Example1](http://www.thin-film.com/uploadedcontent/documents/ATV_Presentation.pdf), [Example2](https://www.nidec

[2017-09-07 16:29] dhslichter commented on #272
You can set the amplitude to zero if you want.  If the amplitude is nonzero, you'll get some spike in your S11 at the signal frequency but just ignore that spike and look at the frequencies to the side.  I would at least check with zero amplitude vs nonzero amplitude to see if it makes a difference to the impedance match (it shouldn't, but there could be higher order considerations).

Agreed that

[2017-09-07 16:33] dhslichter commented on #290
I like this idea, cheap/simple way to mitigate the other thermal drifts.  I think even if amplitude stability is not the main design goal of this board, it's nice to have for many potential users if we can implement simple/cheap things that help it.

[2017-09-07 16:40] gkasprow commented on #294
@hartytp I started sketching CPLD schematic but VHDL code would be much easier to maintain. Do you have any objection?

[2017-09-07 16:40] dhslichter commented on #291
It would be nice to have a few mounting holes and clear (no soldermask) metal on the backside to allow efficient placement of a custom machined heat sink/stabilization block that users can implement themselves.

[2017-09-07 16:41] dhslichter commented on #290
If we go this route, I would vote for the 0805 sized attenuator packages (4 pads) because there seem to be many options there.

[2017-09-07 16:42] gkasprow commented on #290
@dhslichter This would work providing that we thermally couple  such attenuator with amplifier die.

[2017-09-07 16:42] hartytp commented on #294
No objections at all! Use whatever language you like.

In the end though, @jordens has thought the most about this, so I'm happy to defer to him on CPLD usage.

[2017-09-07 16:49] dhslichter commented on #290
I think physical proximity on the board will be enough for our purposes.

[2017-09-07 17:21] jordens commented on #294
@hartytp It's the old unresolvable labeling issue. An "IN" to one thing is necessarily an "OUT" to something else. The long form description defines directions.

@gkasprow Editable textual representations of the code are strongly preferred. And if you don't want to learn Migen, then Verilog. In the end we will probably end up porting it to Migen anyway during testing...

[2017-09-07 17:22] gkasprow commented on #270
@hartytp We will do it via CPLD :)

[2017-09-07 17:27] jordens commented on #291
Thanks for the suggestion While nice conceptually, I'd like to leave that for the next revision. I don't want to risk our deadline for this.

[2017-09-07 17:29] jordens commented on #272
Also here @gkasprow let's focus on getting prototypes out. We can optimize the baluns later on the prototypes.

[2017-09-07 17:51] dhslichter commented on #291
I am OK with waiting for the next revision, just wanted to suggest it would be good to keep in mind when placing components.

[2017-09-08 07:42] gkasprow commented on #292
@hartytp @jordens [here](https://github.com/m-labs/sinara/blob/master/ARTIQ_ALTIUM/Kasli/3U/PCB_3U_DDS/CPLD_code/Urukul_CPLD/Urukul_CPLD.vhd) is _very_ initial CPLD code. Just to check if it fits and compiles.

[2017-09-08 14:09] jordens opened #295 "Use Si53312 as clock fanout/mux/divider"
from #270

  * DIVA shorted with DIVB connected to the CPLD

There are two wiring options here:

- A:
  * All AD9912 to the A-bank,
  * All AD9910 to the B-bank,
  * terminate only the ones in use in that variant

- B
  * All AD9912 and AD9910 to the A-bank on top of each other
  * Leave the B-bank unused
  * terminate only the A-bank

A has the advantage of zero stubs on the clock lines but uses

[2017-09-08 14:09] #270 closed

[2017-09-08 15:53] hartytp commented on #295
@jordens I'd definitely like a way of disabling the divider for the AD9910 e.g to allow a 1GHz clock input. So, even in option A, I'd still route DIVB to the CPLD.

[2017-09-08 15:54] hartytp commented on #295
Other than that, I'd go for option A if we can route it without having to add additional layers.

[2017-09-08 16:03] jordens commented on #295
Oh yes. I forgot about that.

[2017-09-08 21:54] marmeladapk commented on #288
Done in latest commit.

[2017-09-08 21:54] #288 closed

[2017-09-08 21:55] marmeladapk commented on #285
Done in latest commit, currently working on reducing number of BoM lines..

[2017-09-08 21:55] #285 closed

[2017-09-08 22:07] marmeladapk commented on #287
Done in latest commit, but we dodged a bullet here. I had to change 1V8 to 2V5.

[2017-09-08 22:07] #287 closed

[2017-09-08 22:09] marmeladapk commented on #286
Done in latest commit

[2017-09-08 22:09] #286 closed

[2017-09-08 22:25] jordens commented on #287
Because of the matching/biasing constraints of CD_FPGAIO?

[2017-09-08 22:30] jordens commented on #287
@gkasprow could you sign off on the CK_FPGAIO biasing/temrination/level matching?

[2017-09-08 22:40] jordens commented on #285
Great work. Thanks!

The wire bridge W1[ABC] can also go.

BTW: you can [have issues automatically closed](https://help.github.com/articles/closing-issues-using-keywords/) with nice references to the commit.

[2017-09-08 22:44] hartytp commented on #250
@marmeladapk Thanks for doing all that! New schematics look really lovely -- very clear and clean! Power budget is excellent and really helpful. Great work.

[2017-09-08 23:30] marmeladapk commented on #287
@jordens No, turns out 7 series FPGAs support 1V8 LVDS only on HP (High Performance) banks, and Artix 7 only has HR (High Range) banks that support 2V5 LVDS. 1V8 LVDS could be received in HR banks with use of external term. resistor, but LVDS output to EEMS could have wrong levels, current or would not work.

Now we can use internal terminating resistor.

[2017-09-09 08:35] jordens commented on #287
ACK.

[2017-09-09 10:18] jordens commented on #287
I just now realize what kind of bullet we dodged here!
But from what I can see both 1.8 V and 2.5 V LVDS on the Kasli/Metlino/Sayma side are compatible with the the different things that we have on the other side (sn65mlvd040, Si53304, FIN1101K8X etc) in both directions.

[2017-09-09 13:52] jordens commented on #287
As soon as @gkasprow signs off on the schematics, we are good to go ahead with layout and routing. I don't see any outstanding issues.

[2017-09-10 11:46] jordens opened #296 "Kasli component choice"
* [x] in the standard BOM, DNP J20 and J24
* [x]  around IC6, AFAICT the compensation component values are not critical and can be chosen with tolerances
  * [x] drop R64, R80
  * [x] take a regular 1% for R85
* [x] consolidate LED choices: LD1
* [x] make J19 an internal MMCX
* [x] add a locking barrel connector to the FP in parallel with the one on the back (J17)
* [x] LG L29K-G2J1-24-Z LED is no

[2017-09-10 11:48] jordens opened #297 "VCCAUX and XADC_VCC need to be 1.8 V"
not 2.5V

[2017-09-10 12:56] jordens opened #298 "DDR termination"
The [Arty development board](https://reference.digilentinc.com/_media/arty:arty_sch.pdf) from Digilent uses the same DDR3L chip class (just smaller) and an Artix 7 but:

* runs at 1.35V
* does not use termination resistors (uses ODT termination presumably) or a termination voltage regulator

Maybe given the crowding this is a good option?

[2017-09-10 13:22] gkasprow commented on #298
DDR3L can be run without termination providing that it is verly close to the FPGA.
With Artix chip one won't be able to get full speed anyway, so this may work.

[2017-09-10 13:59] jordens opened #299 "Kasli VCCO"
Right now we have 2.5 V IO voltage.
Would it be wise or possible to move to 3.3 V IO voltage?
I know this is pretty late, but the change from 1.8 V to 2.5 V just happened.

* We'd save a bunch of 2.5 <--> 3.3 level translators.
* It would free up one power supply rail, making room for VCCAUX/VCC_XDAC (#297)
* LVDS is not affected AFAICT.
* Maybe a bit higher power consumption.

[2017-09-10 14:33] marmeladapk commented on #299
families, is not supported in 7 series.

their VCCO pins powered at 3.3V (if using LVDS outputs).

[Source](https://www.xilinx.com/support/answers/43989.html)

On niedz., 10.09.2017, 15:59 Robert Jördens <notifications@github.com>
wrote:

[2017-09-10 14:34] jordens commented on #299
Ah. Never mind then.

[2017-09-10 14:34] #299 closed

[2017-09-10 17:30] hartytp commented on #296
@jordens Can we keep J20 (BP connector) in the standard BOM, please?

For our 16-channel NU servo, we need 2xNovo=4 EEM connectors and 4xUrukul=8 EEM connectors. So, we need a total of 12 EEM connectors, meaning that we _have_ to use the IO lines on the BP connector.

Otherwise, we'll have to order a slightly custom version of Kasli with the BP connector populated (and the barrel connector DNP) fo

[2017-09-10 17:37] jordens commented on #296
You have to choose between the barrel connector and the DIN connector. Since we don't have a backplane designed, we also don't have a way to power Kasli over that backplane yet.

You can just desolder the barrel connector and then solder in the DIN connector. That's hand-solderable.
Also this is the prototypes run.

[2017-09-10 17:44] jordens commented on #296
Novogorny only takes one EEM by the way.

[2017-09-10 18:35] hartytp commented on #296
Yes, I'd forgotten that we removed the barrel connector from the front panel due to lack of space.

Out of curiosity, are we definitely happy not having a barrel connector on the FP? I haven't got much experience using EuroRacks but AFAICT the rear barrel connector may be quite hard to access in some racks.

Okay, we can do that for our boards.

I thinking of the "fast Novogorny" (or whatever we'r

[2017-09-10 18:54] gkasprow opened #300 "KASLI - LED pulldown"
connect r45 to GND

[2017-09-10 18:56] gkasprow opened #301 "Power good pullup"
add 10k pullup to POWER GOOD.
There is PU resistor on reset line, but after R53. Could be confusing while debugging.

[2017-09-10 18:57] gkasprow opened #302 "missing comment/explanation"
add comment why U1 is foreseen

[2017-09-10 19:05] gkasprow opened #303 "AC coupling on CLK_CDR_IN"
CLK_CDR_IN clock input is not AC coupled - R9 and R13 make DC loop

[2017-09-10 19:09] gkasprow opened #304 "comment/designator overlaps power symbol"
as above, on many sheets, i.e. C185, C89

[2017-09-10 19:10] gkasprow opened #305 "clock amplitude not sufficient"
Modify R41 or R40 - now clock amplitude is 1.6V which is not enough for 2.5V.
Replace R40 with ~50Ohm or so.

[2017-09-10 21:22] gkasprow commented on #295
option A implemented. closing.

[2017-09-10 21:22] #295 closed

[2017-09-11 04:29] dtcallcock commented on #296
If this is a problem you could add a panel-mount barrel connector (or any other connector) to a 2HP filler panel and run an internal cable to the Kasli.

[2017-09-11 07:58] jordens commented on #296
The barrel connector is just as hard to access as the DIN connector. We'll place the power supply in the back of the rack as usual.

[2017-09-11 08:09] jordens commented on #296
Correct. Fast Novo occupies two EEMs. What's the reason you can't use two Kasli?

NB: You appear to be unaware (or don't care) what you voted for, what the consensus on the naming issue was, and where the responsibility for the current naming lies now after changing the name. That again strengthens the argument that the names were/are already as good as they get and that the problem can only be wi

[2017-09-11 09:19] hartytp commented on #296
"Forgot"/"Slipped your mind" would have been more accurate :)

FWIW, I thought the plan was to obsolete the current Novo once the fast version is out -- price should be similar for the two boards, and the slow version doesn't have any features the fast version is lacking. Thus, when I refer to "Novo" I'm generally always thinking of the fast version. (But, if you feel strongly about this, let me k

[2017-09-11 11:31] jordens commented on #296
Names being easily forgotten or slipping peoples minds was the main complaint about them. There is no way out.

I'm ok with "Novogorny" referring to the current single lane SPI bus and "Novo" referring to the upcoming one with quad lane source synchronous data.

I am ok with killing the entire clock fanout on Kasli. That would mean only one SMA on the front (*either* CDR_IN or CDR_OUT with jumpers

[2017-09-11 11:40] hartytp commented on #296
Sorry, my post wasn't clear. It's a mux, so it has two inputs. My suggestion was to keep the current situation where one input comes from the Si clock recovery chip (as in the current situation). That would serve (what I anticipate being) the most common use-case of Kasli distributing the RTIO/CDR clock. IMO, it's worth keeping the clock buffer on Kasli to serve this common use-case, whatever we d

[2017-09-11 11:49] hartytp commented on #296
Okay. I still think that a FP power input would be a useful convenience feature, that would make life easier for people. e.g. if you put a single Kasli in a box, it's nice for all connections to be on the same face.

But, I'll leave the final decision to you.

If we don't go for the FP power input then we might as well keep the fanout buffer clock input SMA on the FP.

[2017-09-11 12:39] jordens commented on #296
Let's leave it and reconsider after the prototypes. Then we know more.

[2017-09-11 12:46] gkasprow commented on #296
@hartytp @jordens When I was testing VHDCI carrier, I realised that the rear side power connector was not very convenient, so I added front panel one without asking.

[2017-09-11 12:47] marmeladapk commented on #296
We may do something like this:
<img width="1081" alt="fp" src="https://user-images.githubusercontent.com/24512604/30274956-dbfb6f8e-96ff-11e7-8e40-564f7e76244d.png">
and leave connector on the back.

[2017-09-11 13:02] marmeladapk commented on #298
Lines that are terminated right now are not covered by ODT, we'll leave them, those resistors won't take much space.

We may change 1V5 to 1V35, but it shaves off just 90 mW.

[2017-09-11 13:02] hartytp commented on #296
Great! Good idea @gkasprow!

My vote (FWIW) is:
- Leave the barrel connector on the back. My preference is to DNP the real barrel connector and populate the 96-pin DIN, but I'm not too fussed about that, as this is easy to change when the boards arrive.
- Add a second barrel connector on the front.
- Leave the clock fanout SMA input on the FP if there is room. If not, remove it and replace it with

[2017-09-11 13:20] hartytp commented on #296
@marmeladapk For convenience for the user, it might be nicer not to put the power connector between the SMAs if possible. Instead, I'd have the power connector near the bottom edge of the board, and the two SMAs together. Otherwise, LGTM.

[2017-09-11 13:21] jordens commented on #296
For the prototypes I'd like:
* the barrel connector in the back
* no DIN connector
* you may add a barrel connector on the front panel IFF you show that it does not interfere with the SMA mounting tool minimum dimensions, both of the SMA connector mounted, and with regular size Micro USB connector mounted

But please let's not unnecessarily loose time on this.

[2017-09-11 13:29] hartytp commented on #296
To clarify, assuming this means: DNP the DIN connector (i.e. don't remove the pads!).

[2017-09-11 14:05] jordens commented on #296
Yes.

[2017-09-11 14:30] hartytp commented on #296
Given Greg's comments, I still think the SMA is significantly less important to have on the FP than the power connector. But, agreed, one way or the other, it's time to make a decision on this and move onto layout.

[2017-09-11 14:42] gkasprow commented on #296
What would be clock source for KASLI? The clock buffer or some external source?
Anyway, when somebody needs SMA connector for ext clock, can add SMA to MMCX jumper and fix it to 3U panel.
So I'd use just internal vertical MMCX connector for clock input and then leave one SMA only.  One can add another MMCX instead of solder jumper.

[2017-09-11 16:48] hartytp commented on #296
To check we're all on the same page: there are currently 2 SMAs on Kasli.
1. External input to Si chip/output from Si chip. **This one is the one I want to keep.** When Kasli is used in "master" mode, this input is required to supply it with a 100MHz reference clock.
2. External input to the ADCLK948 clock fanout buffer (other input to this buffer is an output from the Si chip). **This is the SMA

[2017-09-11 16:51] hartytp opened #306 "Kasli clock input annotations"
- [x] Add a brief annotation for the solder jumpers on the SMA clock input for Kasli. Annotation should say something like "For clock input ("master" mode), populate ..., for clock output ("slave" mode) populate ..."

[2017-09-11 18:10] jordens commented on #296
That amounts to:

1. make J19 an internal MMCX
2. add a locking barrel connector to the FP in parallel with the one on the back (J17)

I am ok with that.

[2017-09-11 19:08] gkasprow commented on #274
@jordens what loop bandwidth and phase margin do you want?

[2017-09-11 19:18] #281 closed

[2017-09-11 19:26] #276 closed

[2017-09-11 19:26] #275 closed

[2017-09-11 19:29] #293 closed

[2017-09-11 19:47] hartytp commented on #296
Great! Thanks. Sounds like we all agree on the solution to this.

[2017-09-11 20:36] gkasprow commented on #290
I used available PAT1220 0805 attenuator.

[2017-09-11 20:36] #290 closed

[2017-09-11 23:25] marmeladapk commented on #298
@jordens IT means you're fine with leaving 1V5 and termination resistors?

[2017-09-12 06:53] jordens commented on #298
Yes. You are more qualified to decide that.

[2017-09-12 08:27] jordens commented on #294
That should go to EEMA:LVDS7 (IDC0:LVDS7 in your notation), not EEMB/IDC1.

[2017-09-12 08:52] jordens opened #307 "clock fanout Si53312-B-GM variants"
* [x] DNP the caps and termination resistors for the output bank not used in that variant
* [x] Deactivate the unused bank of the Si53312-B-GM using OEA/OEB (to reduce power and noise)
* [x] I would power the Si53312-B-GM and OSC1 from P3V3A and not P3V3

[2017-09-12 09:08] jordens opened #308 "connect AD9910 EXT_PWR_DWN to GND"
Datasheet says "If unused, connect to ground."

[2017-09-12 09:18] jordens opened #309 "Variant DNPs"
Make the DNPs on the DDS_OUT_Channel and CLK_INPUT pages the same in both variants.

[2017-09-12 09:19] jordens opened #310 "Clock input baluns"
Use the same baluns for the clock inputs as for the DDS outputs (once those have been changed to center-tapped #272 ). That makes the ones at the clock inputs so cheap that we should just populate them in both variants.

[2017-09-12 09:45] hartytp commented on #310
ACK.

Can't remember which PN we're using, but if we're going to put them on the clock inputs, let's make sure they are very broadband (<<100MHz to >1GHz) to preserve our nice sharp rising edges on the clock inputs.

[2017-09-12 14:13] gkasprow commented on #226
@hartytp I connected CMOD A7 devkit and I'm able to control gains over USB UART.
here is how it looks like without any input connected and termination = on.
GAIN=1
![obraz](https://user-images.githubusercontent.com/4325054/30330406-4738e620-97d5-11e7-9a67-97c0892ee32a.png)

GAIN=10
![obraz](https://user-images.githubusercontent.com/4325054/30330320-11635bd4-97d5-11e7-869d-2dd1bfdb706e.png)

GAIN=1

[2017-09-12 14:26] gkasprow commented on #226
crosstalk on CH0 with 20kHz 3V RMS applied to CH1, term = ON on both inputs, GAIN=1
![obraz](https://user-images.githubusercontent.com/4325054/30330897-9543c280-97d6-11e7-8749-6656746f8c7c.png)
crosstalk on CH0 with 20kHz 3V RMS applied to CH1, term = OFF on both inputs, GAIN=1
![obraz](https://user-images.githubusercontent.com/4325054/30330923-a8a8f6ce-97d6-11e7-927d-37b34e35abba.png)

crosstalk

[2017-09-12 14:30] gkasprow commented on #226
These measurements were taken with new BNC connectors without internal ground connection between them.

[2017-09-12 14:46] dhslichter commented on #310
Agreed with @hartytp, I worry about the ability of center-tapped baluns to pass sharp clock edges.  In general a transmission line/Guanella balun would have considerably better bandwidth, and would likely be a better choice.

Right now the output balun on the schematic is a 2:1 transmission line balun.  We were planning to change that to a center-tapped balun (#272) as on the [AD9910 eval board](h

[2017-09-12 14:58] dhslichter commented on #226
Nice @gkasprow !

[2017-09-12 15:27] hartytp commented on #310
The balun is not essential here, and my guess is that an 800MHz balun will do more harm than good when supplied with a nice square-wave clock.

My vote is to either leave the balun out (DNP + add 0R jumper to bypass) or add an extra BOM line (let's stick with the TCM2-43X+ we use everywhere else).

[2017-09-12 15:35] gkasprow commented on #226
I do not observe any differences with shield and without it. The PCB itself is quite good shield. I will check it with external signal source in close proximity to the board.

[2017-09-12 15:36] jordens commented on #310
We need to run the DDS also at low frequencies and don't want to have TLTs on the outputs. Those will be center-tapped. In that case leave the clock inputs with the baluns DNP and single ended.

[2017-09-12 15:36] #310 closed

[2017-09-12 15:45] hartytp commented on #226
@gkasprow Nice!

To check I understand this:

- Is the y-axis dBFs?
- What is the noise bandwidth for this measurement (i.e. how do I convert the dB on the y-axis to nV/rtHz)?
- For the noise measurements, please can you provide an integrated noise value as a number of LSB RMS?
- AFAICT, there are no spurs evident due to pickup, SMPSs etc. That's great!

[2017-09-12 16:06] hartytp commented on #226
Thanks for taking the cross-talk measurement! That looks good.

Could you convert those results into dBc relative to the input signal applied for me, please?

Gain | cross-talk with term ON (dBc)
-----|-----
1 | ?
10|
100|
1k|

PS Assume that the last measurement should be **term OFF**

[2017-09-12 17:16] gkasprow commented on #226
@hartytp The signal was 3V RMS which means 4.23V of amplitude in 10V scale which gives level of -7.5dB
For gain of 1 we have level of -102dB, gain 10: -82dB, gain 100: -62dB and for gain 1000: - 42dB referenced to full scale. This makes sense and we have input to input isolation about 95dB and each gain step adds 20dB.

[2017-09-12 17:21] gkasprow commented on #226
@hartytp I use Tektronix DDS generator, which is not the best possible signal source.
Y axis is dBFS. Noise bandwidth is limited by the 250kHz dual RC lowpass filter. The ADI tool calculates all statistics, I will check it.

[2017-09-12 17:47] hartytp commented on #226
@gkasprow Thanks for the info!

Two other measurements that would be useful if you can make them easily with the setup you have:
- [ ] Time-domain response to a FS step (checks slew-rate etc)
- [ ] DC cross-talk

If easy, we could check the temp-co of the device. But, I'm also happy trusting the data sheets for this.

[2017-09-12 22:04] gkasprow commented on #308
@jordens It also says that has pulldowns, but OK, I will connect to GND.

[2017-09-12 23:02] dhslichter commented on #308
I recommend a solder jumper here; this would allow users who don't need all 4 DDS's to power down some channels to reduce power consumption/heat load.

[2017-09-13 01:50] #300 closed

[2017-09-13 01:50] #301 closed

[2017-09-13 01:50] #302 closed

[2017-09-13 01:50] #305 closed

[2017-09-13 05:31] jordens commented on #308
@dhslichter that's more convenient to do in software.

[2017-09-13 05:37] jordens commented on #306
"DRTIO master" and slave are well defined.
All correct. Just that in master mode Kasli gets the clean clock over that connector. The jitter attenuation effect is not important in that case. In slave mode Kasli recovers the clock from the serial link to the upstream DRTIO master and that needs cleaning. And it is convenient to then output that clock on the connector for other purposes.

[2017-09-13 07:15] jordens commented on #303
On the other hand, CKIN2+- are probably internally biased (I couldn't tell from the datasheets but they are only used AC coupled). You can't short that with R13. That one should be DNP. And without the balun, there should be a 0R to GND in front of C14.

[2017-09-13 07:19] jordens commented on #297
Power budget on page 4 still needs updating with P1V8

[2017-09-13 15:16] dhslichter commented on #308
@jordens ack, works for me.

[2017-09-13 22:43] marmeladapk commented on #306
Please check if current note is verbose enough.

[2017-09-14 06:26] hartytp commented on #306
Current annotation looks good to me. Thanks!

[2017-09-14 06:26] #306 closed

[2017-09-14 06:26] hartytp commented on #306
Current annotation looks good to me. Thanks!

[2017-09-14 17:57] dhslichter commented on #24
@jordens @jbqubit what is the current status of this?  We are interested in this at NIST as well and are curious whether this is funded/going to be funded/unfunded?  What is an estimated timescale for developing this given the other ongoing work?

[2017-09-14 18:14] jordens commented on #24
IIRC this is not yet funded. Right now we are booked for the next months but a solid amount of work should first go into writing the specification the feature set that handles the dominant use case (PI power stabilization).

[2017-09-14 18:33] hartytp commented on #24
@dhslichter: I discussed this with @jbqubit a bit at NACTI. Our interest at Oxford would initially be in having the NU servo ported to Sayma (i.e. no fancy features like demodulation etc). AFAICT, other than implementing JESD Rx, that shouldn't be a huge amount of work (but, correct me if I'm wrong about that @jordens); the NU-servo is already fairly well specified and some elements of the code ha

[2017-09-14 23:03] dhslichter commented on #24
I think our initial use case would be similar to Oxford, a simple NU servo-type situation ported to Sayma, basically allowing us to feed back on the amplitude of a sinusoidal DAC output (e.g. driving an AOM) to noise-eat laser pulses using a photodiode being read by an ADC input.  We'd be interested in both CW noise eating and in pulsed noise eating (i.e. on during a pulse, integrator hold and loo

[2017-09-15 06:49] hartytp commented on #24
@dhslichter Good, that's all in NU-servo AFAICT, see [the wiki](https://github.com/m-labs/sinara/wiki/NovoUrukulServo).

So, it looks like the main roadblock is just getting JESD Rx funded...

-----

Quoting sections of the wiki relating to your points:

"Integrator hold" logic is: integrator active if profile active AND RF switch has been open for channel-specific delay AND (per-channel) integrat

[2017-09-15 09:11] hartytp commented on #24
While it's on my mind, a couple of things that need specifying/designing/implementing once the JESD Rx + ADC interfaces are written:

- What speed do we want to run the loop filter at? IIRC, the JESD interfaces limits the loop bandwidth to ~300kHz (without taking into account delays due to AOMs etc), so >=1MSPs should be fine.
- How do we want to do the ADC down sampling? IIRC, the ADC is pretty l

[2017-09-15 10:54] jordens commented on #24
To adapt nu-servo to Sayma, we'd need quite a bit of work still:

* JESD RX
* ADC configuration
* ADC downsampling and noise bandwidth limiting (just picking samples would not be wise)
* ADC synchronization scheme
* Specifying SAWG DDS control method either using profiles like nu-servo or injecting on a multiplicative/additive term
* Synchronizing SAWG DDS control
* Since nu-servo is a fixed mode

[2017-09-15 12:43] gkasprow commented on #226
@hartytp I connected 6V pp 100Hz square signal without termination, x1 gain:
![obraz](https://user-images.githubusercontent.com/4325054/30480836-1c46428e-9a1c-11e7-88e5-6672604d6b8c.png)

[2017-09-15 13:04] hartytp commented on #226
@gkasprow Thanks! Looks like settling time to 1LSB with G=10 is something like 3 samples? IIRC (from data sheet values) this should be roughly the same for G=1,10,100 and a factor of a few slower for G=1k.

[2017-09-15 13:05] gkasprow commented on #226
@hartytp I found yet another issue with these BNC connectors. The replacement parts have split ground terminals, but they are swapped!
Which means that crosstalk I measured was wrong.
It is much lower than I published.
With 10kHz signal, full scale 2Vpp, G=100, term on I don't see any crosstalk - it is lower than -110dB

[2017-09-15 13:07] hartytp commented on #226
With 10kHz signal, full scale 2Vpp, G=100, term on I don't see any crosstalk - it is lower than noise floor.

Great! That's really good news. Makes sense why things looked so bad with the termination off!

[2017-09-15 13:28] gkasprow commented on #226
@hartytp Some plots with fixed connector:
All channels gain is the same, 10Vpp, 10kHz to adjacent channel.
With gains higher than 1 the ADC is saturated. I updated the table with crosstalks.

G=1
![obraz](https://user-images.githubusercontent.com/4325054/30484267-30cba7ea-9a2a-11e7-846c-2a78284ba768.png)

G=10
![obraz](https://user-images.githubusercontent.com/4325054/30484290-4260b2ca-9a2a-11e7-9

[2017-09-15 16:27] gkasprow commented on #226
For DC crosstalk, I tested at 100Hz and for all gains it is below the noise floor.

[2017-09-15 18:10] hartytp commented on #226
@gkasprow Great!

- Top post updated with list of tests.
- Please can you confirm the time base used in the rise/fall time tests? Or, better yet, could you post the settling time (say, to within 0.01% and to within 1LSB)

[2017-09-15 18:12] hartytp commented on #226
Great. That's consistent with the -125dBc specified on the data sheet.

[2017-09-15 18:19] hartytp commented on #226
Let's see how this measurement looks. However, if the pickup looks low, then let's aim to evaluate the prototypes in physics labs **without screening** (@jbqubit @cjbe @klickverbot). If we're happy with the performance, it would be good to DNP the screening in the production versions.

[2017-09-15 19:26] gkasprow commented on #226
@hartytp the timebase is 8us/sample

[2017-09-15 19:48] gkasprow commented on #226
@hartytp the measurement BW is 250kHz. How do you want me to define the noise? Do you mean LSB RMS noise without the input signal?

[2017-09-15 21:39] marmeladapk commented on #303
@jordens You're right, though [this document](https://www.silabs.com/documents/public/reference-manuals/si53xx-reference-manual.pdf#G1251443) mentions:

I'll add capacitor before balun for sma and mmcx connectors.

[2017-09-15 22:04] hartytp commented on #226
Thanks Greg. It's a bit hard to quantify the settling time from the image you sent me. AFAICT, it looks like ~5samples to settle to +-1LSB, so about 40us. Is that correct?

For the measurement, I'd suggest:
- TERM ON
- No input applied
- Measure RMS noise

By "noise bandwidth" I meant the effective width of each sample in frequency space (the measurement bandwidth divided by the number of points i

[2017-09-16 00:16] marmeladapk commented on #296
@jordens I wanted LD1 to be red because it indicates loss of pll lock on Si5324.

[2017-09-16 06:55] jordens commented on #303
But the implied statement is that you have to obey the common mode voltage i.e. the biasing.

[2017-09-16 06:57] jordens commented on #296
That doesn't warrant a new BOM line IMHO. Just make it green. Good silk screen will do the rest.

[2017-09-16 06:59] jordens commented on #226
The bin width was 1khz for the first couple graphs at least.

[2017-09-16 07:24] hartytp commented on #226
So, from the plots, for G=1:
- the noise floor is approximately -122.5dBFS
- -122.5dBFS for a 20V full-scale range=15uV RMS
- 15uV RMS for a 1kHz noise bandwidth is 475nV/rtHz
- Integrated noise in 250kHz bandwidth (assume brick-wall response) is: 237uV RMS = 0.8LSB RMS

Greg, is the above calculation correct?

Could you complete the table below, please (use the measured RMS noise values):

Gain |

[2017-09-16 07:54] hartytp commented on #226
NB, we expect:
- For the low gains we should be limited by the ADC noise floor of 0.33LSB RMS
- For the high gains, we're limited by the InAmp NSD of 10nV/rtHz

So, the ADC transition noise looks to be a little higher than specified. But, that could well be due to the sloppy nature of my calculations! In general, this is more than good enough for all the applications I have in mind, so well done @

[2017-09-16 08:25] marmeladapk commented on #303
That's absolutely right.

[2017-09-16 08:44] hartytp commented on #226
NB my high-gain noise calculation was definitely off because I forgot the BW of the PGIA. The data posted above didn't go to a high enough frequency for me to see this, so I had to estimate based on the data sheet numbers.

- [ ] @gkasprow If you measure the small-signal BW, can you add it to the table above, please?

[2017-09-16 09:12] gkasprow commented on #296
the LG L29K-G2J1-24-Z LED is no longer available.
PLCC LEDs are large, you should use 0603 or 0402 LEDs everywhere.
In CERN lib there are KPH-1608CGCK but they have reversed footprint, I asked CERN to fix it, you can also modify the footprint.

[2017-09-16 09:22] sbourdeauducq commented on #296
The firmware is already monitoring that 5324 lock continuously (and reporting on UART), it doesn't really need a LED.

[2017-09-17 01:28] #284 closed

[2017-09-17 01:28] #297 closed

[2017-09-17 01:30] marmeladapk commented on #304
Should be ok now.

[2017-09-17 15:48] #308 closed

[2017-09-17 16:00] #307 closed

[2017-09-17 16:02] gkasprow commented on #294
Right!

[2017-09-17 16:02] #294 closed

[2017-09-17 16:20] jordens commented on #296
@marmeladapk But J25 should be placed. Otherwise there is a hole in the FP.

[2017-09-17 17:04] marmeladapk commented on #296
Oh, I thought we wouldn't include it in FP in versions without backplane connector (so with rear power connector).

[2017-09-17 17:48] jordens commented on #274
1.6 MHz bandwidth and 65 deg margin. Those seem to be the AD9912 numbers.

[2017-09-17 17:53] jordens commented on #296
Designing, manufacturing, selling, maintaining etc two front panel types sounds more complicated than having that unused connector.

[2017-09-17 18:00] gkasprow commented on #272
I changed it to ADT1-1WT+ used on 9910 devkit which is footprint compatible with ADT2-1T-1P used on 9912 devkit.

[2017-09-17 18:00] #272 closed

[2017-09-17 18:16] hartytp commented on #274
At some point, we should try to optimise this for some input clock noise spectrum (e.g. the CDR clock), but that sounds like a good starting point for the prototyping boards.

[2017-09-17 18:37] hartytp commented on #296
I agree with @jordens: definitely keep the FP power connector in both versions.

[2017-09-17 18:44] hartytp commented on #296
Why is there still an "ADD LEDS" annotation on the front page? Can that be removed now?

[2017-09-17 18:55] hartytp opened #311 "Kasli schematic clean up"
- [x] I find the annotation "Replace 0R with 100k for AC coupling" a bit misleading -- to me "AC coupling" implies AC coupling of a signal, rather than the ground. IMO something like "Replace 0R with 100k to isolate grounds." (or at least "to AC couple grounds.") would be better. If there is room, it might be worth adding "Replace 0R with 100k **and fit insulating washer on SMA** to isolate ground

[2017-09-17 19:18] hartytp commented on #304
Looks good to me! Schematic is now lovely and clean. Good work.

[2017-09-17 19:18] #304 closed

[2017-09-17 19:45] #303 closed

[2017-09-17 19:49] hartytp commented on #311
Other than this and the issues raised in #296, I'm happy to sign off on the schematics (although, I haven't looked in detail at the FPGA, RAM, etc).

[2017-09-17 19:58] hartytp commented on #282
Is there any way to make these Altium PDFs smaller? I always have problems working with them on my laptop...

[2017-09-17 20:04] hartytp opened #312 "Urukul clock SMA grounds"
- [x] IIRC, we agreed that the default population option should directly connect SMA grounds to the PCB grounds. Thus, 100k resistors should be 0R by default. cf #311 for suggestions about schematic annotation for this.

[2017-09-17 20:09] hartytp commented on #278
- [ ] Should DDS_SYNC_CLK0 be AC coupled to avoid current draw into biasing resistors?

[2017-09-17 20:11] gkasprow commented on #282
@hartytp Yes, when I disable Table of content, component parameters, net information and global bookmarks for components and nets, the size drops to 1.5MB. But navigation is slightly more problematic.

[2017-09-17 20:14] jordens commented on #274
@gkasprow oh yeas. and if possible make them 0603 for solderability (if they aren't already).

[2017-09-17 20:24] #312 closed

[2017-09-17 20:30] jordens commented on #272
Could we also get updated BOMs?

[2017-09-17 20:35] marmeladapk commented on #311
I made maximum, worst case power budget (for example when user populates DNP resistors). I'll change values for ADCLK944, since one output is not connected.

[2017-09-17 20:42] marmeladapk commented on #282
@hartytp Then you're gonna love 3D pdfs Altium can create...

[2017-09-17 20:49] gkasprow commented on #278
@hartytp I can increase the bias resistor values. I used 220R since they were already in the design.

[2017-09-17 20:50] jordens commented on #309
* [ ] I don't think it makes sense to populate the series parts of the discrete filter with 0R. Just DNP them.
* [ ] The loop filter components (C107, C113, R90, R92) should be placed in both variants (but with different values).
* [ ] DNP the DDS_CLK_P/N termination resistors in the unused variant.
* [ ] Place L9, C101, C102 by default to make adding the oscillator easier.
* [ ] Either beef up th

[2017-09-17 20:58] jordens commented on #278
IIRC that is only a pretty weak output from the DDS.

But I think @hartytp is not so much referring to the bias resistor value and more to the possivble addition of an ac coupling to convert weak single ended 3.3V CMOS (?) to LVDS. There, I guess, are different options to achieve that. With AC (and zero common mode at the LVDS input) and with DC (and some common mode swing at the LVDS inputs) coup

[2017-09-17 21:12] gkasprow commented on #278
Anyway, 1k load is really light and every CMOS can handle it.

[2017-09-17 21:23] gkasprow commented on #309
@jordens I left these 0R just in case somebody needs direct path. I made them DNP
R137 is already 0.5W one

[2017-09-17 21:47] hartytp commented on #282
:)

Okay, well I'll leave it to you to do what you think is best as I don't have much experience with allium PDFs. I'd guess that a TOC and component parameters are useful to have and don't take up too much space, but the nets are probably not worth it.

[2017-09-17 21:47] hartytp commented on #282
PS thanks for the quick fixes to those issues!

[2017-09-17 21:48] hartytp commented on #311
Okay, that makes sense. Thanks!

[2017-09-17 21:51] hartytp commented on #278
Okay, feel free to leave it as is then.

[2017-09-17 23:27] gkasprow commented on #274
@jordens they are already 0603.
I added separate RSET and loop filter components  due to layout constraints. Otherwise traces would need to be long and pickup noise.

[2017-09-18 05:15] jordens commented on #274
Very good!

[2017-09-18 05:17] jordens commented on #309
ACK.

[2017-09-18 05:17] #309 closed

[2017-09-18 07:45] hartytp commented on #188
@jbqubit: ping. Can we close this now?

[2017-09-18 07:46] #237 closed

[2017-09-18 09:02] jordens commented on #240
* [ ] SMA clearance to panel is too small
* [ ] SMA connector clearance to mounting brackets and screws is too small

[2017-09-18 09:07] hartytp commented on #309
Also, I generally wouldn't want to leave these bits of metal floating, as you can get funny resonances if you're not careful (the amps work into the GHz regime). So, keeping the 0R resistors is a good idea IMO.

[2017-09-18 09:12] jordens commented on #309
What are you envisioning here? You get resonances whether you have open ends or grounded ends. There are loads of floating things there. Mounting holes, fiducials, NC pads... The way the discrete filter is wired now (the two mux-jumpers half-DNP and the rest series 0R) makes things worse than with everything DNP.

[2017-09-18 09:14] jordens commented on #241
- [ ] The rack extraction handle should be 8 HP wide (not 4). There is an alignment hole in the panel.

[2017-09-18 09:35] hartytp commented on #282
- [ ] The two big red annotations "Place it close to ..." look a bit odd. Please either remove them from the final version, or replace them with a small annotation saying something like "IC4 & IC9 placed close to LVDS buffer."

- [ ] Can we make the "When routing please do a reasonable length match" annotation a bit more succinct (or remove it). Something like "Trace lengths matched within each of

[2017-09-18 09:36] hartytp commented on #282
Other than the above (pretty minor) points, I'm happy to sign off on this schematic -- although, I haven't looked too closely at the CPLD/sync etc.

Good work!

[2017-09-18 09:39] hartytp commented on #282
Initial layout also looks good to me.

Re screening though: based on our experience with Novo tests, let's aim to test this without screening first. If internal (cross-talk) and external pickup look good then let's aim to operate the prototypes without screening enclosures. If we're happy with it, we can DNP/remove the screening clips for the production hardware.

[2017-09-18 09:40] hartytp commented on #309
ACK. The resistors should be populated here to ground this metal. IME grounded metal in/above a ground plane causes fewer problems than floating metal.

[2017-09-18 09:56] jordens commented on #282
C190/C196 are there for the balun case. Not worth the trouble optimizing them away IMHO

[2017-09-18 09:59] jordens commented on #309
Well. With all the 0Rs you have exactly the shape of a directional coupler bypassing the filter. With everything DNP you'd have just a bunch of islands with fF coupling. But I'm happy with the 0Rs if you feel strongly about them.

[2017-09-18 11:47] hartytp commented on #311
Thanks for fixing that so quickly!

[2017-09-18 11:47] #311 closed

[2017-09-18 11:53] hartytp commented on #282
ACK. After re-looking at the topology for the TCM2-43X+, I remembered why they were needed. Good catch!

[2017-09-18 11:56] hartytp commented on #309
I don't feel too strongly about it, but somehow leaving this floating seems wrong to me. Happy to be convinced otherwise ;)

[2017-09-18 11:58] hartytp commented on #274
- Is the AD9910 loop filter missing from the current PDF, or did I just miss it (I saw it for the AD9912)?

[2017-09-18 13:17] gkasprow commented on #274
@hartytp It was common for both ICs, but recently I made them separate.

[2017-09-18 16:46] hartytp opened #313 "Grabber V1 errata"
- [x]  Please remove the annotation "This module connects to Kasli ..." and replace it with something like "EEM connector: IO are LVDS, I2C is 3V3 LVCMOS, P3V3_MP up to 20mA, P12V up to 1A."

[2017-09-18 16:46] hartytp opened #314 "Clocker V1 errata"
- [x]  Please remove the annotation "This module connects to Kasli ..." and replace it with something like "EEM connector: IO are LVDS, I2C is 3V3 LVCMOS, P3V3_MP up to 20mA, P12V up to 1A."
- [x] move clock input to bottom

[2017-09-18 20:28] gkasprow commented on #263
@jbqubit I added the BOM files for Sayma/Metlino boards

[2017-09-18 21:53] cjbe commented on #234
The long bushing power jacks (L712RA) are problematic to use with normal length plugs - if the plug is too short, the ground connection is not made, but the plug outer still connects to the body of the jack, which can provide a ground connection via the rack and front panel to other EEMs!

There should be a note somewhere in the documentation warning of this, and suggesting the Switchcraft  761K a

[2017-09-18 22:45] dhslichter commented on #278
I am not sure sure about that, check the IBIS models @gkasprow ...the SYNC pins are pretty pathetic on these DDS chips.

[2017-09-19 08:10] hartytp commented on #234
@gkasprow Do we want to pick a different power connector for these boards, which is compatible with the connectors used on standard 12V wall warts.

[2017-09-19 08:27] jordens commented on #234
@dtcallcock advocated these.
But @cjbe with these connectors you should only use "floating" power supplies because the inner conductor will connect first most of the time. I am not particularly worried about that.
I'd like to go to the more common ID 2.1mm x OD 5.5mm type (still inner connector positive), i.e. [722RA](http://www.jameco.com/Jameco/Products/ProdDS/1772934.pdf)

[2017-09-19 09:03] hartytp commented on #234
Let's make sure that we fully specify the connector by giving the length dimension as well.

I'm happy with any connector that works with standard +12V PSUs available on Farnell and elsewhere.

FWIW, 2.5mm seems more common than 2.1mm from a quick search (but, as always, crap metadata on Farnell doesn't help this). I didn't see much that was obviously compatible with the 722RA -- certainly not hun

[2017-09-19 09:16] cjbe commented on #234
@jordens I was using a floating supply, and the barrel of the plug was not making contact with the sleeve connection (ground point) on the jack - the jack sleeve connection is electrically isolated from the front panel mounting point in this jack design. I was only seeing grounding through the front panel, via an RJ45 EEM, to the VHDCI breakout.

I tried ~5 different 'standard' 2.1x5.5 plugs I had

[2017-09-19 09:31] jordens commented on #234
@cjbe How does that work? The L712RA has a 2.5 mm pin. That won't fit the 2.1 mm hole in your connector. The usual problem is 2.1mm pins and 2.5mm plugs. They are just too loose and may not make contact to the outer because it ends up being off-center.

@hartytp I can find both. But apparently you guys apparently have a lot of 2.1 mm in the lab.

* "Mean Well" seems to be mostly 2.1 mm: https://ww

[2017-09-19 09:37] gkasprow commented on #234
@jordens @hartytp  it may be not the best idea to let people use random wall wart. Most of cheap Chinese ones do not have any CMC filters nor meet any EMI standards.
It's better to relay on certain verified power supplies which you can easily buy and don't care about connector compatibility. Another thing is power rating. Power supplies are so cheap these days that it makes sense to use overrated

[2017-09-19 09:39] cjbe commented on #234
@jordens that was a typo - I used plugs with the same ID and OD as specified in the L712RA datasheet, that is 2.5 x 5.5.

[2017-09-19 09:42] cjbe commented on #234
@gkasprow completely agreed - my concern is that we bought some nice PSUs ([XP Power AFM30US12C2](http://uk.farnell.com/xp-power/afm30us12c2/power-supply-2-5a-12v-30w-iec/dp/2319724)) that looked from the datasheet like they should mate OK, and felt like they mated OK, and powered the device OK. However the only path for the return current was via the rack chassis and another EEMs front panel.

[2017-09-19 09:46] gkasprow commented on #234
@cjbe you can always replace the plug :) You can also remove some plastic part of the plug using sharp blade to make the ground contact longer.

[2017-09-19 09:57] cjbe commented on #234
@gkasprow I have already replaced the plug :) - I was just surprised by this failure mode as I had not seen it before, and thought others should be aware of it.

[2017-09-19 10:04] hartytp commented on #234
Agreed, let's find a nice, commonly available +12V, 5A power supply and recommend that as the "standard" PSU to use. We should also ship this with Kasli (and potentially with the VHDCI carrier and clocker as well depending on the cost).

Forcing users to change the connector on power supplies wastes a lot of time. Let's pick a connector that is compatible with high-quality COTS PSUs.

[2017-09-19 10:14] jordens commented on #234
I'd like to take a common connector (short 2.1 or 2.5 ID barrel, locking) and dialing in on a power supply that we then also ship with Kasli/VHDCI (the locking connectors are so uncommon that the PS cord needs to be modified). There are a bunch of them (XP Power e.g.) with medical approvals.
People are fully able and capable of breaking Kasli anyway.

[2017-09-19 12:57] hartytp commented on #234
True, but I'm not sure I follow you in this context...

[2017-09-19 13:00] hartytp opened #315 "Kasli PSUs"
Find and test a high quality PSU, which we can ship with Kasl, VHDCI carrier, clocker, and any other EEM with a power connector input.
  - +12V
  - 5A
  - High-quality, with proper over temperature and overcorrect protection, decent CMCs etc
  - Locking barrel connector (probably fitted by modifying a COTS PSU, cf #234).

[2017-09-19 13:10] jordens commented on #234
That was aimed at "not the best idea to let people use random wall wart": IMHO choosing connectors based on non-technical reasons is misguided.

[2017-09-19 13:12] hartytp commented on #234
Aaah. Okay.

Sure. Let's just pick a standard PSU that works with this connector and I'm happy. If we can't find a good COTS PSU that mates properly with this connector, that **would** be a good reason to reconsider the connector.

[2017-09-19 13:31] gkasprow commented on #234
Such quality power adapters with suitable plug can be shipped with VHDCI and Kasli. So this would solve the issue and prevent people from plugging random power source.

[2017-09-19 16:40] dhslichter commented on #234
I agree with choosing a clean, COTS power supply with no modifications necessary.  However, I think the locking connector is important, and this was the main concern that @dtcallcock was raising.  Thus I like what @jordens is proposing.

[2017-09-19 16:40] dhslichter commented on #315
The connector should be locking if at all possible.

[2017-09-19 16:55] hartytp commented on #234
@dhslichter Are you suggesting bulk buying COTS PSUs and having them modified by e.g. technosystems to add locking connectors?

[2017-09-19 19:14] gkasprow commented on #234
@hartytp This is the way we would do.

[2017-09-19 19:26] hartytp commented on #234
How much would that add to the cost of the PSU?

[2017-09-19 19:33] gkasprow commented on #234
depends on quantity, something like 2EUR@100pcs

[2017-09-19 19:35] hartytp commented on #234
Okay, that's fine then.

[2017-09-19 20:00] jbqubit commented on #263
@gkasprow Thanks for adding the BOMs. :)

[2017-09-19 20:23] jbqubit commented on #304
Thanks!

[2017-09-19 21:34] gkasprow commented on #52
Yet another [RF connectors](https://cdn.harwin.com/Harwin_Coax_Product_Announcement_Aug_17.pdf?utm_source=Hi-Rel+Newsletter+Markets+-+EU&utm_campaign=668c2423f5-High_Rel_Newsletter_EU_Sept_2017&utm_medium=email&utm_term=0_457246cfd8-668c2423f5-104411045) to consider in future designs

[2017-09-20 03:06] sbourdeauducq commented on #234
:) :) :)

Those barrel connectors are generally a bit crappy like this and unprofessional. They also cause short circuits sometimes.
On ionpak we use [Phoenix Contact 1746978](https://www.digikey.com/product-detail/en/phoenix-contact/1746978/277-6765-ND/2511356) and its associated [terminal block plug](https://www.digikey.com/product-detail/en/phoenix-contact/1765551/277-8689-ND/3605987). It's eas

[2017-09-20 04:44] jordens commented on #234
Those don't have bend protection, or strain relief, are much larger, and are non locking.

[2017-09-20 08:16] jordens opened #316 "Kasli power supply decoupling"
[Xilinx UG483](https://www.xilinx.com/support/documentation/user_guides/ug483_7Series_PCB.pdf#page=16) mentiones that you need a bunch of decoupling caps for our FPGA (XA7A100T-FGG484). I can't find that in current schematics (e.g. any of the 330 µF, 100 µF, 470 µF caps and many of the smaller ones). Could you verify the size, quantity and ESL/ESR? Maybe this was forgotten in the change to the lar

[2017-09-20 09:00] jordens opened #317 "Kasli dc/dc documentation"
Could you document the component choices on the power supply page? I am having a hard time reviewing a few details.

* [x] switching frequency (455kHz?)
* [x] design ripple currents in the inductors (percentage of max load current?)
* [x] design ESR of the output capacitors
* [x] design current rating of the input capacitors
* [x] design output voltage ripple

If all that gets too dense for the sc

[2017-09-20 09:56] gkasprow commented on #234
For my MTCA cassettes I use another locking [DC DIN](http://pl.mouser.com/ProductDetail/Kycon/KPJX-4S-S/?qs=%2fha2pyFaduiEsOXZH1hheQ5K0vEgCjGZ5IjeCQdzNWsSTkvOPjVxYA%3d%3d&utm_source=octopart&utm_medium=aggregator&utm_campaign=806-KPJX-4S-S&utm_content=Kycon) connectors. Farnell has PSUs with such connectors on stock.
And they sustain 10A easily.

[2017-09-20 09:59] hartytp commented on #234
It is a good point: barrel connectors aren't great mechanically, so we could consider something else.

Do we have enough room on, e.g. the Kasli/Clocker front panels for that Kind of DIN connector?

[2017-09-20 10:25] jordens commented on #234
I would usually stay away from those round small DIN connectors for their tricky assembly, general flimsiness, and non-locking. But maybe those are OK. What would you recommend @gkasprow the locking barrel connectors above (short version) or those?

[2017-09-20 12:40] gkasprow commented on #226
I dumped raw data with input terminated and no signal.
[no_signal x1000.txt](https://github.com/m-labs/sinara/files/1317682/no_signal.x1000.txt)
[no_signal x1.txt](https://github.com/m-labs/sinara/files/1317681/no_signal.x1.txt)
[no_signal x10.txt](https://github.com/m-labs/sinara/files/1317684/no_signal.x10.txt)
[no_signal x100.txt](https://github.com/m-labs/sinara/files/1317683/no_signal.x100.tx

[2017-09-20 12:59] jordens commented on #226
![image](https://user-images.githubusercontent.com/1338946/30644905-4563db12-9e14-11e7-880b-0787f287fd85.png)

[2017-09-20 13:18] jordens commented on #226
![image](https://user-images.githubusercontent.com/1338946/30645728-dfcee21c-9e16-11e7-9324-13ece94a07dc.png)
normalized to step size

[2017-09-20 13:39] jordens commented on #226
@gkasprow is that 1 MHz sample rate for the first dataset and 16 kHz for the second?

[2017-09-20 14:16] gkasprow commented on #234
These are locking ones. One have to pull the shell to unlock.

[2017-09-20 14:18] gkasprow commented on #234
@jordens This [one](http://www.mouser.com/ds/2/222/KPPX-365228.pdf) I use and it is locking

[2017-09-20 14:29] gkasprow commented on #226
Sample rate is 1MHz, but for 8 channels. So effective is 125kHz/channel

[2017-09-20 14:31] jordens commented on #226
For both? Then the frequency for the square wave is not 100 Hz. Does the data contain only one channel?

[2017-09-20 14:40] gkasprow commented on #226
Well, I applied 1MHz external clock. And generator has 100Hz on its display. All the data were dumped in same way. Within 1000samples I saw a few periods of square signal so in fact looks strange because window length is 8ms.

[2017-09-20 15:08] hartytp commented on #226
@gkasprow Thanks for posting that data. For the noise and settling time measurements, it would be much better to have a single channel sampled at max rate. Otherwise, it's hard to judge the full performance of the device!

@jordens Thank you for doing the analysis! A couple of points on the noise plots:
- The x-axis looks wrong, as the sample rate is only 125kSPS. Also, at G=1k, the PGIA BW is onl

[2017-09-20 15:16] gkasprow commented on #226
@jordens Maybe the software is not able to receive all samples or it skips some clock cycles....I will check it.

[2017-09-20 15:17] jordens commented on #226
@hartytp I assumed 1 MHz as that was the sample rate previously. As @gkasprow says, either the sample rate is wrong or the oscillator is wrong. For 1 MHz sample rate 1 nV/rtHz white corresponds to 1 µV RMS.
I am not using any bandwidth to calculate the integrated noise. It is just integrated, i.e. "LSB RMS" or "µV RMS". One count corresponds to `10 V / gain / 2**(16 - 1) counts`.
The PGIA noise ar

[2017-09-20 15:17] hartytp commented on #226
@jordens Could you caption the second figure you posted, please? I'm not sure I know exactly what you're plotting there.

[2017-09-20 15:27] gkasprow commented on #226
@jordens I am limited with Linear "Pscope" software and can only enable and disable channels. For all measurements I selected only single channel and it was my suspicion that it samples all of them because I saw sinewave peak in the right place of spectrum.
It's quite possible that recently something changed, i.e. connectivity between boards that caused change in effective sampling rate.

[2017-09-20 15:30] hartytp commented on #226
Maybe I'm wrong here, but AFAICT **all** the data Greg has posted has been at 125kSPS. @gkasprow Can you clarify this, please? I haven't seen roll-off due to the PGIA gain or due to the LPF between the PGIA and the ADC in any of the plots so far, which makes me think the sample rate is not 1MSPS.

ACK.

[2017-09-20 15:31] hartytp commented on #226
@gkasprow Oops, just saw your post. If it's not too much hassle, could you re-take the data with the max sample-rate, please?

[2017-09-20 15:33] gkasprow commented on #226
@hartytp  remote desktop just hanged so cannot do it right now. And there is nobody in the lab right now :(

[2017-09-20 15:35] hartytp commented on #226
:(

[2017-09-20 15:35] jordens commented on #226
@hartytp I updated the plots with 125 kHz. The first dozen plots from Greg have a bin width of 1 MHz/1024 samples.

[2017-09-20 15:40] hartytp commented on #226
Thanks! That's great.

To check I understand the step response plots. The y-axis is the relative error, so at G=1 it only settles to 0.1% after about 200us. That seems quite slow for a 200kHz system...

[2017-09-20 15:40] gkasprow commented on #226
@hartytp there is something strange - on very first plots I saw 20kHz signal on sample 80 of the FFT, while on recent ones I see it on  260th sample of the FFT spectra. And I don't see any setting in Linear software. The generator is operating 1MHz all the time.

[2017-09-20 15:43] gkasprow commented on #226
And 80th sample makes sense because it corresponds to 125kHz sampling rate. 260th sample makes no sense.

[2017-09-20 15:44] gkasprow commented on #226
@hartytp @dhslichter @jordens I think further discussion is pointless, let me repeat the measurements.

[2017-09-20 15:47] dhslichter commented on #234
At the cost quoted I think we're in good shape, and I think the connectors @gkasprow is proposing seem fine, if he has good experience with them.  I tend to favor a screw lock over a pull lock, all else being equal, but we probably need a relatively small form factor.

Getting away from barrel connectors seems like a good idea for a number of reasons, including making people think a little careful

[2017-09-20 15:49] jordens commented on #226
@hartytp If forgot to actually run that one plot again. Updated. Abscissa is logarithmic time after step. G=1 and G=2 (without the 50 Ohm termination) settle to 0.1% after ~30 µs. Could be just the generator, as I wouldn't expect a difference between the two. No idea how fast that generator settles.

[2017-09-20 15:50] jordens commented on #226
@gkasprow the RMS numbers at least are independent of sample rate. Those look good.

[2017-09-20 15:51] hartytp commented on #226
@gkasprow You originally suggested measuring the noise with both a terminated input and a FS input (from a low-noise DC supply?). Do you still plan to do that? I'm not pushing anything in particular, just curious...

[2017-09-20 15:55] hartytp commented on #226
ACK. The numbers *do* look good -- there definitely isn't a noise issue with this design. Just trying to get things consistent.

Thanks!

@gkasprow Can you double check the generator while connected to the ADC with a scope, please? (Is it current limited into 50R?).

[2017-09-20 15:57] hartytp commented on #226
@jordens Can you put the y-axis on a log scale as well once @gkasprow has re-taken the data, please?

[2017-09-20 15:58] gkasprow commented on #226
@hartytp The lowest noise DC source I have in my lab is 9V battery :)

[2017-09-20 16:00] hartytp commented on #226
That will do the job nicely! (Divider for G>1?)

[2017-09-20 16:01] gkasprow commented on #226
Divider is noisy, but I have a bunch of depleted batteries in a recycle bin :)

[2017-09-20 16:06] jordens commented on #226
Since very depleted batteries are really unstable, I'd just go for a slightly depleted one back-to-back with a less depleted one, at least for the 10 and 100 mV range.

[2017-09-20 16:08] sbourdeauducq commented on #226
What about supercapacitors?

[2017-09-20 16:14] gkasprow commented on #226
@jordens good idea! I have a few supercaps, they aren't good for DC accuracy measurement but for noise evaluation should be fine, too.

[2017-09-20 16:14] hartytp commented on #226
@gkasprow However you think is best. I guess the other issue with dividers is that we need to make sure that Novo sees a source low impedance to make this a fair test (for the G=10 setting, we probably don't want to use the terminator).

[2017-09-20 16:29] jbqubit commented on #188
Cost of chassis plus fan is about $650. We're doing some rejigging to overcome a manufacturer design error that leaves some slots with no air flow. @arpitagrawal23 is still figuring out full bill of materials.  Please don't close yet.

[2017-09-20 16:30] gkasprow commented on #234
The DC DIN jack is much bigger, takes roughly twice more space on PCB than barrel type DC jack.
So may be an issue with Kasli where space is limited. And that's true - assembly of the plug is problematic. Once you assemble, it is very hard to dismantle without breaking it.
In addition, we wouldn't be able to offer assembly variants with such DIN DC connectors on rear side of EEM boards. The only a

[2017-09-20 16:34] gkasprow opened #318 "Kasli - MMCX too dense"
placement of MMCX connector is too dense - one won't be able to plug or unplug them.
![obraz](https://user-images.githubusercontent.com/4325054/30655781-3cff5078-9e32-11e7-9fd0-8a280d90ba01.png)

[2017-09-20 17:31] jordens commented on #234
Weighing the arguments, I'm leaning towards sticking with the 712RA 5.5mm/2.5mm/shirt bushing locking barrel (or 722RA if someone convinces me that there is a majority of 2.1mm ID barrels out there).

[2017-09-20 17:32] jordens commented on #318
I had assumed that was a preliminary placement. ;)

[2017-09-20 18:27] cjbe commented on #234
The annotation on the PCB and front panel regarding upper and lower VHDCI connections is swapped around:

The lower VHDCI connector (front panel label EEM 5..8) connects to headers labelled LVDS1-4, which are labelled 'Upper VHDCI'.

The upper VHDCI connector (front panel label EEM 1..4) connects to headers labelled LVDS5-8, which are labelled 'Lower VHDCI'.

[2017-09-20 18:31] gkasprow commented on #234
Thanks @cjbe As itermediate fix we will glue sticker on the PCB.

[2017-09-20 18:34] jbqubit commented on #234
Start channel count at 0. Use same nomenclature for front panel labels, headers on board: "EEM 0..3" not LVDSxx or Upper/Lower VHDCI.

[2017-09-20 19:40] dhslichter commented on #234
@jordens we use the 712RA on our TTL breakout boxes and it seems to work well.  Soldering on the mating connector to a power supply is very straightforward.  The connection is robust and simple.  The only downside is the temptation for users to use their own wall wart.

[2017-09-20 19:45] gkasprow commented on #234
@dhslichter we can always isolate the power connector :)

[2017-09-20 22:03] dhslichter commented on #234
The placebo power connector!  I love it :)

[2017-09-20 22:05] gkasprow commented on #234
I mean insulation washer between panel and connector ground. In this way not appropriate power plug won't make contact and won't supply the board.

[2017-09-20 22:20] marmeladapk commented on #318
@jordens is right, I just moved mmcx out of the way to place other components. :)

[2017-09-21 06:24] hartytp commented on #315
Are there any space ADCs on the Kasli FPGA? If so, we should consider using one to monitor the total +12V current draw and/or the +12V supply voltage (could be useful for debugging issues when users draw too much current from the EEMs).

[2017-09-21 06:42] jordens commented on #315
there are ADCs for monitoring the FPGA voltages and termperatures. for external stuff there are no pins anymore.

[2017-09-21 06:43] hartytp commented on #315
Okay. Would have been a nice diagnostic, but not worth adding an external ADC IMO.

[2017-09-21 06:44] jordens commented on #315
the FPGA has a decent internal ADC which we would have used for that.

[2017-09-21 06:50] hartytp commented on #315
Yes, but all channels are already used (unless there is something else we're ok to stop monitoring to free up an ADC channel?).

[2017-09-21 06:55] jordens commented on #315
There are plenty of channels still unused (all the `AD*[PN]` in banks 15 and 35). But their pins are used. You can still use them from EEM3 and EEM5 if somebody needs that.

[2017-09-21 06:58] hartytp commented on #315
ACK, thanks for the correction.

Still, unless there are some pins currently used for non-essential purposes, which we're happy freeing up, we still can't use this ADC for input supply current/voltage monitoring.

[2017-09-21 16:56] gkasprow opened #319 "Urukul - SMA connector selection"
@jordens The SMA connector used in Urukul has good RF characteristics (SMD assembly) but it is too close of the panel edge. If we want to use the insulation washer, the hole will go beyond the panel edge.
![obraz](https://user-images.githubusercontent.com/4325054/30708167-1d2a2ee0-9efe-11e7-86ae-43f40a75da96.png)

I want to change it to standard right angled ones which does not have such problem.

[2017-09-21 17:17] jordens commented on #319
That's perfectly fine with me. The angled ones are good.
Please don't do a staggered layout.
Also, are the SMD and the angled ones the same as those on DIO_SMA?
Why don't we have that problem with the edge SMAs on DIO_SMA?

[2017-09-21 17:26] gkasprow commented on #319
Staggered layout was to show the difference :)
We did have such problems on DIO SMA, that's why I want to change these connectors.

[2017-09-21 17:27] jordens commented on #319
ACK. Good!
But are the angled ones the same ones used on four of the SMA DIO channels? Just because I have them in front of me.

[2017-09-21 17:28] gkasprow commented on #319
Yes.

[2017-09-21 18:13] jbqubit opened #320 "Sayma servo monitoring taps"
In @jordens [Servo proposal](https://github.com/m-labs/sinara/wiki/Servo) an outstanding question was how to implement monitoring taps within the signal chain for debugging. This is a helpful feature on the Leibrandt NIST [digital servo](https://github.com/nist-ionstorage/digital-servo). Can this now be resolved?

[2017-09-21 18:33] hartytp commented on #320
Was this a proposal (for what we should do), or more of a list of things that could potentially be done with the hardware?

It's important to decide from the outset what we want to achieve with this servo. e.g. do we want to support high-speed logic for demodulation etc? This has a large effect on the rest of the design (implementation of profiles etc).

[2017-09-21 18:34] gkasprow opened #321 "Urukul - initial routing"
@jordens The routing is done. It is still preliminary. Once you accept it, I will finish cosmetics, pour polygons and start PI & SI & Thermal analysis. The bottom side of the PCB below DDS chips is free so one can use it to glue a heatsink.

[2017-09-21 19:01] dhslichter commented on #234
OK, I see :)  Also a good idea!

[2017-09-21 19:12] hartytp commented on #321
Maybe too late to do anything about this, but it would be nice to standardise FP layout a little bit between the EEMs. In particular, it would be nice if both Clocker and Urukul had their clock input SMAs in similar locations.

[2017-09-21 19:57] jordens commented on #321
@gkasprow excellent! will do.

[2017-09-21 20:07] hartytp commented on #321
I'm out of the lab atm with no access to Altium, and it's hard to follow this kind of thing on the PDFs. I'll have a quick look, but can @cjbe or @klickverbot have a more careful look using Altium and sign off on this, please?

[2017-09-21 20:56] jordens commented on #321
Yes @gkasprow  could you add Gerbers?

[2017-09-21 21:52] gkasprow commented on #321
@jordens I added Gerbers. I also updated pdfs.

[2017-09-21 21:53] gkasprow commented on #321
@hartytp It's easier to change the clock input on clocker module than on DDS.

[2017-09-22 10:22] hartytp commented on #315
@jordens What about adding a low-cost I2C ADC onto Kasli for 12V V/I monitoring?

Motivation: power supply droop due to excessive current draw can lead to some really nasty, hard to debug issues. We have some quite thirsty EEMs, so it would be easy for a user to overload Kasli without realising it. The additional BOM cost on Kasli due to an ADC is pretty tiny, so IMO, this could be worthwhile. I'm

[2017-09-22 10:50] jordens opened #322 "Urukul placement/coarse layout issues"
With coordinates in mm from the bottom left.

* Clock input circuitry (OSC1, the baluns, SMA, MMCX) is fine. Since the module handle makes the lowest SMA less accessible, this is where I would put the clock input. Let's change Clocker in the next round to have the same layout.
* Clock distribution and SYNC distribution IC9 and IC19 location and overall layout is fine as well. Routing needs tweakin

[2017-09-22 11:00] hartytp commented on #321
@gkasprow Had a quick look over the PDFs, and it generally looks like a good layout.

To do a better check, I'd really need Altium to follow what the traces are connected to etc.

[2017-09-22 11:01] hartytp commented on #321
Closing, as this seems to have been superseded by #322

[2017-09-22 11:02] jordens commented on #315
And then do what with that ADC data? To protect against overloads, the proper solution is a fuse.
To measure 12 V precisely, you'd take a Novogorny channel and connect that to the 12 V with a divider, right? That seems to be what Novogorny was designed for. Also, what about all the other overload situations? Like all 4 outputs of one of the DIO module group shorted overloading the 500 mA DC/DC mod

[2017-09-22 11:21] jordens commented on #321
This is the issue for doing the review. It should be closed when done with the review. The other issue(s) are those arriving from the review. Note the different assignees.

[2017-09-22 11:59] gkasprow commented on #322
@jordens this is initial layout without cosmetics. Just general feedback is
needed. It will change after PI and SI analysis anyway. So at the moment I
dont care about stubs, missing vias and other details. Pls check routing of
critical signals, component placement including connectors. Silk screen
will be in the next step.
22 wrz 2017 12:50 "Robert Jördens" <notifications@github.com> napisał(a):

[2017-09-22 13:14] jordens commented on #322
@gkasprow OK. Updated. Looks mostly fine! I checked the critical clocking and analog signal chains, overall component arrangement. I wouldn't bother with silk screen until after SI/PI and copper cosmetics.

[2017-09-22 13:15] jordens commented on #321
@hartytp I am done at the rough level @gkasprow requested. I'll leave this open for you or others who want to review.

[2017-09-22 13:18] jordens commented on #282
@hartytp do you want to go through your list of items and check whether they have been resolved and if yes close this?

[2017-09-22 15:29] hartytp commented on #322
My preference would be to populate OSC1 by default, but to not connect it to the clock mux (connect the SMA and MMCX inputs instead). If you really want the XO connected to the mux by default, I'd prefer to leave the SMA NC than the MMCX. However, I'll leave the final call to you if you feel strongly about this.

My motivation for this preference is that I expect that the most common use case (and

[2017-09-22 15:35] hartytp commented on #282
These haven't been fixed AFAICT. Assuming @gkasprow will tick them off as he completes them as usual.

[2017-09-22 15:38] hartytp commented on #322
I suspect that this is done to reduce cross-talk. But, IMHO, it's probably overkill (what dBc cross-talk are we aiming for anyway?). No harm in leaving it like that for the prototyping round though, so that we can test whether this level of screening is actually needed.

[2017-09-22 15:45] hartytp commented on #315
Okay. One thing that might be worth doing instead at some point in the future (e.g. when automatic device_db generation is implemented) is to get Kasli to check which EEMs are connected and their maximum (specified) current consumption. This could give a warning if the total max current exceeds 5A...

[2017-09-22 16:59] jordens commented on #322
@hartytp
* I would like to be able to use OSC1 without having to do any soldering. We can meet in the middle and have the internal MMCX and SMA on a jumper both going into CLK2 and OSC1 always on CLK1.
* Yes. I get the intention. My question was about whether there would be two walls in one clip in some places. The problem is that the outer shape is not recangular. I.e. making one box to fit every

[2017-09-22 17:00] jordens commented on #315
ACK.

[2017-09-22 17:25] jordens opened #323 "EEM 2.0"
* IMHO 10 GND is Overkill. The LVDS pairs end up all over the place on the connector (GND, *P, *N etc). And they are differential, i.e. they don't flow current through ground. To return the current from SDA, SCL, 2x12V, 3.3V MP, 3 GND would be sufficient.
* Also the grounds are far away from the power supplies, creating loops.
* The IDC cable seem want the cable come out on the right if pin 1 is d

[2017-09-22 17:55] jbqubit commented on #269
@gkasprow asked in email

What about clocking DAC from 100MHz source?

[2017-09-22 18:47] hartytp commented on #322
So long as we can find a jumper that has good S-parameters up to a few GHz, this sounds like a good solution. However, I'm not sure that a standard 100-mil jumper would be a good idea.

[2017-09-22 18:50] hartytp commented on #322
ACK

[2017-09-22 19:04] jordens commented on #322
I had the same resistor/capacitor solder mux  in mind we have in other places as well.

[2017-09-22 19:18] hartytp commented on #322
Can we make the MMCX default population option then?

[2017-09-22 19:19] hartytp commented on #322
Is it? Which point on that issue are you referring to?

[2017-09-22 19:50] gkasprow commented on #322
The oscillator has enable input.
So one can use it to control its activity. The question i if this particular oscillator disables only output and leaks some RF or EN input switches its oscillations off entirely.
We can also use jumper to power it on and off which is safer solution.
In this way isolation of ordinary jumper would not be such issue.

[2017-09-22 19:55] gkasprow commented on #315
We can use I2C EEPROMs to hold such information. Then simple EEPROM query will do the job.
This of course does not cover situation where one of the EEM is broken and draws more current than needed.
In case the software detects possible overload, it won't initialise the EEMs which will keep dissipated power minimum.

[2017-09-22 19:56] gkasprow commented on #315
For quick evaluation of the loading we can use simple threshold comparator which detects voltage drop below let's say 11.5V. POWER GOOD is good for embedded DC/DC converters only and they will work even with 6V at their inputs.

[2017-09-22 19:59] gkasprow commented on #322
We can also use MMCX connector at the oscillator input and use piece of MMCX jumper to connect it with clock input.

[2017-09-22 20:04] gkasprow commented on #322
@jordens  there is no place to put double shield clips. Of course sharing the clips by two boxes walls makes the isolation slightly worse. I will connect them with solid piece of copper to GND. Anyway, I treat them as experiment to verify if we really need them. I think we won't mount them.

[2017-09-22 20:06] jbqubit commented on #315
Detecting supply voltage transients is helpful at debugging setups being used in the lab. This is especially true for EEMs where there's a single supply shared by heterogeneous devices not all of which may be
"official" Sinara hardware. @gkasprow A threshold compactor with a short time constant connected to a latch would be ideal. Latch holds memory of low-voltage state and can be readout (and res

[2017-09-22 20:18] hartytp commented on #322
That would work well for me! How much would it cost to supply a short MMCX cable for this with Urukul?

So one can use it to control its activity. The question i if this particular oscillator disables only output and leaks some RF or EN input switches its oscillations off entirely.
We can also use jumper to power it on and off which is safer solution.
In this way isolation of ordinary jumper would

[2017-09-22 20:21] gkasprow commented on #323
@jordens the GNDs are to separate differential pairs.
If you route them without GND, then they are no longer differential, because the return current wont enclose between P and N pins but will propagate to adjacent LVDS pair. This will create mess from SI point of view.
In such mode, with 2 wires separated by one ground, one can work reliably with digital signals up to 1 at least. Popular PCIe  ge

[2017-09-22 20:28] hartytp commented on #322
For the CVHD-950-100.000  (which I thought we were using) i didn't see an enable input on the data sheet.

[2017-09-22 20:57] gkasprow commented on #322
@hartytp you are right, VC is tuning voltage:)
I will order MMCX-MMCX cables anyway. 15cm ones from Mouser are roughly 10EUR, but we will get them much cheaper, for half that price.

[2017-09-22 21:52] jordens commented on #322
https://github.com/m-labs/sinara/issues/240#issuecomment-330163710

[2017-09-22 22:04] gkasprow commented on #322
@jordens you probably mean LED distance to the mounting bracket, not SMA. Or do you mean the most upper SMA?

[2017-09-22 22:19] gkasprow commented on #315
the same applies to VHDCI carrier.

[2017-09-23 05:52] jordens commented on #315
Let's not go beyond what we have (LEDs for power good from the switching regulators) in this version of kasli. The suggestion is too late, this is of uncertain value, not important, or useful enough to me and I estimate the delay needed for discussing, implementing, testing, and coding this to be unacceptably large.

[2017-09-23 05:58] jordens commented on #322
On urukul the led. And on sma dio the SMD sma.

[2017-09-23 06:00] jordens commented on #323
Ack. I forgot the separation argument.

[2017-09-23 06:08] jordens commented on #322
I don't like the mmcx jumper idea. Let's go with the jumpers. Wenn use the same on allaki and there people want to go to several ghz. And for this revision I would like to use the external sma and have the jumper placed that way.

[2017-09-23 07:07] hartytp commented on #322
@jordens I get the motivation for wanting the SMA connected to the mux by default -- this gives the user the option of bypassing the AD9910 PLL by using a 1GHz clock that's phase locked to the RTIO clock, which is a useful thing to do. However, the more I think about this, the less I understand prioritising the XO over the MMCX.

1. **The XO isn't cheaper/simpler than the MMCX**: Urukul will almos

[2017-09-23 07:08] hartytp commented on #322
@gkasprow Is there an equivalent clock buffer to the one we're using that has >=3 inputs? That would be the ideal solution to this issue!

[2017-09-23 07:23] hartytp commented on #322
Also, @jordens are you sure that the XO is the right part to use for this design, and that it's corrected properly? I never put too much thought into it, since I can't see us ever using it. But, AFAICT:
- current part is a VCXO, not an XO.
- tuning pin is currently floating (needs 1.65V with very good decoupling/low noise)?

If we're going to prioritise the XO, we should at the very least make sur

[2017-09-23 08:18] jordens commented on #322
@hartytp

* I can't check the XO. It wasn't in the BOM, the PDF fails to state the type, and I don't have Altium. It should be non-tunable XO with correct output impedance/matching.
* The comment about the discrete jumper/mux with resistors/capacitors at GHz is a response to you asking for [such a thing](https://github.com/m-labs/sinara/issues/322#issuecomment-331530136)
* The simplicity of the XO

[2017-09-23 08:21] jordens commented on #322
@gkasprow
![screenshot from 2017-09-23 10-20-05](https://user-images.githubusercontent.com/1338946/30771468-cf7da342-a048-11e7-9c22-c95de0d8b978.png) That's 2.7 mm from the center of the hole. Loose washers go over that distance on PCB_3U_SMA.

[2017-09-23 08:41] hartytp commented on #322
Okay. I was hoping for something that doesn't require soldering. Are you open to putting another mux on the board to allow all three options without soldering? BOM cost increase is pretty minimal for this!

ACK, but if the XO is primarily there for testing:
- My preference is to set the default population options they way they will be for users, not for testing; testers will generally only work on

[2017-09-23 09:03] jordens commented on #322
@hartytp Keep in mind that this run is a prototype run aiming for testability. I am happy to choose options so that we can test and characterize them and explicitly unhappy choosing options that make initial testing harder. Clock distribution inside the rack, three-way muxes are all late to the party. Kasli DRTIO slave usage, mass soldering is not something the prototypes are looking at.
The XO is

[2017-09-23 09:11] hartytp commented on #322
Well, there isn't much more I can add to this conversation.

FWIW, I'm pretty sure that we need to change the VXCO, or at least change how the tuning pin is connected. If we're going to do that then changing to a three-way mux (e.g. by adding a second identical mux IC) at the same time doesn't seem to be unreasonable. IMHO, adding the three-way mux is justifiable at this stage if only because it m

[2017-09-23 09:29] jordens commented on #322
We loose time due to new component choice, a few rounds of debugging the schematics again, component placement, layout. I don't know if there are mux/fanouts that meet all the criteria we had for the current mux and are not excessively large or expensive.
Sure. The XO needs to be verified. @gkasprow Which one is it?

[2017-09-23 09:30] hartytp commented on #322
AFAICT, the XO is a [CVHD-950-100.000](http://www.crystek.com/crystal/spec-sheets/vcxo/CVHD-950.pdf) (cf #201), same as on Baikal. This may have originally been my suggestion. But, I just did a really quick parametric search, and assumed someone else would check the details. As I said, it's not something I plan to use, so I didn't ever think too carefully about it...

[2017-09-23 09:31] hartytp commented on #322
I was more thinking of just putting two of the same mux in series. Cost/power consumption/space taken up by this are pretty minimal.

[2017-09-23 09:44] jordens commented on #322
I don't think we want a VCXO here. I can't find an accuracy spec on that datasheet. Maybe there is a smaller standard 10-20 ppm 100 MHz XO that suits the fanout input, @gkasprow
And let's stick with the solder-mux (the same topology as for Allaki where you only need BOM changes or hand soldering) and the between the MMCX and the oscillator (and the current fanout) for our prototypes and revisit th

[2017-09-23 10:13] gkasprow commented on #323
There are also 3M stacked latching IDC connectors, so we can make rev2 of all dual-IDC boards compatible with them. In this way one can install everywhere except Kasli and VHDCI carrier such IDC cables with strain relief.
Moreover, with angled IDC connectors, we can plug them to the backplane directly.

[2017-09-23 10:13] hartytp commented on #322
Do you mean using U.FL<->U.FL cable?

[2017-09-23 10:16] gkasprow commented on #322
yes. you can get them for 1$

[2017-09-23 11:06] jordens commented on #322
1$, plus connectors, plus layout, board space, BOM line etc. Is the Allaki jumper not good enough? I am happy to change this after the prototypes.
![screenshot from 2017-09-23 13-04-18](https://user-images.githubusercontent.com/1338946/30772639-d3f169ba-a05f-11e7-8663-c3ad283d20a4.png)

[2017-09-23 12:35] hartytp commented on #322
That's fine by me: let's stick with it as is for now and we can revisit it if needs be after prototyping.

[2017-09-23 19:35] gkasprow commented on #321
Here is how the voltage drop looks like for 1.8V rail. This is not optimised PCB.
So with existing layout the board would probably not work or work in not reliable way. Instead of 1.8V the DDS chips would get 1.5V in the worst case, under assumption that with lower voltage they still consume same current.
I post this example to show how important design verification is :)
![obraz](https://user-ima

[2017-09-24 11:21] gkasprow commented on #321
And after optimisation we get 39mV of drop
![obraz](https://user-images.githubusercontent.com/4325054/30782085-466c5ace-a12b-11e7-82b0-128e731a4e7c.png)

[2017-09-24 12:02] gkasprow commented on #321
I did simple thermal simulation. The conditions are below:
![obraz](https://user-images.githubusercontent.com/4325054/30782353-ef3d048c-a130-11e7-9e87-5a06b25bfa39.png)
And the results:
![obraz](https://user-images.githubusercontent.com/4325054/30782354-018d06dc-a131-11e7-9d0d-84ed58567111.png)

[2017-09-24 12:36] gkasprow commented on #321
The same conditions but flow rate reduced to 10cm/s:
The board will switch off the power supply at 80deg.
![obraz](https://user-images.githubusercontent.com/4325054/30782580-1dcd286e-a135-11e7-9f43-9c96b71b1d62.png)

Fow rate 200cm/s
![obraz](https://user-images.githubusercontent.com/4325054/30782619-ca6a6136-a135-11e7-8941-595b8820786c.png)

[2017-09-24 12:53] gkasprow commented on #321
The [24572-407 cooling unit](https://schroff.pentair.com/en/schroff/24572-407) which Joe ordered, generates 36m3/h of flow. After [translation](http://www.comairrotron.com/airflow-unit-conversion)  assuming that we have rectangular duct of 160x480mm, we get 130cm/s of air speed. So we should be fine providing that  we block unused slots. For MTCA there are special dummy modules that provide such f

[2017-09-24 12:55] gkasprow commented on #321
at 130cm/s the temperature distribution is here:
![obraz](https://user-images.githubusercontent.com/4325054/30782737-5dad3584-a138-11e7-95ac-83412b6e3a67.png)

[2017-09-24 14:01] jordens commented on #321
Power (assuming the other rails are similar) and thermal look ok to me.
Is this board/part/copper temperature or air boundary layer?
And all the coupling via exposed pads and copper planes is included?
We could consider rotating the four channels by 90 degrees together. That seems to give about 5-10 degC more headroom. But likely not worth the trouble.

* [ ] We should move IC12 as high up as poss

[2017-09-24 14:05] jordens opened #324 "wiki: merge PlannedSupportHW and CommunityHardware"
Could we merge the two pages about community non/rt/driver/monitoring hardware where designs at varying levels of completeness and production stages exist?
https://github.com/m-labs/sinara/wiki/CommunityHardware
https://github.com/m-labs/sinara/wiki/PlannedSupportHW

/cc @hartytp @npisenti

[2017-09-24 14:10] jordens commented on #321
@gkasprow Also could you review the component choices from the perspective of the testing that you would like to do with the AD9912 prototype boards before you send them to us (testing with ADI software+LVDS driver, etc)?

[2017-09-24 14:34] hartytp commented on #324
My motivation for keeping them separate was that the "planned support hardware" section was for hardware that I envisage being professionally designed, tested and documented (e.g. by WUT) and having supplied as a product by e.g. Creotech. In contrast, I see the "community hardware" as being more "here are some gerbers/eagle files for a project by one of our students. it seems to work, but you have

[2017-09-24 14:38] jordens commented on #324
Afaik the idea for the community hardware was explicitly that the designs should be 'taken up', redone, and produced by professionals as well. I didn't see the distinction.

[2017-09-24 14:41] hartytp commented on #324
Okay, I hand't realised that. If there are plans to get these boards redone professionally then I'll move them to the support hardware page.

I'd still like to keep the community hardware page as a place for people to post links to hardware that is unlikely to be redone professionally though.

[2017-09-24 14:46] hartytp commented on #321
@jordens @gkasprow What is the plan for testing the AD9910 variant? @gkasprow Can you verify the performance using one of the prototype boards we've paid for (this will need to be done for the NU-servo project).

[2017-09-24 14:49] hartytp commented on #321
That's quite a lot of current, given that our PSU is only 5A.

Since these boards have over temperature shutdown, it might be better to leave the fans independent of Kasli.

[2017-09-24 14:56] jordens commented on #324
Sure.

[2017-09-24 15:01] hartytp commented on #323
@jordens Given Greg's comments, what do you want to do about this? (If we're going to change the EEM Connectors, let's do it before Kasli/Urukul V1, otherwise, let's close this issue)

[2017-09-24 15:02] hartytp commented on #258
- [ ] VCXO should have been an XO. Pick a 100MHz XO with decent phase noise/accuracy/drift that costs $20 or less.

[2017-09-24 15:27] hartytp commented on #324
Okay, I've had a stab at doing this.

Comments:
- @jbqubit @npisenti I've tried to tidy these up a little bit. Can you have a quick look at what I've done and check you're happy with it.
- AFAICT, some of these projects might be better suited to being EEMs for RT control. @jbqubit @npisenti Feel free to move them to the PlannedEEM section if you'd like.

[2017-09-24 15:28] hartytp commented on #324
Also: if we decide that there is no realistic prospect of these being professionally redeveloped in the near future, then let's move them back to the community hardware section. (But, let's try to tidy them up before we do that, as I'd like to keep that section tidy rather than just being a brain dump!)

[2017-09-24 16:14] jordens commented on #323
No. We can't do this before Kasli/Urukul V1. This should be synchronized more. I want to keep this open for later.
For now I am OK with the current state plus work arounds (filler panels right of Kasli/VHDCI).
For later I'd want to rotate the IDC connector and put the power supply connection to the top where one would reasonably put the power supply as well. That's what remains.

[2017-09-24 16:15] hartytp commented on #323
Okay.

[2017-09-24 18:13] jordens commented on #291
#321
Needs 50 cm/s flow worst case.

[2017-09-24 18:13] #291 closed

[2017-09-24 18:18] jordens opened #325 "Urukul heat sink"
Back side
Exposed copper
See note in #291

[2017-09-24 19:06] hartytp commented on #208
cf https://github.com/m-labs/sinara/wiki/StyleGuide

[2017-09-24 19:12] #322 closed

[2017-09-24 19:25] gkasprow commented on #291
We can use small[ heat sinks glued directly to the PCB](http://www.farnell.com/datasheets/1448934.pdf?_ga=2.56563819.1752915978.1506280963-162313899.1464604133). From bottom side we have max 3mm of height, so their efficiency would be very limited. Mechanical mounting would take too much space.

[2017-09-24 19:32] gkasprow commented on #321
@jordens This is very rough thermal simulation. It takes into account copper distribution but IC models are very simplified.
For testing I will use 9910 and 9912 devkits together with TTL to LVDS board. Not all features could be tested (i.e. synchronisation) so to make tests complete I'd need ARTIQ driver.
I will need to produce both variants to do the tests. Which means additional tooling cost be

[2017-09-24 22:53] jordens commented on #291
I'd just donate 2 or 4 HP space on the left for a bigger heatsink.

[2017-09-24 22:54] jordens commented on #208
Good! I also have some pandoc stuff around to make nice PDFs out of them automatically. Just need to clean it up and push it.

[2017-09-24 23:19] gkasprow commented on #291
@jordens I assumed worst case current consumption for all components with their max ratings. So it won't be that bad.
Anyway, I will do temperature measurements after we make them running full speed.

[2017-09-24 23:54] jbqubit commented on #324
@hartytp Thanks for taking a stab at getting this better organized. Currently there are separate pages for ARTIQ RTIO vs asynchronous and community design vs professional design and EEM vs uTCA. To my eye this way too many separate pages for future/planned hardware. As it stands it's difficult for a prospective Sinara user or contributor to get up to speed quickly on what hardware the community is

[2017-09-25 06:33] hartytp commented on #324
That's not quite the way I was looking at things: my thinking was that "community contributed hardware" is for PCBs that *already exist* and which are unlikely to be developed further. Thus, they can be used any time. They probably also aren't either EEMs or uTCA boards (just some random size/interface that their designer chose). In contrast, the planned EEMs section is either for boards that don'

[2017-09-25 06:37] hartytp commented on #324
I'd like to keep the following PCBs on the sidebar now because of a combination of reasons (pick the appropriates ones for each board): the PCB is actually finished, even if it's not technically funded yet!; I expect it to be funded relatively soon, so not worth the effort of moving it; I want to keep it's visibility high to help remind people to fund it!

 - **Shuttler: DAC**
- **Baikal: clock di

[2017-09-25 16:08] gkasprow commented on #226
@hartytp  The ADC sampling clock is internally divided by 63. Don't ask me why. So in fact the sampling rate is 1MHz/63 = 15.87kHz which is close to the number @jordens wrote.

[2017-09-25 16:45] gkasprow commented on #226
The maximum speed I can work is 200kHz. This probably due to the round trip delay of LVDS interface and long cables. The FPGA on the devkit expects to get the clock back faster than this delay or so. When I set faster clock, I receive sequence errors.

[2017-09-25 16:56] gkasprow commented on #226
Harmonics measurement at 25kHz. Signal source is DDS generator. Input is 50Ohm terminated. G=1.
At 0.1Vpp I get signal at -48dBFS , second harmonic at -51 dBc, limited by ADC (-100dBFS)
At 1Vpp I get signal at -28dBFS, second harmonic at - 69dBc
At 10Vpp I get signal at -8dBFS, second harmonic at -58.8dBc

[2017-09-25 17:08] gkasprow commented on #226
CMRR measurement.
I shorted hot signal with ground and applied sinewave in reference to board GND. G=1.

Freq [kHz] | level CMRR
---   | --- | ---
0.01 | <-120 |
0.1 | < -120
1 | <-120
10 | -109
100 | -87
1000 | -105
10000 | -108

[2017-09-25 17:24] gkasprow commented on #226
DC cross talk is below 1 LSB at G=1. I applied +/- 17V and no change in mean signal level was observed.

[2017-09-25 17:34] gkasprow commented on #226
DC noise. I connected 6F22 battery with 9.5DC. With G=1 the Min = 24608, Max = 24609
Then I reversed the battery, Min = -24751, Max = -24750
No additional noise was detected.
Spectrum:
![obraz](https://user-images.githubusercontent.com/4325054/30822230-58fef270-a228-11e7-9225-1a35e329034d.png)

[2017-09-25 17:52] gkasprow commented on #226
I repeated the setting time measurements.
This time Fs = 200kHz, Fin=1kHz
[1kHz 22mVpp x1000.txt](https://github.com/m-labs/sinara/files/1330354/1kHz.22mVpp.x1000.txt)
[1kHz 220mVpp x100.txt](https://github.com/m-labs/sinara/files/1330355/1kHz.220mVpp.x100.txt)
[1kHz 2.2Vpp x10.txt](https://github.com/m-labs/sinara/files/1330356/1kHz.2.2Vpp.x10.txt)
[1kHz 10Vpp x1.txt](https://github.com/m-labs/si

[2017-09-25 20:24] hartytp commented on #226
@gkasprow Thank you for doing that! That all looks good!

Out of curiosity:
- why did you only measure the second harmonic for the linearity measurement? Isn't the third harmonic generally the more important one?
- do you expect the harmonic measurements to be significantly different for G>1?
- Do you have a measurement of small-signal bandwidth as a function of gain? Presumably, this is something

[2017-09-25 20:25] hartytp commented on #226
@jordens Would you mind regenerating the step response plots, please? (I'm travelling, so don't have python setup properly).

[2017-09-25 20:28] hartytp commented on #226
@gkasprow Why apply +-17V to 1 channel for the DC cross-talk measurement? Won't that be clipped to +-12V by the protection diodes?

[2017-09-25 20:31] jordens commented on #226
@hartytp sure.
@gkasprow Some raw data with max sample rate (at least the 200 kHz you can manage) and many more samples (1e7) would be really useful. With the 9V battery and G=1 (high impedance) and 0V terminated.

[2017-09-25 20:42] hartytp commented on #226
@gkasprow Can we also have the settling time at G=1k, please? (Let's not bother with G=10 and G=100)

[2017-09-25 20:43] hartytp commented on #226
Greg, please can you check the data I've posted on the Novo page of the Wiki. Could you check I've posted all the measurements you've made, and described what you did accurately, please?
- Please can you confirm what the measurement bin-width was for the noise floor measurements.

[2017-09-25 20:59] jordens commented on #226
With the two different edge types:
![image](https://user-images.githubusercontent.com/1338946/30830613-d7cb3fd4-a244-11e7-9696-67fa7c12cf1a.png)
![image](https://user-images.githubusercontent.com/1338946/30830630-e4d82570-a244-11e7-9946-f393b70a9298.png)
The input signal would need characterizing.

[2017-09-25 21:03] hartytp commented on #226
@gkasprow Do you have numbers for the AC cross-talk? (There were some plots above, but can I have a table please?)?

[2017-09-25 21:03] hartytp commented on #226
Thanks for that @jordens. @gkasprow That settling time looks quite slow. Is this due to the signal source (can you confirm on a scope please)?

[2017-09-25 21:21] jordens commented on #318
@marmeladapk how is the routing going? Do you think we need to reconsider some of the design for routability or is it doable with 6 layers?
And, can we close this one?

[2017-09-25 21:29] marmeladapk commented on #318
I'm currently working on sample fpga project to see if it is able to properly route everything (dram controller, ibert cores, etc.) with given pinout and I'm applying changes to it accordingly.

As for trace routing, it should be doable when I space out idc connectors.

Feel free to close this issue.

[2017-09-25 21:34] gkasprow commented on #226
@hartytp @jordens Tomorrow I will do further measurements.
A few days ago I measured small signal BW - 1Vpp at 1V range. The signal level was -28.16dB and I changed frequency, above Nyquist zone until the level dropped to - 34.16. I repeated this procedure to all channels with proportionally smaller signal.

Channel 7:

Gain | BW[kHz]
---  | ---
1 |  206
10 | 207
100 | 195
1000 | 87

[2017-09-25 21:36] gkasprow commented on #226
@hartytp Tomorrow I want to finish ADC tests and finally assemble setup for DAC tests.

[2017-09-25 21:41] jordens commented on #318
Feel free to space them out horizontally as much as you want/can. That acctually makes mounting the connectors easier. Even moving the SFPs to the top and the SMA/power/USB to the bottom would be fine.

[2017-09-25 21:41] #318 closed

[2017-09-25 21:45] gkasprow commented on #226
@hartytp So to conclude the things to measure:
- third harmonic, also for other gains
- More samples with the 9V battery and G=1 (high impedance) and 0V terminated.
- you already have the setting time at G=1k - file : 1kHz 22mVpp x1000.txt
- for the noise measurement the bin width was 16kHz/2/1024
Recent measurements were taken at Fs=200kHz, so the bin width is 200k/2/1024

[2017-09-25 22:05] hartytp commented on #226
Agreed: this board clearly exceeds the initial specification, and works well enough for our present needs. Let's wrap the testing up tomorrow -- any other measurements can always be made by users later on.

My priorities list is below. Feel free to skip any measurements that can't easily be made using your test setup, or which you don't think are worth doing.

1. Step response:
- @jordens plots su

[2017-09-25 22:14] hartytp commented on #226
@gkasprow Can you clarify what you mean by this, please? What was your input signal level for G=1? 1Vpp=-26dBFS?

- 1Vpp at 1V range (G=10) is -6dBFS
- 1Vpp at 10V range (G=1) is -26dBFS

[2017-09-25 22:14] dhslichter commented on #325
Solder mount?

[2017-09-25 22:21] hartytp commented on #226
@gkasprow One final thing: A high priority is to get the AC cross-talk (say, at 50kHz). I need a table with cross-talk versus gain for a small-signal (e.g. 1Vpp/gain or some other suitable level).

This data may already exist in one of the past posts, so it may just be a case of tabulating a previous measurement.

[2017-09-25 22:37] gkasprow commented on #226
@hartytp the -28.16dB was at 10V range. The generator assumes that load is exactly 50Ohm, so there can be 2dB of difference. So on the generator there was 1Vpp set and Linear PScope gave  -28.16dB readout. Could be also BNC cable issue - the one I use is quite old.
I tried with different voltages to check how it behaves while clipping. Of course 17V will be clipped to 12V and ADC is already satura

[2017-09-25 22:39] gkasprow commented on #226
OK, I will measure the crosstalk with full sampling speed.

[2017-09-25 22:40] dhslichter opened #326 "Stamper specification"
NIST has some interest in an EEM TDC module (currently code-named Stamper), and I'd be interested in getting some draft specs based on potential use cases.  Some questions:

- Who else is interested in a TDC module currently?
- What sort of jitter/channel count/overall event rate is currently targeted?
- Are there preferences for an FPGA-based TDC vs. a commercial TDC ASIC with a Kasli as readout?

[2017-09-25 22:41] gkasprow commented on #325
There are tiny copper heatsinks that can be placed by P&P machine and  reflow soldered. I will leave bottom part of thermal pad exposed. Anyway, one should not cover vias from one side because it creates pockets so would leave them open anyway.
So when needed, we can easily solder such heatsink.

[2017-09-25 22:52] dhslichter commented on #227
@gkasprow @hartytp we made a duplicate of the Zotino board filters, running from an AD5360 DAC, for some work in our lab.  Measured the output noise, which appears to be strongly influenced by environmental pickup after the filters, but with ferrites on the cable from DAC box to spectrum analyzer we measured the output noise to be ~2-3 nV/rtHz in the 1-10 MHz band, with some structure but nothing

[2017-09-25 22:55] dhslichter commented on #325
Are you not planning to use epoxy-filled vias under the DDS chips?  From what I understand, assembly and exposed paddle solder joint quality are considerably better if the vias are filled, rather than empty or soldermask-tented.

[2017-09-25 23:01] gkasprow commented on #325
We will use soldering paste on both sides and let it flow in and fill  vias entirely, It has much better characteristics than epoxy. Guys who do assembly know how to control the process to have the vias filled with tin..

[2017-09-26 04:02] sbourdeauducq commented on #318
@marmeladapk Considered using Migen/MiSoC? Then we could just reuse your code for the ARTIQ port.
https://www.wdj-consulting.com/blog/migen-port.html

[2017-09-26 06:50] hartytp commented on #226
Thanks for clarifying! Wow, DC cross-talk really isn't an issue!

I'm quite surprised by that. I'd expect our ADC to give a pretty accurate 50Ohm load at these frequencies and 2dB is a pretty large error! Seems too big to be due to bad BNC cabling at this frequency.

Maybe worth measuring the DC input impedance of our PCB with a DMM to sanity check this!

Thanks!

[2017-09-26 09:40] gkasprow commented on #226
I did some measurements with 65k samples, 200kHz Fs and terminated input.
Raw files:

[Noise x10 65k TERM.txt](https://github.com/m-labs/sinara/files/1332559/Noise.x10.65k.TERM.txt)
[Noise x100 65k TERM.txt](https://github.com/m-labs/sinara/files/1332560/Noise.x100.65k.TERM.txt)
[Noise x1000 65k TERM.txt](https://github.com/m-labs/sinara/files/1332562/Noise.x1000.65k.TERM.txt)
[Noise x1 65k TERM.t

[2017-09-26 09:42] jordens commented on #318
@marmeladapk I don't think IBERT controllers will be a problem. They are small and independent of other features. The DRAM pin assignment should also be harmless since IIRC you said that you took the schematic from an existing design.

[2017-09-26 09:47] hartytp commented on #226
Thanks! Looks good. Looks very white right down to DC, which is good to see!

I'll update the Wiki with new bin width and sample rate. To check, bin width is now 200kHz/2/65k=1.5Hz, right?

@jordens Would you mind redoing your calculations for the noise floor based on this better data and updating the numbers on the Wiki, please?

[2017-09-26 09:52] gkasprow commented on #226
The eval SW says the bin width is 3.052Hz. FFT length is 65k but one displays half of it. At 32768-th bin we have half of sampling frequency so this makes sense.

[2017-09-26 09:54] hartytp commented on #226
Yes, me being silly. Bin width is 1/measurement_time...

[2017-09-26 09:55] cjbe commented on #326
We at Oxford are interested, but not pushing this yet.

For our use case, we need at least 2 channels. We don't have any strong event rate requirements, but we do want a low latency (<<100ns) way of determining that there was an event. For example, sending a copy of the buffered input signal down an LVDS pair to the master FPGA.

Our desired jitter is ideally ~<40ps FWHM, but we are happy to compr

[2017-09-26 09:57] hartytp commented on #326
ACK. My guess that we'd go for a similar front panel to Urukul, giving 4 SMA inputs and 1 SMA clock input.

@dhslichter Are you considering funding this?

[2017-09-26 10:08] gkasprow commented on #226
The rise time measured at the Novo BNC is 13ns. The oscillations take next 110ns.
Interesting thing happens after the CMC:
![tek00059](https://user-images.githubusercontent.com/4325054/30854823-1d7ea494-a2b3-11e7-8c9b-a2368fd6a8f2.png)
blue, yellow - CMC outputs
violet - amplifier output
![tek00060](https://user-images.githubusercontent.com/4325054/30854892-5a4074de-a2b3-11e7-9c60-7c48adae28cc.png

[2017-09-26 10:14] hartytp commented on #226
hmm...so the long settling time is real and not an artefact of the measurement.

That is a problem then. What do you think is going on?

[2017-09-26 10:30] jordens commented on #226
The response of the input filter on the scope looks just fine to me given the filter specification. The jitter/oscillations don't. But they seem to be unrelated to the signal edge. They are there before the trigger.

[2017-09-26 11:03] gkasprow commented on #226
The "jitter" is caused by charging of the ADC sample capacitance.
Look at the plot below. Since ADC sampling is not synchronized with input signal it causes something that looks like jitter.
![tek00062](https://user-images.githubusercontent.com/4325054/30857161-0fca8c8e-a2bb-11e7-8338-797cd7267cd4.png)

[2017-09-26 11:11] gkasprow commented on #226
So this may cause systematic error. What is the worst, it is related with tempco of the capacitor.

[2017-09-26 11:12] hartytp commented on #226
Ack. But in the data above the ADC reading hasn't settled to 1% in 100 us! Thats very slow.

[2017-09-26 11:12] jordens commented on #226
Ok. Then I don't see anything unusual. The scope plot just doesn't have any resolution (1%). You would have to dial up the scale a lot.

[2017-09-26 11:13] jordens commented on #226
It has settled to the resolution of the scope DAC within 6µs.

[2017-09-26 11:15] jordens commented on #226
And even on that resolution on the yellow trace there is a >1% droop over 10 µs...

[2017-09-26 11:15] hartytp commented on #226
Is the impedance driving the ADC too high?

[2017-09-26 11:16] jordens commented on #226
He is likely measuring at the RC junction which has 3.6k||180pF impedance.

[2017-09-26 11:22] gkasprow commented on #226
Exactly it is. Maybe we should lower the R and increase C to keep the time constant the same? But then we can exceed current limit of the amplifier.

[2017-09-26 11:27] hartytp commented on #226
Greg can you see what R and C are needed. In v2 we can add a buffer amp if required.

[2017-09-26 11:28] hartytp commented on #226
Also, too much C can cause the amp to ring/oscillate

[2017-09-26 11:28] hartytp commented on #226
Oops fat fingers!

[2017-09-26 11:38] gkasprow commented on #226
The fig 34 in the [datasheet](http://www.analog.com/media/en/technical-documentation/data-sheets/AD8253.pdf) says we should not use lower R than 500..600Ohm to keep the voltage swing at 10V.
So providing that we want to keep Fc=250k, the R can be 560Ohm, C can be 1.1nF.

[2017-09-26 11:40] hartytp commented on #226
Let's see if that works better!

[2017-09-26 12:00] jordens commented on #226
That's DC. They even suggest [50R+1nF to drive an ADC](http://www.analog.com/media/en/technical-documentation/data-sheets/AD8253.pdf#page=21)

[2017-09-26 12:03] gkasprow commented on #226
I just noticed that the ADC range is 12.5V, not 10V.
Reference is multiplied 2.5x, not 2x. So it explains the discrepancy between my generator setting and measurements :)

[2017-09-26 12:07] gkasprow commented on #226
To check how it affect DC accuracy, I applied 10.00V to the input and the ADC output is 26028
Reference is 5.003V. So the ADC output corresponds to 26028/32768*2.5*5.003 = 9.934V
When I short the resistor I get 26335 which corresponds to 10.05V. So this RC circuits ads 1.1% of systematic error. With capacitor increased to 1.1nF, we will roughly lower it 6-times.

[2017-09-26 12:12] gkasprow commented on #226
@hartytp In the datasheet there is suggestion of 50Ohm R and 6.6nF C which gives 500kHz of BW. But it requires powerful driver which dissipates lots of power.
Maybe we could remove this filter and relay only on one before the amplifier?

[2017-09-26 12:16] jordens commented on #226
![image](https://user-images.githubusercontent.com/1338946/30859751-39b2c05c-a2c5-11e7-8ee0-3256f8beb5e5.png)

[2017-09-26 12:18] jordens commented on #226
I'd keep something like the 50R+1nF combination (or similar) to feed the sampling cap with sufficiently low impedance/big cap.

[2017-09-26 12:25] gkasprow commented on #226
I just installed 50R and 10n. On the scope it looks fine. I applied 10Vpp
[Uploading 100Hz 10Vpp x1 50R 10n.txt…]()

[2017-09-26 12:33] gkasprow commented on #226
At 200kHz and 10Vpp the driver still works, but it's getting hot. So we will probably stick with 1nF. I  observe  additional harmonics 20dB higher so it works in non linear mode. At 160kHz I get them 10dB higher. At 125kHz they are at normal level.

[2017-09-26 12:45] gkasprow commented on #226
With 50R and 1nF, I do not observe additional harmonics up to 500kHz

[2017-09-26 12:54] hartytp commented on #226
Reference is multiplied 2.5x, not 2x. So it explains the discrepancy between my generator setting and measurements :)

Good catch. Let's add that to the list of things to fix for Rev 2!

Greg, please can we do the following:
- Measure the step response with 50R and 10n at all gains. This will check that there aren't any other problems we haven't thought about.
- If that works, let's stick with 50R

[2017-09-26 12:55] hartytp commented on #226
NB removing the filter entirely will make the noise worse for some gains due to the high ADC bandwidth. It could also upset the InAmp due to the ADC capacitance...

[2017-09-26 12:57] hartytp commented on #226
@jordens Thanks for updating the plot! Nice to see that we can now see the InAmp roll-off for G=1k.

- [ ] Please could you update the table on the Wiki?

[2017-09-26 13:17] hartytp commented on #226
Greg, use 1nF or 10nF for your test, whichever you think will work best. But let's stick with 1nF for the boards you ship.

[2017-09-26 13:46] abyszuk commented on #209
There are a few fixes which can applied to the ethernet PHY:
- [ ] connect JTRST_N to GND
- [ ] connect ALOS to GND
- [ ] pull GPO1 to GND
- [ ] CRS/COMMA is connected to MMC twice: (a) through MII_CRS line (b) via PHY_CFG_DDR line. Just pull it low and delete PHY_CFG_DDR wire.
- [ ] GTXCLK should be pulled low

But this just to get it to work reliably in MII mode (max 100 Mbps).
Schematics sugges

[2017-09-26 14:16] gkasprow commented on #209
@abyszuk The GTXCLK fix was already applied to some boards. So it works in RGMII.
I didn't test it in MII, thanks for that. I simply shorted GTXCLK with TXCLK. Did you make it running in MII mode?
Is JTRST_N critical? It works without it. In next revision we can change, now would be difficult.
The same with ALOS. For some reason it works in RMII.
COnnection of CRS/COMMA to MMC via CFG was intentio

[2017-09-26 14:32] jbqubit opened #327 "Sayma AMC - Version 1 - Ethernet"
This is a big enough topic it needs its own atomic Issue. Moving from #209.
-------
@abyszuk said:

There are a few fixes which can applied to the ethernet PHY:
- [ ] connect JTRST_N to GND
- [ ] connect ALOS to GND
- [ ] pull GPO1 to GND
- [ ] CRS/COMMA is connected to MMC twice: (a) through MII_CRS line (b) via PHY_CFG_DDR line. Just pull it low and delete PHY_CFG_DDR wire.
- [ ] GTXCLK should b

[2017-09-26 14:33] jbqubit commented on #209
Moved Ethernet discussion to #327.

[2017-09-26 16:05] gkasprow commented on #227
I'll start DAC evaluation soon, once I finish tests with ADC. Hopefully this will happen this week.

[2017-09-26 16:21] gkasprow commented on #326
As a reference, [here ](https://www.ohwr.org/projects/fmc-delay-1ns-8cha/wiki/wiki) is successful board I designed for CERN a few years ago. [Here](https://www.ohwr.org/documents/304) are some measurements.

[2017-09-26 17:53] abyszuk commented on #327
@gkasprow I'm not sure about JTRST_N/ALOS, this is simply what documentation says. Maybe it's minor bug, maybe it works by pure luck with current silicon revision. But it's always better to follow datasheet recommendation.
Shorting GTXCLK with TXCLK seems like a good enough fix for prototype board, but for next revision I'd recommend a more stable source.
I'll test the MII mode when I'll get a cha

[2017-09-26 18:03] jordens commented on #324
Keeping the visibility of projects that are "hot" in the funding/involvement sense (e.g. Shuttler/Baikal/Grabber and maybe Stamper) high is nice.

Other than that I don't see the benefit nor the practicality in trying to draw a lines through the different properties of finished/proven/planned/prooposed/to-be-redesigned or EEM/non-EEM or Eurocard/non-Eurocard or uTCA/non-uTCA. Take Clocker which do

[2017-09-26 18:09] gkasprow commented on #327
@abyszuk I agree with you, just want to know which fix is really necessary for this revision. We have 10 bards that need fix and each needs some time...

[2017-09-26 18:29] hartytp commented on #226
@gkasprow I don't think the square-wave step response file you posted above finished uploading (link is blank). Please could you upload it again?

[2017-09-26 18:32] hartytp commented on #226
@gkasprow Assuming the step response is okay with the lower impedance drive, I've seen enough tests for this board. It works really nicely, so let's move onto testing other boards like the RF PA.

Thanks again for the really nice design!

[2017-09-26 18:45] abyszuk commented on #327
@gkasprow If RGMII works for you with current GTXCLK workaround, then I'd leave it like that.

[2017-09-26 18:48] jordens commented on #324
Sidenote: I put a [Makefile](https://raw.githubusercontent.com/wiki/m-labs/sinara/Makefile) into the wiki repo with the commands to make PDFs from the markdown. That works as well as can be expected. This can be tweaked and extended at will.

[2017-09-26 18:48] hartytp commented on #226
Taking cross-talk measurements from the data posted above:
- Gain was the same on all channels.
- Apply 10kHz, 10Vpp (-6dBFS) signal to one channel. NB this saturates the PGIA for G>1!
- Measure signal on adjacent channel as a function of PGIA gain
- Termination is off for the driven channel, but on for all other channels
- Numbers here were read off a plot and are quite rough!
- NB I didn't corre

[2017-09-26 19:13] hartytp commented on #324
Thanks for uploading that @jordens!

Okay, I've merged the pages and re-organised a bit. @jbqubit @jordens feel free to change things if you're still unhappy with the way I've organised things...

@jordens On a similar note, shall we move the NU-servo page to the NU-servo repository's wiki? Might make more sense to store it there and link to it from Sinara...

[2017-09-26 19:14] #324 closed

[2017-09-26 19:26] jordens commented on #324
I was planning on merging that page into the nu servo documentation when we merge nu servo into artiq.

[2017-09-26 19:30] hartytp commented on #324
Sounds like a good plan.

[2017-09-26 19:49] jbqubit commented on #324
@hartytp  Thanks for pulling together PlannedHardware. And thanks @jordens for the script.

[2017-09-26 21:34] marmeladapk commented on #318
@sbourdeauducq Yes, however I have already written a script to generate all ports, pins, iostandards etc. in Vivado so I can now just drop some ipcores. TBH switching now to Migen/SoC (and learning it) would be too time consuming, and my priority is layout. However I plan to dive in once I'm done with routing. Thank you for this article, it'll be great for learning!

@jordens But I did some pin sw

[2017-09-26 21:47] gkasprow commented on #318
@marmeladapk in case of memory, there are several restrictions about tiles and DQS pins. Just copy assignments from Terrasic board.

[2017-09-27 09:48] gkasprow commented on #226
I updated the measurements with step response for 10n and 1.2n
[100Hz 10Vpp x1 50R 10n.txt](https://github.com/m-labs/sinara/files/1336557/100Hz.10Vpp.x1.50R.10n.txt)
[100Hz 10Vpp x1 50R 1.2n.txt](https://github.com/m-labs/sinara/files/1336565/100Hz.10Vpp.x1.50R.1.2n.txt)

[2017-09-27 10:03] hartytp commented on #226
Thanks @gkasprow. @jordens could you replot these, please -- will be back in lab on Monday and start doing my own data analysis again ;).

[2017-09-27 10:13] jordens commented on #226
![image](https://user-images.githubusercontent.com/1338946/30908171-1af2a692-a37d-11e7-987f-25cf0a16f82a.png)
This is a pointless exercise as long as we don't have data at that precision of the signal.

[2017-09-27 10:13] gkasprow commented on #226
Crosstalk vs gain. **55kHz** sine to see all harmonics, 10Vpp. IN6 driven and terminated, rest channels are **not** terminated. IN6 gets -8.8dBFS
I use CH7 for measurements.

Gain (all CH) | Measured signal (dBFS) | Cross-talk (dBc)
---|---|---
1 | -87 | -
10 |  -67 | -
100 | -46 | -
1000 | -29 | -

Crosstalk vs gain. **10kHz** sine to see all harmonics, 10Vpp. IN6 driven and terminated, rest chan

[2017-09-27 10:15] gkasprow commented on #226
@hartytp Anything else to measure? I'd like to switch to DAC board...

[2017-09-27 10:16] hartytp commented on #226
You're worried that we're measuring the settling time of the input signal? Possible, but unlikely unless the signal is very slow.

[2017-09-27 10:17] hartytp commented on #226
No, nothing else to measure. But, from the data you posted (see Robert's plots) it looks like the ADC takes nearly 1ms to settle to 0.5%. That's extremely slow, isn't it, and an indication that something is wrong with the design. Thoughts?

[2017-09-27 10:37] hartytp commented on #226
Also, it looks like the 10nF capacitor is destabilising the InAmp...

[2017-09-27 10:50] jordens commented on #226
@hartytp No. As I pointed out before, you can easily see a droop on on the signal even at the scope's resolution.
And the 10nF cap is not destabilizing the amp. The wiggles have been there before as well. See above.

[2017-09-27 11:17] hartytp commented on #226
Well, @gkasprow, what do you want to do?

Most likely, this is an issue with the driver amp/filter.

Since we have a Rev 2 planned with a different ADC + driver amp, shall we agree to leave this until then, rather than trying to fix it in the Rev 1 version?

[2017-09-27 11:18] jordens opened #328 "Upload release data for boards"
* Putting the PDFs, gerbers, drill, XY, BOM, renderings, panel PDFs, and .cce files into the repository won't scale and will break down (we pointed this out multiple times before)
* Retrieving actual data files for a given board revision is hard and tedious.
* For example, I have no good way of locating/verifying components on the actual Sayma boards.
* Doing schematics and layout reviews becomes

[2017-09-27 11:51] gkasprow commented on #226
@jordens @hartytp I removed the CMC . Here is the plot.
[100Hz 10Vpp x1 50R 1.2nF no CNC.txt](https://github.com/m-labs/sinara/files/1336952/100Hz.10Vpp.x1.50R.1.2nF.no.CNC.txt)

[2017-09-27 11:58] hartytp commented on #226
From a quick look at the text file, that doesn't look any better...

[2017-09-27 12:03] gkasprow commented on #226
It's worth simulating pulse response in SPICE

[2017-09-27 12:04] hartytp commented on #226
Yes, that sounds like a good idea.

[2017-09-27 12:29] gkasprow commented on #226
@hartytp I simulated it:
![obraz](https://user-images.githubusercontent.com/4325054/30913361-3b6afa9c-a390-11e7-8f3e-4511520a9bd5.png)

[2017-09-27 12:30] gkasprow commented on #226
After 10us we have 4.998 at the output and 5.017 at the input

[2017-09-27 12:33] hartytp commented on #226
Are you sure there isn't something funny going on with the signal generator you're using for this measurement?

[2017-09-27 12:57] gkasprow commented on #226
It seems so:
![tek00062](https://user-images.githubusercontent.com/4325054/30914515-38d12992-a394-11e7-93e4-dfad4d2f0924.png)

[2017-09-27 14:41] dhslichter commented on #226
Yikes! Well, at least that clears up some of the mystery...

[2017-09-27 15:06] hartytp commented on #226
Good catch @gkasprow. Can you remeasure the step response using a better signal generator, using the RC components on the schematic. If that looks better, we can finish testing of the board.

[2017-09-27 15:24] hartytp commented on #226
@gkasprow I added your cross-talk measurements to the Wiki. Thanks for taking that data!

[2017-09-27 16:30] jordens commented on #240
@gkasprow Also, from my boards, only the SMA boards were shipped with corrugated washers under those screws (PCB to mounting angle block). That makes the underside of the PCB thicker than allowed and collides with the left adjacent front panel. Don't know from the top of my head whether these are supposed to use washers but it needs to be (a) consistent among all boards and (b) be below the ~2.27

[2017-09-27 17:08] jordens commented on #209
@gkasprow Is R253 mounted on the three boards we got for Hong Kong or did you remove it because of the RTM configuration conflict?

[2017-09-27 17:32] gkasprow commented on #209
@jordens I'm not 100% sure. I removed all resistors  that connect lines CCLK, DIN, DONE, INIT_B, PROGRAM_B to configuration pins of Kintex and connected them to ordinary IO.
R253 did not affect this functionality so probably I left it assembled.

[2017-09-27 17:52] jordens commented on #209
Could you list the differences between the AMCs that we got and the one Florent received? I can't get the second flash to work on any of ours while it worked on Florent's.

[2017-09-27 18:19] gkasprow commented on #209
Florent board, the one I sent without RTM had Artix FPGA routed to
 the config pins of Kintex FPGA. I removed R176 ... R180 and installed
R200...R204.
Are you sure your boards has both SPI FLASH memory chips soldered?
I don't remember correctly, but after you discovered that chip select is
wrongly connected, I could have decided to not mount second FLASH...
It is just about pin 1 of IC23
[image: I

[2017-09-27 18:31] jordens commented on #209
Maybe it's not soldered. @sbourdeauducq or @whitequark could you have a look?

What about pin 1 of IC23? The second flash is IC24.

[2017-09-27 18:54] gkasprow commented on #209
I just checked, only a few resistors were changed.
- R257  = DNP - to enable MMC boot without crate
- R208, R205 = DNP. I can't recall why I wanted to make them removed. They should be assembled. R208 is termination resistor for Si5324. R205 is impedance reference for DDR3 controller.
I found that wanted to remove R223 and R226, but by chance clicked on wrong instance of power schematic of Metlino

[2017-09-27 19:17] gkasprow commented on #209
@jordens If you publish some bistream with Python library to read/write this FLASH, I can debug it with scope on my board.

[2017-09-27 19:23] gkasprow commented on #240
well, such washers were probably attached to Schroff mounting kit. The [manual](https://schroff.pentair.com/wcsstore/ExtendedSitesCatalogAssetStore/PentairDataLoad/EPSMedia/ASIM/webcat/subgroup/mi/60817-182.pdf) says they should be there. Probably I used wrong ones. The kit contains much more components than are needed :)

[2017-09-27 19:36] gkasprow commented on #328
We could follow OHWR approach where production and documentation files for certain revision are placed outside repo, in dedicated EDMS database with link to product Wiki. The idea with releases is similar and we should follow it. If you create proper layout, I will fill it with proper files for all designs.

[2017-09-27 19:52] gkasprow commented on #328
@jordens What is proposed release naming scheme? You wrote about it some time ago but I cannot find itd

[2017-09-27 22:23] dhslichter commented on #326
@gkasprow the board you have sent looks like the kind of thing I am imagining, at least for now.  In our case, it would be something simpler in various ways, since we'd just look for timestamping, and I think having buffered copies of the inputs sent via LVDS to the FPGA for the low-latency event trigger mentioned by @cjbe would be sensible.  There has since been a second generation of ACAM TDC ch

[2017-09-27 22:28] dhslichter commented on #326
@hartytp this is still very much in the brainstorm phase out here, but funding might be forthcoming from NIST in the medium term, depending on how things prioritize here.

[2017-09-28 02:31] sbourdeauducq commented on #209
Yes, both IC23 and IC24 are there on the boards we have.

[2017-09-28 10:17] jordens commented on #240
Also what does the QC sticker actually mean? On my 3U_DIO_RJ45 two pins of the RJ45 cage were not soldered.

[2017-09-28 10:18] jordens commented on #242
What does the QC sticker actually mean? On my 3U_DIO_RJ45 two pins of the RJ45 cage were not soldered.

[2017-09-28 10:31] jordens commented on #328
For the boards we have it seems to me that the following would be a versioning scheme that is both compatible with the existing versions and the typical "semantic versioning" that people use in software dev.

* **v1.0** is the first prototype
* **v1.1** is the first "production" run with minor tweaks
* **v2.0** would be the second (sometimes major) iteration of the design, potentially denoting onl

[2017-09-28 12:58] gkasprow commented on #242
@jordens could you take photo of this and send me? I'll ask Technosystem about it. QC means that it passed functional test.

[2017-09-28 13:07] gkasprow commented on #209
So it seems I have to take care of it.
Can you provide me tools to debug it?

[2017-09-28 13:20] jordens commented on #209
@gkasprow Just our branch of [openocd](https://github.com/m-labs/openocd) and our [proxy bitstream](https://github.com/jordens/bscan_spi_bitstreams), the following script (`openocd -f sayma.cfg`):

sayma.cfg:
[code]

Gives me
[code]

I.e. it only works for the first flash while it used to work for both.

[2017-09-28 13:31] jordens commented on #242
Out of curiosity: what functional tests are being done?

I already soldered it myself. Photos of that probably won't help. Bottom corner of the cage.

![image](https://user-images.githubusercontent.com/1338946/30969197-f471d43a-a461-11e7-8b17-72adab5d85f7.png)

[2017-09-28 13:33] gkasprow commented on #242
We tested propagation of signal through all ports in both directions and power consumption. Technosystem does AOI tests so we will investigate it.

[2017-09-28 13:41] gkasprow commented on #209
@sbourdeauducq the second FLASH is connected to wrong CS pin. AFAIR to be available by JTAG programmer, the CS would need to be routed to G26 pin (FCS2), not K21 (CSO_B). Maybe on previous board you fixed it by removing R253 and bridging with  R204 pad.

[2017-09-28 14:29] jordens commented on #242
Ok. Those tests sound good. Thanks!

[2017-09-28 14:32] jordens commented on #209
As mentioned elsewhere, we have a [special proxy bitstream](https://github.com/jordens/bscan_spi_bitstreams/blob/master/xilinx_bscan_spi.py#L323) that deals with that.
We didn't do any changes on the boards. And Florent only changed the clock/jesd power/jesd termination things.

[2017-09-28 14:47] gkasprow commented on #209
@jordens What about PUDC pin? Maybe your core relies on internal pullups?

[2017-09-28 15:08] jordens commented on #209
We add bitstream pullups on pins R21 and R22 and drive the rest of QSPI1. I don't see how other pullups would affect the second flash.
There is `PUDC` near SW1:4. Does that mean anything? The schematic has that switch disconnected.
Is the R223/R226 vs R208/R205 mixup something we need to fix? Where are they (remember that we don't have expedition or gerbers/xy)?

[2017-09-28 15:56] jordens commented on #327
And on the board we had at JQI and on the three we have in HK the changes (gtxclock shorted to txclock and the others) are implemented?

[2017-09-28 16:25] gkasprow commented on #327
This is good question. Just check if there is a piece ow wire which shorts pins across the ETH PHY chip.

[2017-09-28 16:59] gkasprow commented on #327
Without this fix the PHY will work at 100Mbit.

[2017-09-29 08:35] hartytp commented on #226
@gkasprow I'd like to finish testing this board asap, so we can move on to other things like the RF PA.

If you can do it quickly, please could you remeasure the step response with a faster-settling source. If that's a problem/will take too much time, please ship the boards as they are and we'll do this test ourselves.

Either way, let me now what you want to do.

[2017-09-29 12:48] jordens commented on #241
I am confused about the connections between IC28, IC22, IC29.

1. When set to input (DIR_CTRL* high, IC22:A5 low, DIR*_RD low, IC29:DIR high) isn't IC28:B* driving the same signals against IC29:B*? I.e. don't you want to drive IC28:EN2 with IC22:A5?
2. For completeness of the handshaking that you have started to build in, don't you want to use IC28:A5/DIR1_RD (inverted) to drive IC21:*DE to turn o

[2017-09-29 13:08] sbourdeauducq commented on #327
Here is what I have on the three HK boards:
![eth](https://user-images.githubusercontent.com/720864/31017204-5fa78a94-a55a-11e7-9a1b-96b7ea218a71.jpg)

[2017-09-29 13:13] gkasprow commented on #327
OK, the fix is done then.

[2017-09-29 17:13] gkasprow commented on #241
@jordens
1. IC29 is assymetrical, A ports has higher load than port B. That's why we need to invert the signal. Of course we could get rid of T27 and use DIR_CTRL directly. Such scheme was evolution of yet another primary idea where direction of each channel could be changed independently.
2. This could be done. It can be also used to drive LEDs to use them as indicator or correct isolator operati

[2017-09-29 17:46] jordens commented on #241
@gkasprow thanks.

1. I don't understand your comment. My concern is about IC28 and IC29 both being enabled (each driving their B port) and driving the same copper (e.g. IC29:14 and IC29:15 driving against IC28:15) at the same time when the set of channels is configured as input. This won't happen for long since ultimately they will drive the same value. But it will happen transiently when switchi

[2017-09-29 19:23] gkasprow commented on #241
@jordens OK, I got it. This needs fix in next revision. Disabling of IC28 would do the job. One can also do a quick fix lifting and connecting pin 10 with pin 11 of IC28/IC11.

[2017-09-29 19:30] jordens commented on #241
Right.
It will also happen transiently for a about 10+5+5+10 = 30 ns each time the input changes (explanation above). This is a bit worrying.

[2017-09-29 19:47] gkasprow commented on #241
Fortunately the buffer has much higher driving current so will dominate the
isolator chip. I didn't notice anything suspicious when I looked with
scope. I will have a look one again to see if operation of existing boards
is safe.

[2017-10-01 09:08] hartytp commented on #328
@jordens Added this to the style guide section of the wiki so it's not forgotten about once this issue is closed. Feel free to edit/move as you see fit.

[2017-10-01 09:19] jordens commented on #328
Sure. This should ultimately find its way as a documented procedure into the wiki or the repo like we have for [ARTIQ](https://github.com/m-labs/artiq/blob/master/RELEASING.rst).

[2017-10-01 09:25] hartytp opened #329 "Novo v2.0"
Plan for Novo v2.0, designed to work with the NU-servo Kasli gateware. Main change is allowing *simultaneous sampling* of all ADC channels using a fast, source-synchronous multi-lane serial interface.

Novo 2.0 supports two interface modes:
"Narrow" interface mode
- uses a single EEM connector (EEM0) and standard SPI gateware.
- ADCs must be read sequentially in increasing order
- Max sample rate

[2017-10-01 09:25] #206 closed

[2017-10-01 09:29] hartytp commented on #329
We won't start this for a while, as there is currently a backlog of work to be done, but I'd ideally like to agree on what needs to be done for planning purposes. Ideally, I'd like to agree on a specification freeze for this version pretty soon.

@gkasprow @jordens Are you still happy with the above plan for Novo v2.0? In particular, @gkasprow can you double check that there isn't a better ADC (e.

[2017-10-01 10:03] jordens commented on #329
All good from our (digital) end. I didn't review the analog side though.

[2017-10-04 10:47] gkasprow commented on #226
@hartytp I brought yet another DDS generator - it is powerfull Tektronix AWG5002B. And the square wave it generates is not better than previous one. So it does not make sense to do any tests with these. Probably simple TTL gate would give better shape, but I don't have time to experiment with it.

[2017-10-04 10:52] hartytp commented on #226
@gkasprow Two suggestions:

1. Can you do this measurement with G=10? That way you need a 1Vpp signal, which might be easier for your generator. The InAmp settling time for G=10 should be slower than for G=1, so this is a good test anyway.

2. If that doesn't work, can you measure the large-signal bandwidth, please? That will check that the settling time is okay.

Otherwise, ship us the boards, an

[2017-10-04 11:23] hartytp commented on #227
@gkasprow How many of these boards do you have populated atm? If you have more than one, can you send me one now, please? That way we may be able to help you with some of the testing.

[2017-10-04 11:38] jordens commented on #296
@marmeladapk How is the layout going? Anything we can help you with?
@gkasprow Do we have a timeslot in the assembly line for Kasli and Urukul?

[2017-10-04 12:46] gkasprow commented on #226
@dhslichter
[100Hz 1Vpp x10.txt](https://github.com/m-labs/sinara/files/1355762/100Hz.1Vpp.x10.txt)
I measured large signal gain:
at 1Vpp  and G=10 (-8.1dBFS) : 213kHz (-6dB)
at 2Vpp and G=10 (-1.2dBFS) : 212kHz (-6dB)
at 10Vpp  and G=1 (-8.1dBFS) : 214kHz (-6dB)

[2017-10-04 12:48] gkasprow commented on #226
@dhslichter do you want me to apply 1nF and 51Ohm filter to all channels or leave as it is now?

[2017-10-04 12:55] hartytp commented on #226
@gkasprow Great! So the -6dB bandwidth is unchanged for full-scale signals. In that case, the settling-time should be absolutely fine.

Let's close testing for this board here. If that works okay, I'm happy to leave the original RC values in this version -- the next revision will have different driver OpAmp and a different ADC, so there is no point carefully testing drive impedances in this revisi

[2017-10-04 12:56] hartytp commented on #226
Thanks again for all the hard work on this Greg, I'm really happy with the performance of this board! It's also good to know that this will be okay for Allaki etc.

[2017-10-04 12:58] gkasprow commented on #226
measurements for 1nF and 51Ohm RC filter:
[100Hz 1Vpp x10 50R 1.2nF.txt](https://github.com/m-labs/sinara/files/1355829/100Hz.1Vpp.x10.50R.1.2nF.txt)

at 1Vpp and G=10 (-7.76dBFS) : 382kHz (-6dB)
at 2.2Vpp and G=10 (-0.9dBFS) : 383kHz (-6dB)
at 10Vpp and G=1 (-7.7dBFS) : 383kHz (-6dB)

[2017-10-04 12:59] gkasprow commented on #226
@hartytp btw, Allakis are already assembled, will get them tomorrow.

[2017-10-04 13:02] hartytp commented on #226
@gkasprow Thanks for the data, good to know that 51R and 1nF works as well.

That's not directly comparable to our previous measurements, since it replaces the 250kHz LPF with a 3MHz LPF. This will have the effect of increasing the ADC noise floor a bit. Let's stick with the original RC components for this revision, and rethink them in the next revision.

NB however: because of the relatively high

[2017-10-04 13:03] hartytp commented on #226
Great!

[2017-10-04 13:03] jordens commented on #226
If anyone wants to measure the settling time properly, there are a [bunch](http://cds.linear.com/docs/en/application-note/an10f.pdf) of [classic](https://www.edn.com/design/analog/4363562/Measuring--wideband-amplifier--settling--time) [app](http://cds.linear.com/docs/en/application-note/an74f.pdf) [notes](http://www.analog.com/media/en/training-seminars/tutorials/MT-046.pdf) [describing](http://cd

[2017-10-04 13:06] hartytp commented on #226
Sure, it's not that hard -- particularly since this board only has a couple of hundred kHz BW and is only 16-bit. It can also be done with a couple of transistors and a decent voltage source.

Anyway, the data we have is sufficient to show that Novo works to specification, so we can leave further data taking to interested users...

[2017-10-04 13:37] hartytp commented on #226
Wiki updated.

[2017-10-04 14:32] hartytp commented on #328
- [ ] All schematics should have a hardware version number on them somewhere prominent (either bottom right of each page, or on the top of the first page)!

[2017-10-04 14:56] hartytp commented on #208
I've had a go at finishing off the Novo wiki page for this revision. There are a few blanks that will be filled in once we test the v2.0 hardware, but it's pretty much there.

Feel free to comment on anything that is unclear/missing or general style. Otherwise, I suggest we use this as a template for the other pages.

[2017-10-04 14:57] hartytp commented on #208
@jbqubit Can you have a go at doing the pages for the DIO EEMs + VHDCI_CARRIER, please? It would be nice to have a completed Wiki page for all hardware that is currently available.

[2017-10-04 17:08] dhslichter commented on #226
@gkasprow no need to do any additional measurements for my benefit.

[2017-10-04 18:17] gkasprow commented on #227
@hartytp We have 3 at WUT, one in MLabs and one in Joe's hands.

[2017-10-04 18:18] gkasprow commented on #227
@hartytp I just assembled test suite with original ADI devkit. Unfortunately it allows only DC tests, so we will need ARTIQ diver very soon.

[2017-10-04 18:36] jordens commented on #227
AFAIK @mntng @sbourdeauducq @arpitagrawal23 @jbqubit are all working on that driver.

[2017-10-04 18:56] hartytp commented on #227
- [ ] @gkasprow Can you post us 1 asap then, please? That way, we can help with some of the testing.

-----

- [ ] @gkasprow @cjbe Please can you double check the list of tests above and confirm if there are any other tests you think we should do (or if there are any we shouldn't bother doing)?

Most of the tests currently on the list can be done with a DC signal from the DAC. If you confirm the D

[2017-10-04 19:13] gkasprow commented on #227
@hartytp Once I cnfirm it cooperates with devkit, will post it ASAP. Hopefully will be able to post on Monday.

[2017-10-04 19:14] hartytp commented on #227
@gkasprow Great, thanks! Can you post some of the adapter boards as well, please (BNC->IDC and HD68 to IDC)? That will help with testing.

[2017-10-04 19:18] gkasprow commented on #227
@hartytp sure.

[2017-10-05 11:45] gkasprow commented on #296
I can reserve assembly line for Urukul in 2 weeks. For Kasli it's too early.

[2017-10-05 11:54] jordens commented on #296
@gkasprow Ok. We are really under a deadline to get the boards back (in our hands) by the end of the month. Can we do anything for Urukul or Kasli to accelerate?

[2017-10-05 11:56] jordens commented on #296
And from a tactical perspective, we should focus on Kasli because on my end doing anything with the other boards without Kasli will be mostly pointless.

[2017-10-06 13:51] hartytp commented on #208
@jordens I'd like to remove the artiq hardware page from the Wiki, since a lot of the information it contains is badly out of date and confusing to new users. Do you object?

[2017-10-06 14:04] jordens commented on #208
If you make sure that all information still in there has been integrated elsewhere, then that's fine with me.

[2017-10-06 14:08] hartytp commented on #208
AFAICT, the bulk of the info on that page is either integrated elsewhere or obsolete/incorrect. But, there are a few things, like the "Data and sample rates" section that might be of use. Can you have a quick skim over it and see if there is anything you particularly want to keep?

[2017-10-06 14:17] gkasprow opened #330 "Allaki rev1 tests"
I started testing Allaki board.
So far no smoke detected.
ADC chain works as expected, at least on the scope with generator attached. Gain control also works.

There is a lot of power dissipation on series resistor in RF amplifier. It could be easily supplied from 6V instead of 11.5V - the 100R resistor dissipates 7.1V. I know the datasheet suggests such value but I don't see much sense in supplyi

[2017-10-06 14:20] jordens commented on #208
* The background and objectives needs integrating into the introductory pages (_Home)
* I can't find the "System overview", nor the "Sayma gateware/runtime specification", nor the "Sayma SAWG data rate constraints" nor the "Data and sample rates" chapters anywhere else.
* Metlino has less information in the wiki than on that page. Especially on the conceptual level.

[2017-10-06 14:21] hartytp commented on #208
ACK. I'll copy those bits into the relevant sections and then delete this page.

[2017-10-06 14:25] hartytp commented on #330
What does that do to the linearity of the amplifier?

One option might be to bias it from a current source off the 6V rail.

[2017-10-06 14:36] gkasprow commented on #330
I'd add larger inductor in series with small one to have some gain at lower frequencies.
This resistor simply sets bias and may be needed at low frequencies, in order of a few MHz.

[2017-10-06 14:38] hartytp commented on #330
Yes, but if the voltage drop across the resistor is low, it's not a very stiff current source, so I'd expect worse linearity/temperature dependence of gain.

[2017-10-06 14:56] gkasprow commented on #330
@hartytp that's true. We can add current source instead :)

[2017-10-06 15:10] hartytp commented on #208
@jordens The "Sayma gateware/runtime specification" section seems to be about gateware rather than hardware. Shouldn't this all be replaced with a link to the phaser docs?

[2017-10-06 15:14] jordens commented on #208
The gateware vs hardware is the same as with nu-servo. Both should move to the code once that's done.
On the phaser parametrization, a lot of that is not (yet) implemented. It's still a design proposal.

[2017-10-06 15:21] hartytp commented on #208
Okay. So I'd prefer to move this to the phaser wiki now, as it makes more sense there than on the Sayma page. Can we do that?

[2017-10-06 15:26] hartytp commented on #330
@gkasprow For the time being, my preference would be to just do basic functionality testing now. We can do more detailed testing once Allaki has shipped to the labs.

In the long run, there is a very long list of things I can imagine wanting to characterise, including:
- Output chain phase noise
- Output chain S parameters v frequency
- Switch/attenuator isolation
- Cross-talk
- etc etc etc

[2017-10-06 15:28] gkasprow commented on #330
@hartytp OK, so I will functionally test all remaining Allaki boards and once Saymas arrive, will ship them to you. So far I tested it outside Sayma since I don't have a code yet to play with attenuator.

[2017-10-06 16:33] jordens commented on #330
I agree with @hartytp . Basic functionality is all we should verify now. Later we can do the athletics

* [ ] IIP3 vs power and frequency (2D), on input and output
* [ ] NF on input vs frequency
* [ ] in-out, channel-channel, mezzanine-mezzanine crosstalk
* [ ] power supply rejection
* [ ] AM noise

[2017-10-06 16:35] jordens commented on #208
Can't you just drop the pages from _Sidebar/Home? Doesn't that have the same effect of moving them further out of reach? There is also no Phaser wiki.

[2017-10-06 18:38] hartytp commented on #208
Done. I was just doing some de-krufting while waiting on a build.

Changes:
- Removed merged the general overview section and the useful parts of the metlino section
- Deleted all the obsolete parts apart from the Sayma gateware/clocking bits
- Removed this from the sidebar
- Renamed it Sayma gateware

The clocking stuff should probably be moved into a separate page, which gives a good overview of

[2017-10-06 18:50] dhslichter commented on #330
@gkasprow for future iterations we could run from a lower rail with a different resistor.  The resistor serves only to set the bias current (as pointed out by @hartytp ), but if you look at the values on the datasheet [page 3](https://www.minicircuits.com/pdfs/ERA-4SM+.pdf) you start talking about some pretty small resistors to do the 6V bias.  The amplifier voltage is affected by the current thro

[2017-10-06 18:52] dhslichter commented on #330
I would add to the list for future tests:

* [ ] switch settling time
* [ ] attenuator settling time

[2017-10-06 19:17] gkasprow commented on #330
@dhslichter Thanks for explanation. This power is anyway negligible if you compare with Sayma RTM power. So we can leave it as it is.

[2017-10-06 19:56] dhslichter commented on #330
Dropping from a 12 V rail to a 6V rail would reduce power consumption by ~400 mW per amplifier, or ~3.2 W for the entire RTM card.  How does that stack up with the rest of the power budget?

[2017-10-06 21:53] gkasprow commented on #296
@jordens We need support in HDL.
Before routing is started, one must make sure that current pin assignment is fine and won't cause troubles like it was in case of Sayma. Pawel spent plenty of time building design only to make sure that i.e. SDRAM controller will work with current memory connectivity.
I asked him to skip this stage and finish routing ASAP, but someone must implement some example de

[2017-10-06 21:58] gkasprow commented on #330
At the moment Sayma set consume roughly 24W with one DAC working. No ADC, clock module and RTM modules.

[2017-10-07 08:06] jordens commented on #296
But you said that the sdram pinout can be just taken from one of the existing boards.

Please tell me earlier next time that something like this needs to be done and is pending.

I'll do an example design this weekend. What needs to be checked? And what issues with sayma are you referring to? The Ethernet phy clocking issue won't show up here.

[2017-10-07 21:22] gkasprow commented on #296
@jordens We can copy from devkit, but there is different chip in different package. So theoretically should work. It's not that urgent - we need to have it verified before board goes to production.
Mainly clocks would be an issue. Recently I had to rewire some board because wanted to use general purpose clock routed to SDRAM bank and the memory controller consumed all clocking resources...

[2017-10-09 11:09] gkasprow commented on #330
I plugged Allaki to Sayma board and it works. At least I some sinewave at the SMA output.
Register access also works, I can control RF switch.

[2017-10-09 11:18] hartytp commented on #330
RF out of Sayma: that's a BIG milestone! Congrats.

[2017-10-09 11:22] gkasprow commented on #330
Now I asked my student to write Python script to control attenuator. So hopefully today would be able to test it. I'd like to measure attenuator response.

[2017-10-09 12:33] jordens commented on #208
@hartytp please undo the removal of the minutes.

[2017-10-09 12:50] jordens commented on #208
I went ahead and reverted that commit.

[2017-10-09 12:51] hartytp commented on #208
Okay, was just about to do that. Thanks.

The Wiki was a bit of a state, so I deleted some stuff that didn't seem relevant any more when I tidied it up. Feel free to revert as you see fit.

[2017-10-09 13:54] gkasprow commented on #330
Here is screenshot during attenuation transition from 0x2 to 0xff
![Uploading tek00000.png…]()

[2017-10-09 14:06] gkasprow commented on #330
And the signal during RF switch transition:
![tek00001](https://user-images.githubusercontent.com/4325054/31342040-cb6518e2-ad0b-11e7-8aa2-8f40552ad395.png)

[2017-10-09 14:07] gkasprow commented on #330
@jbqubit @jordens @hartytp anything else to quickly measure on Sayma + Allaki setup?
Sayma RTM is being assembled right now.

[2017-10-09 15:23] dhslichter commented on #330
I think you've done all the necessary quick measurements -- the other precision measurement stuff is not urgent and can be done later.  Also since Allaki is a removable daughtercard, any detailed issues with it can be fixed later without holding up Sayma.  I'd proceed to the other, more pressing items on the list.

[2017-10-09 15:31] gkasprow commented on #330
@dhslichter I'm thinking about making some adapter that would let us examine Allaki. So far there is no access to RF part, so one cannot even make measurements on parts of the signal chain.
I have SMP to SMA cables, so would be nice to extend the control/supply connectors from Sayma to Allaki by let's say 10cm. What do you think about it? I don't know what access do you need to do full diagnostics

[2017-10-09 15:40] dhslichter commented on #330
A hacked-together standalone test setup for Allaki, as you mention, should be capable of performing all of the measurements mentioned above by @hartytp and @jordens, aside from the mezzanine-mezzanine crosstalk (really, all of the crosstalk, as that will be necessarily tied up with physical configuration as plugged in to the RTM card).

However, I would say let's not worry about putting together s

[2017-10-09 16:00] gkasprow commented on #330
@enjoy-digital I have short Python script that controls RF switch and attenuator. do you think this might be useful for community?

[2017-10-09 16:49] jordens commented on #330
@gkasprow How do they test the mezzanine at the board house? I'd guess that's where such a characterization board would be required. For someone developing and debugging a new mezzanine, I'd guess a bunch of SMP-SMP (or SMA-SMP) jumpers and a jumper for the control signals (two PCBs, a ribbon cable and two of those hermaphroditic connectors) would be nice. But those who want to develop a mezzanine

[2017-10-09 16:51] jordens commented on #330
@gkasprow I agree with the others. If the switch switches, the attenuator attenuates, and the rf amplifier amplifies, we can make more of those, send them out, and characterize later.

[2017-10-09 16:57] jordens commented on #183
Note to self: There is [a new family of 12.6 G/s DACs][http://www.analog.com/media/en/technical-documentation/data-sheets/AD9172.pdf#page=4) (and ADCs) with channelizers. That's originally designed for multi-band and multi-standard telco applications. But it's also very much the same idea as SAWG, just pushed into the DAC, i.e. relevant to the typical physics use case. Saves lots of FGPA resources

[2017-10-09 17:06] gkasprow commented on #330
@jordens The boards are tested to make sure they won't harm Saymas. So power consumption is verified and ADC outputs. Rest of tests is performed with Saymas.

[2017-10-09 17:25] #330 closed

[2017-10-09 17:27] #313 closed

[2017-10-09 17:53] gkasprow commented on #325
I added enlarged, exposed pad on bottom layer, covered with solder paste. This should effectively increase heat dissipation area. In case of troubles, we will solder copper pads that would further increase the area.

[2017-10-09 17:53] #325 closed

[2017-10-09 19:09] dhslichter commented on #183
@jordens these are cool-looking chips, but I think not as useful for the Blaster use case because many (if not most) relevant frequencies will probably be in the second Nyquist zone, assuming 12.6 GSPS.  The output sample rate is limited to 6.16 GSPS with no interpolation AFAICT -- one can only run at 12.6 GSPS if you use interpolation, which kills off the (in this case desired) Nyquist images.

T

[2017-10-09 20:19] #267 closed

[2017-10-09 20:19] dtcallcock commented on #183
The impression I got from talking to the Delft crew (who are building something roughly equivalent to Sinara for SC qubits) a few weeks ago was that JESD busses were a non-starter for SC work due to the latencies.  It would also be nice to have Sinara hardware capable of fast feedback loops.

In related news, I noticed the FRSoC advance product spec came out a few weeks ago and they claim to be sh

[2017-10-09 21:38] dhslichter commented on #183
I think @dtcallcock is right, to enable flexibility of use for feedback applications, it may make sense to stick with analog up/downconversion so we can use a parallel DAC and ADC on Blaster boards.  Those RFSoC specs are interesting, but again the frequencies are too low for direct synthesis.  However, if it saves you having to route an obscene number of LVDS buses around a PCB...

[2017-10-09 21:38] dhslichter commented on #183
14-bit is probably fine for SC qubit applications, most people are working with 12-bit or 10-bit still.

[2017-10-09 21:46] gkasprow commented on #183
I asked Xilinx about these RFSoCs, so far my FAE didn't now even what are the latencies. They will be published in a month or so.
Another problem with Xilinx chips is that when they are shipping chips it means they do it to selected customers who are beta tesers. I'm waiting already 2-nd year for EV series of ZynQ US+ SoC. They postponed delivery date already a few times.

[2017-10-09 22:41] #282 closed

[2017-10-10 08:55] jordens commented on #274
@gkasprow You currently have the same values for the AD9910 and AD9912 loop filters. From what I can see that won't work. Those two a very different on multiple fronts. The AD9912 has a ~2pF internal shunt, will use 100 MHz PFD freq (and not the divided 50 MHz) and should get the datasheet values for 10x, 250µA, 800 MHz/V (470 Ω + 820 pF || 56 pF). The AD9910 has a 1 kΩ series and 1.1 pF shunt and

[2017-10-10 09:10] jordens commented on #321
The testing of the AD9910 synchronization only needs setting of the registers. If the ADI tool gives you access to those that should be fine.

The new routing looks good!
* A few stray wires around still.
* I guess the SYNC distribution if matched yet.
* And there is no space for clips to shield IC19? (It's OK if there isn't, just making sure we understood each other).
* Is it OK to power the SYNC

[2017-10-10 10:18] gkasprow commented on #321
@jordens I didn't finish routing yet.

[2017-10-10 10:19] jordens commented on #321
I know. ;) Just providing some early feedback.

[2017-10-10 10:53] gkasprow commented on #274
@jordens I used ADI spreadsheet to calculate these values, not datasheet.

[2017-10-10 10:57] jordens commented on #274
Is there an ADI spreadsheet for the AD9912 PLL?
And the parameters are different for the AD9912 and AD9910. I don't understand how you can arrive at the same values for both.

[2017-10-10 10:57] hartytp commented on #274
Point from @WeiDaZhang:
- AD9910 data sheet, table 1 comments that the max REF CLK input frequency with the reference clock multiplier on is 60MHz. Thus, we will need to use the divider in divide-by-4 mode. For 125MHz RTIO_CLOCK, this gives an input clock of 31.25MHz.

[2017-10-10 10:59] jordens commented on #274
Or even that. But my guess is that 62.5 MHz will be fine.

[2017-10-10 11:02] hartytp commented on #274
Most likely, yes. But it's always nicer to operate these things inside specification where possible.

Note that if we do go for a 150MHz RTIO clock frequency then divide-by-2 gives us 75MHz, which is starting to get a bit far outside the specified operating range for comfort. Anyway, the advantage of the programmable divider hooked up to the CPLD is that we can play with this once the prototypes a

[2017-10-10 11:05] gkasprow commented on #274
@jordens I simply assumed that this spreadsheet works in both cases.

[2017-10-10 11:07] jordens commented on #274
@hartytp Sure. But you still have to decide on one set of loop filter values before production.
@gkasprow It most likely does. But the parameters are all different.

[2017-10-10 11:30] hartytp commented on #274
@WeiDaZhang is on it. Will get back to you asap.

[2017-10-10 13:08] hartytp commented on #274
AD9910 PLL plans courtesy of @WeiDaZhang :
- DDS clock: 1GHz
- Reference clock: 125MHz/4=31.25MHz
- DDS VCO range setting: 5 (920-1030MHz, 850MHz/V)
- Charge pump current (Icp): 387uA (max)
- Loop multiplication factor (N): 32
- Loop bandwidth: 3MHz (assumption is that the Kasli clock should be lower noise than the AD9910 VCO, so want a wide bandwidth)
- Phase margin: 45deg

Component values:
- R9

[2017-10-10 23:05] dhslichter commented on #330
@gkasprow @hartytp @jordens  regarding the RF amplifier bias, I have heard back from Mini-Circuits with the following:

So it seems that we should consider using a current source run from the 6 V rail to bias the ERA-4SM+ in the next iteration of Allaki.  We will have to see if there is enough real estate on the board for this!

The Mini-Circuits folks also directed me to an application note on bi

[2017-10-11 09:03] jordens opened #331 "Kasli: put a 125 MHz clock to MGTREFCLK1"
For Ethernet (125 MHz) and DRTIO (100, 125, 150 MHz) on the same quad we need more clocking flexibility. Sorry for noticing late.

* [x] You could e.g. take the KC705 setup with a 25 MHz XTAL and a clock gen or if you have something smaller/simpler, anything else that you have experience with.
![screenshot from 2017-10-11 11-00-28](https://user-images.githubusercontent.com/1338946/31431268-7297048

[2017-10-11 11:09] jordens commented on #296
@marmeladapk @gkasprow I wrote an initial [Kasli](https://github.com/m-labs/migen/blob/master/migen/build/platforms/sinara/kasli.py) [design](https://github.com/m-labs/misoc/blob/master/misoc/targets/kasli.py) to test some basic things like clocking and sdram. Apart from the currently open issues, we are ok with freezing it and pushing hard for manufacture. Let us know if there are other items.

[2017-10-11 20:34] hartytp opened #332 "Urukul clock buffer output standard"
@gkasprow Why is the Si53312-B-GM configured to use LVPECL outputs, rather than LVDS outputs? AFACIT, using LVDS would give the same phase noise and frequency performance, but would save some power and allow us to remove the biasing resistors.

Sorry for the late spot. This can be left for the second revision to avoid delays.

[2017-10-11 20:51] gkasprow commented on #332
I've chosen LVPECL because it has better noise margin than LVDS. This can be easily tested by pulling SFOUT lines low and removing output resistors. Actually, I can add 0R resistor to make it easier.

[2017-10-11 20:53] hartytp commented on #332
You mean lower output phase noise? That wasn't clear to me from the data sheet, but maybe I missed a figure?

[2017-10-11 20:59] hartytp commented on #332
Aaah. Okay. I wouldn't have expected that to be an issue if the clock traces are kept short and the grounding is good. But, happy to take your advice.

Unless you or @jordens object, can we try LVDS as our default option (so, make the 200R resistors DNP) and only switch to LVPECL if we find any issues during testing?

[2017-10-11 21:00] gkasprow commented on #332
OK, let's do that. The board is hot enough.

[2017-10-11 21:08] hartytp commented on #332
Thanks! Power budget will need updating once this decision is finalised.

[2017-10-11 21:09] jordens commented on #332
Yes. Thanks for spotting. LVDS sounds good to me.

[2017-10-11 21:21] hartytp opened #333 "Urukul amplifier choke"
Sorry for another really late question, but what minimum frequency are we aiming for @jordens ?

One generally wants the choke to have an impedance of something like 500Ohms at the lowest frequency of interest. Current choke is 0.5uH, so it won't be great below around 50MHz. Is that okay for you?

[2017-10-11 21:23] hartytp commented on #333
NB we're using the lowest biasing resistor/voltage supply recommended by the data sheet, which is probably not great from a linearity/stability point of view. Let's keep this for the current prototype round. But, may be worth considering replacing this in a later revision (@gkasprow any ideas for nice compact and reasonably stable/low-noise current sources?).

[2017-10-11 21:29] gkasprow commented on #333
@hartytp It seem to work even at 30MHz. I'd use current mirror on dual PNP supplied from low noise LDO.

[2017-10-11 21:32] hartytp commented on #333
It will work, the gain will just be a bit off, as the amplifier sees a load of 50R||100R, rather than 50R.

Okay, sounds good. There are so many ways of doing this, but I don't have a good feeling for the performance implications of them.

Worth considering this for a future revision, as:
- We could eliminate the 7V5 LOD/power rail (run the current source from the 5V rail)
- It would reduce the po

[2017-10-11 21:40] gkasprow commented on #333
Current mirror is bad idea - we don't have discrete transistors with current ratio different than 1. So it would double the current consumption. So probably opamp + PNP is best idea in terms of stability. I can add place holder on PCB to test this idea.

[2017-10-11 21:44] hartytp commented on #333
Yes, but that probably takes up too much PCB area and could need different supplies.

I'm a bit rusty about this, but IIRC one can build multiple-output current mirrors? That way the bias for the current mirror isn't so important as only one is needed for the 4-channel PCB.

Anyway, I'll leave this as something to brood on for a future design revision...

[2017-10-11 21:45] hartytp commented on #282
@gkasprow Thanks for doing all that!

A few final things (low priority, can be done for the second revision to avoid delays):

- [ ] there is still quite a bit of text in the wrong place in the current version of the schematic. e.g. on the CPLD page, the signal names aren't actually in their yellow boxes (they're offset from them)...

- [ ] Can we rename "EEM A" and "EEM B" to "EEM 0" and "EEM 1"

[2017-10-11 22:37] dhslichter commented on #333
If we can find a clean way of implementing this current source with a lower voltage rail, that's great, but if we can tolerate the increased dissipation (400 mW per channel) of using a bias resistor from 11.5V rail, it is much simpler.

@hartytp the effect of the choke is basically that one gets a graceful gain degradation at lower and lower frequencies, which seems not unreasonable in case one wa

[2017-10-11 22:47] hartytp commented on #333
I'd rather avoid this: this board will already get hot enough without adding 4*400mW extra dissipation for the larger bias voltage.

All true, but if there is a larger inductor in the same package that we can easily use, it's worth considering it.

[2017-10-11 22:55] dhslichter commented on #333
Also @hartytp the choke has a current-dependent inductance.  If you look at the datasheet [here](https://www.minicircuits.com/pdfs/TCCH-80+.pdf) you can see we have an inductance probably closer to 1.5-2 uH at 35 mA bias current.  Their measured performance shows that you get about 0.5 dB of loss due to the finite impedance (not accounting for the additional 100 ohm resistor, assuming you go strai

[2017-10-11 23:03] gkasprow commented on #333
I sketched some idea. Reference would be common for 4 channels. This would need only 0.4V..0.5V of dropout
![obraz](https://user-images.githubusercontent.com/4325054/31471421-f2ed481a-aee8-11e7-98bd-627240ffe50b.png)

[2017-10-11 23:04] hartytp commented on #333
That's a nice IC. Lots of ways of doing this, just about finding the cheapest/most compact/most power efficient.

Okay, not worth changing then. Closing this issue.

[2017-10-11 23:04] #333 closed

[2017-10-11 23:39] hartytp commented on #333
- If we really want to save power, the reference can be powered from 1V8 (and obviously needs heavy bypassing/filtering)
- The OpAmp and get could be powered from +5V to save power.

Not sure what's more compact/cheaper: the quad OpAmp and FETs or @dhslichter's 4x current source IC. Do we have room on the PCB for these current source solutions (bearing in mind that we can scrap a voltage regulator

[2017-10-12 05:32] jordens commented on #333
* the power loss due to the choke at low f is ok for us.
* I'd like to go with the present resistive current source for now.

[2017-10-12 07:00] jordens commented on #333
@gkasprow please no changes to the biasing on the current PCB. That would likely lead to a few rounds of discussion, reviews, fixes, changes, and thus delay. Any delay hurts us.

[2017-10-12 08:47] hartytp commented on #333
ACK. I don't think anyone is suggesting making this change for the first prototype round (which is basically frozen).

----

Apologies for getting a bit off topic, but:
- Do we really need the P3V3 LDO? AFAICS this only powers the LVDS interface, so couldn't we just run that directly from the 3V6 rail instead? That would save come components and free up some space.
- On the power efficiency front,